[2019-08-24 13:05] smashah opened #1 "Automatically click use here when switching systems"
Scenario:
Develop on macbook => scan qr code
Deploy on server => scan qr code
Develop on macbook => Gets stuck on qr code, need to delete sessions, scan qr code
Deploy on server => Gets stuck on qr code, need to delete sessions, scan qr code

[Example](https://i.stack.imgur.com/lfOI3.png)

[2019-08-31 15:11] alejandroguille opened #2 "Decrypting Media audio"
Hi.
Audio decryption is needed, currently this fails.

[2019-09-16 00:08] lasoftinfo commented on #2
decryption audio voice ?

[2019-09-17 19:50] smashah commented on #2
Hi @alejandroguille and @lasoftinfo this is fixed now in new version v1.2.2. thanks so much.

https://github.com/smashah/sulla/commit/7ceff9ebff1ef94cdaf79b490a6adbb733971105

[2019-09-17 19:50] #2 closed

[2019-09-17 20:12] smashah commented on #1
some work done here:
88073c5ca6e1825f77589e8c0abd27f196b17000

[2019-10-19 12:45] ramonck opened #3 "check if session is still valid from outside?"
Hi,

Is there any simple way to check if it's connected and still working after sulla create?
sulla.create().then(client => start(client));

I wanted to check if it's connected but the code is running so how can I check from outside? Can I check in the session folder for something?

[2019-10-19 22:19] smashah commented on #3
Hey there,

I have a few ideas for this. As you can see I've implemented an event handler (for grabbing the QR code).

I might set it up so it checks if it's still running every X seconds and if it fails the check it will fire an event.

I'll get on it as soon as I can in the meantime I'd appreciate if anyone can share a better solution :)

[2019-10-22 18:01] ramonck commented on #3
I liked this idea, seems to be proactive instead of reactive.

[2019-10-25 01:15] smashah commented on #3
@ramonck I think first we need to determine the 'unreactive' states

- Phone is offline
- Battery on phone is low
- Whatsapp web logged in from another computer
- ?

Are there any other 'unreactive' states?

[2019-10-26 22:53] smashah opened #4 "Get all live locations being shared with client"
It would be cool if I can have something like:

`client.getLiveLocations()`

to see who is sharing their live locations with me and then subsequently I would be able to provide them with some geographically contextual response.

Notes:
In order to grab live locations from whatsapp web right now you can enter this into the console:

```window.Store.LiveLocation.toJSON().forEach(l=>{console.log(l.pa

[2019-10-28 17:05] armandochavez opened #5 "installation error"
help me with the installation commands.

without using this command npm i --save sulla-hotfix
Only with the cloning of your project.

[2019-10-29 09:49] gildastema opened #6 "Send Message to new Contact"

[2019-10-29 09:51] gildastema commented on #6
function start(client) {
    client.onMessage(message => {
        client.sendText(message.from, "👋 Hello from APi");
    })

    app.post("/send", (req, res) =>{

              client.sendText(req.body.receivers+'@c.us', req.body.content)
              .then(()=>{
                res.json({ status: 200});
              } )
              .catch(err => {
                  res.json({status:400})

[2019-10-29 18:18] smashah commented on #6
I'm almost completely certain you can't instantiate a conversation with someone you don't already have a conversation through this system. If you want to start a conversation with someone please do it manually or encourage your users to start a conversation with you through the whatsapp api link e.g

https://api.whatsapp.com/send?phone=${NUMBER}&text=Hi there, I just checked out your website and w

[2019-10-29 18:18] #6 closed

[2019-10-29 18:19] smashah commented on #5
clone the repo, run ```npm run build``` and use everything in the dist folder.

Or if you use [ts-node](https://github.com/TypeStrong/ts-node) then just clone the repo and import fom /src directory as shown in demo.

[2019-10-30 03:04] armandochavez opened #7 "send image"
help example send image for index.js

[2019-10-30 08:42] uargb opened #8 "Send video"
sendImage and sendFile do not handle video messaging(. I have a base64 like
`let mediaData = 'data:{mime};base64,{base64}'` where mime is geeting with `npm: mime-types`. I have no message delivered with this piece(

[2019-10-31 10:34] uargb commented on #8
@smashah any comment)?

[2019-11-01 01:32] smashah commented on #8
hey @uargb Can you share the code that you're using?

The index.ts in the demo literally reads a file, saves it and sends it back to the number that sent the file so it should work fine.

[2019-11-01 01:32] smashah commented on #7
@armandochavez  Hey there, did you have a look at index.ts in the demo folder?

[2019-11-01 01:33] #5 closed

[2019-11-07 19:48] Marcoserious commented on #8
Hello, I want to send a video (aaa.mp4) that is in the same folder of the server.js file and what am I doing wrong?  help please...

// import { create, Whatsapp } from 'sulla-hotfix';
const sulla = require('sulla-hotfix');

sulla.create().then(client => start(client));

var fs = require('fs');

// function to encode file data to base64 encoded string
function base64_encode(file) {
    // read bin

[2019-11-07 19:58] smashah commented on #8
@Marcoserious why are there square brackets around base64str?

[2019-11-08 13:55] gildastema opened #9 "authenticate"
the qrcode loader is undefined when the session was previously created

[2019-11-08 15:00] smashah commented on #9
Can you give me steps to recreate and the actual problem? If the sessions was already created does it continuously load for you? Whatsapp might changed their detection.

[2019-11-08 15:05] gildastema commented on #9
Actually I think whatsapp has changed the mode of detection. when the section is created for the first time and everything is ok.
but at the second launches its loop at the level on the loading of the qrcode

On Nov 8 2019, at 4:00 pm, S.M.A.Sh <notifications@github.com> wrote:

[2019-11-08 15:08] gildastema commented on #9
![DeepinScreenshot_select-area_20191108160833](https://user-images.githubusercontent.com/19803232/68486740-08fb3780-0242-11ea-9487-db7b4b90f867.png)

[2019-11-08 15:16] gildastema commented on #9
I think this condition has changed
![DeepinScreenshot_select-area_20191108161515](https://user-images.githubusercontent.com/19803232/68487319-2086f000-0243-11ea-88fd-18ae3578b036.png)

[2019-11-08 16:07] smashah commented on #9
I think WhatsApp has blocked our user-agent. I'll make an update where users can set the user agent themselves in order to have some sort of variation between users of this lib.

[2019-11-08 19:57] gildastema commented on #9
Great idea.

[2019-11-11 20:49] smashah commented on #9
@gildastema https://github.com/smashah/sulla#custom-set-up

v.1.2.6

Give it a whirl let me know if it works out for you thanks.

[2019-11-12 01:52] rubenfaria commented on #9
The QR is not being shown on the console.
![image](https://user-images.githubusercontent.com/28407098/68634947-c6ea2400-04d5-11ea-968b-95d00f42d1e0.png)

[2019-11-12 02:00] smashah commented on #9
@rubenfaria Can you please show me your code. Also, try deleting the sessions folder and try again.

[2019-11-12 03:18] rubenfaria commented on #9
Sure thing!
![image](https://user-images.githubusercontent.com/28407098/68638867-aa53e900-04e1-11ea-9307-2ce9490dab27.png)
It's just the starter example. I wanted to test whether the session would be saved.

PS. You're the man! This repo of yours has the best care for sure.

[2019-11-12 09:17] gildastema commented on #9
Let me check and come back to you

[2019-11-12 09:33] gildastema commented on #9
![DeepinScreenshot_select-area_20191112103229](https://user-images.githubusercontent.com/19803232/68659620-d8fcae80-0537-11ea-9780-95d25aa5067c.png)

[2019-11-12 09:34] gildastema commented on #9
The problem is different with the initialization on loop on the loading of the qrcode

[2019-11-12 22:12] smashah commented on #9
I'm going to try to set up the hardcoded user agent to that of WhatsApp web desktop client itself. Let's see what they do with that.

[2019-11-12 22:22] smashah commented on #9
@gildastema @rubenfaria it looks like it works if you make the user agent the same as a whatsapp web desktop electron client one. You can find others here:
https://developers.whatismybrowser.com/useragents/explore/software_name/whatsapp/?order_by=-software_version

e.g

`Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) WhatsApp-Rebellin/1.0 Chrome/53.0.2785.143 Electron/1.4.1

[2019-11-12 22:31] smashah commented on #9
https://github.com/smashah/sulla/commit/cb6619faa85669a9e7b1330fe2a63d874faacebb

![image](https://user-images.githubusercontent.com/5903821/68716478-3591b500-059c-11ea-970d-26e5e34ca8c8.png)

[2019-11-12 22:33] smashah commented on #7
I'm closing this issue for now. Please keep me updated if there are some more issues.

[2019-11-12 22:33] #7 closed

[2019-11-12 22:33] smashah commented on #8
I'm closing this issue for now. Please keep me updated if there are some more issues.

[2019-11-12 22:33] #8 closed

[2019-11-12 23:17] rubenfaria commented on #9
Am I missing something?
The QR appears on Sulla but no on Hotfix.
![image](https://user-images.githubusercontent.com/28407098/68718822-2c4b1d00-0589-11ea-8e82-8834147b3f63.png)

[2019-11-13 00:41] smashah commented on #9
@rubenfaria can you confirm you:

1. Are using latest version.
2. Deleted the sessions folder before trying
3. Tried without the custom parameters and see if it works (I'm pretty sure if you change user-agents while still using the same session folder it will fail)

[2019-11-13 01:07] rubenfaria commented on #9
Yes to all three. I had a collegue and myself to start two different brand new projects from scratch and the outcome was the same.

I'm really lost about what's happening. Sulla works with the problem of having to delete the session folder at restart.

[2019-11-13 01:40] smashah commented on #9
@rubenfaria can you screenshot what you see when you do headless:false and what environments are you running on?

[2019-11-13 02:28] rubenfaria commented on #9
Thanks for your time, man.
![image](https://user-images.githubusercontent.com/28407098/68727741-07b06e80-05a4-11ea-8aad-61f5243172e7.png)
It also opens up WhatsApp Web at Chromium.

[2019-11-13 02:52] smashah commented on #9
@rubenfaria what does chromium show?

[2019-11-13 02:57] davigdc commented on #9
I'm having the same problem as @rubenfaria

![image](https://user-images.githubusercontent.com/36992852/68728981-81962700-05a7-11ea-9e1a-0158ddbe5f6e.png)

[2019-11-13 03:12] smashah commented on #9
Looks like both of you are running windows. I'm on mac right now, can you try using a custom user agent (use your own by googling 'whats my user agent') and try that way.

[2019-11-13 03:23] rubenfaria commented on #9
![image](https://user-images.githubusercontent.com/28407098/68730563-cae87580-05ab-11ea-8bab-a1d5a6800a56.png)

[2019-11-13 03:26] rubenfaria commented on #9
Same thing as before.
![image](https://user-images.githubusercontent.com/28407098/68730664-274b9500-05ac-11ea-9f4d-4160ad176a21.png)

[2019-11-13 04:02] rubenfaria commented on #9
It must be a windows thing.
I deployed the sample project on Heroku with:
"session",
{ headless: true },
"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3882.0 Safari/537.36"
![image](https://user-images.githubusercontent.com/28407098/68732094-00dc2880-05b1-11ea-9272-4f754b4faea0.png)

[2019-11-13 04:07] rubenfaria commented on #9
It must be a Windows thing.
I deployed the same sample project usin a custom user agent to Heroku and it ran just fine.

"session",
{ headless: true },
"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3882.0 Safari/537.36"

![image](https://user-images.githubusercontent.com/28407098/68732352-e35b8e80-05b1-11ea-9cdd-a3c5c8f38aad.png)

[2019-11-13 13:04] smashah commented on #9
I guess it messes up because you have a safari user agent on a Windows device. Try locally without the safari at the end or just use your own user agent as I described above.

[2019-11-13 13:52] rubenfaria commented on #9
I did. That one above I got from Chromium. I also tried Mozilla's, Edge's and Chrome's. For now I'm gonna work on this project using Linux. I'll get back to you telling whether anything went well in there. Thanks for your help.

[2019-11-16 13:55] OmarAttia opened #10 "Can't send large images"
I can send media without problems but when it comes to an image > 200k it fails not errors caught nothing

[2019-11-16 17:21] smashah commented on #10
@OmarAttia this would explain the massive amount of compression a picture shared via WhatsApp undergoes. You'll need to compress the image to under 200Kb in that case.

[2019-11-16 23:42] #10 closed

[2019-11-17 05:50] smashah commented on #10
@OmarAttia it would be really helpful if you share your compression implementation, thanks.

[2019-11-17 06:29] OmarAttia commented on #10
Convert to webp and resize to max-width 1280px and max-height 720. works like charm.

[2019-11-20 06:14] HypedMind opened #11 "Sending video"
Hi guys, anyone of you tried sending a video?

This is my code:
[code]

The message can be sent, but the message rendered as 'file' type instead of a 'video' message.
![Image of Yaktocat](https://i.imgur.com/vtCiGZt.jpg)

[2019-11-21 21:59] OmarAttia opened #12 "ReferenceError: WAPI is not defined"
ReferenceError: WAPI is not defined error thrown while sending and receiving is dead

[2019-11-22 00:01] Marguelgtz commented on #12
@OmarAttia Getting the same error as of today, Looking into it 👀  haven't found anything yet🤕 . @smashah any ideas?

[2019-11-22 00:05] OmarAttia commented on #12
I guess it's puppeteer related issue

[2019-11-22 00:25] Marguelgtz commented on #12
not sure, used it a couple days ago w/out problems. Puppeteer is opening whatsapp web and authenticating correctly however most of the methods on the package fail throwing out this error. I'm thinking it may have something to do with **whatsapp web** page

[2019-11-22 00:50] OmarAttia commented on #12
window.Store.ChatClass.default.prototype.sendMessage = function (e) {
return window.Store.SendTextMsgToChat(this, ...arguments);
}

Line 62 wapi.js

the problem lies here

[2019-11-22 00:59] phantom-limb commented on #12
Yeah. I fix here.

[2019-11-22 01:01] OmarAttia commented on #12
window.Store.ChatClass is undefined!
@phantom-limb post the fix then

[2019-11-22 01:16] Marguelgtz commented on #12
@phantom-limb how?

[2019-11-22 01:16] phantom-limb commented on #12
I disabled sending function.

[2019-11-22 01:17] OmarAttia commented on #12
LOL

[2019-11-22 01:23] Marguelgtz commented on #12
There isn't a better solution than ignoring the problem it seems 🤦‍♂

@OmarAttia any luck?

[2019-11-22 01:24] OmarAttia commented on #12
in progress

[2019-11-22 01:27] Marguelgtz commented on #12
@OmarAttia how are you trying to approach it, maybe I can also jump in and try to find a solution too. At this point I don't really know what else to look for

[2019-11-22 01:29] OmarAttia commented on #12
we need to redefine window.Store.Chat

[2019-11-22 02:04] smashah commented on #12
@OmarAttia  can you make a pr with the fix?

[2019-11-22 02:06] OmarAttia commented on #12
Sure, as soon as I finish

[2019-11-22 02:10] smashah commented on #12
In meantime here is another discussion of this issue on the source of wapi.js https://github.com/mukulhase/WebWhatsapp-Wrapper/issues/754

[2019-11-22 02:13] OmarAttia commented on #12
@smashah thnx very much

[2019-11-22 02:33] smashah commented on #12
Have a few mins with the laptop, will push a new version in around 5 mins. Thanks all for your help and bringing up the issue.

[2019-11-22 02:47] #12 closed

[2019-11-22 02:48] smashah commented on #12
Pushed a new v. 1.2.9 to npm. Please update and test it out. Thanks, everyone!

[2019-11-22 02:49] smashah commented on #11
@HypedMind I've now also seen this behaviour with video. It will take some investigating.

[2019-11-22 02:50] smashah commented on #9
I'm going to close this issue for now, thanks.

[2019-11-22 02:50] #9 closed

[2019-11-22 10:57] paramirez commented on #11
sendMessageWithThumb

`
public async sendMessageWithThumb(thumb: string, url: string, title: string, description: string, chatId: string, done?: string) {
    return await this.page.evaluate(
      ({ thumb, url, title, description, chatId }) => {
        WAPI.sendSeen(chatId);
        WAPI.sendMessageWithThumb(thumb, url, title, description, chatId)
      },
      { thumb, url, title, description

[2019-11-22 16:00] rfscheidt opened #13 "Problem to read qrcode capured"
I cannot read the qrcode captured with method bellow:

sulla.ev.on('qr', async qrcode => {
  //qrcode is base64 encoded qr code image
  //now you can do whatever you want with it
  const imageBuffer = Buffer.from(
    qrcode.replace('data:image/png;base64,', ''),
    'base64'
  );
  fs.writeFileSync('qr_code.png', imageBuffer);
});

The quality of image is very bad.

[2019-11-22 19:17] smashah commented on #13
Can you give me an example of the QR code? It's not really supposed to be full hd. As long as you can see the QR code properly it should work fine.

[2019-11-22 19:22] rfscheidt commented on #13
The quality of the image generated is so bad that the phone does not recognize. Your generated image, Do can you scan on the phone?

![qr_code](https://user-images.githubusercontent.com/7602639/69454124-38cb3480-0d44-11ea-9f15-9dc9a6af2598.png)

[2019-11-22 19:24] rfscheidt commented on #13
The quality of the image generated is so bad that the phone does not recognize. Your generated image, Do can you scan on the phone?

[2019-11-24 04:31] HypedMind commented on #11
I did some finding on this, probably the web.whatsapp doesn't have the api available to send video as a 'video message', because using web.whatsapp in browser to send video also sends as a 'file message'.

[2019-11-24 04:41] HypedMind opened #14 "Detect if the main device is online"
I have a use case where I need some alert when the main device is offline.

The method I found is `WAPI.isConnected`, essentially detecting the 'Phone not connected' banner in the UI.

However it doesn't work as in the method doesn't return `false` when the main device is offline.

The command `document.querySelector('*[data-icon="alert-phone"]')` is working in web.whatsapp browser.

Anyone have i

[2019-11-24 11:03] smashah commented on #11
@HypedMind this is not entirely the case because sending a video file (received through WhatsApp) on WhatsApp web, it works properly with the preview.

[2019-11-24 11:06] HypedMind commented on #11
@smashah Yah the preview works fine. Probably WhatsApp decides that WhatsApp Web doesn’t need api to send video message, because only smartphone can capture video?

[2019-11-24 11:07] smashah commented on #11
@HypedMind I've been sending some videos to my other number on whatsapp web. Preview only didnt work for one specific video (that was received and saved by sulla-hotfix sample a few days ago).

[2019-11-24 12:58] smashah commented on #11
Just a thought: This may be due to user agent. My previous two comments were when testing on chrome whatsapp web. I tried with {headless:false} and i got this error message while sending a video with the chromium instance from puppeteer

![image](https://user-images.githubusercontent.com/5903821/69495024-4236d700-0ed3-11ea-85f9-efcb53f64d2c.png)

[2019-11-24 13:36] smashah commented on #11
Further Investigation:

![image](https://user-images.githubusercontent.com/5903821/69495477-7b257a80-0ed8-11ea-89ac-cda8daf918a8.png)

[2019-11-24 13:38] smashah commented on #11
Related:
https://github.com/alfred82santa/whalesong/issues/58

[2019-11-24 13:53] smashah commented on #11
Ok, I've got it working properly with the demo/index.ts

Because pupeteer does not have any codecs that means that it cannot process videos for whatsapp. Why is this just happening now? I'm guessing that because Whatsapp doesn't want to be dealing with all the videos coming through, it now requires some pre processing on the client (phone or web).

There's two ways to solve this.

1. Fool whatsapp

[2019-11-24 14:05] smashah commented on #13
@rfscheidt It is not the quality of the QRCode that is the issue.

Right now it just forwards the base64 src of the qr code element on whatsapp web page. Sometimes the qr code works, sometimes it doesn't not quite sure why, maybe open up the qr code in another applciation?

[2019-11-25 01:12] rfscheidt commented on #13
I'm sorry, I created a html with src=qrcode.. and its works very well. I think that when have a background white the camera read ok. Thank you!

[2019-11-25 01:16] rfscheidt opened #15 "Get all contacts from broadcast list"
Is there any way I can get all contacts from a broadcast list?

[2019-11-25 02:20] smashah commented on #13
Awesome. I'll close this for now then thanks

[2019-11-25 02:20] #13 closed

[2019-11-25 04:04] smashah commented on #14
@HypedMind I've tested it out.

```WAPI.isConnected()```

is as reliable as and changed state at the same moment as:

```document.querySelector('*[data-icon="alert-phone"]') ? 'offline' : 'online'```

With my testing I would turn off the data on my phone and then test it out in whatsapp web. I would have to force an offline detection by sending a message via whatsapp web, otherwise it just remains

[2019-11-25 07:41] #14 closed

[2019-11-25 07:41] #11 closed

[2019-11-25 07:44] smashah commented on #14
@HypedMind You can use client.isConnected() now in v1.2.10

[2019-11-25 08:31] smashah commented on #15
@rfscheidt I'm guessing it'd be the same as getting contacts from a group. Right now getting a broadcast fails via getChatById due to send message returning null. Will investigate further later today. In the meantime let me know if you have any ideas.

[2019-11-25 11:11] smashah commented on #3
@ramonck with the new v1.2.10 you can now call ```client.isConnected()``` to see if the phone is still connected.  This isn't real time though, WhatsApp web takes some time, or a failed sent message, before it realizes that the phone is disconnected. A step in the right direction though, for now.

[2019-11-25 11:11] #3 closed

[2019-11-25 12:28] rfscheidt commented on #15
I do not know, get all contacts from the group I also could not. Is there a specific method to do this?

[2019-11-25 12:40] smashah commented on #15
@rfscheidt ignore my previous comment.

You can use

[code]

which should result in an array of all members in a group and as far as I know it works on broadcasts also.

[2019-11-25 12:40] #15 closed

[2019-11-25 12:46] LuizFelipeNeves opened #16 "How to Check is valid Whatsapp number"

[2019-11-25 13:27] smashah commented on #16
@LuizFelipeNeves I have implemented this in v1.2.11

You can check the status by using

```client.checkNumberStatus('23456789@c.us')```

Try it out and let me know if it works for you.

Resolved in: 446da9a

[2019-11-25 13:27] #16 closed

[2019-11-26 16:53] rfscheidt opened #17 "Error "sulla-hotfix": "^1.2.11" version after getAllMessagesInChat method"
Hello,

I'm trying to use the 1.2.11 version and the method bellow are getting error:
- getAllMessagesInChat
- getGroupMembersId

Message error:

(node:49060) UnhandledPromiseRejectionWarning: Error: Evaluation failed: TypeError: Cannot read property 'participants' of undefined
    at Object.window.WAPI._getGroupParticipants (/Users/foka/dev/workspace-estudos/whatsapp/node_modules/sulla-hotfix/dis

[2019-11-27 04:04] smashah commented on #17
Are you checking a broadcast? Can you confirm our working for a group please

[2019-11-27 11:56] rfscheidt commented on #17
I'm justing calling the method, like that:

router.get("/msg/retrieve/:ident/", function(req, res) {
        client.getAllMessagesInChat(req.params.ident, true, true).then(chats => {
            res.send(JSON.stringify(chats));
        });
});

    router.get("/msg/retrieve/groups/members/:ident/", function(req, res) {
        client.getGroupMembersId(req.params.ident).then(chats => {

[2019-11-27 16:02] smashah commented on #17
@rfscheidt I've just tested this on both a broadcast and a group and it works fine. I only get this error when entering an invalid chatId.

Make sure your chatId looks like this

215678234342-123123123123@g.us

or

1341932128637@broadcast

[2019-11-27 17:10] rfscheidt commented on #17
yes, you are right... I'm putting invalid chatId, I'm sorry and thank you!

[2019-11-27 17:49] #17 closed

[2019-11-27 18:17] LucasDibz opened #18 "TypeError: Cannot read property 'sendMessage' of undefined"
Tried sending an text today, error thrown was
`(node:6383) UnhandledPromiseRejectionWarning: Error: Evaluation failed: TypeError: Cannot read property 'sendMessage' of undefined

at Object.window.WAPI.getChat (/home/menudib/Desktop/Chatbot/node_modules/sulla-hotfix/dist/lib/wapi.js:289:32)

at Object.window.WAPI.sendSeen (/home/menudib/Desktop/Chatbot/node_modules/sulla-hotfix/dist/lib/wapi.js:828

[2019-11-27 18:26] LucasDibz commented on #18
Was missing state code into contact number. dumbme

[2019-11-27 18:26] #18 closed

[2019-11-28 01:45] phantom-limb commented on #14
@smashah, Can you provide an example usage? Tks!

[2019-11-28 03:01] HypedMind commented on #11
Hey @smashah , sorry now only I have the time to check.

I just tried with your solution, however I can't get it to work, the message rendered as a 'file' message instead of a 'video' message.

Would you able to share the video file that you use?

My sulla.create:
[code]

My sendFile code:
[code]

My video file: [http://s000.tinyupload.com/index.php?file_id=53242422432601226909](url)

My base64 st

[2019-11-28 10:53] smashah commented on #11
@HypedMind classic buck bunny. That file doesnt work for some reason. If you use the sample and send your sulla'd number a video it should work fine. Maybe it's because of the codec? Does this specific file work in whatsapp web itself? It doesn't work in my instance of whatsapp web desktop client or the in chrome.

[2019-11-28 10:59] smashah commented on #14
@phantom-limb https://github.com/smashah/sulla/blob/e41abd3203b47e50bc1f0223ec191cfdac391f86/demo/index.ts#L17

[2019-11-28 16:06] LucasDibz opened #20 "[Suggestion] Create new Group between message.from and a contact_id"
Would it be possible to create a new Group with message.from (contactid) and another contact id?
Then make it so main phone leaves the group afterwards.

Thank you for your time

[2019-11-28 17:00] GermanoBarbosa opened #21 "How could you send a contact?"
How could you send a contact? I have tried in many ways without success

[code]

[2019-11-29 02:07] agunbuhori opened #22 "How to call method Unread Message?"

[2019-11-29 16:55] smashah commented on #21
Please try

[code]

[2019-11-29 16:57] smashah commented on #22
@agunbuhori  Can you please elaborate?

[2019-11-30 02:32] HypedMind commented on #11
@smashah Turns out the video I used actually has issue. I got it working with other video files.

I was able to send out video as 'video message' in Ubuntu server.

This was how I did it:

1. Install Chrome in Ubuntu following this tutorial: [https://www.linuxbabe.com/ubuntu/install-google-chrome-ubuntu-16-04-lts](url)

2. Create sulla client using the executable path:
[code]

[2019-12-01 06:29] LuizFelipeNeves opened #23 "Problem with qr code."
<h4>I have problem, the qr code is loading forever, the phone can not read the console version, but the browser yes!</h4>
<br/>
<img src='https://i.ibb.co/vkFZpgQ/Captura-de-tela-de-2019-12-01-03-25-55.png'/>

[2019-12-01 14:14] LuizFelipeNeves commented on #16
thanks!

[2019-12-01 15:17] LuizFelipeNeves opened #24 "[Enhancement] - Events monitor"
- Function to monitor client status, "sulla.ev.on" <br/>
- Add event listener on remove phone session

<img src='https://i.ibb.co/n1g00Hr/Captura-de-tela-de-2019-12-01-12-02-25.png'/>

[2019-12-01 16:12] smashah commented on #24
Till this is implemented I suggest polling client.isConnected()

As far as we know now there are no events fired in proper time to indicate that the device is offline. It is always delayed or happens when a message is unable to be sent

[2019-12-01 16:18] LuizFelipeNeves commented on #24
Thanks!

[2019-12-01 22:07] lasoftinfo opened #25 "Send message to a new number?"
Currently, I can only send a message to contacts who already have a conversation started. When I try to send to a new error contact.

[2019-12-02 07:29] smashah commented on #25
This project will not be used to spam random people. If you want you can ask people to start a conversation with you using the whatsapp-button on your website to start a conversation.

https://www.webcomponents.org/element/whatsapp-button

[2019-12-02 07:29] #25 closed

[2019-12-03 15:50] ayalamauric opened #26 "Send images"
Hi, can you comment on an implementation of sending images?

[2019-12-03 20:49] smashah commented on #26
@ayalamauric it is the same as shown in demo/index.ts

[2019-12-03 20:50] #26 closed

[2019-12-07 10:41] smashah commented on #21
@GermanoBarbosa  I hope that works for you. I'm going to close this for now. Thanks.

[2019-12-07 10:41] #21 closed

[2019-12-09 09:41] smashah opened #27 "I want to be able to delete a message"

[2019-12-09 10:39] #27 closed

[2019-12-09 16:11] habibshahid opened #28 "Error: Evaluation failed: TypeError: Cannot read property 'sendMessage' of undefined"
Hey I am getting the following error while getting messages using chat id

``
const chatMessages = await client.getAllMessagesInChat(
			{chatId: chat.id, includeMe: true, includeNotifications: true}
		).then(message => {
			console.log(message);
		}).catch((error) => {
			console.error(error);
		});
``
can you please help / guide; what am I doing wrong?

``Error: Evaluation failed: TypeError: Can

[2019-12-09 16:30] paramirez commented on #28
https://github.com/Theblood/Wapi_NEW/blob/master/wapi.js

[2019-12-09 16:38] habibshahid commented on #28
Thank you for the quick response. But its the same error.

[2019-12-09 16:41] smashah commented on #28
@habibshahid please make sure you are using the latest version 1.2.15. thanks

[2019-12-09 16:43] smashah commented on #28
Also you do not need to wrap the parameters in am object

[code]

[2019-12-10 07:58] habibshahid commented on #28
Thank you for your help. Got it working

[2019-12-10 09:18] #28 closed

[2019-12-11 13:14] ehsan-ahmed opened #29 "Managing multiple sessions"
how can manage two or more phone number sessions. and how can identify which session related with which phone number.

[2019-12-11 13:39] smashah commented on #29
Check demo/index.ts and the readme.v

[2019-12-11 13:39] #29 closed

[2019-12-13 14:29] rfscheidt opened #30 "Problems when there are too many contacts"
I have over 50,000 contacts on my phone, and when I read QRCODE, nothing happens. Does anyone have something like that?

[2019-12-13 14:44] rfscheidt commented on #30
It took but it worked.

[2019-12-13 14:44] #30 closed

[2019-12-13 17:56] rfscheidt opened #31 "DEADLINE_EXCEEDED: Deadline exceeded"
I'm trying to import 50,000 contacts and get this error:

(node:36093) UnhandledPromiseRejectionWarning: Error: 4 DEADLINE_EXCEEDED: Deadline exceeded
at Object.callErrorFromStatus (/project/node_modules/@grpc/grpc-js/build/src/call.js:30:26)
at Http2CallStream.call.on (/project/node_modules/@grpc/grpc-js/build/src/client.js:96:33)
at Http2CallStream.emit (events.js:203:15)
at process.nextTick (/p

[2019-12-13 20:05] smashah commented on #31
1. You're insane.
2. I suggest you use p-queue to slowly and reasonably work through these jobs.

https://github.com/sindresorhus/p-queue

Please keep in mind that there are loads of people working with this package. Please do not do anything that attracts facebook's attention... like import 50,000 contacts.

[2019-12-14 22:39] #31 closed

[2019-12-15 07:08] HypedMind opened #32 "[Suggestion] To add wrapper for WAPI.getProfilePicFromId"
Actually I tried to add it myself, but it doesn't seem to work. The image url that required credentials can't be downloaded.

[2019-12-15 07:59] smashah commented on #32
@HypedMind  can you share the code you're trying.

Also, you can see from here: https://github.com/smashah/sulla/blob/4e00c45a571b07f93687a415b936a4d62e6b7f2e/src/lib/wapi.js#L971

You can access the img url from the chat object.

So if you want you can use the wrapper method for getChatById then go to contact.profilePicThumbObj.imgFull or img like so:

[code]

In sulla-hotfix:

[code]

Make sure

[2019-12-16 15:30] rfscheidt commented on #31
@smashah what is the problem in import 50,000 contacts? theoretically it happens "local", how will it get facebook's attention?

[2019-12-17 21:23] smashah commented on #24
@LuizFelipeNeves I'm going to close this for now. Thanks.

[2019-12-17 21:23] #24 closed

[2019-12-17 21:48] chitogamer96 opened #33 "not reply location"

[2019-12-17 22:01] smashah commented on #33
Please make sure you are using the latest version of this package. It works fine for me. Closing this untill you can provide more detail.

[2019-12-17 22:01] #33 closed

[2019-12-21 06:49] mrbarnk commented on #22
He meant, How to display all unread messages.

[2019-12-21 06:52] mrbarnk opened #34 "How to hanle error displaying when phone is not online"
Hello users, Is there any way to hadle the error displaying when I am not online?

I am not online on my phone, but I don't want that to affect my app.

How can I do that?

[2019-12-23 07:13] Douglas12ds opened #35 "How to send GIFs?"
Both sendFile() and sendImage() sends a static GIF.

[2019-12-23 13:57] smashah commented on #35
In WhatsApp, gifts are treated as videos iirc. This will need some work. Good suggestion.

[2019-12-23 19:04] smashah commented on #35
Related https://github.com/mukulhase/WebWhatsapp-Wrapper/issues/359

[2019-12-27 21:23] lookprintufc commented on #1
How can I use it?

[2019-12-28 14:42] smashah commented on #1
@lookprintufc it's not really done yet

[2019-12-29 03:07] ikandars commented on #22
Here's my code to show all unread message:

[code]
and the response is:

[code]

My question is: why `msgs` object is null?

[2019-12-29 03:58] smashah commented on #22
[code]

@ikandars you have to explicitly get chat like so ^

[2019-12-29 08:06] ikandars commented on #22
As far as I try, the value still `null` in me, here's my code:

[code]

[2019-12-29 14:41] smashah commented on #22
@ikandars With the new version (v1.3.2) you can now use ```getAllChatsWithMessages``` method on client.

Try this

[code]

I guess the original question has not been answered yet so I'll reopen this issue.

[2019-12-29 14:59] smashah commented on #22
@agunbuhori @mrbarnk Thanks for your patience.

In version 1.3.3 I have implemented a new method ```getAllNewMessages()``` which will result in an array of messages where the isNewMsg attribute == true.

Just as a caveat, isNewMsg is not the same as unread but this should be just as accurate. You can try it like so:

[code]

Let me know if this works for you. In the meantime, I'm going to close th

[2019-12-29 23:43] ikandars commented on #22
Hi @smashah I just upgraded to v1.3.3 and still have no luck with those two method, `getAllNewMessages` and `getAllChatsWithMessages`. Here's my code:

[code]

The output is:

[code]

[2019-12-30 06:43] smashah commented on #22
Ok i dont know what's going on. It works in chrome but not in this.

[2019-12-30 06:58] smashah commented on #22
related https://github.com/puppeteer/puppeteer/issues/5086 & from https://github.com/puppeteer/puppeteer/issues/2079:

[2019-12-30 07:40] smashah commented on #22
@ikandars

OK. This should work now with version 1.3.4

[code]

[2019-12-30 13:43] ikandars commented on #22
it works @smashah 👍

[2019-12-31 02:36] #22 closed

[2019-12-31 13:25] GENL opened #36 "Multiple authentication Qr"
Hi! I want to listen on "qr" event only for specific whatsapp phone/account.
The problem is "qr" event is emitted each time a phone number wants to authenticate, so I can't no which phone exactly is about to scan the code.

I'm asking if you can implement dynamic events emitter for the qr code scanning.

I was thinking about something like:
[code]

or

[code]

[2019-12-31 16:17] smashah commented on #36
@GENL Good idea. I'll implement this with session id for now. It should work for your use case

[2019-12-31 16:18] smashah commented on #36
@GENL Please see new changes to demo/index.ts and use version 1.3.5

[2019-12-31 16:18] #36 closed

[2019-12-31 16:27] GENL commented on #36
Good job!
Thank you for the quick reply.

[2020-01-03 15:21] marcelocecin commented on #35
did you try to use the `sendGif` function ?

[2020-01-03 15:26] marcelocecin commented on #20
did you try to use the `createGroup`, `promoteParticipantAdminGroup` and `leaveGroup` functions ?

[2020-01-03 15:40] smashah commented on #35
@marcelocecin I made it. It doesn't work as expected yet. It needs more investigation. Let me know if you've got any other ideas.

[2020-01-03 16:14] marcelocecin commented on #35
I found this two sources that can help

https://github.com/juliendangers/chat-grpc-poc/blob/fbd9ee5bce38bfe66cc0af485659b9e21c4a791f/domain/src/main/proto/whatsapp.proto

https://github.com/alfred82santa/whalesong/blob/6837ee3091e64f95166a4588a48395f262ba833e/whalesong/managers/message.py

[2020-01-03 16:15] marcelocecin commented on #4
I found this two sources that can help

https://github.com/alfred82santa/whalesong/blob/master/examples/getlivelocations-chromium.py

https://github.com/alfred82santa/whalesong/blob/master/examples/getlivelocations.py

[2020-01-03 17:13] smashah commented on #35
Thanks for that @marcelocecin

Based on:
https://github.com/sigalor/whatsapp-web-reveng/blob/42023d191e54fe4278c0ec2ed0076ac8741b5cc3/doc/spec/def.proto#L206

GIFs are sent as video files. With a few gif attributes.

So maybe sulla-hotfix should autodetect gif files then convert to MP4 using:

https://www.npmjs.com/package/videofy

The only issue which I've found, while working on  the existing (n

[2020-01-04 20:09] smashah commented on #34
@mrbarnk the phone needs to be online for this to work.

Please see:

https://github.com/smashah/sulla/issues/24#issuecomment-560126039

Closing for now. Thanks.

[2020-01-04 20:09] #34 closed

[2020-01-04 20:12] smashah commented on #23
If I remember correctly this may be due to contrast issues. Try a dark terminal theme. Possible duplicate of #13

[2020-01-04 20:12] #23 closed

[2020-01-04 20:12] smashah commented on #32
Hope the above worked. Closing.

[2020-01-04 20:12] #32 closed

[2020-01-07 12:50] LucasDibz commented on #20
I didn't know they existed in the first place,
My project changed and i couldn't test/implement this action.
Will leave it open in case someone wants to post a code example...

[2020-01-07 17:38] xshion13 opened #37 "how to detect if someone leave, get kicked,added or join to my group"
i want to post a message when an event like this happens, in order to post rules in a group, etc. is possible this?.

[2020-01-09 06:23] maxtroia opened #38 "Send Location - Help"
I can't make sendLocation work.

My code

[code]

[2020-01-09 06:38] smashah commented on #38
@maxtroia Does it result in any error? I just tried this via WhatsApp web and it is working fine.

[2020-01-09 06:45] smashah commented on #38
I tested this in a sulla environment also just now. Can confirm it is working perfectly even with a fresh session @maxtroia

[2020-01-09 07:07] maxtroia commented on #38
Not generating error, just not send. I tried on another phone and just got the message "👋 Hello from sulla!"

[2020-01-09 07:21] maxtroia commented on #38
I managed to solve. I added "require"

[code]

[2020-01-09 07:27] #38 closed

[2020-01-09 10:52] smashah commented on #37
If it results in some sort of action on the front end then it is technically possible to listen in on it. However some things are just really difficult to reverse engineer (like sending GIFs). I'd suggest maintaining your own db and polling the group participants until this can be figured out.

[2020-01-10 00:11] smashah commented on #35
has anyone actually tried to send a gif on whatsapp web? It doesn't actually support sending gifs!

[2020-01-10 15:09] smashah commented on #35
@marcelocecin @Douglas12ds I figured it out. New version on it's way.

[2020-01-10 17:36] GENL opened #39 "Possibility to know that the receiver has read the message."
After a message is sent, I want to be able to know that the receiver read or not the message.

[2020-01-10 17:52] #35 closed

[2020-01-10 17:56] smashah commented on #35
@marcelocecin @Douglas12ds Happy Gif-ing! https://github.com/smashah/sulla#sending-gifs

[2020-01-10 18:32] marcelocecin opened #40 "Introducing Catalogs for Small Businesses"
is possible to create a Message of type 'product' ?

[https://github.com/Rhymen/go-whatsapp/blob/master/binary/proto/def.proto](https://github.com/Rhymen/go-whatsapp/blob/master/binary/proto/def.proto)

[https://blog.whatsapp.com/10000665/Introducing-Catalogs-for-Small-Businesses](https://blog.whatsapp.com/10000665/Introducing-Catalogs-for-Small-Businesses)
[https://www.youtube.com/watch?v=ugFIVoh

[2020-01-10 20:08] marcelocecin commented on #40
I believe the quickest and easiest way would be to create the product message on the mobile device, forward to some user and use that message as a default to forward to other contacts

[2020-01-10 23:56] smashah commented on #40
@marcelocecin I don't know about creation of the product but I know how to send the product to a number. Good idea.

[2020-01-11 20:43] kobra101 opened #41 "Send video as gif not working"
await client.sendVideoAsGif(message.from, `data:video/mp4;base64,${d4.body}`, `dad.mp4`, "teste")

[2020-01-11 20:50] Douglas12ds commented on #41
What a coincidence! I was ready to report this right now!

Fala aí, anão. Suave?

[2020-01-11 20:51] Douglas12ds commented on #41
What a coincidence! I was going to report this right now!

[2020-01-11 20:51] happykobra commented on #41
Opa @Douglas12ds beleza, cara não estou conseguindo enviar nenhum sendGiphy, nem sendVideoAsGif, ai também?

[2020-01-11 20:52] Douglas12ds commented on #41
Sim. Estava neste exato momento tentando ambos os modos.

[2020-01-11 22:26] marcelocecin commented on #40
can you share how to send the product ? thanks !

[2020-01-12 05:46] smashah commented on #41
I'm gonna need some more information. I suggest clearing session and trying. If you have any errors or anything please share that also

[2020-01-12 09:18] Douglas12ds commented on #41
Tried send the same Giphy as in the demo ( literally copied and pasted ) after clearing session and still don't work. The function don't throws any error, just don't work, silently.

[2020-01-12 12:19] smashah commented on #41
Are you sure you are using the latest version (1.4.1)? Can you try the demo via git clone?

[2020-01-12 12:44] Douglas12ds commented on #41
Just tried. Still nothing.

[2020-01-12 19:23] rafael-sarti opened #42 "Bug Ubuntu Linux 'eventEmitter2 loader.js error'"
Development worked perfectly on OSX, when the production byproduct to run a final test presented a problem 'eventEmitter2 loader.js error'.

I am still exploring what it can be. If anyone has any information as to what this error is occurring. Appreciate!

Congratulations on the project =)

[2020-01-13 11:45] smashah commented on #41
Are you using chrome instead of chromium?

[2020-01-13 11:51] smashah commented on #40
@marcelocecin Try this out.

https://github.com/smashah/sulla/commit/cb1712056842b4defe83a4ce6e118584119ec939

It's not in the client code yet.

[2020-01-13 11:51] smashah commented on #42
thanks, @rafael-sarti for bringing this up. Keep us updated with your investigation.

[2020-01-13 12:17] Douglas12ds commented on #41
Sorry about the dumb question, but how to verify it?

[2020-01-13 13:07] smashah commented on #41
Initiate your session with headless:false. Also make sure your executable path points to your installation of chrome. Due to lack of ffmpeg support, video and therefore GIFs don't work on the standard session (i.e with chromium).

[code]

[2020-01-13 13:37] rafael-sarti commented on #42
The installation was performed on Ubuntu and Debian. When the operating system is running on the command line it or Sulla does not work.

The error is always linked

internal / modules / cjs / loader.js: 638
play err;
^

Error: Could not find module 'EventEmitter2'
in Function.Module._resolveFilename (internal / modules / cjs / loader.js: 636: 15)
in Function.Module._load (internal / modules / cjs

[2020-01-13 13:53] marcelocecin commented on #39
did you try to monitor the `ack` attribute ?

[2020-01-13 13:56] smashah commented on #42
Can you go into the sulla-hotfix folder within node_modules and manually install eventemitter2. That should fix it

[2020-01-13 14:38] rafael-sarti commented on #42
I already performed this test and it didn't work :(

[2020-01-13 14:49] barkerpedro commented on #42
Hello, I solved this error as follows ...

In the file "node_modules/sulla-hotfix/dist/controllers/auth.js".
Look for the line "var EventEmitter2_1 = require("EventEmitter2");".
And change it to "var EventEmitter2_1 = require("eventemitter2");".
Just put the "require("eventemitter2");" in lowercase to solve.

What is happening is that Ubuntu / Debian is unable to differentiate "eventemitter2" and

[2020-01-13 14:58] rafael-sarti commented on #42
Funcionou! Genial realmente esse era o problema!
Resolvido. Muito obrigado ;)

English: It worked! Great indeed that was the problem!
Sorted out. Thank you;)

[2020-01-13 15:01] rafael-sarti commented on #42
The proposed fix worked. Modifying module name from EventEmitter2 to eventemitter2. I realized that it really has something to do with some case-sensitive interpretation of NodeJS running in linux environments.

I think it is worth an observation in the readme of the project to help other colleagues.

Big hug and congratulations on the project. I'm studying hard and I want to contribute to the fan

[2020-01-13 15:22] smashah commented on #42
Amazing teamwork all! I will push a new version in a few minutes!

[2020-01-13 15:27] smashah commented on #42
@rafael-sarti @barkerpedro Try now with version 1.4.2

[2020-01-13 15:28] smashah commented on #40
@marcelocecin Untested. Try it out in v1.4.2 https://github.com/smashah/sulla/blob/a712ab638f732e85626896c16f4ee8c79f62fd8e/demo/index.ts#L47

[2020-01-13 15:29] barkerpedro commented on #42
We are together on this journey.
Whatever it takes to improve the project, I will always be helping.

I will test 1.4.2 now.

[2020-01-13 15:34] barkerpedro commented on #42
Very good. Worked perfectly.

[2020-01-13 15:40] rafael-sarti commented on #42
We are always together! I will test =)
I thank everyone. Hug!

[2020-01-13 16:54] marcelocecin commented on #40
thanks, I will test it later today

[2020-01-13 18:14] Douglas12ds commented on #41
It worked!

Had to specify the absolute Chrome path on Windows. Here is the code.

`sulla.create('session', {
  executablePath: 'C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe',
  headless: false
}).then(cliente => iniciar(cliente))`

I suggest make it explict on readme.md.

Thanks for the support tho.

[2020-01-13 20:32] marcelocecin commented on #40
@smashah it did not work:
error TypeError: Cannot read property '0' of undefined `products[0].id`

[2020-01-14 03:01] kobra101 commented on #41
Thanks working for me too!

[2020-01-14 07:50] dogcalas opened #44 "UnhandledPromiseRejectionWarning: Error: Page crashed!"
The following error occurs randomly without any apparent reason.
[code]

This error doesn't kill the node process, so the container never restart and, therefore, the bot stop working.
Can you help me find why this error occurs?

[2020-01-14 08:50] smashah commented on #44
Hmm, not clear from this error log. Can you try to recreate it by resending the last message that was not received by sulla?

[2020-01-14 08:50] smashah commented on #42
Great I'll close this for now then!

[2020-01-14 08:50] #42 closed

[2020-01-14 08:55] #41 closed

[2020-01-14 08:56] smashah commented on #41
Thanks all. Closing this

[2020-01-14 14:17] tatosjb opened #45 "When restart the server it does not use the session"
I have tried with the headless mode off and this is what i see:

![image](https://user-images.githubusercontent.com/7603203/72351582-620e9e00-36bf-11ea-9ed4-5ec9fa094340.png)

![image](https://user-images.githubusercontent.com/7603203/72351541-4e633780-36bf-11ea-9b97-3a3f16371a66.png)

[2020-01-14 15:23] smashah commented on #45
This is just a fact of life with this project. I suggest switching up the user agent once in a while.

[code]

For reference this is the default user agent:
https://github.com/smashah/sulla/blob/473789c06e0428064d17da3d37880a653ae901b0/src/config/puppeteer.config.ts#L44

[2020-01-14 18:26] fernandolcardoso commented on #45
The same happens to me, I changed the agent to "**Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.117 Safari/537.36**", deleted the session folder, restarted and the same error is reproduced.

Any tips for resolving the session issue?

[2020-01-14 18:47] smashah commented on #45
@fernandolcardoso it's not a resolvable issue. It will keep coming back. I suggest reading this issue to learn more on how to try to prevent.

https://github.com/smashah/sulla/issues/9

[2020-01-14 18:48] smashah commented on #45
Check out this comment https://github.com/smashah/sulla/issues/9#issuecomment-553144416

[2020-01-14 21:38] marcelocecin opened #46 "forward Message"
hi there
please consider to implement forward Message function
thanks

https://github.com/mukulhase/WebWhatsapp-Wrapper/issues/581
https://github.com/mukulhase/WebWhatsapp-Wrapper/pull/494/files

[2020-01-15 03:55] dogcalas commented on #45
There is not received message by sulla when the error comes up. I am monitoring on my phone all received message, and I notice the failure because the bot is not responding on an user message. From the last sent message by the bot to the error time there is a difference of 5 hours. The message without response came 8 hours later.

I need that if it fails, at least close the process to restart the

[2020-01-15 03:56] dogcalas commented on #44
There is not received message by sulla when the error comes up. I am monitoring on my phone all received message, and I notice the failure because the bot is not responding on an user message. From the last sent message by the bot to the error time there is a difference of 5 hours. The message without response came 8 hours later.

I need that if it fails, at least close the process to restart the

[2020-01-15 08:23] smashah commented on #45
Next line of attack is to bypass/reverse engineer the checking code if possible.

[2020-01-15 09:41] smashah commented on #45
Just as a reference. The reason this is happening is because the websocket state is being tagged with TOS_BLOCK flag. Resulting in this error.

[2020-01-15 14:41] mrbarnk opened #47 "Event on qr not working any longer"
Hi, my qr code catcher is no longer working after updating my npm.

`ev.on('qr', async qrcode => {
      console.log(qrcode)
})
`

[2020-01-15 15:48] smashah commented on #47
Hmmm @mrbarnk can you try

```ev.on('qr.**',```

[2020-01-15 16:01] mrbarnk commented on #47
I tried that, qr never load.

[2020-01-15 16:15] mrbarnk commented on #47
Qr code taking forever to load. Been debugging since morning.

[2020-01-15 16:45] mrbarnk commented on #47
I think it has to do with my cache or browser, it's working now. Thanks.

[2020-01-15 16:45] #47 closed

[2020-01-16 07:09] smashah commented on #45
@tatosjb @fernandolcardoso I've updated the default user agent in v 1.5.0 This will require a whole lot of work in order to cleanse your websockets of the TOS_BLOCK flag. Can I ask if your implementations have a lot of users in production or are only in dev for now. This may shed some light on your specific situations.

[2020-01-16 10:26] mrbarnk commented on #44
Yea @dogcalas , same here. if it can crash the container and reload it. It would have been awesome.

[2020-01-16 10:48] smashah commented on #44
I'd love to add the functionality, I just need to be able to recreate the issue

[2020-01-16 11:06] mrbarnk commented on #44
``
whatsapp_1  | (node:1) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 10)
whatsapp_1  | (node:1) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that

[2020-01-16 11:07] marcelocecin opened #48 "Callback when message status update"
`Store.Msg.on("change:ack", c => console.log(c))`

[2020-01-16 11:10] mrbarnk commented on #44
Maybe there will be a watcher to let you know if the page has crashed. @smashah

I don't know any solution after that.

[2020-01-16 11:42] smashah commented on #46
Ready. Should be up in about an hour

[2020-01-16 11:42] smashah commented on #44
Possibly this ? https://github.com/puppeteer/puppeteer/issues/1030

[2020-01-16 11:43] smashah commented on #48
Have you tested this in browser? Is c the message?

[2020-01-16 12:42] fernandolcardoso commented on #45
Hi @smashah, I am currently using only one account and for testing purposes.

[2020-01-16 13:20] mrbarnk commented on #44
maybe so.

[2020-01-16 13:51] smashah commented on #46
@marcelocecin Implemented in v1.5.1

https://github.com/smashah/sulla/blob/a5d7a11c658a09ca815b38e1e634d01376e106e0/demo/index.ts#L59

[2020-01-16 14:01] marcelocecin commented on #48
not yet, but I get from here https://github.com/mukulhase/WebWhatsapp-Wrapper/issues/669

[2020-01-16 14:05] smashah commented on #46
https://github.com/smashah/sulla#forward-messages

[2020-01-16 14:05] #46 closed

[2020-01-16 14:15] smashah commented on #48
Works well.

1 => Message Sent (1 tick)
2 => Message Received by Recipient (2 ticks)
3 => Message Read Receipt Confirmed (2 blue ticks)

[code]

Note: You won't get 3 if the recipient has read receipts off.

[2020-01-16 15:43] smashah commented on #48
Done, tested, closing, thanks

https://github.com/smashah/sulla#listen-to-read-receipts

[2020-01-16 15:43] #48 closed

[2020-01-16 15:45] smashah commented on #39
@GENL You can do this now in the latest version (^1.5.3)

Check out how here: https://github.com/smashah/sulla#listen-to-read-receipts

and

https://github.com/smashah/sulla/blob/a87fa6b06be69327f27a5fa42d6b5f54364f9893/demo/index.ts#L29

Related: https://github.com/smashah/sulla/issues/48

Thanks

[2020-01-16 15:45] #39 closed

[2020-01-16 16:16] smashah commented on #37
Just for future reference the event to be listened to is ```change:participants```

[2020-01-16 21:13] rafael-sarti opened #49 "LOADING QR"
@smashah You have now stopped loading QR CODE

![Captura de Tela 2020-01-16 às 6 10 32 PM](https://user-images.githubusercontent.com/59804684/72563136-c9794900-388b-11ea-94b9-af6f3e83425c.png)

[2020-01-16 23:31] phantom-limb commented on #49
check it out:
https://github.com/smashah/sulla/pull/50/commits/da482da152467bf305f8ed86e6ff929074bcf841

[2020-01-17 01:06] rafael-sarti commented on #49
failed :(

[2020-01-17 10:58] andersomsousa1406 commented on #49
for min stopped loading QR CODE

[2020-01-17 13:18] fernandolcardoso commented on #49
Thanks @phantom-limb, works!

[2020-01-17 14:02] habibshahid commented on #49
After applying the change of commit #da482da

qrCode image is not in base64 i guess and that is the reason not able to save to a .png file to export to a webpage. can you help. The following piece of code is giving error while converting the qrcode response to base64. qrcode is NULL

``ev.on('qr.**', async (qrcode,sessionId) => {
  console.log("TCL: qrcode,sessioId", qrcode,sessionId)
  //base64 e

[2020-01-17 14:09] phantom-limb commented on #49
@habibshahid, see: https://github.com/smashah/sulla/pull/50

[2020-01-17 14:48] rafael-sarti commented on #49
Que estranho!

[2020-01-17 14:51] rafael-sarti commented on #49
A rather strange business that my project runs on NodeJS so the installation of sulla is done through npm i sulla.

If I enter inside node_modules and select this commit the error displayed is Error: Cannot find module 'sulla'

Is there a trick to importing the commit correctly?

[2020-01-17 14:56] smashah commented on #49
Fix is live

Please make sure you are using ^1.5.5.

@rafael-sarti  sulla is the original project, this is sulla-hotfix. Use this to install.

[code]

Thanks all for bringing this up and wroking through it. MVP of the day is @phantom-limb !

[2020-01-17 14:56] #49 closed

[2020-01-17 14:59] smashah commented on #37
Groundwork:

https://github.com/smashah/sulla/commit/226371eee0e66a7c14d34fea85df2560835b7573

https://github.com/smashah/sulla/blob/79242aaab04fb403201067c807eba2eb369561ad/src/lib/wapi.js#L1260

Please note though, this thing keeps firing. There is an event as mentioned above but that does not hold any data as to who was added/removed.

[2020-01-17 15:01] fernandolcardoso commented on #45
@smashah I would like to inform you that I have performed session restart tests and so far is working correctly.

[2020-01-17 15:08] smashah commented on #45
That's great @fernandolcardoso . This will happen from time to time, especially now with the rollout of new edge browser, looks like Facebook is updating a lot of code. The best practice is to:

1. Keep the session alive
2. Offload most work off of your sulla-hotfix setup (i.e forward all events to a pubsub or something)
3. Keep the phone nearby just in case you need to reauthenticate
4. Use a chr

[2020-01-17 16:36] xshion13 commented on #37
it seems interesting,, my knowledge about javascript is low but i am very instersted in how to code it, also functions as store images or sent request to php server

[2020-01-17 17:58] habibshahid commented on #49
Thank you Gents.

[2020-01-17 19:19] mrbarnk commented on #44
@smashah  you can check this out. https://stackoverflow.com/questions/57956697/unhandledpromiserejectionwarning-error-page-crashed-while-using-puppeteer

[2020-01-17 20:04] joaomirandasa commented on #49
Thank you @phantom-limb works for me too!

[2020-01-18 13:31] #37 closed

[2020-01-18 13:31] smashah commented on #37
@xshion13 https://github.com/smashah/sulla#group-participant-changes

[2020-01-18 13:52] tatosjb commented on #45
I started to use chrome and it solved the issue. I think its not a problem to use chrome instead of chrome.

What you mean by "unread messages". To save the messeges in a database and resync every time I connect?

[2020-01-18 13:57] smashah commented on #45
@tatosjb https://github.com/smashah/sulla/issues/22#issuecomment-569605974

[2020-01-19 21:22] joaomirandasa opened #51 "It's possible to send a link with thumb?"
I'am trying to send an link with thumbnail but i realize this functions does not exist yet in library, anyone already develop this function by ourselves? I've tried to send but don't know why not function properly, someone can help me?

i see function `WAPI.sendMessageWithThumb` already exist but i did not realize how to use that, look my attempt of develop:

`Whatsapp.prototype.sendMessageWithThu

[2020-01-20 06:10] smashah commented on #51
Sure I'll implement this thanks

[2020-01-20 08:59] smashah commented on #51
@joaomirandasa In v1.5.7 you can now use ```await client.sendMessageWithThumb(...```

I haven't been able to test it so this is alpha right now.

Check it out here:

https://github.com/smashah/sulla/blob/d311658fe5a74eb9a77c3a17b169bb270973a281/src/api/whatsapp.ts#L36

Please let me know if this works.

Thanks

[2020-01-20 20:42] phantom-limb opened #52 "Decrypting Media"
**Describe the bug**
decryptMedia() function is not working.

**sulla-hotfix version**
1.5.7

**Whatsapp version**
0.4.315

[2020-01-20 21:15] joaomirandasa commented on #51
✅ Awesome, it worked!

I just make modifications on my code, **thumb field is an base64 string without mime type** and identification so i decode string an remove this parts using this function:

`global.base64MimeType = function (encoded) {
  var result = null;
  if (typeof encoded !== 'string') {
    return result;
  }
  var mime = encoded.match(/data:([a-zA-Z0-9]+\/[a-zA-Z0-9-.+]+).*,.*/);
  if

[2020-01-20 21:17] joaomirandasa commented on #51
Closing, this issue because solution is implemented, @smashah please add **send Link** into Readme.md

[2020-01-20 21:17] #51 closed

[2020-01-21 01:53] kobra101 opened #53 "How to kick/promote member of group"

[2020-01-21 07:26] smashah commented on #52
I was also having issues with decrypt media and decided to hardcode the WhatsApp user agent into it.

[2020-01-21 11:15] tatosjb commented on #45
I this is solved, so i will close the issue, thanks.

[2020-01-21 11:15] #45 closed

[2020-01-21 13:23] mrbarnk opened #54 "Event to capture qr not working"
The code below.
`
      await ev.on('qr', async qrcode => {
        console.log('qrcode')
       const imageBuffer = Buffer.from(

         qrcode.replace('data:image/png;base64,', ''),
         'base64'
       )
      // res.sendFile(imageBuffer)
      // fs.writeFileSync('qr_code.png', imageBuffer)

      return false;
  })

[2020-01-21 13:28] mrbarnk commented on #54
Fixed.
ev.on('qr.**') works

[2020-01-21 13:28] #54 closed

[2020-01-21 14:54] arturromaorocha commented on #52
ua = useragentOverride || 'WhatsApp/2.16.352 Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.0.2990 Safari/537.36';

PT-BR
minha solução foi essa!

[2020-01-21 18:23] barkerpedro opened #55 "API HTTP REQUEST"
Hello. Can you add "sulla-hotfix" on an API nodejs to make HTTP requests?
Could you explain to me how to be part of "function start (client) {}", for example.
To try to add an API, but it has the following error "client is not defined".

[2020-01-21 19:42] phantom-limb commented on #52
I fix liked this:

`decryptMedia(message, 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) WhatsApp/0.4.315 Chrome/69.0.3497.128 Electron/4.1.4 Safari/537.36')`

@smashah see:

![Captura de tela em 2020-01-21 15-05-16](https://user-images.githubusercontent.com/58053798/72836824-1d10db80-3c6c-11ea-864a-897a7e339624.png)

![image](https://user-images.githubuserconten

[2020-01-21 21:26] phantom-limb opened #56 "Improvements: type get(decrypt) ciphertext, get vcard and get multi_vcard"

[2020-01-21 21:35] #52 closed

[2020-01-21 22:41] smashah commented on #52
Wow thanks for the screenshots @phantom-limb I'll use the same technique to keep up to date on wa user agents going forth. I'll check to WhatsApp code to see if there's an OS check outside the user agent.

[2020-01-22 05:44] FarazPatankar opened #57 "Session closed. Most likely the page has been closed."
**Describe the bug**
So I've been using the library for a while and it works pretty well except for a few issues here and there but I've been running into an issue today which I can't seem to resolve.

I do something along these lines and it suddenly stopped working today.
[code]

When it gets to the point where it has to send the message, I see the error mentioned in the title of this issue.

Sur

[2020-01-22 05:53] FarazPatankar commented on #57
Looking at the logs, it seems to be happening here - https://github.com/smashah/sulla/blob/master/src/api/whatsapp.ts#L121

[2020-01-22 19:39] smashah commented on #52
@phantom-limb https://github.com/smashah/sulla#issues-with-decyption

[2020-01-22 19:43] smashah commented on #57
@FarazPatankar can you run it ```headless :false``` and let me know what is the method to reproduce this issue.

Learn how here:
https://github.com/smashah/sulla#best-practice

Also make sure to await the sendText method.

[2020-01-23 01:00] rfscheidt opened #58 "getAllMessagesInChat read just recents messages"
I'm using getAllMessagesInChat method to read messages, but it only reads recent messages from my phone. How do I get him to read the entire message history?

Thanks!

[2020-01-23 13:07] smashah commented on #58
It returns all the messages that are available in the WhatsApp web chat window. If you scroll up you'll be able to get more messages from that message. This can be solved in two ways:
1. Loading all messages until the earliest one
Or
2. Loading all messages from some sort of archival functionality.

Either way it requires more work and will be relatively process intensive.

[2020-01-23 13:36] mrbarnk opened #59 "Error Page crash"
I always get this error here.

`
Error: Page crashed!
    at Page._onTargetCrashed (/root/waap/node_modules/puppeteer/lib/Page.js:216:24)
    at CDPSession.<anonymous> (/root/waap/node_modules/puppeteer/lib/Page.js:124:56)
    at CDPSession.emit (events.js:305:20)
    at CDPSession._onMessage (/root/waap/node_modules/puppeteer/lib/Connection.js:200:12)
    at Connection._onMessage (/root/waap/node

[2020-01-23 13:54] #59 closed

[2020-01-23 13:54] smashah commented on #59
Duplicate #44

[2020-01-23 13:55] smashah commented on #44
@mrbarnk can you share your code so I can figure out how to reproduce this.

[2020-01-23 14:26] mrbarnk commented on #44
I read your best practice, and I've tried adding await to all my codes now, let see how this goes.

Thanks @smashah

[2020-01-23 14:30] rfscheidt commented on #58
In general, the method reads only the last message. Is there no way ready to load them all? Do you need to customize the LIB for this to work?

[2020-01-23 15:33] jigipatel opened #60 "not getting any trigger when user logout from mobile device or block whatsapp number due to multiple messages"
Hello,
i'm not getting any trigger when user logout from mobile device or block whatsapp number due to multiple messages. i wanted to notify when certain scenario occur will you please suggest what should i do and how will i get those trigger.

Thank You.

[2020-01-23 17:06] smashah commented on #58
Yes of course

[2020-01-23 18:09] rfscheidt commented on #58
Is there no other way to get this messages?

[2020-01-23 18:17] smashah commented on #58
Until I look into it or someone does a PR with the functionality no. You can just scroll up in the conversation and try it again. I'll have some time in a few days to do some work on this.

[2020-01-23 18:40] FarazPatankar commented on #57
Using `await` seems to fix the issue. I guess we should go ahead and close this?

[2020-01-23 18:44] tatosjb opened #61 "Can i get messages from me? [Get help]"
I have noticed that the messages a i send from my smartphone does not calls the onMessage callback.

How can i listen that?

[2020-01-23 19:33] ramonck opened #62 "Refresh QRCode"
Hi,

The qrcode is valid only for 15-20 seconds, is there a way to keep on refreshing the image generated?
`ev.on('qr.**',`
or refresh the qr on the terminal?

[2020-01-24 10:20] smashah commented on #62
Yes there is a way I found out how to do it.

I added the procedure as a note here:
https://github.com/smashah/sulla/blob/8906c994979b1a0f24b792155f8ea02aee2c6131/src/lib/wapi.js#L85

It's on the todo list.

[2020-01-24 10:21] smashah commented on #61
hmmm, any reason you'd want to do that @tatosjb ? Maybe there is another solution for your end goal.

[2020-01-24 10:21] smashah commented on #60
I'll have to look into this. I'm more confident on setting up events so this would be a good one to get done soon.

[2020-01-24 10:25] smashah commented on #57
Great news @FarazPatankar !

[2020-01-24 10:25] #57 closed

[2020-01-24 10:36] smashah commented on #55
Well you would run that start function after the client is created using

[code]

What I do is define a global variable in the start function which I can then access via other methods.

[code]

[2020-01-24 11:37] rfscheidt commented on #58
@smashah I tried to roll up, and tried again, it didn't work :(
it always get the last message.

[2020-01-24 12:28] #58 closed

[2020-01-24 12:35] smashah commented on #58
Hey @rfscheidt I've added the loadEarlierMessages method in v1.5.9. This will load 50 messages each time until there are no more left to load, you can then call getAllMessagesInChat to read all messages.

[code]

[2020-01-24 13:54] tatosjb commented on #61
Imagine that i want to integrate this with one chat, to work like the whatsapp, but for teams. A team could send and receive those messages, even if it was sent from smartphone.

Other use for that is automation, if I send the message, the automation will never work, just it other send it. I have noticed, that some apis send that as `fromMe: Boolean` parameter on the message.

I could do this, but

[2020-01-24 14:22] mmc16 opened #63 "How to call isAuthenticated function?"
I can't call this function as  `sulla.isAuthenticated`, probably because it's not being exported in "index.ts".

The error message that I get is:

[2020-01-24 15:57] smashah commented on #60
I've implemented onStateChanged in version 1.6.0

[code]

[2020-01-24 15:57] smashah commented on #60
Actually I'm going to leave this open for now. Let me know how it goes for you @jigipatel

[2020-01-24 16:50] rfscheidt commented on #58
smash,

I tried to to this but nerer return messages:

router.get("/msg/retrieve/msg-by-chat/:ident/", function(req, res) {

res.send(getEveryMessageInChat(req.params.ident));
});

const getEveryMessageInChat = async chatId => {
let newMessages = [];
while (newMessages) {
newMessages = await client.loadEarlierMessages(chatId)
}
return await client.getAllMessagesInChat(chatId, true, true)
}

can yo

[2020-01-24 18:31] mrbarnk opened #64 "QR Code no capturing"
This codes
`const { ev, create, Whatsapp, decryptMedia } = require('sulla-hotfix')`

`await  ev.on('qr', async qrcode => {
 console.log(qrcode)
})`
and
`await  ev.on('qr.**', async qrcode => {
 console.log(qrcode)
})`

is not capturing the qr code.

[2020-01-24 18:44] smashah commented on #61
@tatosjb in v1.6.1 you can now use ```client.onAnyMessage(async message => {...```

Let me know how it goes for you.

[2020-01-24 18:48] smashah commented on #58
@rfscheidt in v1.6.1 tyi can now use a a convenient method as shown below

I've tested this as working as expected.

[code]

It is not advisable to pass res.send a promise

[2020-01-24 18:50] smashah commented on #64
@mrbarnk please make sure you are using the latest version of sulla-hotfix (v1.6.1) and going forward use the issue template. I have just tested the code in the demo folder and it is working as expected.

[2020-01-24 18:50] #64 closed

[2020-01-24 18:51] smashah commented on #63
What are you trying to achieve? isAuthenticated is not a function of client and not exposed outside of the puppeteer set up.

[2020-01-24 18:51] #61 closed

[2020-01-24 18:57] mrbarnk commented on #64
Thanks very much, I used `await` on `sulla.create` while the `ev.on('qr.**` was after the create.

This means it must finish authenticating before capturing the QR code.

I hope it helps someone anyway.

[2020-01-24 19:34] mmc16 commented on #63
I’m trying to integrate whatsapp with a web platform my team is developing. It uses ajax requests to communicate with sulla/whatsapp.
The issue I am facing is in the login request. If the qr code event is fired, the image is sent to the client as the response. But if it is not fired, I would like to check whether the client is already connected or there was an error.

[2020-01-24 19:41] smashah commented on #63
@mmc16 try client.isConnected() or https://github.com/smashah/sulla/issues/60#issuecomment-578189539

[2020-01-24 20:15] smashah commented on #62
@ramonck great news! Auto refresh qr code is now implemented in v1.6.2 It will refresh the qr code continuously every 10 seconds. Please test it out and let me know how it goes!

Thanks for choosing sulla-hotfix.

[2020-01-24 20:23] smashah commented on #34
@mrbarnk You can now achieve this. Check it out here:

https://github.com/smashah/sulla/issues/60#issuecomment-578189539

[2020-01-24 21:35] ramonck commented on #62
@smashah it's working great! Terrific!
The only bug I noticed on Windows 10 was on the first time after authenticating I was not able to use the API, had to shutdown and restart with the session then it worked fine.

[2020-01-24 21:35] #62 closed

[2020-01-24 23:32] barkerpedro commented on #55
Thank you my friend.
I managed to solve by adding:

function start (client) {
   global.client = client;
   ...........
}

Excellent work, I am always accompanied by this project.

[2020-01-25 00:06] barkerpedro commented on #55
When I run "client.getAllUnreadMessages();" it normally reads unread messages, but it does not update and continues sending those that have already been read.

[2020-01-25 08:10] smashah commented on #55
@barkerpedro I've edited the code (added async). That should work now

[2020-01-25 08:16] barkerpedro commented on #55
It still keeps showing the messages already read.

[2020-01-25 13:35] jigipatel commented on #60
it's throwing error 'TypeError: client.onStateChanged is not a function'

[2020-01-25 13:41] jigipatel commented on #60
![my code](https://user-images.githubusercontent.com/33049650/73122067-574ce680-3fa6-11ea-977e-f8136ff53dad.png)

this is screenshot of my code i'm using node npm package sulla-hotfix

[2020-01-25 13:43] smashah commented on #60
@jigipatel make sure you are using the latest version.

[2020-01-25 13:53] jigipatel commented on #60
Thank you @smashah .
now it's working, i haven't restarted node server that's why i was getting this error

[2020-01-25 14:09] smashah commented on #60
Great glad it's working for you now. Thanks for the suggestion.

[2020-01-25 14:09] #60 closed

[2020-01-25 14:25] mrbarnk commented on #63
Hello @smashah can I create another session without it tampering with the working one?

For example, multi-session can be created like this.

`sulla.create('session').then(client => start(client)).catch()`
`sulla.create('session_2').then(client => start(client)).catch()`
 await ev.on('qr.**', async (qrcode,sessionId) => {
            console.log(sessionId)
             console.log('qrcode')

[2020-01-25 15:52] jigipatel opened #65 "client.onStateChanged - restart issue"
Hello,

i want to create new QR code image on client.onStateChanged if status is UNPAIRED or CONFLICT but,

when i first get UNPAIRED or CONFLICT it will give me new QRcode. if status changed to UNPAIRED or CONFLICT twice i'm not getting any QR code.

so, i called sulla.create().then(client => start(client)); on status changed to  UNPAIRED or CONFLICT in that case not getting sulla.ev.on('qr.**',

[2020-01-25 17:35] smashah commented on #63
@mrbarnk yes thats fine

[2020-01-26 05:37] GENL opened #66 "Listen when the current client session looses the focus."
When we scan the qr code with a whatsapp acccount, sulla creates a session and can play with that session. But when we use the same whatsapp account in another web browser, chromium looses his session (normal). I want to know if it is possible to implement a listener on a client that triggers each time his sulla session looses the focus.

[2020-01-26 13:23] smashah commented on #66
Yes I'm sure there's a way to do this

[2020-01-26 13:23] smashah commented on #65
@jigipatel can you do a screen recording of what is going on please

[2020-01-26 13:24] smashah commented on #63
Closing this for now. Thanks

[2020-01-26 13:24] #63 closed

[2020-01-26 13:24] smashah commented on #1
#66 related

[2020-01-26 15:15] arelxcode opened #67 "How to send video with sound ?"
I want to send a video, but I don't know how to install it into the script.

Do you have an example?

[2020-01-26 16:00] arelxcode commented on #67
solved.

[2020-01-26 16:00] #67 closed

[2020-01-26 20:13] ramonck opened #68 "Kill the session if it's not connected"
Hi @smashah ,

I was wondering about multiple sessions situation if I can close the session if it's not connected. I'm just not sure what to call if it's not connected, was thinking about it like this sort of, not sure because you're the guru :).
What do you recommend too, do you think it's worth to try to reload the session just one more time and if not then really kill it? Do you think this is p

[2020-01-27 08:29] jigipatel commented on #65
Hello @smashah, will you please check by your self i have attached demo code below

- it has unexpected behaviour in different scenario like

[sulla-hotfix-demo.zip](https://github.com/smashah/sulla/files/4116122/sulla-hotfix-demo.zip)

1. if i don't scan first QR code it will generate another QR code after few seconds that is awesome but if i scan 2nd or 3rd QR code then stop receiving onStateCha

[2020-01-27 11:23] rfscheidt commented on #58
Hello Smashah,

First of all, thank you for the effort.
When I called the method the first time, it worked. However, when I called
other times it gave this problem:

Time:  1580123872398
(node:71436) UnhandledPromiseRejectionWarning: Error: Evaluation failed:
TypeError: Cannot read property 'msgs' of undefined
    at Object.window.WAPI.loadAllEarlierMessages
(/Users/foka/dev/workspace-estudos/what

[2020-01-27 11:38] GENL opened #69 "Sulla.create opens a blank page when it is called when the browser is already open"
Scenario:
When I start the server for the first time and call sulla.create(), it automatically authenticates the client. Then during the working session of the server, I call sulla.create another time it opens a browser tab "about:blank". As a result, I need to scan the qr code again. Is this a bug or how can I avoid it?

![image](https://user-images.githubusercontent.com/36866702/73171754-cdb22b8

[2020-01-27 12:59] mmc16 opened #70 "getAllChats doesn't load all the profile pictures"
The function getAllChats returns the instances of older chats (those that don't appear in the screen) with empty profilePicThumbObj. A workaround that I found is to crate the client with `headless: false` and then scroll the chat list all the way down and then call getAllChats and retrieve the images URL...

[2020-01-27 14:57] smashah commented on #58
@rfscheidt This error is due to an error in the chat id being used. It is invalid. Please make sure you are using a valid chatid.

[2020-01-27 14:57] smashah commented on #69
why would you want to open the same session twice?

[2020-01-27 15:06] smashah commented on #68
That's a good idea. I'll add it to the board.

[2020-01-27 15:07] GENL commented on #69
Yes I know. The behavior I expect is that the old session is closed and the new tab becomes the new session. This is what happens when you open whatsapp web in two different tabs.

[2020-01-27 15:29] smashah commented on #70
That's a good workaround but not a viable solution to this issue. Let me look into this

[2020-01-27 15:35] smashah commented on #70
@mmc16  As of v.1.6.3 you can now use the following to get profile pictures for chats that are not in your local cache.

[code]

[2020-01-27 15:35] #70 closed

[2020-01-27 15:40] smashah commented on #68
Sulla does not keep track of the sessions you create so you'll need to call kill() on a specific client. You will need to manage your sessions yourself

[2020-01-27 15:53] smashah commented on #69
I would suggest changing the session id every time you call sulla.create then. I will be pushing a new version where you can call client.kill() to shut down the page and the browser. Standby

[2020-01-27 15:55] ramonck commented on #68
I was wondering here in puppeeteer if I kill a pid it will kill that tab only with that session or will it kill all of Chrome and the other sessions subquently? I'm going to test here the process kill scenario and see how it works with the multi session situation.

[2020-01-27 16:01] GENL commented on #69
If you do, the problem is that the user will have to scan the qr code again. I want the user to be able to reconnect to "sulla" without having to scan the qr code again.

[2020-01-27 16:06] smashah commented on #68
@ramonck check out the commit ^

client.kill() will kill the sessions page and browser.

More than 1 sulla-hotfix instance cannot run in the same session/browser due to limitations from whatsapp web.

Every session id creates it's own (kinda) containerized browser and therefore page.

https://github.com/smashah/sulla/blob/172643103e2c9267b94f4c00ca8468d2f747dadd/demo/index.ts#L36

This is now live

[2020-01-27 16:10] smashah commented on #69
The reason you get the 'Utiliser Ici' is because the person with the phone has activated a whatsapp web somewhere else. As soon as they close that window (somewhere else) this page will eventually continue working.

On the other hand, you can now kill a client/session and then restart as required.

https://github.com/smashah/sulla/issues/68#issuecomment-578819782

I guess the ultimate solution to

[2020-01-27 16:14] GENL commented on #69
Yes that's the greatest solution. But it's not implemented yet.

[2020-01-27 16:16] smashah commented on #69
@GENL give me 5 mins.

[2020-01-27 16:17] GENL commented on #69
Okay thanks!

[2020-01-27 16:20] smashah commented on #66
duplicate #1

[2020-01-27 16:20] #66 closed

[2020-01-27 16:27] smashah commented on #69
@GENL can you open whatsapp web in french and run this in the console

[code]

in English it resolves to 'Use Here'. I wonder if it is 'Utiliser ici' for french.

In v.1.6.5 you can now call client.forceRefocus() which will click that button. You can see a valid implementation here:

https://github.com/smashah/sulla/blob/8bc9094f7bc08b88a87aa9b24d17f1e92bdb0970/demo/index.ts#L34

[code]

Right now

[2020-01-27 16:28] smashah commented on #1
https://github.com/smashah/sulla/issues/69#issuecomment-578830306

[2020-01-27 16:28] #1 closed

[2020-01-27 16:31] smashah commented on #69
Ok I just checked in french, It is at the same address, 255. I'll implement that next.

[2020-01-27 16:35] GENL commented on #69
Great.

[2020-01-27 16:54] smashah commented on #69
v.1.6.6 forceRefocus() now works in any language

[2020-01-27 16:57] smashah commented on #65
@jigipatel conflict occurs when whatsapp web is opened somewhere else. You can now use forceRefocus()

https://github.com/smashah/sulla/issues/69#issuecomment-578830306

[2020-01-27 17:01] smashah commented on #44
@mrbarnk @dogcalas in v =1.6.6 you can now use client.kill()

This way you can control when a session is destroyed upon catch statements

e.g

[code]

https://github.com/smashah/sulla/issues/68#issuecomment-578819782

Hope that works for you. I'll close this for now. thanks

[2020-01-27 17:01] #44 closed

[2020-01-27 17:03] ramonck commented on #68
@smashah ,
Nice That's what I used to sort of think because in a regular browser we're not able to do this so it makes total sense to me now to be in a different instance to be able to manipulate the different sessions. That's why I said you're the guru you know better haha.
Thanks for the quick implementation! You're the man!
Best on Github!
I was working with process ids and I was thinking it ma

[2020-01-27 17:03] #68 closed

[2020-01-27 17:05] smashah commented on #68
My pleasure, keep the great ideas coming!

[2020-01-27 17:18] GENL commented on #69
You really do a good job @smashah . I can close this issue right now.

[2020-01-27 17:18] #69 closed

[2020-01-28 05:05] dogcalas commented on #44
Before write this issue all my awaits calls was between try-catch. Although, I still receiving this error, and never a catch section is executed. After 5 days without problems, boom, it happened again. Most weird is that the trace doesn't show any **sulla** files.

Just to know, what nodejs version are you using? I am using node:10-slim docker image.
@mrbarnk are you using WebSockets to do others

[2020-01-28 08:01] jigipatel commented on #65
now i'm getting new error from puppeteer and sulla-hotfix
![puppeteer error](https://user-images.githubusercontent.com/33049650/73245427-34067f00-41d2-11ea-9b36-0865d2f99cd5.png)

i have just checked that puppeteer has updated npm before 17 hours

should i go with old puppeteer npm package or sulla-hotfix is depending on new puppeteer update

[2020-01-28 08:28] jigipatel commented on #65
now i'm getting new puppeteer and sulla-hotfix error
![puppeteer error](https://user-images.githubusercontent.com/33049650/73246921-c5c3bb80-41d5-11ea-9b69-1b1d6b95f7a9.png)

i have just checked puppeteer has updated npm package before 18 hours and it's blocking new sulla-hotfix Initialization

does new update of sulla-hotfix  is depend on new update of puppeteer ?

[2020-01-28 09:37] mcroni opened #71 "Can't seem to scan the QR code"
Hi, trying to scan the console generate QR code but it doesn't seem it work, any workaround for this?
Thanks

[2020-01-28 09:55] dogcalas commented on #65
Same problem. If I restart my docker container, that error come out. I have to destroy the container, and delete session folder to make it work again.

[2020-01-28 11:33] ramonck commented on #71
Same problem here.
`(node:9872) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: webpackJsonp is not defined
    at __puppeteer_evaluation_script__:3:29
    at ExecutionContext._evaluateInternal `

[2020-01-28 12:06] rfscheidt commented on #58
@smashah/sulla <sulla@noreply.github.com>,

You are right... I'm importing chats from 40k contacts.
Thank you man!

On Mon, Jan 27, 2020 at 11:57 AM S.M.A.Sh <notifications@github.com> wrote:

--
--
Atenciosamente,

Rafael de Faria Scheidt

*Mobile: *+55 48 99161-8180

[2020-01-28 12:06] jigipatel commented on #65
also, not getting onStateChanged trigger on connect, conflict, logged out(unpaired) feel like previous version was better at catching those triggers or may be getting issue because of puppeteer package update.

also it will be great if QR code regenerate after 30 seconds rather than every 10 seconds

[2020-01-28 12:06] gacalixto commented on #71
I'm having the same problem!
`(node:28945) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: webpackJsonp is not defined`

[2020-01-28 12:22] gacalixto opened #72 "Error when trying to start session"
I'm having an error when trying to start a session with sulla.
`(node:28945) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: webpackJsonp is not defined`
This error occurs when executing index.ts and also when executing custom code that uses sulla

[2020-01-28 13:22] smashah commented on #72
Duplicate #71

[2020-01-28 13:23] smashah commented on #65
This new issue you lot are seeing is Related to #71 not this issue. Please discuss there

[2020-01-28 13:24] smashah commented on #71
It's cat and mouse time it seems

[2020-01-28 13:53] jigipatel opened #73 "client.sendText does not returning any acknowledgement"
Hello,
client.sendText does not returning any status success or failed i have awaited client.sendText too but still getting undefined.

i'm not able to identify my message has delivered or not.

please help here,
Thank You

[2020-01-28 13:55] jigipatel opened #74 "not getting onStateChanged trigger in sulla-hotfix Version 1.6.7"
not getting onStateChanged trigger on connect, conflict, logged out(unpaired) feel like previous version was better at catching those triggers or may be getting issue because of puppeteer package update.

also it will be great if QR code regenerate after 30 seconds rather than every 10 seconds

[2020-01-28 14:01] smashah commented on #73
@jigipatel it is not supposed to return anything.

[2020-01-28 14:01] #73 closed

[2020-01-28 14:08] smashah commented on #71
@ramonck @mcroni

I'm not able able to recreate this issue. Can you all please share more details:
- versions of sulla-hotfix/puppeteer in package.lock
- your create() code
- screenshots in headless:false mode
- whatsapp version

You can find all this in the issue template.

[2020-01-28 14:10] smashah commented on #71
Also, webpackjsonp should be a separate issue as it is only called once a session is authenticated.

[2020-01-28 14:20] smashah commented on #72
@gacalixto

I'm not able able to recreate this issue. Can you all please share more details:
- versions of sulla-hotfix/puppeteer in package.lock
- your create() code
- screenshots in headless:false mode
- whatsapp version

You can find all this in the issue template.

[2020-01-28 14:21] smashah commented on #71
@mcroni please also share which language you whatsapp web instance is running.

[2020-01-28 14:24] ramonck commented on #71
"sulla-hotfix": {
      "version": "1.6.7",
      "resolved": "https://registry.npmjs.org/sulla-hotfix/-/sulla-hotfix-1.6.7.tgz",
      "integrity": "sha512-pyt4WOl+Pgho0OlFrnCWLmvzwN609gPE0QDyMOWEZ+wLiznfSP5Gqq9d99UIkjDNMfmjGT7iTLu+dOt1v40UpA==",
      "requires": {
        "atob": "^2.1.2",
        "axios": "^0.19.1",
        "death": "^1.1.0",
        "eventemitter2": "^6.0.0",
        "futoin-

[2020-01-28 14:27] smashah commented on #71
Thanks @ramonck

[2020-01-28 14:37] smashah commented on #71
@ramonck can you check out the best practices on the readme.md and implement your own user agent. This issue is happening because your websocket on your instance is being flagged with a TOS_BLOCK so you need to set a custom user agent (at least) to cleanse your instance of that flag. One obvious cause of this would be the fact that you are running on a windows machine with safari in the user agent

[2020-01-28 14:41] smashah commented on #74
Need more info on first point.

Regarding the second point, next version you will be able to set custom refresh time like so:

[code]

[2020-01-28 15:09] ramonck commented on #71
Hi @smashah ,

I have made those changes but it's still complaining.
![image](https://user-images.githubusercontent.com/5229948/73275742-5befe580-41c6-11ea-85b9-089bc3db649c.png)

Now I tried also in another folder and it started working fine, yes you're correct. I have no idea what TOS_Block is will have to search but I will follow those best practices later thanks.

[2020-01-28 15:33] jigipatel commented on #74
function start(client) {
client.onStateChanged(state=>{
    console.log('statechanged', state)
    if(state==="CONFLICT") client.forceRefocus();
  });

  client.onMessage(message => {
    if (message.body === 'Hi') {
      client.sendText(message.from, '👋 Hello from sulla!');
    }
  });
}

into this code console.log('statechanged', state) is not printing state because i'm not getting onStateChang

[2020-01-28 15:34] smashah commented on #74
@jigipatel are your messages coming through?

[2020-01-28 15:35] smashah commented on #71
Terms of service block. Something or some things about your instance/ip address + other things are resulting in facebook blocking it.

[2020-01-28 15:38] smashah commented on #74
v1.6.8 is live with the custom refresh interval.

https://github.com/smashah/sulla/blob/ca461f7a727500e7077678e9c9ece713580edd3a/demo/index.ts#L108

[2020-01-28 15:40] jigipatel commented on #72
in order to recreate this issue please download attached code
[sulla-hotfix-demo.zip](https://github.com/smashah/sulla/files/4123166/sulla-hotfix-demo.zip)

then run npm update
after that run nodemon
stop node server and start again or make any change in code and save

you will get this error. if we delete session folder generated at run time then it will not throw this error if you repeat same st

[2020-01-28 22:23] mrbarnk commented on #44
I use express along side with it.

So, they bot listen to same port.

On Tue, Jan 28, 2020, 06:05 Abraham Calás <notifications@github.com> wrote:

[2020-01-28 23:35] smashah commented on #44
From the error code, you can see that this error is happening `onMessage` so maybe you should try something like:

[code]

[2020-01-28 23:59] mrbarnk commented on #44
I'm using `client.sendText()`.

Please, guide me on this you posted.

[2020-01-29 00:05] mrbarnk commented on #44
And again on the latest version, please set auto-refresh QR code to option.

So, we that do not need it will not be affected, sir.

Thanks!

[2020-01-29 00:17] azisekk opened #75 "ReferenceError: webpackJsonp is not defined"
I'm having an error when trying to start a session with sulla.

[code]

This error occurs when running index.js after exiting the session and running the session again. in the first session it's normal, but there is an error like that after the session

[2020-01-29 00:26] azisekk commented on #75
Solved,
This is the same as the issue #71

[2020-01-29 00:26] #75 closed

[2020-01-29 06:46] jigipatel commented on #74
yes

[2020-01-29 08:02] dogcalas commented on #75
How do you solved this issue?, I didn't find any solution in #71. Every time I restart with the same session name, this error occurs.

[2020-01-29 13:38] ramonck opened #76 "client.isConnected() is always true"
Hi @smashah ,

I have tried in a couple of different ways to use the isConnected and it's always true even when my "test computer" is offline I totally unplugged the internet and it's still saying it's true haha.

I also tried shutting down the internet on the mobile phone and it continues to be true all the time.

Here's the test code snippet:
`var isConnected = await client.isConnected();
  cons

[2020-01-29 13:51] smashah commented on #76
Check in headless:false mode.

Isconnected only changes once the UI in WhatsApp web changes and WhatsApp does not instantly detect whether or not the phone is connected. If you want to instigate a check then you need to send a text. Even then it's not instant.

Please share a screenshot where the UI shows the phone is disconnected but isConnected() is still true.

[2020-01-29 14:09] gacalixto commented on #72
sulla version :
`"sulla-hotfix": "^1.6.8"`

my create() code:
`create('session', {
  executablePath: '/usr/bin/google-chrome'
}).then(client => start(client));`

steps to recreate:
1. Execute index.ts on demo folder and create a new session
2. delete session folder and start again, same error

OS: Ubuntu

[2020-01-29 15:52] otromaximiliano commented on #76
Hi @smashah !
Here is an image of what appears in headless: false mode.

It shows me as if the browser is controlled by automated software

![imagen-chrome](https://user-images.githubusercontent.com/19803990/73371897-28c85780-4295-11ea-8908-35519aabdf03.jpg)

[2020-01-29 15:54] smashah commented on #76
@ramonck

You should use onStateChanged instead of onConnected(). Also, in version v1.6.9 you can use getConnectionState().

[code]
Here are the possible states.

![image](https://user-images.githubusercontent.com/5903821/73371230-4acdd400-42ad-11ea-8374-8f99898c5ce9.png)

[2020-01-29 15:56] smashah commented on #76
Can you translate this for me please?

[2020-01-29 16:02] ramonck commented on #76
This means that the phone is not connected you need to try again screen when the phone is either sleeping or offline.

[2020-01-29 16:06] ramonck opened #77 "queue.add(message=> { is null value"
Hi @smashah,

I tried your example in the readme and it's not passing the variable into the last piece.
function processMessage (message) {
  console.log(message) // here the value is fine
  return queue.add(message=> {
    console.log('nova mensagem')
    console.log(message) // here it returns null

[2020-01-29 16:07] otromaximiliano commented on #76
Translate:

Retrying on Invalid Date.

Make sure your computer has an active and stable internet connection.

My connection is good. My smartphone also.

[2020-01-29 16:17] smashah commented on #44
@mrbarnk in v1.6.10 you can now set `autoRefresh:false` when you start sulla.

https://github.com/smashah/sulla/blob/629f75969416cc4cf6c58cf45b004db1c9240e49/demo/index.ts#L108

[2020-01-29 16:25] smashah commented on #77
Try this

[code]

[2020-01-29 16:27] smashah commented on #76
@otromaximiliano this seems to be an unrelated problem. Can you please open a new issue with the issue template. Thanks.

@ramonck Please try the solution mentioned above and let me know if this works for you https://github.com/smashah/sulla/issues/76#issuecomment-579824368

[2020-01-29 16:31] smashah commented on #74
Please follow best practices: https://github.com/smashah/sulla#best-practice

try this:

[code]

[2020-01-29 16:40] ramonck commented on #77
worked thanks!

[2020-01-29 16:40] #77 closed

[2020-01-29 16:49] gnadelwartz commented on #72
I have a similar problem on second start of sulla I get:

[code]

When I delete session dir I can start the script, scan QR code and process messages.
on second start, even if the session ist stoped by kill or CTRL-c, I got the error above.
Note the ```Autenticate to continue```, I'm already authenticated!

OS: Linux, OpenSuse 15.3
sulla: v1.6.8
node: v10.16.3

unfortunately I cannot run ```headle

[2020-01-29 16:57] stefano71 opened #78 "Today I realized that Send Images no longer works Do you have any idea ?"
**Describe the bug**
Today 29-01-2020
I realized that Send Images no longer works
Do you have any idea ?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**sulla-hotfix version**
Which sulla-hotfix version

**Whatsapp version**
Go to cons

[2020-01-29 17:13] smashah commented on #78
@stefano71 please fill out the template more thoroughly. I've just tested it and it is working ok so I will need more info for reproduction

[2020-01-29 17:14] ramonck commented on #76
Hi @smashah it worked out fine now thanks to your tip there.

[2020-01-29 17:14] #76 closed

[2020-01-29 18:02] gnadelwartz commented on #55
will the Messages marked as read automagically if message is processed by on.message?
or must we set message to read explicitly by something like message.read()?

[2020-01-29 21:15] gnadelwartz commented on #72
seems similar to #75

[2020-01-29 21:56] mrbarnk opened #79 "Error: Evaluation failed: TypeError: Cannot read property '_serialized' of undefined"
On the latest version, see what i'm getting.
`
Error: Evaluation failed: TypeError: Cannot read property '_serialized' of undefined
0|index  |     at Object.window.WAPI.getChat (/root/waabot/node_modules/sulla-hotfix/dist/lib/wapi.js:326:42)
0|index  |     at Object.window.WAPI.sendSeen (/root/waabot/node_modules/sulla-hotfix/dist/lib/wapi.js:867:28)
0|index  |     at __puppeteer_evaluation_script

[2020-01-29 21:57] smashah commented on #55
@gnadelwartz it's set to read automatically

[2020-01-29 22:03] smashah commented on #79
Did the text get sent? Are you sure this number is valid?

[2020-01-29 22:06] mrbarnk commented on #79
Yes, the number is valid.

No, again in my other app. It shows sent but never got any message.

[2020-01-29 23:22] barkerpedro commented on #79
For me, sendText, sendMedia and sendFile are not working.

[2020-01-29 23:25] arturromaorocha opened #80 "What programming language do you use for "import {create, Whatsapp} from 'sulla-hotfix';" work?"
What programming language do you use for "import {create, Whatsapp} from 'sulla-hotfix';" work?

Good evening!
I am starting the service using node however when I use "import {create, Whatsapp} from 'sulla-hotfix';" it generates an error saying that the "import" is not found

Boa noite!
Estou iniciando o serviço usando node porém quando utilizo o "import { create, Whatsapp} from 'sulla-hotfix';" e

[2020-01-30 03:42] barkerpedro commented on #72
Test in version 1.5.5 and did not have the error "Error: Evaluation failed: ReferenceError: webpackJsonp is not defined".

[2020-01-30 08:50] stefano71 commented on #78
I'm not getting any error messages.
the wapi.sendimage function after I cleared the chrome cache doesn't work

[2020-01-30 09:19] rizki96 commented on #78
@smashah I'm also getting the same problem, sendImage function is not working. After debugging the sendImage code then I've found out that this line is crashing
`var mc = new Store.MediaCollection()`

I've tried on both macosx and linux, tried also on sulla-hotfix 1.5.x and 1.6.10, all have the same behaviour.

[2020-01-30 09:40] gnadelwartz commented on #72
@smashah can confirm it's working with ```sulla-hotfix@1.5.5```
@barkerpedro thanks for pointing out

now bisect?

[2020-01-30 09:57] stefano71 commented on #78
![image](https://user-images.githubusercontent.com/10145060/73438909-16125900-434f-11ea-90f8-c13cee1d9ca7.png)

this is the error message that has now occurred in the chrome console

[2020-01-30 10:14] duzaq commented on #78
error message WAPI.sendImage
![erro_wp](https://user-images.githubusercontent.com/4000971/73440536-2e26b000-4330-11ea-8d19-a92e0a41ac07.png)

[2020-01-30 10:29] gnadelwartz commented on #80
same for me, use the method in the simple example:

[code]

[2020-01-30 12:42] nicolaubrasil commented on #78
Search for all occurrences of mediaCollection and replace:
```var mc = new Store.MediaCollection();```
to
```var mc = new Store.MediaCollection(chat);```

[2020-01-30 13:12] smashah commented on #78
Can you all share you whatsapp version please.

In the console in the browser run ``window.Debug.VERSION``

[2020-01-30 13:14] stefano71 commented on #78
with this change it works
Search for all occurrences of mediaCollection and replace:
var mc = new Store.MediaCollection();
to
var mc = new Store.MediaCollection(chat);

thanks

[2020-01-30 13:15] smashah commented on #78
@stefano71 @nicolaubrasil As it seems to work for you, I'll implement this now

[2020-01-30 13:20] smashah commented on #78
Should be live in v1.6.11

[2020-01-30 13:21] smashah commented on #80
The demo/index.ts is in typescript. You can run it as is with [ts-node](https://github.com/TypeStrong/ts-node).

[2020-01-30 13:24] smashah commented on #79
@mrbarnk @barkerpedro can you share the following details:
- whatsapp version (in console run: `window.Debug.VERSION`)
- `sulla.create(...` code

[2020-01-30 13:47] smashah commented on #72
@gnadelwartz Thanks for that.

Can you:
1. Share your `create` code
2. run the latest version with `autoRefresh:false`:

[code]

I'm going to fix the code to properly check for webpackjsonp for next v

[2020-01-30 13:51] smashah commented on #75
@dogcalas in v1.6.12 it will not throw the same error. However, the reason webpackJsonP is undefined from the start is because Facebook has most likely blocked the session from the beginning so it's good to make sure you are following best practices in the readme.

[2020-01-30 13:52] smashah commented on #71
@ramonck @mcroni  https://github.com/smashah/sulla/issues/75#issuecomment-580262533

[2020-01-30 13:53] smashah commented on #72
@gacalixto @jigipatel @gnadelwartz @barkerpedro https://github.com/smashah/sulla/issues/75#issuecomment-580262533

[2020-01-30 14:06] smashah commented on #79
In v1.6.13 you should get some relevant debug information when you launch sulla.

[2020-01-30 14:25] ramonck commented on #75
This has happened to me multiple times even following the best practices, there's some other caviats they're taking into consideration before blocking. I think when we try multiple times in a very short amount of time to authenticate or scan teh QRCode they're taking that more into consideration before blocking.

[2020-01-30 14:45] duzaq commented on #71
to circumvent Chrome version 49+ I always ask to open the group link instead of the home page

await this.instance['page'].goto('https://web.whatsapp.com');
to
await this.instance['page'].goto('https://web.whatsapp.com/accept?code=9WbFp5GrNnT9vcV7tB****');

![asdf](https://user-images.githubusercontent.com/4000971/73459643-fcc0db00-4355-11ea-952e-e199a1a72a87.png)

[2020-01-30 14:54] ramonck commented on #71
@duzaq interesting approach.

How can I change the url in the sulla.create or maybe before using that this.instance[page] ?
I want to test this url schema to see if it minimizes the TOS Block.

Best Regards,

[2020-01-30 14:55] mmc16 opened #81 "Exception "Cannot read property 'call' of undefined""
I am getting this exception; `(node:11368) UnhandledPromiseRejectionWarning: Error: Evaluation failed: TypeError: Cannot read property 'call' of undefined`

I receive these messages, and then the exception is thrown, without showing the qrcode
✔ Initializing whatsapp
ℹ Authenticate to continue
✔ Loading QR

**The modules I am using:**
`express: ^4.17.1 `
`sulla-hotfix: ^1.6.10`
`ws: ^7.2.1`

**Chr

[2020-01-30 15:03] rfscheidt commented on #81
I have the same error, it happen today.

[2020-01-30 15:04] #80 closed

[2020-01-30 15:20] gnadelwartz commented on #72
[code]

[2020-01-30 15:24] rfscheidt commented on #81
I tried to update to 1.6.13 and the message of error is different:

sapp foka$ node index.js
⠋ Initializing whatsappserver is running ...
✔ Initializing whatsapp
⠋ Authenticating(node:31943) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'autoRefresh' of undefined
    at Object.<anonymous> (/Users/foka/dev/workspace-estudos/whatsapp/node_modules/sulla-hotfix/dist/controllers/ini

[2020-01-30 15:27] arturromaorocha commented on #81
![image](https://user-images.githubusercontent.com/11146355/73463310-6ab7d300-4353-11ea-814d-54d0327e70c2.png)

[2020-01-30 15:35] smashah commented on #71
@ramonck  this should work:

[code]

[2020-01-30 15:37] gnadelwartz commented on #72
Tested 1.6.13:

with create as shown above I get an new error:

[code]

if I add ```autoRefresh: false``` to create I can start my script, but has to authenticate on every start:
[code]

[2020-01-30 16:02] smashah commented on #81
This is happening because in this new version of whatsapp, the state store is in some other address, not in 'eaaehfdjdg' as expected

[2020-01-30 16:39] smashah commented on #65
I have no idea why this is happening it is extremely weird. However, this happens even when autoRefresh is off if you wait a long time to scan the code. This may be related to puppeteer itself.

[2020-01-30 17:26] rfscheidt commented on #81
@smashah, in the version "sulla-hotfix": "^1.6.14", it is ok. Just apear an error at refresh qrcode.

(node:32366) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'qrRefreshS' of undefined
    at Object.<anonymous> (/Users/foka/dev/workspace-estudos/whatsapp/node_modules/sulla-hotfix/dist/controllers/initializer.js:91:81)
    at step (/Users/foka/dev/workspace-estudos/whatsapp/no

[2020-01-30 17:34] smashah commented on #81
@rfscheidt Please try v1.6.15

It's a big change and should address the above issue and the qrRefreshS issue.

[2020-01-30 17:35] smashah commented on #78
Closing this for now. Please reopen if it happens again

[2020-01-30 17:36] smashah commented on #74
@jigipatel Try v1.6.15

[2020-01-30 17:36] #74 closed

[2020-01-30 17:37] smashah commented on #72
@gacalixto @jigipatel @gnadelwartz @barkerpedro This issue is fixed in v1.6.15

[2020-01-30 17:37] #72 closed

[2020-01-30 17:39] smashah commented on #71
Interesting work around. I'll see if there's a more universal method instead of joining a group. Keep us updated with this in a new issue.

@mcroni @ramonck  This issue is fixed in v1.6.15

[2020-01-30 17:39] #71 closed

[2020-01-30 17:39] #81 closed

[2020-01-30 17:44] smashah commented on #65
@jigipatel @dogcalas I have implemented a procedure in  v.1.6.15 that automatically restarts the creation of the client if it detects that the session is invalid for sulla-hotfix to operate properly.
![image](https://user-images.githubusercontent.com/5903821/73475358-1aa73380-4388-11ea-9a78-a32a3977f2ed.png)

[2020-01-30 17:44] #65 closed

[2020-01-30 17:56] ramonck commented on #71
Just to let you guys know that this did stop the TOS Block for now at least :).

Best Regards,

[2020-01-30 20:33] gnadelwartz commented on #72
Better, but can't authenticate, hangs after session invalid. 1.5.9 works with the same script ... strange
[code]

[2020-01-30 20:38] gnadelwartz commented on #72
Only for the records, this is the same script with 1.5.9

[code]

[2020-01-30 20:48] mrbarnk commented on #79
This is what I get after putting this code to check if there is a page crash so to be able to restart the session.

The code

`setInterval(async () => {
              //Returns 'CONNECTED' or 'TIMEOUT' or 'CONFLICT' (if user opens whatsapp web somewhere else)
                await client.isConnected().then(async res => {
                    if (res != true) {
                        console.log('D

[2020-01-31 01:21] ramonck commented on #71
I did get TOS Blocked even with the group url now.
Debug Info {
  WA_VERSION: 'I think you have been TOS_BLOCKed',
  PAGE_UA: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) ' +
    'AppleWebKit/537.36 (KHTML, like Gecko) ' +
    'Chrome/79.0.3945.130 Safari/537.36'
}

Where do I get this information in the code? Is there a Sulla.debug variable?

[2020-01-31 01:27] smashah commented on #71
@ramonck no, it's printed out in the beginning so then you lot can share it in issues when I ask you for it.

You do not have any WhatsApp string in your user agent. Why are you overriding it? If you override the ua then please append the WhatsApp part onto your custom ua.

[2020-01-31 01:32] ramonck commented on #71
Hi @smashah  I'm overriding because you said it was best to override with a custom string so I grabbed my browser's UA and did an override.
Not sure about how to append the WA portion what should be that?

[2020-01-31 01:36] smashah commented on #71
@ramonck fair enough. I think I'll add some code to automatically add the WhatsApp part in a customer UA override. In the meanwhile please use this as your custom ua.

`WhatsApp/0.4.315 Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36`

[2020-01-31 01:43] ramonck commented on #71
Now I got a TOS Blocked on the second execution haha.

[2020-01-31 01:57] smashah commented on #71
@ramonck Ok how about:

`WhatsApp/0.4.315 Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36`

[2020-01-31 08:34] dogcalas opened #82 "Error: Retrying in Invalid date…"
Sulla stop working after a while, nothing came out on console but chromium windows show a
"Retrying in Invalid date…" error.

Steps to reproduce the behavior:
1. Run Sulla Code
2. After a while a the whatsapp windows shows this error message.

**sulla-hotfix version**
```        "version": "1.6.15", ```
**Whatsapp version**
```Debug Info { WA_VERSION: '0.4.315',```

**Screenshots**
![image](https:

[2020-01-31 10:50] smashah commented on #82
Hey @dogcalas can you share the whole debug info

[2020-01-31 12:19] fernandolcardoso opened #83 "WA_VERSION: 'I think you have been TOS_BLOCKed'"
Hello people,

Eventually there is a loss of connection and in some cases it is necessary to stop and start the sulla-hotfix again.

In these cases, when the session is lost, the QR reading should be made available, which was possible in the first versions.

In the latest versions, QR availability has been compromised.

To resover, I need to delete the session folder and all modules.

Finally, I i

[2020-01-31 12:38] fernandolcardoso commented on #83
Duplicate of #71

[2020-01-31 13:26] fernandolcardoso commented on #83
Is the browser agent's information respecting what is reported by any chance?

![image](https://user-images.githubusercontent.com/16019127/73542315-33a8f680-4413-11ea-9ba0-3d0b4fdbb2e6.png)

I took the liberty of opening Chromium directly and accessed WhatsApp Web which answered me correctly with QR.

![image](https://user-images.githubusercontent.com/16019127/73542662-fdb84200-4413-11ea-9e61-4df5

[2020-01-31 14:04] smashah commented on #83
@fernandolcardoso No worries

Can you try the UA mentioned here:
https://github.com/smashah/sulla/issues/71#issuecomment-580547372

I think the lack of Whatsapp and the inclusion of Windows NT results in TOS_BLOCK

[2020-01-31 14:21] mmc16 commented on #83
I am getting this error sometimes because sulla gets a `VALID_SESSION = false`, even though I had already authenticated the session with the QR code....

[code]

[2020-01-31 15:01] smashah commented on #83
If sulla-hotfix says the session is invalid it is invalid (the check is to see if `Store.Msg` exists. If it doesn't then the session is considered invalid. Even if you signed in, none of the client listeners would work without `Store.Msg`)

@mmc16 Please try https://github.com/smashah/sulla/issues/71#issuecomment-580547372 and report back

[2020-01-31 15:43] habibshahid commented on #83
I am experiencing the same problem. I tried the User Agent mentioned in #71 but its still the same.
I delete the session. It regenerates the QR code and after scan it says the session is invalid and tries to re-generate the QR.
I am at the latest version of sulla-hotfix

Kindly advise

[2020-01-31 15:47] gnadelwartz opened #84 "How to use decryptMedia with node.js?"
I want to save recieved media to current dir, so tried to adapt your example from here https://github.com/smashah/sulla/blob/3d7a0e6505b28e44db10a7aee1067fd376f7cfa6/demo/index.ts#L49-L58

As this is typescript I had to adapt it to javascript, see my shortened example below:

[code]

to code pass eslint and does execute, but instead of saving the media content I get only a [promise object].

whats

[2020-01-31 15:53] smashah commented on #84
The demo already saves to current dir. Use ts-node to run the demo or just compile it using tsc.

[2020-01-31 15:57] gnadelwartz commented on #84
I want to use the code in my already existing node script, if Ifllow your suggestion I hav to rewrite everything ... and I'm a javascipt (and much mire typescipt) newbie

Will the following work?

[code]

[2020-01-31 16:00] smashah commented on #83
@habibshahid  without your debug info I wouldn't be able to tell. The only solution I can think of now is to add a timeout before checking for a valid session. In my testing everything is working fine so I will need some repro steps to help you further.

I will release a new version with a timeout soon.

[2020-01-31 16:09] rizki96 commented on #83
I've managed to solve the problem by doing the steps below :
- downgrade the puppeteer to ver. 2.0.0, previously it was 2.1.0
- downgrade sulla-hotfix to ver. 1.6.10
- using default ua (don't use custom ua option when call sulla.create)
- for decrypting media, the user agent is "WhatsApp/2.16.352 Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:72.0) Gecko/20100101 Firefox/72.0"

But there is stil

[2020-01-31 16:13] smashah commented on #83
@rizki96 I also have puppeteer at 2.0.0

I'll make sure to lock it there for now. Thanks for the solution

[2020-01-31 17:48] dogcalas commented on #82
✔ Initializing whatsapp
Debug Info { WA_VERSION: '0.4.315',
  PAGE_UA:
   'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.131 Safari/537.36' }
✔ Authenticating
✔ Whatsapp is ready

[2020-01-31 19:22] gnadelwartz commented on #84
even your ts-node examples for downloading media does hang on my Linux box, so I give up and ignore media for now ...

[2020-01-31 19:22] #84 closed

[2020-02-01 06:26] azisekk opened #85 "Error: Cannot find module"
**I have a problem**
Error: Cannot find module

sorry, its first time i'm using nodejs

how i can find a module? i'm get a error
[code]
the contents of run.js are the same as demo/index.ts

please, i need help

[2020-02-01 08:46] gnadelwartz commented on #85
demo is typescript you need typescript to run it, unfortunately @smashah  gas not documented ghus for newbies like us...

chnge the import statement to

[code]

[code]

if you get a stating try to install `npm install xxx` install it ...

[2020-02-01 09:37] GENL commented on #83
I downgraded pupeeter to version 2.0.0 and the issue "WA_VERSION: 'I think you have been TOS_BLOCKed" was solved.
I also found it is better for production to run sulla with `headless: true` (no visible browser).

[2020-02-01 09:46] azisekk commented on #85
i have been install all, but i still get an error
[code]
how this?

[2020-02-01 10:35] gnadelwartz commented on #83
can confirm it's also working in  my Setup, incl. decrypt media, when using given UA here https://github.com/smashah/sulla/issues/83#issuecomment-580797877
sulla-hotfix 1.6.15 instead say `The session is invalid. Retrying` and hang's

OpenSuse 15.3
pupeteer 2.0.0
sulla-hotfix 1.6.10

default UA on startup

DECRYPTUA = 'WhatsApp/2.16.352 Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:72.0) Gecko/

[2020-02-01 10:38] gnadelwartz commented on #85
do you have the newes sulla-hotfix version? alternatively comment out the complete section https://github.com/smashah/sulla/blob/3d7a0e6505b28e44db10a7aee1067fd376f7cfa6/demo/index.ts#L34-L38

[2020-02-01 10:39] gnadelwartz commented on #84
for decryptMedia solution see here https://github.com/smashah/sulla/issues/83#issuecomment-581016684

[2020-02-01 11:08] azisekk commented on #85
**solved**
it's work.
thanks a lot

[2020-02-01 11:08] #85 closed

[2020-02-01 14:47] nicolaubrasil commented on #82
Same problem here. :( Any solution?

[2020-02-02 00:20] algoz098 opened #86 "How to reply/quote a message?"
Is there a way to reply a message?

As when on a phone you swipe right on a message and you quote it?

WAPI.js has a function but it's not accessible

[2020-02-02 06:05] CosmicSnow commented on #86
I haven't tried it yet, but,
the message object have keys named `quotedMsg:` , `quotedStanzaID` and `quotedParticipant`
where, `quotedMsg` contains `{ type: , body: }`, `quotedStanzaID` contains the msg id (think), and `quotedParticipant` contains the the user jid,

I'll try it as soon as I have time, but, maybe try using these object keys?

[2020-02-02 06:15] CosmicSnow commented on #82
Just for the knowledge, I'm having the same problem,
The session is working fine, but if, for some reason, my smartphone disconnects, or if my whatsapp app keeps idle for too long, I get this problem, which says `trying to connect again in Invalid date...`

there is no error on the terminal.

[2020-02-02 16:43] algoz098 opened #87 "onAnyMessage throws not defined"
**Describe the bug**
When setting a use for 'onAnyMessage' event it doesnt work and throw a error while loading the api

**To Reproduce**
Steps to reproduce the behavior:
1. Set up sulla
2. Add a event callback for the funcion onAnyMessage
3. Scan the QR code

**Expected behavior**
The event would be fired when send a message or received

**sulla-hotfix version**
1.6.1 and 1.6.10

**Whatsapp versi

[2020-02-03 11:52] jigipatel opened #88 "getting invalid session with TOS Block error"
Hello,

![TOS_Block error](https://user-images.githubusercontent.com/33049650/73650706-c615f800-46a8-11ea-99a4-972e036c1f9b.png)

I'm getting 'the session is invalid. retrying' and after that getting possibly TOS_BLOCKed error. not able to execute forward.

i have tried on windows and ubuntu with different whatsapp number but no luck.
please help me to solve this issue

Thank You.

[2020-02-03 12:49] gnadelwartz commented on #88
gave you read this issue? https://github.com/smashah/sulla/issues/83#issuecomment-580796345

[2020-02-03 12:54] alishahlakhani commented on #88
Even I'm getting this issue @gnadelwartz
I did try to go back to old versions it still doesn't work for some reason.

[2020-02-03 12:59] gnadelwartz commented on #88
ok, try the following:

[code]
do not override useragent on sulla startup! from your script!

this works for my script, but you have to rm session and reauth on every start.

[2020-02-03 13:08] alishahlakhani commented on #88
This works now!! thanks :D

[2020-02-03 13:25] gnadelwartz commented on #88
Glad to hear, thats exacly the solution described in https://github.com/smashah/sulla/issues/83#issuecomment-580796345

So you can close the issue

[2020-02-03 13:52] smashah commented on #88
I'll release a new version with the above fix in about an hour thanks

[2020-02-03 14:38] ChrisB0701 commented on #82
Same here. Once there are no incoming or outgoing messages for more than a few minutes, the above mentioned message is shown.

[2020-02-03 15:28] smashah commented on #88
duplicate #83

[2020-02-03 15:28] #88 closed

[2020-02-03 15:33] smashah commented on #83
Puppeteer is locked to 2.0.0 in v1.6.16

[2020-02-03 15:33] #83 closed

[2020-02-03 15:33] smashah commented on #87
onAnyMessage should be working as expected in v1.6.16

[2020-02-03 15:33] #87 closed

[2020-02-03 15:35] smashah commented on #88
Puppeteer is locked to 2.0.0 in v1.6.16

[2020-02-03 16:32] smashah commented on #82
Just gonna leave my notes here.

Ran in console:
[code]

[code]

[code]

Now I use these indexes in the main app code to find out what results in the triggering of these 2 string identifiers to be rendered.

Open https://web.whatsapp.com/app.9d707d8cc13bce7894d2.js in sources tab. Beutify.

[code]

Looks like the invalid date is a result of c being humanized(). Doesn't look like a fundamental issu

[2020-02-03 16:34] smashah commented on #86
ReplyMessage in WAPI.js doesn't work

[2020-02-03 18:46] smashah commented on #86
@algoz098 @CosmicSnow This is now implemented in v1.6.17

https://github.com/smashah/sulla#reply-to-messages

Thanks

[2020-02-03 18:46] #86 closed

[2020-02-03 19:03] smashah commented on #4
Note: To see all possible participant events

[code]

Also make sure to set active to true on every change:active event.

[2020-02-03 19:37] smashah commented on #4
[code]

[2020-02-03 21:18] smashah commented on #79
@mrbarnk Please see https://github.com/smashah/sulla/issues/76#issuecomment-579824368
and update to latest version. If this happens again please reopen thanks

[2020-02-03 21:18] #79 closed

[2020-02-03 21:19] smashah commented on #55
Closing this for now thanks.

[2020-02-03 21:19] #55 closed

[2020-02-03 22:28] smashah commented on #53
Updated readme: cf7f94b

https://github.com/smashah/sulla#group-participants-beta

v.1.7.0 is now live

Thanks.

[2020-02-03 22:28] #53 closed

[2020-02-04 00:54] smashah commented on #20
@LucasDibz @marcelocecin

You can now create groups and do all actions mentioned above in v1.7.2

https://github.com/smashah/sulla#create-group
https://github.com/smashah/sulla#group-participants-beta

Thanks

[2020-02-04 00:54] #20 closed

[2020-02-04 08:41] ChrisB0701 commented on #82
Thanks for looking into this! I have not been able to execute all of the requested steps but here are the results of what I could test so far. I'm testing with the locally installed chrome.exe on Windows 10.

Nothing happens. No retry is executed and the screen still shows "Retrying again in: Invalid date". The console shows the following error:
![waweb001](https://user-images.githubusercontent.co

[2020-02-04 08:57] dogcalas commented on #82
I believe this issue isn't related to invalid dates. When this error comes, can be seen in the browser an infinite attempts of ws connections, but they are all rejected. All connections attempts are closed by the server.
The invalid date message comes because whatsapp is trying to find a retry timestamp in ```m.default.retryTimestamp```  but is undefined.

1. What happens when you press retry now?

[2020-02-04 12:23] mrbarnk commented on #76
sendText doesn't send seen in new version sir.

[2020-02-04 12:48] jigipatel opened #89 "not able to send message to someone from my contact (with whom i have not initiated chat yet)"
Hello,
i'm not able to send message to someone from my contact with whom i have not initiated chat yet.
please help me to find some solution for this scenario.
Thank You.

[2020-02-04 13:04] ramonck opened #90 "Hanging on Initializing whatsapp"
√ Initializing whatsapp
[code]
The issue is basically the session is already "opened" but after disconnecting on the terminal (ctrl+c) and trying to re-run to fetch the session again the second time it did work again fine. The third time it stopped working it's now just hanging and there's no TOS_Block issue for now I can see the normal screen in Whatsapp.

![image](https://user-images.githubuserc

[2020-02-04 13:24] smashah commented on #76
@mrbarnk please fill out a new issue with the template

[2020-02-04 14:11] smashah commented on #90
@ramonck how many times has this happened? I've followed your steps for reproduction but unable to reproduce. Also, please next time can you use the issue template. It saves a lot of time.

[2020-02-04 14:15] mrbarnk opened #91 "sendText doesn't send seen in new version"
After updating to newer version, I discovered that messages are not gettiing the blue indicator that shows it has been read.
`sendText` doesn't sendSeen in new version sir.

[2020-02-04 14:19] smashah commented on #91
@mrbarnk please follow the issue template: https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=

[2020-02-04 14:19] #91 closed

[2020-02-04 14:47] mmc16 opened #92 "Same old story: TOS Blocked"
**Describe the bug**
I am still encountering this error... But this time I am trying to run sulla on a remote server. I cleaned the session data, tried different UA (I even used the new smartUserAgent), to no avail. On my local computer it works just fine.... (its OS is Manjaro).

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
Don't get blocked

[2020-02-04 14:49] smashah commented on #82
@dogcalas @ChrisB0701 Can you check in your network tab and see what the status code is of the WebSocket connection.

Also, what is the status of your bots? I.e is it in production and being used heavily, just in local development etc.?

[2020-02-04 14:56] smashah commented on #92
@mmc16 thanks for using the issue template and providing all context and details.

Can you vnc into the server and open WhatsApp web? My suspicion is that due to the fact it's in a cloud server, your IP is being blocked.  Who is the cloud provider?

Or it could be the fact that your browser version is 'HeadlessChrome'.

[2020-02-04 15:02] mmc16 commented on #92
Sooooo, just now I tried creating the session without all those parameters, just `sulla.create(`sessionData/${req.params.sessionId}`)`, and it worked....
Yeah, I should've tried this earlier.

[2020-02-04 15:02] #92 closed

[2020-02-04 16:48] ramonck commented on #90
@smashah it's hapenning all the time and I noticed something weird too, it's combined with this situation of session invalid.
I tried fresh from another folder too from zero and it still persisted the issue

but then it resolves.. in headless:false I can see it's authenticating fine.. seems there's some bug somewhere on the steps, maybe it didn't wait for the promise were it need to wait a bit mor

[2020-02-04 17:04] smashah commented on #90
@ramonck please share your create code. The invalid session message is normal. Try again with latest version.

[2020-02-04 17:09] rfscheidt opened #93 "Problem to use loadAndGetAllMessagesInChat method with big contact list"
I'm using the `loadAndGetAllMessagesInChat` method (as shown in the code below). When using on a cellphone with until 1000 contacts it works fine, however I have 40k contacts on my list. The method takes a long time to initialize the reading of the first contact (in general, do not work). Is there any way to improve the performance of this method? Thank's a lot!
[code]

[2020-02-04 17:11] rfscheidt commented on #90
I am using the last version and it is ok!

[2020-02-04 17:15] ramonck commented on #90
sulla.create('session',
      { headless:false,
        whatsappUrl: 'https://web.whatsapp.com/accept?code=xxxxxxxxxxxx'
      }
      ).then(client => {start(client)});

[2020-02-04 17:20] ramonck commented on #90
I tried fresh again new folder installed sulla-hotfix again and that session invalid happens again.

![image](https://user-images.githubusercontent.com/5229948/73769229-12b90c00-4759-11ea-9efd-1c1439f1e1f6.png)

Another thing I noticed too is that it takes a long while to go to the next step after the initializing whatsapp I can see in headless:false even the QRcode changing before going to the ne

[2020-02-04 17:20] smashah commented on #90
@ramonck try without the whatsappUrl since that was a workaround for the TOS_BLOCKing. You shouldn't need to do that anymore

[2020-02-04 17:22] ramonck commented on #90
I'm still getting that session invalid thing even taking out the url. I'm going to try fresh again in another folder and let you know.

[2020-02-04 17:27] smashah commented on #93
@rfscheidt damn son! 40k! What the hell are you using this for?

With sulla-hotfix, the bottleneck will always be the browser session. There's nothing that can be done to make this any quicker. I would suggest making this operation some sort of background pub-sub-type process instead of a single function and then queue up these requests to stop your whole instance from freezing up.

[2020-02-04 17:30] smashah commented on #90
Ok. The last thing I would suggest is to run with a chrome instance and using the new smartUserAgent function

https://github.com/smashah/sulla/blob/490e5472a1e5c7164831b117f959668f8f2b88de/src/utils/tools.ts#L6

[2020-02-04 17:32] smashah commented on #89
This function will not be developed to prevent this project from being used to spam people.

[2020-02-04 17:32] #89 closed

[2020-02-04 17:52] rfscheidt commented on #93
@smashah how can I queue up the call client.loadAndGetAllMessagesInChat method? is there a way to do this from the outside (in the method call)?

[2020-02-04 18:01] ramonck commented on #90
I'm just using the default UA now since the TOS block went await.
I just think the session thing is weird, it gives that error then it connects. It's almost like a boot after the first scan.

[2020-02-04 18:12] smashah commented on #93
@rfscheidt you'll need to architect your API to respond with something like `your request is in the queue` then add the job `getEveryMessageInChat` into a properly configured [promise queue](https://github.com/sindresorhus/p-queue) then once it's done you'll need to inform that user that the process has been completed and respond with the actual data.

One possible solution would be to filter the

[2020-02-04 18:15] smashah commented on #90
@ramonck I implemented the invalid session checker due to the fact that sometimes, when a user waits too long to scan the QR code (or when qr autorefresh is on), the session becomes invalid (i.e Store.Msg does not exist, which in turn results in `client.onMessage` not working). So it automatically restarts the browser & page and because it's already authenticated, it loads up properly the second t

[2020-02-04 18:19] rfscheidt commented on #93
But I know that freezing up in the part  client.loadAndGetAllMessagesInChat(chatId, false, false).

[2020-02-04 18:31] smashah commented on #93
@rfscheidt yes, that will remain the bottleneck, my suggestion at the end of the last comment was to improve speed and efficiency in other areas. Regarding the rest of my comment:
[![](https://mermaid.ink/img/eyJjb2RlIjoic2VxdWVuY2VEaWFncmFtXG5cdENsaWVudC0-PitBcHA6IFwiL21zZy9yZXRyaWV2ZS9zYXZlYWxsYnlqc29uaXRlbS9cIlxuXHRBcHAtLT4-UXVldWU6IEFkZHMgcmVxdWVzdCB0byBxdWV1ZVxuXHRBcHAtPj5DbGllbnQ6IFlvdXIgcmV

[2020-02-04 19:40] LucasDibz opened #94 "client.sendFile // Not Working Anymore"
**Describe the bug**
A clear and concise description of what the bug is.
client.sendFile stopped working with update, was working with version "sulla-hotfix": "1.6.05".
No error is thrown.
**Steps to Reproduce**

**create() code**
[code]
**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[code]

**Host (please complete the following information

[2020-02-04 19:47] rfscheidt commented on #93
I tried several ways to parallelize the call, but freezing up the method "const msgs = await client.loadAndGetAllMessagesInChat (chatId, false, false)";

I have a lot of contacts (40k) it looks like tries to load everything before loading just this record (chatId).

[2020-02-04 19:55] mrbarnk opened #95 "The sendText method is not sending seen"
The blue marker on whatsapp that identifies that the message has been read is no longer working.

Please help look into that,

[2020-02-05 00:48] ramonck commented on #90
let me see if it stops working on the new folder then if it doesn't stop working I will close the ticket, if it stops working again then it's a wacky behavior.

[2020-02-05 01:49] algoz098 opened #96 "Method reply fires onAnyMessage several times"
**Describe the bug**
When have a onAnyMessage listenner, and send a reply it fires the event several times

**Steps to Reproduce**
1. Create a sulla basic setup
2. Set a function for onAnyMessage
3. Use the Reply function to send a reply to anything
It will fire the onAnyMessage more than 1 time

**create() code**
global.sender = await sulla.create(session, options);
global.sender.onAnyMessage(asy

[2020-02-05 02:22] smashah commented on #96
This is expected behaviour and by design as it is supposed to be a raw listener. You will need to implement a debouncer yourself. Although I will accept any PRs for a new listener with the functionality you are expecting.

[2020-02-05 02:22] #96 closed

[2020-02-05 02:51] smashah commented on #95
@mrbarnk I've tried this manually it seems to be working fine. I cannot help you if you don't use the bug template or at least provide all the detail that is required in the template:
https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=

I really want to help out but I also have other things to do which is why I want people to use the template so we can be a

[2020-02-05 02:51] #95 closed

[2020-02-05 02:58] smashah commented on #94
Hi @LucasDibz

Thanks for following the template. You have not shared your create() code. Can you do that, please?

Here's an example:
https://github.com/smashah/sulla/issues/96#issue-560091558

I have tried with PDFs on the latest version and it is working fine. sendFile code has not changed for a very long time.

[2020-02-05 08:21] ChrisB0701 commented on #82
Today I noticed this additional error in the browser debug console after the "Retrying in invalid date..." message appeared:
`4app.e01fef611b286eaf8de8.js:2 WebSocket connection to 'wss://web.whatsapp.com/ws' failed: Error during WebSocket handshake: Unexpected response code: 502`

The network console was full of the following:
![waweb002](https://user-images.githubusercontent.com/34131544/7382342

[2020-02-05 15:32] smashah commented on #94
Just FYI, i would suggest against using headless chrome

[2020-02-05 15:58] smashah commented on #82
@ChrisB0701 thanks. Few observations:

1. Looks like WhatsApp is screwing with your ws and blocking it?
2. The user agent for the is messed up. @ChrisB0701 can you please share your debug info and your create code as well.

[2020-02-05 16:44] LucasDibz commented on #94
That's the whole code:
`const startBot = (client) => {
                fs.readFile(`${folder}${file}`, (err, data) => {
                    try {
                        client.sendFile(
                            tel,
                            `data:application/pdf;base64,${data.toString('base64')}`,
                            filename,
                            `Caption`

[2020-02-05 17:56] guijob commented on #94
Here neither `sendFile` or `sendImage` seems to work:

**create() code**
[code]
I've tried without options too:
[code]

**DEBUG INFO**
[code]
I'm running in **Ubuntu 19.10**

No errors thrown in chrome console or in my application.

[2020-02-05 18:03] GENL opened #97 "Force close puppeteer session browser"
Can you implement a simple way to close the browser of a session handled by puppeteer?,

[2020-02-05 19:18] smashah commented on #97
https://github.com/smashah/sulla/blob/master/README.md#kill-the-session

[2020-02-05 21:46] GENL commented on #97
That not exaclty the same. I mean closing the browser directly with puppeteer, when the client instance is not already created. For example when the qr has not been scanned yet. The KILL method only works with an existing whatsapp client instance

[2020-02-05 23:20] andersondeoliveiramachado opened #98 "WhatsApp Buttons"
![image](https://user-images.githubusercontent.com/1152426/73892179-f13d4a80-4854-11ea-80b3-8723d7df3290.png)

[2020-02-05 23:26] joaomirandasa commented on #98
**Woow**! We can create amazing things with this kind of messages, someone knows how to implement?!
Following this issue! Up Up

[2020-02-06 01:10] smashah commented on #98
oh my word
 I always knew there was a button type. Never seen it in the wild though.

[2020-02-06 01:20] smashah commented on #98
might need to skype call/remote desktop one of you to reverse engineer this one.

[2020-02-06 01:22] joaomirandasa commented on #98
@smashah Awesome! i'm excited to initiate an reverse engineer on this one - i will send you an private message to discuss better

[2020-02-06 01:25] joaomirandasa commented on #98
Meet-me at Telegram to better discuss: https://t.me/liveapps

[2020-02-06 01:35] smashah commented on #98
Join discord:

https://discord.gg/uk5mbn

[2020-02-06 01:48] smashah commented on #98
@andersondeoliveiramachado @joaomirandasa let me know once you've joined my tag is @ shah

[2020-02-06 02:56] joaomirandasa commented on #98
Degug information about new message type:

[template_button.txt](https://github.com/smashah/sulla/files/4162985/template_button.txt)

[2020-02-06 03:28] smashah commented on #98
thanks @joaomirandasa

The questions are of type template. They can also have subtypes (i.e the body of the questions). Also the buttons themselves have subtypes (i.e the action performed in response to the question) as seen below in the WhatsApp app code.

![image](https://user-images.githubusercontent.com/5903821/73903245-6712d780-4890-11ea-87db-a802b30de9e2.png)

This means that you can send a

[2020-02-06 10:51] GENL commented on #97
I mean something like `sulla.create('sessionId', {closeSessionBrowserIfLaunched = true})` to create a whatsapp client instance with a new fresh browser to avoid about:blank when calling sulla.create twice when we don't have a whatsapp client instance yet.

[2020-02-06 11:22] ChrisB0701 commented on #82
Seems so, but I can't figure out the reason. As I said - after restarting the script, the session is still valid and the connection is re-established.

**Here is my debug info:**
[code]

**This is my create code:**
[code]

Sorry, I'm no expert on the UA stuff. I copied the user agent info out of my chrome. Did I do something wrong here?

[2020-02-06 11:40] smashah commented on #97
@GENL why would you call create twice with the same sessionid?

[2020-02-06 11:53] GENL commented on #97
I need it especially when I haven't scanned the qr code in time. Instead of restarting the server, I just set up an endpoint which I call to request another qr code (sulla.create). The second time I call the endpoint, "about: blank" is open because the session browser is already open. The solution is to close the current open browser for this session and open a new one.

[2020-02-06 13:35] andersondeoliveiramachado commented on #98
https://wa.me/5511955705173?text=Ol%C3%A1,%20UAM!

this is the college whatsapp link that has this business account with this button feature.

[2020-02-06 13:42] andersondeoliveiramachado commented on #98
![image](https://user-images.githubusercontent.com/1152426/73942135-4d43b580-48cd-11ea-9135-907a352109bb.png)

[2020-02-06 14:29] smashah commented on #98
I've managed to construct this message properly however, unfortunately, the message gets 'dropped'.

[2020-02-06 14:37] andersondeoliveiramachado commented on #98
most likely to have validation by account type. This account is a business account.

[2020-02-06 15:30] joaomirandasa commented on #98
@smashah Could you give me more information about the drop? witch kind of account did you used to test, an Business or personal account?

Probably this just can be sent from WBusiness and searching aboout informations of that previous number we realize it's not an verified account - so probably they are using an 3rd party solution provided by someone else, at this moment me and @andersondeoliveira

[2020-02-06 16:00] smashah commented on #98
I fixed the drop. It doesn't come out the other end with the buttons though.

[2020-02-06 16:29] ramonck commented on #90
I'm closing it because it's working fine now, maybe it was some crazy issue with the other folder or mixed versions I don't know. Seems to be ok for now, no further issues.
Thanks @smashah

[2020-02-06 16:29] #90 closed

[2020-02-06 17:09] marcelocecin commented on #98
https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates/
https://developers.facebook.com/docs/whatsapp/api/messages/message-templates/media-message-templates/
https://developers.facebook.com/docs/whatsapp/message-templates/
https://developers.facebook.com/docs/whatsapp/message-templates/guidelines/
https://developers.facebook.com/docs/whatsapp/message-templates/crea

[2020-02-06 19:46] smashah commented on #98
This is the blocker:

![image](https://user-images.githubusercontent.com/5903821/73971923-bd772900-4917-11ea-8171-a93389b27e1c.png)

If it detects that you're trying to send a template with a `subtype:text` then it converts it to a `type:chat` then parses it again. I believe that if this can be bypassed then the buttons would go through properly.

[2020-02-06 20:00] smashah commented on #98
@andersondeoliveiramachado @joaomirandasa @marcelocecin have a play around in the chrome console.

https://github.com/smashah/sulla/blob/a9b94acd08ca4067f13eb0bd926ce1d257b7bdcc/src/lib/wapi.js#L1689

I can't get this to work 🤷

[2020-02-06 20:05] andersondeoliveiramachado commented on #98
Is it possible to test with any type of account?

[2020-02-06 20:14] smashah commented on #98
I've tested with both business and personal and it changes into a normal chat during sending. Doesn't work on either as expected. The only thing left to do is to mutate the app code somehow. I don't know how to do that

[2020-02-06 20:17] marcelocecin commented on #98
I believe that it is not possible to send this type of message via whatsapp web, only via official API

[2020-02-06 20:22] marcelocecin commented on #98
@andersondeoliveiramachado could you try to share the message with another number on whatsapp web and attach the prints?

[2020-02-06 20:22] andersondeoliveiramachado commented on #98
![image](https://user-images.githubusercontent.com/1152426/73975439-15586480-4905-11ea-91d8-55220fc5d7e1.png)
![image](https://user-images.githubusercontent.com/1152426/73975536-4df83e00-4905-11ea-86ec-41d2312ddc1e.png)

[2020-02-06 20:32] joaomirandasa commented on #98
I tried to share message with another number, buttons simply disapear! i don't know why but isn't work as expected.

![Captura de Tela 2020-02-06 às 17 24 54](https://user-images.githubusercontent.com/29043431/73975696-a29bb900-4905-11ea-9b41-444f5145eace.png)

[2020-02-06 20:42] andersondeoliveiramachado commented on #98
Yes , what is the number?

[2020-02-07 02:50] smashah commented on #98
tiny update

![image](https://user-images.githubusercontent.com/5903821/73996815-9d198f80-4954-11ea-8351-f6f18884d852.png)

[2020-02-07 04:37] smashah commented on #98
try this in the browser:

https://github.com/smashah/sulla/blob/82ee145b9d83222aa506ff3bfc72a9aacd9164da/src/lib/wapi.js#L1692

I think this is as close as i'm gonna get for now.

[2020-02-07 05:08] Douglas12ds commented on #98
Wow! Sulla is envolver faster than i thought. Great to see this. Soon I'll test the button's features.

Also... Looks like brazilian people loves Sulla. I have never seen an non-brazilian repository with so many brazilians interacting.

_Beijos do Brasil!_

[2020-02-07 05:10] joaomirandasa commented on #98
Thanks Sulla for so engagement on discover and reproduce this features! Amazing to see this project growing every day.

Regards from Brazil! Come here to drink a beer!

[2020-02-07 07:21] ChrisB0701 commented on #82
As mentioned above, unfortunately the state does not change. Any idea on another way to identify this event? Then I could kill and restart the session.

[2020-02-07 09:56] marcelocecin commented on #98
<img width="834" alt="original" src="https://user-images.githubusercontent.com/2955762/74019595-aae00c80-4976-11ea-8ed3-d330630e61ae.png">

I believe that it is not possible to send this type of message via whatsapp web, only via official API
when I try to forward to another contact, only the text is forwarded and not the buttons

<img width="843" alt="fw" src="https://user-images.githubuserconten

[2020-02-07 10:12] alishahlakhani opened #99 "Can't download profile pictures"
When I call `client.getProfilePicFromServer('XXXXXXX-YYYYY@c.us')` I get a url. When I use that URL do fetch image it doesn't work. Do I need to send any cookies or auth headers with it? Is the image download blocked from CORS settings or something?

[2020-02-07 10:27] #99 closed

[2020-02-07 10:28] alishahlakhani commented on #99
Found a fix in related comments #32

[2020-02-07 12:14] arelxcode opened #100 "sending images with puppeteer"
can download file/sending a file/image/videos without change to chrome?

i run this module in aws c9 but i can't send images/file/videos

[2020-02-07 15:13] ramonck commented on #93
I agree with @smashah I think if you work on queues it should be the best approach to optimize.

Another idea too can be with an async function you can use a for await, make sure that you have the "chunk" give it some breathing room with timeout or whatever then continue.

You need to free up memory and then continue, that should be the path.

[2020-02-07 17:50] haroldorodsilva commented on #94
@LucasDibz did you have find a solution?

[2020-02-07 18:28] smashah commented on #97
Ok good idea

[2020-02-07 19:07] smashah commented on #100
Please reopen with template. Possible duplicate of #94

[2020-02-07 19:07] #100 closed

[2020-02-07 19:22] LucasDibz commented on #94
@haroldorodsilva not yet, trying with diff create setting...still no success... maybe something about puppeteer?

[2020-02-07 19:29] smashah commented on #94
@LucasDibz what puppeteer v are you running?

[2020-02-07 20:05] arturromaorocha commented on #98
Boa tarde, como implemento isso? devo chamar o  'sendButtons2' com algum parâmetro?

Good afternoon, how do I implement this? should I call 'sendButtons2' with any parameters?

[2020-02-07 20:36] LucasDibz commented on #94
@smashah sullas default,
 "_requested": {
    "type": "version",
    "registry": true,
    "raw": "puppeteer@2.0.0",
    "name": "puppeteer",
    "escapedName": "puppeteer",
    "rawSpec": "2.0.0",
    "saveSpec": null,
    "fetchSpec": "2.0.0"
  },

[2020-02-07 22:02] smashah commented on #94
@LucasDibz can you run the demo, send it a pdf then see if it replies with the pdf?

[2020-02-07 22:58] haroldorodsilva commented on #94
I am testing with the clone of the project and works fine. I used this code below:

  client.onMessage(async message => {
    try {
      const isConnected = await client.isConnected();
      console.log('TCL: start -> isConnected', isConnected);

      if (message.body.toUpperCase() === 'image'.toUpperCase()) {
        const image = await utils.getFileInBase64('image.png');

        console.log('

[2020-02-07 23:08] joaomirandasa commented on #97
@GENL Amazing idea, did you already try code this?! If yes, please post for us help or collab.

Thank you, nice idea! Following the issue.

[2020-02-07 23:19] haroldorodsilva commented on #94
Now I had created a new project and make a clone of sulla inside this project. I used the script build to generate the foldes dist and used this folder.

const { create } = require("./sulla/dist");
const utils = require("./utils");

const startBot = client => {
  client.onMessage(async message => {
    try {
      const isConnected = await client.isConnected();
      console.log(" start -> isConne

[2020-02-07 23:23] haroldorodsilva commented on #94
with package don't work too:

const { create } = require("sulla-hotfix");

[2020-02-08 01:34] smashah commented on #97
hold on a second, you can use QR auto-refresh for this.

[2020-02-08 06:11] GENL commented on #97
Yes, I tried, but it's fast, it generates too much qr code until you scan one, so the listener method is called several times so too many qr images are saved. In production, chrome is headless, so I think it's always a good idea to be able to close an unused browser session that was open.

[2020-02-08 07:05] smashah commented on #97
@GENL why don't you just keep overriding the same file? You can also set the frequency for the refresh.

I've tried running the demo script twice but there's no way for puppeteer to know whether or not a session exists already after running puppeteer.launch() unless it crashes. When it does crash you can't really shut down the browser since it doesn't exist really.

The best solution to this would

[2020-02-08 07:37] GENL commented on #97
Ok for a timer. It's an alternative that can do the trick.

[2020-02-08 09:26] jigipatel opened #101 "not able send message to new contact number which is saved in device but not initiated whats app chat yet"
Hello,
i'm not able send message to new contact number which is saved in my device but i have not initiated whats app chat yet.

i need your help will you please suggest some solution how it will be achieved.
Thank You.

[2020-02-08 10:44] jigipatel opened #102 "after logout from mobile device qr code not generating"
Hello,
I want to recreate qr code when user logout from mobile device or conflict occurs but not able to do that. i have also called client.forceRefocus() on CONFLICT and UNPAIRED onStateChanged callback.
please help me to solve this issue.

Thank You.

[2020-02-08 12:52] arturromaorocha commented on #101
É necessário ter iniciado uma conversa anteriormente com o contato. PT-BR

You must have started a conversation with the contact previously. PT-BR

[2020-02-08 15:01] smashah commented on #102
Force refocus will only work on conflict. On unpaired, run client kill then create it again

[2020-02-08 15:25] ChrisB0701 commented on #82
So I was not able to figure out the reason for this. I assume it is connected with the puppeteer environment: If I open wa web on the same machine in a regular chrome session without sulla and puppeteer, the connection is not lost. If I open wa web within sulla on the same machine and with the same wa account, the connection is lost and the above mentioned message is shown sooner or later.

Howeve

[2020-02-08 15:49] smashah commented on #82
@ChrisB0701 you can listen to state changes with this:

https://github.com/smashah/sulla/blob/82ee145b9d83222aa506ff3bfc72a9aacd9164da/demo/index.ts#L43

[2020-02-08 16:04] ChrisB0701 commented on #82
I know, but for whatever reason, this event is not triggered when the "Retrying in..." screen appears. At least not in my setup... I don't know why.

[2020-02-08 17:34] haroldorodsilva commented on #94
@smashah Can you try using download the library from npm and using files .js ?

because cloning the project and running ts-node on demo is working.

[2020-02-08 17:38] cucabr commented on #94
the same problem occurs here. any ideas on how to solve?

[2020-02-08 18:29] smashah commented on #94
I've moved totally to using ts-node for everything. I'd suggest migrating to that if it works until this issue gets sorted.

[2020-02-08 19:22] cucabr commented on #94
@haroldorodsilva I'm a noob with ts-node. do you know how do i import the modules and be able to execute the code that you posted? I would be very grateful if you could help me.

[2020-02-08 19:40] smashah commented on #94
@cucabr same as demo/index.ts

[2020-02-08 20:05] cucabr commented on #94
around here, even using the ts-node with project clone (actual), it's not ok. nothing happens. and no errors appear either. sad. I discovered this repository today.

[2020-02-08 20:23] andersondeoliveiramachado commented on #98
No momento a função ainda não funciona ( Botões não chegam ao destino ) . Você pode fazer uma chamada utilizando sendButtons2 para ver os botões no web browser do remetente.

At the moment the function still does not work (Buttons do not reach the destination). You can make a call using sendButtons2 to see the buttons on the sender's web browser.

Comment Line :

       //comment the next line to

[2020-02-08 20:32] smashah commented on #98
thanks @andersondeoliveiramachado

The next thing to try is setting up an instance of sulla-hotfix on the receivers phone with onAnMessage listener and seeing if it actually receives the message with the correct type (template).

[2020-02-08 20:49] andersondeoliveiramachado commented on #98
very good idea, so you can clear a doubt if the message is being modified after sending.

[2020-02-08 21:08] smashah commented on #97
@GENL in v1.7.6 you set a killTimer now:

https://github.com/smashah/sulla/blob/26b7b403dd7a3711f77c9762eb620160c3ec97ee/demo/index.ts#L122

let me know if this works for you.

thanks

[2020-02-08 21:20] andersondeoliveiramachado commented on #98
with the active line return Store.sendMsgRecord(t), I get a message at the destination like this:

![image](https://user-images.githubusercontent.com/1152426/74092201-9186af80-4a9f-11ea-80e5-9cc27b7dd246.png)

[2020-02-08 22:38] smashah commented on #82
@ChrisB0701 can you join the discord so I can remote desktop with you since I'm not able to reproduce.

https://discord.gg/f7dvea

Go to the sulla-hotfix channel

[2020-02-08 23:56] smashah commented on #101
Duplicate #89

[2020-02-08 23:56] #101 closed

[2020-02-09 00:23] haroldorodsilva commented on #94
The test that I think must be made is create a project with typescript and install the package with npm and try.

@cucabr não sou tão bom com typescript, procurei na Net apenas para testar. Tem que instalar o typescript e o ts-node e depois só rodar: ts-node demo/Index.js...

[2020-02-09 00:24] haroldorodsilva commented on #94
I'll post here later the code latter

[2020-02-09 00:24] haroldorodsilva commented on #94
I'll post here later the code latter

[2020-02-09 01:15] haroldorodsilva commented on #94
You're right, I updated and did not send the image. @smashah

I deleted the folder and cloned version 1.7.6 again and also did not send the image. I downloaded 1.7.5 in the releases and made the same change and it didn't work anymore.

Now I don't understand what happened. I will attach my files here from 1.7.6

[2020-02-09 01:16] haroldorodsilva commented on #94
[sulla_176.zip](https://github.com/smashah/sulla/files/4176346/sulla_176.zip)

[2020-02-09 03:27] smashah commented on #94
@LucasDibz @haroldorodsilva @cucabr try v1.7.7 it should be fixed now.

Let me know how it goes. Thanks.

[2020-02-09 08:19] GENL commented on #97
Thanks for this implementation.
It's a shame that it is not possible to close a session on the fly before the whatsapp session.
Is this can be possible if sulla-hotfix expose the puppeteer browser instance just after it launches through a callback. I mean something like: `sulla.create ('sessionId', {}, onBrowserLaunched: (browser) => / * So I can get this browser instance, store it in a global var

[2020-02-09 12:49] haroldorodsilva commented on #94
@smashah In version 1.7.7 it worked perfectly both in the demo of the clone, via npm and using the compiled dist.

Thanks

[2020-02-09 13:44] haroldorodsilva commented on #97
@smashah  How can I treat and get the error of killtime?

Session timed out. Shutting down
(node:6388) UnhandledPromiseRejectionWarning: Error: QR Timeout
    at D:\Projetos\Node\sulla_teste\node_modules\sulla-hotfix\dist\controllers\initializer.js:146:27

[2020-02-09 13:51] smashah commented on #97
@haroldorodsilva add catch to your create code.

https://github.com/smashah/sulla/blob/7dcf40146c88a23c282b39641f97edaabda20e99/demo/index.ts#L128

@GENL sulla-hotfix doesn't have visibility onto your set up so you will have to set it up yourself. The killtimer should work for your needs for now.

[2020-02-09 14:22] GENL commented on #97
@smashah  Thanks for your help and your time.

[2020-02-09 20:07] #97 closed

[2020-02-09 22:08] haroldorodsilva opened #103 "Throw error in TOS_BLOCKed"
I am testing the killtimer and after some time without scan the qr-code I receive the TOS_BLOCKed.
[code]
@smashah Could you get the messages of error and put inside a error to be possible we catch later?

[2020-02-10 07:19] group2tts opened #104 "sendVCard MsgKey error"
window.WAPI.sendVCard('79999999999@c.us', "{ displayName: 'Contact Name', vcard: 'BEGIN:VCARD\nVERSION:3.0\nN:;Contact Name;;;\nEND:VCARD' }");

`Error: MsgKey error: something's not a wid: from:79999999999@c.us to:78797895685@c.us p:undefined
 at new e (app2.376a0367d0e928b68f73.js:2)
    at Object.createQuotedMsg (app2.376a0367d0e928b68f73.js:2)
    at a.value [as _getQuotedMsgObj] (app2.376a036

[2020-02-10 08:46] ChrisB0701 commented on #82
I think, I had an error in my usage of the onStateChanged method. In my first implementation it was not firing anything at all. Now I got it working and since then there hasn't been any disconnects. There are regularly sequences of "OPENING - PAIRING - CONNECTED" but the connection has been re-established in all cases so far.

I will keep you posted and let you know about the result, once there is

[2020-02-10 12:30] LucasDibz commented on #94
@smashah Perfect!

thanks!

[2020-02-10 16:25] amajai opened #105 "Module not found: Can't resolve 'ws' in React js"
I keep getting this error when I try to import sulla library on react js.

`
./node_modules/puppeteer/lib/WebSocketTransport.js
Module not found: Can't resolve 'ws' in 'D:\project_folder\node_modules\puppeteer\lib'
`

 How can I resolve it please?

[2020-02-10 16:32] gnadelwartz commented on #105
I know react.js as a framework running in a browser, do you really want to run chrome (puppeteer) inside a browser?

[2020-02-10 16:40] amajai commented on #105
@gnadelwartz Oh, so pupperteer wouldnt work with react.js since its already in a browser or its not recommended? I was planning to create a web app built with the sulla library as a small project.

[2020-02-10 16:50] gnadelwartz commented on #105
puppeteer is not running in a browser its a full-blown chrome browser and cannot run inside an other browser. im not a specialist for react.js but to use sulla / puppeteer from a ract.js app you may need a separate server process running sulla/puppeteer communicating with you react.js app.

https://stackoverflow.com/questions/55031823/how-to-make-puppeteer-work-with-a-reactjs-application-on-the-cl

[2020-02-10 17:45] smashah commented on #105
Yes please do not run this in a front end app. Not worth the headache.

[2020-02-10 17:45] smashah commented on #104
Please follow the template.

[2020-02-10 17:45] #104 closed

[2020-02-10 17:46] smashah commented on #102
Closing for now thanks

[2020-02-10 17:46] #102 closed

[2020-02-10 17:58] dogcalas commented on #44
@smashah Today in the morning I received the same error, and sulla stop receiving messages. The only reason I can figure out, is a today change  in whatsapp version.
I have noticed in my web browser when whatsapp is updated, this messages comes up.
![image](https://user-images.githubusercontent.com/2521769/74175731-61a4ec80-4c04-11ea-968f-38ddb34686da.png)
Could this be the issue cause?

[2020-02-10 21:00] amajai commented on #105
@gnadelwartz Thanks for the explanation, I was not aware that puppeteer itself was actually a browser. I'll try out the client method and see.

@smashah Unfortunately it was too late for me lol. Had serious headache trying to make it work on the frontend. But, Im glad I posted my issue.

[2020-02-10 21:00] #105 closed

[2020-02-10 21:26] smashah commented on #44
@dogcalas possibly. Over the last 2 days they released version 0.4.613. Is it ok when u restart?

[2020-02-10 21:28] smashah commented on #103
@haroldorodsilva I think that would get annoying for some people but maybe I can make `throwErrorOnTosBlock:true` an option

[2020-02-10 21:34] smashah commented on #98
@andersondeoliveiramachado @joaomirandasa @marcelocecin @Douglas12ds Some progress.

You can run `WAPI.sendButtons2(chatId)` and it will 'send' the message over the server however it will end up in your sender phone as if it came from the recipient.

I tried to debug the issue. This is happening because the sender phone is mutating the message payload and setting `fromMe:false` in the message obje

[2020-02-10 21:47] dogcalas commented on #44
Yes, it's ok, when I restart everything is working normally.

[2020-02-10 22:41] haroldorodsilva commented on #103
Thanks

[2020-02-10 23:39] xshion13 opened #106 "how to send picture from folder to whatsapp contact"
Anyone can teach me exactly how to send images, i look on demo but i can't understand each part of the code.

sorry i'm noob yet ^^'  i need to understand the sintaxis of this:

[code]

![image](https://user-images.githubusercontent.com/56605018/74201067-99c52300-4c36-11ea-8710-494808e933e5.png)

[2020-02-11 00:56] smashah commented on #103
@haroldorodsilva implemented in v.1.7.8

try this:
https://github.com/smashah/sulla/blob/4b4a0c92f84c592899cdbf68c2b33d8f40328938/demo/index.ts#L122

[2020-02-11 00:58] smashah commented on #106
@xshion13

[code]

image.jpg has to be in the same direcgtory as your app.

[2020-02-11 00:58] #106 closed

[2020-02-11 02:56] rafael-sarti opened #107 "TOS_Blocked failed"
![Captura de Tela 2020-02-10 às 11 52 03 PM](https://user-images.githubusercontent.com/59804684/74208030-b2e2c980-4c60-11ea-91fc-5bdadcbeef4c.png)

The error has been pointing out as a possible block, it happens that the browser arrives to login. When it arrives at "The session is invalid" it is the time that the session is verified.

I realized that when checking the validity of the session that

[2020-02-11 02:58] rafael-sarti commented on #107
It is not a block because it is on a new server, with a new ip number. Locally works normally the script is some problem that is occurring in LINUX (Ubuntu) again :(

[2020-02-11 03:53] smashah commented on #107
@rafael-sarti try using the PAGE_UA as the custom ua but change 0.4.607 to 0.4.613, delete the session folder then try again.

[2020-02-11 04:27] group2tts commented on #104
@smashah

happened!

but how to send a contact without quoting a message ???
now it turns out so:
![2020-02-11_11-21-52](https://user-images.githubusercontent.com/42179052/74211222-84e1a180-4cc1-11ea-9884-5d18a07d0760.png)

[2020-02-11 04:50] smashah commented on #104
@group2tts try latest v 1.7.9

[2020-02-11 10:01] smashah commented on #82
@ChrisB0701 @dogcalas @CosmicSnow @nicolaubrasil Hi all, can you try new v.1.7.10 and let me know if this issue is fixed.

Thanks

[2020-02-11 11:30] mmc16 opened #108 "TOS_BLOCKed after authentication"
**Describe the bug**
Then again I am running into the same problem. Everything was working fine until now, when I started getting blocked again. I updated sulla and cleaned the session data, tried other UAs, etc. Even tried the default one.

btw, is there a way to know or at least guess when one is going to be blocked?

**Steps to Reproduce**
Steps to reproduce the behavior:
1. `sulla.create(...)`

[2020-02-11 13:00] ricardopereyra opened #109 "TOS BLOCKed problem at start session"
**Describe the bug**
TOS_BLOCKed

**Steps to Reproduce**
Steps to reproduce the behavior:
1. npm start
2. See error

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
Do not get blocked

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[code]

**Screenshots**
If applicable, add screenshots to h

[2020-02-11 13:16] haroldorodsilva commented on #103
@smashah I tried but the error don't pass throw catch. See below my code.

Initializing whatsapp
Debug Info { WA_VERSION: 'I think you have been TOS_BLOCKed',
  PAGE_UA:
   'WhatsApp/0.4.607 Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.88 Safari/537.36',
  SULLA_HOTFIX_VERSION: '1.7.10',
  BROWSER_VERSION: 'HeadlessChrome/79.0.3945.0' }
Po

[2020-02-11 13:27] smashah commented on #109
What makes you think a mobile opera UA is going to work at all with WhatsApp web? Thanks for filling out the template properly. Did you try deleting the session folder between attempts? Closing because duplicate #108

[2020-02-11 13:27] #109 closed

[2020-02-11 13:28] smashah commented on #107
Duplicate #108

[2020-02-11 13:28] #107 closed

[2020-02-11 13:42] rafael-sarti commented on #103
I have the same problem :(

[2020-02-11 14:32] ricardopereyra commented on #109
Thanks! I change the custom user agent to Mozilla Firefox for Windows, delete de session folder, and now it works.

[2020-02-11 15:41] algoz098 opened #110 "TOS_BLOCK"
**Describe the bug**
My Headless sulla are being tos_blocked, tried new IP, computer, its always blocked

**Steps to Reproduce**
Steps to reproduce the behavior:
1. sulla.create() with headless true
2. scan qr code
3. tos_blocked

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
A way to create a new UA so it doesnt get tos blocked

**DEBUG INFO**

[2020-02-11 16:27] arturromaorocha commented on #110
![image](https://user-images.githubusercontent.com/11146355/74256443-b9f1f200-4cc9-11ea-8f24-d4cf4e6538b0.png)
I tried, but it didn't work.

[2020-02-11 17:21] dogcalas commented on #82
Thank you @smashah, I will let you know in the next whatsapp update!!

[2020-02-11 19:20] joweste commented on #58
Hi, I get the same problem.

[2020-02-11 19:46] algoz098 commented on #110
I have fixed this with those steps

So steps:
1 - erase yarn.lock, package-lock.json, node_modules
2 - run npm cache clean --force
3 - reinstall dependencies npm i

Something on the npm cache system was the problem.

[2020-02-11 22:45] CardosoGit commented on #110
@algoz098 Your solution worked for me.

[2020-02-11 23:01] mrbarnk commented on #44
When you run the sulla-hotfix on a server, after some hours or days, it goes crash! I don't seem to understand that.

and I think this is the possible fix for the problem sir.

[2020-02-11 23:19] mrbarnk commented on #44
Or in from the whatsapp.ts or initializer.ts, whichever one what works,  the class should have a method that kills the session and restarts it automatically.

`public async reload() {
    console.log('Restarting node');
    if (!this.page) await this.kill();
    this.create(globalSession,globalpuppeteerConfigOverride,globalcustomUserAgent)
return true;
`
Then the `globalSession`, `globalpuppeteerC

[2020-02-11 23:27] mrbarnk commented on #44
I saw something now,

like you have it in create function,
[code]

You can just implement this in the public async reload() function we just want to create.

[2020-02-11 23:44] arturromaorocha commented on #110
Funcionou para mim também - PT-BR

[2020-02-12 04:02] rafael-sarti commented on #110
Resolved here =) tks! ;)

[2020-02-12 06:44] alishahlakhani opened #112 "Can't send message to any number which isn't in the "old" message list already."
Version numbers
**Sulla:** 1.7.10

**Describe the bug**
Sulla cannot create a new message if number hasn't sent a message to the phone number before.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Send a message to new number whom you have not yet communicated with
2. Sulla will say it has sent message but it doesn't send.

**create() code**
This is the code you use to create the clie

[2020-02-12 07:43] ChrisB0701 commented on #82
Thanks, @smashah! Actually I didn't have any disconnects in the last three days still using the old v.1.7.5. I don't know if there was any fix by WA. However, I will update to v.1.7.10 and let you know.

[2020-02-12 08:48] alishahlakhani commented on #112
Possibly duplicate of #6

I am okay to close this. I'd rather respect the privacy and choice of people and ask them to initiate conversation first rather than spamming them even if they didn't subscribe willingly.

[2020-02-12 08:56] gnadelwartz commented on #112
maybe @smashah should mention this in the send message example in readme.md

[2020-02-12 09:10] gnadelwartz commented on #108
https://github.com/smashah/sulla/issues/110#issuecomment-584817587 did you try this solution?

[2020-02-12 09:12] alishahlakhani commented on #112
Yes I agree. I read #6 and I kinda agree with the explanation there. We all hate annoying spammy ads. Plus I'm not building an ad engine anyways.

[2020-02-12 09:17] gnadelwartz commented on #112
depending on your use case you can place an  invite link so new users can establish a contact to you

https://faq.whatsapp.com/en/26000030/

[2020-02-12 09:18] alishahlakhani commented on #112
Yeah I will most probably be sending a "Click to chat" link.
Should I just go ahead and close this thread?
Thanks.

[2020-02-12 09:43] agunbuhori opened #113 "I did not find the QR code when changing sessions"
When the terminal displays "Loading QR", I feel that this program is stuck

[2020-02-12 10:26] smashah commented on #112
@alishahlakhani I'll move this to a readme update then close this.

Regarding starting a chat, I made a simple webcomponent you can add to your site to get users to start chats.

https://github.com/smashah/whatsapp-button

[2020-02-12 10:28] smashah commented on #113
Please follow the template.

[2020-02-12 10:28] #113 closed

[2020-02-12 10:28] gildastema commented on #94
Error: Evaluation failed: ReferenceError: chatId is not defined. ChatId not define.

[2020-02-12 10:35] smashah commented on #94
@gildastema latest version? I'll fix that today. Thanks for pointing it out.

[2020-02-12 15:41] UnKnoWn-Consortium commented on #110
It does not work for me. I have finally solved this TOS_BLOCKed issue by using XVFB and enabling `headless: false`....

[2020-02-12 16:36] algoz098 commented on #110
I have some information, some time after i got tos blocked aggain, in those case headles false was too. I have to open developer tools, and clear site data in application tab.

That solved for me.

[2020-02-12 16:39] arturromaorocha commented on #110
XVFB  ?

[2020-02-12 16:40] arturromaorocha commented on #110
Parou de Funcionar para mim 9h pt-br
Stopped working for me 9am

[2020-02-12 16:54] UnKnoWn-Consortium commented on #110
I am running Sulla on a Ubuntu VPS. Obviously it does not have a display. So for Chromium or Chrome to run in headful mode, I have to fake one. And Xvfb does exactly that.

[2020-02-12 17:25] joweste opened #115 "How to read old messages"
Hi, I need to read the an amount of latest messages from a chat.
This amount can be 50 for sample.
These messages can be new or old.
I rave trying some samples posted here  as:
loadAndGetAllMessagesInChat, loadEarlierMessagesTillDate, loadAllEarlierMessages ans similares, but
nothing is working.
Is it possible?
Does someone could post a sample?

[2020-02-13 00:41] mmc16 commented on #115
Ei, tente descrever o problema com mais detalhes em português, muitos de nós aqui somos brasileiros. Veja no arquivo API/whatsapp.ts, lá estão todas as funções que a api oferece. O loadAndGetAllMessagesInChat deveria resolver o seu problema

[2020-02-13 01:17] rfscheidt commented on #115
Tenho a mesma demanda, porém o método loadAndGetAllMessagesInChat é bem lento, tenho 40k contatos no telefone, ficou inviável. O método que lê mensagens não lidas é mais eficiente.

[2020-02-13 02:37] haroldorodsilva commented on #94
@smashah the pull request #116 I have tested here with the alterations and works fine

[2020-02-13 03:42] smashah commented on #94
@haroldorodsilva next v will include the fix in the above pull request

[2020-02-13 03:46] #94 closed

[2020-02-13 03:48] alishahlakhani commented on #112
@smashah Thanks will look into it.
Keep rocking!

[2020-02-13 03:58] smashah commented on #94
@haroldorodsilva @gildastema

Fix is live in v1.7.12

thanks

[2020-02-13 04:05] smashah commented on #110
Hey all, can you try the demo code with the latest version 1.7.12

https://github.com/smashah/sulla/blob/ec4963f9948689e86e0ed0ca3d6b7b250ca9f765/demo/index.ts#L118

Thanks

[2020-02-13 04:07] smashah commented on #108
more discussion of this on #110. Closing.

[2020-02-13 04:07] #108 closed

[2020-02-13 04:09] arturromaorocha commented on #110
![image](https://user-images.githubusercontent.com/11146355/74400669-07b74900-4df5-11ea-8b77-2c7f732234ca.png)
Success! Thanks.

[2020-02-13 04:09] smashah commented on #115
Hey all, can you please add translations to your comments.

I don't think there's any way to do this other than loading all messages which takes some time.

Thanks

[2020-02-13 09:08] #115 closed

[2020-02-13 09:15] #112 closed

[2020-02-13 12:56] WangZhiYao opened #117 "Error: Evaluation failed: ReferenceError: funcName is not defined"
**Describe the bug**
When setting a use for `onParticipantsChanged` event it doesnt work and throw a error while loading the api

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Setup the sulla-hotfix
2. Add a event callback for the funcion `onParticipantsChanged`
3. Scan the QR code
4. See error

**create() code**
This is the code you use to create the client. e.g
[code]

**DEBUG INFO*

[2020-02-13 15:06] algoz098 commented on #110
I`m testing it all out.
I think i found somethings so, will return in a couple days. Or when something new happen!

Thanks for now

[2020-02-13 21:53] joweste commented on #115
Oi, nao resolve, eu estou tendo randomicos erros como esse aqui:
F:\Programas\SWNodeWhats\src\web\SWapi.js:655 Uncaught (in promise) TypeError: Cannot read property 'msgs' of undefined TypeError: Cannot read property 'msgs' of undefined
    at x (F:\Programas\SWNodeWhats\src\web\SWapi.js:654)
    at Object.window.WAPI.loadAllEarlierMessages (F:\Programas\SWNodeWhats\src\web\SWapi.js:660)
    at Ob

[2020-02-14 03:14] alishahlakhani commented on #110
I seem to getting this issue too.
[code]

[2020-02-14 07:14] smashah commented on #103
@haroldorodsilva @rafael-sarti

due to the fact that you have qr refresh on, the error shows up after the last qrLoop is finished. I'll change it so it throws on the first detection.

[2020-02-14 07:38] smashah commented on #117
fix should be live in v1.7.13

[2020-02-14 07:39] smashah commented on #103
New change is live in v1.7.13

thanks

[2020-02-14 07:39] #103 closed

[2020-02-14 07:40] ChrisB0701 commented on #82
I didn't have the "Retrying in... Invalid date" screen in the last two days. So I assume it's working now. Thank you @smashah very much for your great work in this project! I bought you some coffee! :)

[2020-02-14 07:51] smashah commented on #82
@ChrisB0701 awesome! your clue that helped me figure it out was:

Any unused listeners cause issues so in the middleware I will make sure only onMessage is present.

Thanks for the coffee! Definitely needed it over the last few days! I'll close this for now.

[2020-02-14 07:51] #82 closed

[2020-02-14 08:05] smashah commented on #93
Closing for now. Thanks

[2020-02-14 08:05] #93 closed

[2020-02-14 09:43] e0xify commented on #110
same issue for me, still TOS blocked

[2020-02-14 09:54] smashah commented on #110
@e0xify @alishahlakhani can you share your debug info please and any other relevant details.

[2020-02-14 09:58] e0xify commented on #110
`/home/shell/npm# node test.js
✔ Initializing whatsapp
Debug Info {
  WA_VERSION: 'I think you have been TOS_BLOCKed',
  PAGE_UA: 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:54.0) Gecko/20100101 Firefox/73.0',
  SULLA_HOTFIX_VERSION: '1.7.13',
  BROWSER_VERSION: 'HeadlessChrome/80.0.3987.100'
}
Error: TOSBLOCK
    at Object.<anonymous> (/home/shell/npm/node_modules/sulla-hotfix/dist/controllers/initia

[2020-02-14 09:59] e0xify commented on #110
tried changing cache, custom UA...still blocked.
first auth works when deleting the session folder,

tried new install aswell by cleaning all the npm modules

[2020-02-14 10:02] smashah commented on #110
Have you tried

[code]

[2020-02-14 10:05] e0xify commented on #110
yep, jumps into tosblocked exception and quits :/

[2020-02-14 11:15] mmc16 opened #120 "QR code is not being loaded the second time"
**Describe the bug**
I've implemented a small server to communicate with WA. I'm using the flag `throwErrorOnTosBlock: true` and catching the error. If server's first attempt to create a headless WA client fails, it automatically clears the session data and tries again, this time headful. This second time, it doesn't get tos blocked, but it doesn't show the QR code.

**Steps to Reproduce**
Steps t

[2020-02-14 11:52] gnadelwartz commented on #120
I had also problems with tos block in the beginning, but this is gone for me

my suggestion is to first have a working create () standard configuration without tos blocking on your platform and then to code your app.

before any upgrade of sulla test if your create() configuration is working with the new version.
if not, do not upgrade.

since I following this process I had (almost) no problems wi

[2020-02-14 11:57] mmc16 commented on #120
You see, it's like, the first time I create the session (ie. no previous session data), it works fine. The problem happens when I close de server (following the best practices) and reopen it. Usually I would have to clear the session data manually, now I want to automate this though.

[2020-02-14 12:00] e0xify commented on #120
same for me, first session is always fine.
interrupting and recreating with sessions folder to get the session back, fails.

[2020-02-14 12:02] mmc16 commented on #120
You have to at least clear the session data. Running in `headless: false` is even more guaranteed to work

[2020-02-14 12:11] haroldorodsilva commented on #120
Same with me. First session works fine. Restart server and tried to use the previous session that worked I get TOS_BLOCK

[2020-02-14 21:04] haroldorodsilva commented on #110
I deleted the session files and managed to authenticate several times. Now I received the TOS_BLOCK and when placing headless: false I caught the problem of chrome asking to update.
![Screenshot_1](https://user-images.githubusercontent.com/15693100/74567360-fcc2fc80-4f4b-11ea-87a7-4668b15b3ca7.png)

[2020-02-14 22:22] smashah commented on #120
hey all, can you try running in headless false the first time, ensure you have a valid session, closing the session by closing the browser manually, then killing the node process and see if it loads up properly on subsequent tries.

[2020-02-14 22:37] algoz098 opened #122 "Add puppeteer-extra-plugin-devtools"
This lib allow to remote access to a puppeteer, would be nice to have a flag on sulla to enable this so we can debug better.

https://www.npmjs.com/package/puppeteer-extra-plugin-devtools

[2020-02-15 08:18] WangZhiYao commented on #117
@smashah thanks, no errors printed on the log now, but I still cannot receive the event when someone add the group by link

[2020-02-15 11:24] smashah commented on #122
Just FYI, localtunnel is resulting in many errors:

`tunnel server offline: Request failed with status code 502, retry 1s`

This may be a temporary issue with localtunnels servers but untill it's resolved this will only return the local devtools url.

The best solution to this would be for someone to make a PR plugin-devtools to enable a fallback to ngrok or provide some sort of error handling on

[2020-02-15 11:29] smashah commented on #117
@WangZhiYao I added the invite subtype in v1.7.14. Let me know if it works.

Thanks

[2020-02-15 11:30] smashah commented on #122
@algoz098 live in v.1.7.14 to use add the following to the config object.

[code]

[2020-02-15 13:04] WangZhiYao commented on #117
@smashah thanks for your help, I just test it again and now invite is worked but add & remove by admin still not works

[2020-02-15 13:20] smashah commented on #117
@WangZhiYao I've tested all three and can confirm they are working as expected. Is the admin you are talking about the same as the phone being used with this library?

[2020-02-15 13:30] WangZhiYao commented on #117
@smashah yes, the phone being used with this library is the admin, and I add participants by this account but quit the group voluntarily

[2020-02-15 14:00] smashah commented on #117
Umm you can't receive updates if you quit the group @WangZhiYao

[2020-02-15 14:22] WangZhiYao commented on #117
@smashah I tested it again, and now I can receive events of the add and remove participants using the admin account, but I still can’t receive events for participants quit the group voluntarily.

[2020-02-15 14:26] smashah commented on #117
Oh right. I'll have a look at it tonight.

[2020-02-15 17:40] algoz098 opened #123 "Decript of Audios doesnt work anymore"
**Describe the bug**
Decript of audio medias doesnt finishes. When looking into the decrypt function, the statusCode never became 200, and last as 400 forever.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Clone sulla
2. Start it
3. send a audio to it

**create() code**
The demo one

**Expected behavior**
The audio should be decripted

**DEBUG INFO**
[code]

**Host (please complete t

[2020-02-15 18:15] algoz098 commented on #123
I have tested on the newest clone, and it can decript but the result will always be a empty audio

[2020-02-15 18:59] joweste opened #124 "WAPI.deleteMessage not working"
Hi there,
I am trying to delete a message.
I am using
`WAPI.deleteMessage ("5521...@c.us",my_msg, false);`

The function returns true.
Next, I use `WAPI.getAllMessagesInChat ("5521...@c.us",.....`
And the message just deleted continues appearing in the return list of messages

[2020-02-15 21:58] #122 closed

[2020-02-15 22:04] algoz098 commented on #123
Is the mic audio you sent in WhatsApp app ogg and oga

[2020-02-15 22:10] smashah commented on #124
Are you sure my_msg is a message if string? If you sent the message you need to set the last param to true iirc

[2020-02-15 23:03] algoz098 commented on #123
[code]

[2020-02-15 23:56] smashah commented on #117
@WangZhiYao Should be live in v1.7.15

[2020-02-16 02:08] #4 closed

[2020-02-16 02:10] smashah commented on #117
I've tested add, remove, leave and invite. They are all working now.

Thanks.

[2020-02-16 02:10] #117 closed

[2020-02-16 02:29] HypedMind opened #125 "Stuck at `Loading QR` step after attempting to create 2nd headless session"
**Describe the bug**
Possible duplicate of #120 , just want to provide my sample.

After the app started, the first time was able to load QR code and created valid HEADLESS session after scan the qr code. After this, when attempting to create another HEADLESS session again, this time, it stucked at the step `Loading QR`, without mentioning tos blocked or other reason, just stuck there.

**Steps to

[2020-02-16 13:33] smashah opened #126 "[feature] Block all WhatsApp error reporting."
Use the request interceptor to block all WhatsApp error reporting.

[2020-02-16 13:33] smashah commented on #125
@HypedMind thanks for filling in the template. I will be looking into this soon.

[2020-02-16 13:34] #125 closed

[2020-02-16 20:02] joweste commented on #124
Yes I am. This is not working. Using revoke true ir false make no difference

[2020-02-16 20:13] joweste opened #127 "contactBlock returns setBlock is not a function"
**Describe the bug**
window.WAPI.contactBlock and window.WAPI.uncontactBlock returns
`contact.setBlock is not a function at Object.window.WAPI.contactBlock`

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Load the wapi.js  into chrome dev console
2. execute in chrome dev console:  window.WAPI.uncontactBlock("5521.....@c.us")
3. The error will show

**Expected behavior**
The contact sho

[2020-02-17 04:06] smashah commented on #124
@joweste use the latest version, it is now idiot proof. You don't need to send the third parameter anymore.

[2020-02-17 04:07] #124 closed

[2020-02-17 04:08] smashah commented on #127
This is not a feature of sulla-hotfix right now so is low priority. I'll reopen when it's due to be worked on.

[2020-02-17 04:08] #127 closed

[2020-02-17 05:53] smashah commented on #120
@mmc16 @gnadelwartz @e0xify fix should be live in v1.7.23

[2020-02-17 05:54] smashah commented on #125
@HypedMind fix should be live in v1.7.23

[2020-02-17 06:34] e0xify commented on #120
nope :( cant confirm here.
deleted session folder... started. QR code ---> quitting.
Starting again --> TOS

[2020-02-17 06:42] smashah commented on #120
@e0xify your issue is separate to this one. Please discuss that in #110.

[2020-02-17 06:44] e0xify commented on #120
aight sorry, will do

[2020-02-17 07:04] smashah commented on #110
Hi all,

Some progress on TOS_BLOCK. Thus far I have been operating under the assumption that TOS_BLOCK screen is shown based on a SSR response to the web.whatsapp.com request.

This is not true. I found this out by implementing a request interceptor for #126 . When already TOS blocked, the browser makes 0 actual calls over the network. This means that the browser session is branded as TOS_BLOCK a

[2020-02-17 07:20] smashah commented on #126
Now live in 1.7.24

add `blockCrashLogs:true,` to your create config to block all crash reporting to whatsapp.

[2020-02-17 07:20] #126 closed

[2020-02-17 10:50] gnadelwartz commented on #126
shouldn't this the default to avoid detecting our bots?

[2020-02-17 11:24] smashah commented on #126
@gnadelwartz maybe in the future but for now it's optional till we all learn the effects of this.

[2020-02-17 11:57] mrbarnk opened #128 "Error: Page Crash Second time"
**Describe the bug**

The whatsapp page crashes after some time the phone is either offline or dragging the internet, it might be after a day or some hours.

**Steps to Reproduce**
Steps to reproduce the behavior:

1. Run the program, keep it alive for hours and let messages keep flowing in.

After some time, it would result in a page crash.

[code]

**Expected behavior**

It's going to print erro

[2020-02-17 12:17] smashah commented on #128
My apologies @mrbarnk I was rushing for and on a flight that day. You would want to call client.reload()? Why not just manage this yourself?

[2020-02-17 12:51] smashah commented on #128
client.page gives access to the puppeteer page on which you can listen to errors using:
[code]

[2020-02-17 14:23] sanep10 opened #129 "Problem if i use headless:true"
**Describe the bug**
If i run create with headless: true the program doesn't work

**create() code**
[code]

**Expected behavior**
If use the create() mode with this config i can scan the QR Code but the console show than The session is invalid and in the second try the console show Possibly TOS BLOCKed

**DEBUG INFO**
In the first try
[code]
In the second try
[code]

**Host (please complete the f

[2020-02-17 15:52] smashah commented on #129
Please use the latest version and then report back on #110. Closing as is duplicate.

[2020-02-17 15:52] #129 closed

[2020-02-17 15:59] smashah commented on #123
Hey @algoz098 is this issue still happening?

[2020-02-17 18:22] algoz098 commented on #123
Well, not, but yes.

here`s the thing, if the audio has 4 secs, it doesnt decrypt at all, but bigger than that is working fine.

[2020-02-17 21:32] rafael-sarti opened #131 "TOS_BLOCK restart service"
It is possible to restart the first session however when the process and start again. A saved session TOS_BLOCK, removes the session folder. Again the QR is requested.

He can no longer recover the saved session :(

![Captura de Tela 2020-02-17 às 6 30 02 PM](https://user-images.githubusercontent.com/59804684/74687589-9c35f880-51b3-11ea-8c58-e53c2a2e763d.png)

[2020-02-18 00:32] joweste commented on #124
Thank you. I will test.
Please, can you tell me if there is some field in the message object to indicate if it was deleted/revoked?
I am making some tests and I can reload old messages, some them, I had deleted.
So, I´d like to know if there is a field to indicate revoked/deleted such as exists to invis, ack, isMedia......

[2020-02-18 07:52] mrbarnk commented on #128
Thanks so much! It's working/

[2020-02-18 15:28] alpires opened #132 "sendImageWithProduct"
Hi Guys, sendImageWithProduct is working? To me only return undefined.

[2020-02-18 17:29] smashah commented on #132
This feature is highly experimental. Continue discussion on #40 . Closing due to duplicate.

[2020-02-18 17:29] #132 closed

[2020-02-18 17:30] smashah commented on #128
Great @mrbarnk I'll add that to the readme and show an example in demo/index.ts

[2020-02-18 17:33] smashah commented on #120
Assuming this is fixed for y'all. closing.

[2020-02-18 17:33] #120 closed

[2020-02-18 20:32] haroldorodsilva commented on #110
Someone can try using this?

[code]

[2020-02-18 21:17] duzaq commented on #78
The problem really came back, with the last modification above.

![error_whats_](https://user-images.githubusercontent.com/4000971/74778381-3791a100-527a-11ea-9b39-faf261a76561.png)

[2020-02-18 22:46] haroldorodsilva commented on #78
I tried now and the image was not send.

@smashah
Debug Info { WA_VERSION: '0.4.930',
  PAGE_UA:
   'WhatsApp/0.4.613 Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.88 Safari/537.36',
  SULLA_HOTFIX_VERSION: '1.7.24',
  BROWSER_VERSION: 'HeadlessChrome/79.0.3945.0' }

[2020-02-19 01:51] mrbarnk opened #133 "Add an event listeners to Loading Qr to prevent long waiting"
Hi @smashah , can you please add an event listener to `Loading Qr`? Some Qr's always hanging, and we would want to check if the QR has been waiting for more than 60 seconds without actually printing any QR code on the terminal.

Or you add the feature to the latest release, once the Loading Qr is taking forever, reCreate the WhatsApp instance again.

With this, the errors would reduce and page cra

[2020-02-19 03:01] smashah commented on #78
@haroldorodsilva @duzaq new version of WhatsApp :/

[2020-02-19 03:02] smashah commented on #133
@mrbarnk #120 was a bug. This is due to the new version of WhatsApp 0.4.930

[2020-02-19 08:07] mrbarnk commented on #133
No, I'm not talking about that,
I was able to solve that, my bad I didn't post that.

I mean the text Loading Qr always hang and never prints the QR exactly like #125

[2020-02-19 10:17] marcelocecin commented on #78
change this
[code]
to this
[code]

[2020-02-19 10:51] gildastema commented on #78
send image not work

[2020-02-19 13:39] mmc16 opened #134 "Change profile info"
Probably, this is not something to be on the top priority list, but it could be useful.
In WhatsApp Web is possible to change the user name, the photo, and the description. So I was wondering, is it possible to do the same through Sulla?

[2020-02-19 16:46] smashah commented on #78
@gildastema @marcelocecin @haroldorodsilva @duzaq Fix is live in v.1.7.25

I've tested it here and it's working. Please report back ASAP if it is/is not working for you.

Thanks

[2020-02-19 16:47] smashah commented on #134
@mmc16 if it's possible on web it is possible through here. Just takes some time to figure out. I'll keep this on the back burner for now. Thanks.

[2020-02-19 17:38] stefano71 commented on #78
I have the same problem too
on mac while on windows it works
could it depend on the user agent?
it is strange that on chrome mac whatsapp web responds differently

[2020-02-19 17:47] smashah commented on #78
@stefano71 did you try latest version 1.7.25? Also please share your debug info on both systems for context

[2020-02-19 17:50] stefano71 commented on #78
i was wrong by clearing the chrome cache on windows i get the same mac error

VM1223:1442 Uncaught TypeError: Cannot read property 'createWid' of undefined
    at Object.window.WAPI.sendImage (<anonymous>:1442:39)
    at <anonymous>:2097:13

has anyone solved it?

[2020-02-19 20:58] smashah commented on #134
@mmc16 try it out in v1.7.26. Let me know if it works for you.

[2020-02-20 08:35] gildastema opened #135 "Send image not work"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**DEBUG INFO**
This is the info p

[2020-02-20 08:36] gildastema commented on #135
Send image not work not error return

[2020-02-20 09:00] smashah commented on #135
Duplicate of #78 and completely out of line to not even try to follow the template. Don't just dump issues here like this.

[2020-02-20 09:00] #135 closed

[2020-02-20 09:04] stefano71 commented on #78
yes

[2020-02-20 10:49] rafael-sarti commented on #131
@smashah failed

[2020-02-20 10:55] mmc16 commented on #134
I'll check it out, thnx

[2020-02-20 13:40] mmc16 commented on #134
@smashah it works with regular accounts. It doesn't seem to work with business accounts though

[2020-02-20 14:04] smashah commented on #134
Iirc changing business details is a big deal ok WhatsApp. Is it possible to do it via WhatsApp web?

[2020-02-20 14:11] mmc16 commented on #134
My bad. I just found out that is not possible to change the name of a business account through WA web, and also that setMyStatus works fine with both kinds of account.

I'll close this issue for now

[2020-02-20 14:11] #134 closed

[2020-02-20 14:25] mrbarnk commented on #120
This is not yet fixed. Still experiencing the same thing here.

[2020-02-20 15:26] smashah commented on #131
Hey @rafael-sarti please re open this issue with template properly filled as this one is not clear. Thanks

[2020-02-20 15:26] #131 closed

[2020-02-20 15:28] rafael-sarti commented on #131
What would be the model?

[2020-02-20 17:28] rafael-sarti opened #136 "Requesting a QR CODE read again after restarting the process"
Describe the bug

After the initialization of the example code in the "demo" I can read the QR CODE. When I finish the process and open again the session is not recovered generating an error or asking for the QR CODE again.

With the new update now the QR CODE keeps asking whenever the process starts again.

Debug Info {
   WA_VERSION: '0.4.930',
   PAGE_UA: 'WhatsApp / 0.4.613 Mozilla / 5.0 (Maci

[2020-02-21 00:44] ajisek opened #137 "idGroup, idParticipant"
**Ask**

i will use the function ```removeParticipant``` ,  how to i can get the idGroup and idPariticipant?

[2020-02-21 09:17] mrbarnk opened #138 "Handling Multiple Session At Once"
Hello @smashah , is there a way to use a particular session to send message when dealing with multiple sessions?

Like after creating a session like this.
[code]

Then the two functions are working perfectly, then I want to reply to a contact outside `client.onMessage` function with `session_a`.

I want to send a notification or invoice to a client that has messaged `session_a` before and won't in

[2020-02-21 09:59] gnadelwartz commented on #138
IMHO this is done by the variable client from inside the start() function.
if you need to access it from outside start you can possibly assign the local client variable to a global variable.

[2020-02-21 10:36] mrbarnk commented on #138
No, You don't get me.

Just like receiving a webhook from somewhere, and it same start function that will be used by the two.

How will I say send this message from `POST` request to this number using this session?

That;t what I'm asking.

[2020-02-21 10:50] mmc16 commented on #138
For my program, I use an array of clients. Something like this:
[code]
Now let's say I've received a message via POST to send somewhere. One of the parameters of this request could be the session name. This way I can send the message like this:
[code]
As for the message listeners, you can use function closure inside your `start()` to forward the messages to your server's clients

[2020-02-21 10:52] mrbarnk commented on #138
Wow, thanks for this Idea. You're awesome. @mmc16

[2020-02-21 10:56] mmc16 commented on #137
You can get the group id from `getAllChats()` or `getAllGroups()` and the participant id form `getGroupMembers()` or `getGroupMembersId()` . Take a look at the docs, it lists all functions you can use.
[https://smashah.github.io/sulla/classes/whatsapp.html](url)

[2020-02-21 11:03] mmc16 commented on #136
Are you using the same session name? Or aren't you disconnecting from Whatsapp web from your phone? Or using the same number for another session simultaneously?

[2020-02-21 12:39] smashah commented on #136
@rafael-sarti thanks, this is much clearer. I'm actually having this problem also. IDK what's going on. What's your operating system? Also, please share your create code.

[2020-02-21 12:42] smashah commented on #138
Yeah I would do it the same way as @mmc16 in a single node process environment.

[2020-02-21 13:00] marcelocecin commented on #138
it would be encouraging to share sample code in the demo folder

[2020-02-21 19:59] alpires opened #139 "leaveGroup is not working"
Hi, the function leaveGroup is not working anymore. Some idea? (group.sendExit is not a function)
Thanks

[2020-02-21 20:56] mrbarnk opened #140 "client.getMe method?"
Hi, is there a function that exposes the client number?

Like `client.getMe()` would return My details, like `name, number, profile picture` e.t.c.

[2020-02-21 23:33] mrbarnk opened #141 "Error on multiple sessions"
**Describe the bug**
This error occurred when you try to activate multiple sessions at once.
`(node:5012) UnhandledPromiseRejectionWarning: Error: Failed to add page binding with name onMessage: window['onMessage'] already exists!`

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Copied this code below, and run it.
2. Scan the two QR codes and make sure they are authenticated.
3. If the

[2020-02-21 23:41] rafael-sarti commented on #136
@mmc16 I'm not using two sessions :(

[2020-02-21 23:43] rafael-sarti commented on #136
@smashah I'm using demo / server.js to test if the error replicates. My operating system under development is OSX Catalina and in the production environment the same problem occurs as Ubuntu 18

[2020-02-22 02:02] ajisek opened #142 "TypeError: decryptMedia is not a function"
I'm using decryptMedia Module for Decrypt audio file (mp3),
but, i'm getting error :

```(node:9408) UnhandledPromiseRejectionWarning: TypeError: decryptMedia is not a function```

i'm write in js, not on TypeScript

this is my import module
```const decryptMedia = require('wa-decrypt');```

[2020-02-22 03:48] ajisek commented on #142
sold

[2020-02-22 03:48] #142 closed

[2020-02-22 08:59] smashah commented on #137
This brings up a bigger point of standardising parameter names.

[2020-02-22 09:03] smashah commented on #133
@mrbarnk  there is a killtimer you can add to the create config. It's not documented properly but you can find it here.

https://github.com/smashah/sulla/issues/97#issuecomment-583777080

[2020-02-22 15:13] smashah commented on #139
@alpires please next time follow the template.

https://smashah.github.io/sulla/classes/whatsapp.html#leavegroup

[2020-02-22 15:13] #139 closed

[2020-02-22 15:35] smashah commented on #140
You can call `client.getMe()` in v1.7.28 now and use [getProfilePicFromServer](https://smashah.github.io/sulla/classes/whatsapp.html#getprofilepicfromserver) to get the profile pic.

https://smashah.github.io/sulla/classes/whatsapp.html#getme

[2020-02-22 15:37] smashah commented on #140
I've tested this already so will close for now. Reopen if there's any issues. Thanks

[2020-02-22 15:37] #140 closed

[2020-02-22 15:50] smashah commented on #78
@stefano71 this appears to be a seperate problem if it is still happnening then please make a new issue. Closing this for now.

[2020-02-22 15:50] #78 closed

[2020-02-23 10:15] arelxcode opened #143 "detect if added into group"
how to detect/listen if my whatapp added into group