[2021-02-19 14:17] tcortega opened #1370 "Proper Error Handling On sendMp4AsSticker & sendImageAsSticker"
Whenever you try to process a sticker that the file size exceeds 1MB, it'll just warn you in the console and then give you an `Evaluation failed: n` exception.

It'd be nice if you could throw an `max sticker file size exceeded` exception instead of console logging the sticker size message, or at least something like that. That way we can handle it better.

[2021-02-21 09:58] smashah commented on #1366
@Baguettou well if the feature gets implemented, the person who suggested it gets a license key. However, we're in a weird situation where I brought this up to the insiders and they're voting against it due to the potential of abuse of this feature. Also, there's another issue where this may be fixed by WA eventually because honestly, this is a bug that is being taken advantage of.

[2021-02-21 13:24] smashah commented on #1370
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-21 13:26] smashah commented on #1370
# Changelog

## 🚀 Release [3.6.2](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.1...3.6.2) (2021-02-21)

- 📝 docs update [`5cf1bce`](https://github.com/open-wa/wa-automate-nodejs/commit/5cf1bce0d390202d697c5609a14a8b8e808bff55)
- Release 3.6.2 [`3df1fa7`](https://github.com/open-wa/wa-automate-nodejs/commit/3df1fa731656aefc869bba77d422159639139783)
- 📝 `ChatMuteDuration` added to docs

[2021-02-21 17:21] smashah commented on #1359
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-21 17:23] smashah commented on #1359
# Changelog

## 🚀 Release [3.6.3](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.2...3.6.3) (2021-02-21)

- 📝 added improved error handling to documentation [`e42bf07`](https://github.com/open-wa/wa-automate-nodejs/commit/e42bf07a43321c594140f3473ee87734e0fd01d5)
- Release 3.6.3 [`9646673`](https://github.com/open-wa/wa-automate-nodejs/commit/9646673dd8c2cb0b24992672e4bf39b8fc521a05)
-

[2021-02-21 17:38] smashah commented on #1359
@Sp0derDev it should now throw the error with a corresponding [error name](https://docs.openwa.dev/enums/error_name.html)

[code]

[2021-02-21 17:38] #1359 closed

[2021-02-21 17:39] smashah commented on #1370
@tcortega the library will now throw the 1mb error instead of just logging it.

[2021-02-21 17:39] #1370 closed

[2021-02-21 23:50] Baguettou commented on #1366
Ow don't worry and I really appreciate your consideration, it was just a fun idea but you are right, it's really exploitable and it would maybe be fixed by WhatsApp. ^ - ^

[2021-02-22 20:14] odhier opened #1375 "Send gif from url become .jpg"
when i send gif image from url with `sendFileFromUrl` function its always become .jpg in chat.

i have make sure that filename parameter is .gif

[2021-02-23 01:40] tcortega commented on #1370
its still just logging it.

[2021-02-23 09:28] MFarelS opened #1378 "Help"
![Screenshot_2021-02-23-16-15-53-832_com microsoft rdc androidx](https://user-images.githubusercontent.com/58540890/108824335-2b11f800-75f4-11eb-822c-56e9198350cd.jpg)

Help

[2021-02-23 09:56] smashah commented on #1378
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-02-23 09:56] #1378 closed

[2021-02-23 09:56] smashah commented on #1378
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-02-23 09:59] MFarelS opened #1379 "Help Please"
![Screenshot_2021-02-23-16-15-53-832_com microsoft rdc androidx](https://user-images.githubusercontent.com/58540890/108827669-775f3700-75f8-11eb-905b-0e0fb4a78be5.jpg)

[2021-02-23 10:08] afrizaloky opened #1380 "I don't know this is bug or not"
**Describe the bug**

i use openwa 3.6.3
i try using sendText with null paramater, sendText(from, null). The function after this sendText can't executed.
for example:
client.sendText(from, '') => this empty string parameter doesn't make bug
client.sendText(from, 'test') => this message can be send
client.sendText(from, null) => this message can't be send and the code stop in there
client.sendText(

[2021-02-23 10:55] smashah commented on #1379
Duplicate: #1378

Please stop spamming low effort issues.

If you read the error logs, this is a problem with your powershell set up. Please google:

`powershell is not recognized as an internal or external command operable program or batch file`

This error has nothing to do with this library.

[2021-02-23 10:55] #1379 closed

[2021-02-23 10:58] smashah commented on #1380
@afrizaloky are you using typescript?

[2021-02-23 11:13] afrizaloky commented on #1380
i use nodejs

[2021-02-23 11:28] smashah commented on #1380
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-23 11:30] smashah commented on #1380
# Changelog

## 🚀 Release [3.6.4](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.3...3.6.4) (2021-02-23)

- Release 3.6.4 [`a0d9303`](https://github.com/open-wa/wa-automate-nodejs/commit/a0d9303b5ab53bf5334aeea9f7619eccaa6da174)
- 📝  chat IDs now show up correctly in intellisense [`793f428`](https://github.com/open-wa/wa-automate-nodejs/commit/793f428475187155fd548dc7dff275de3c67c86c)
-

[2021-02-23 11:36] smashah commented on #1380
@afrizaloky can you update to the latest version and try to send a text with null or undefined again and see if it gets stuck

[2021-02-23 12:14] afrizaloky commented on #1380
when null is not stuck, but when undefined variable still get stuck

[2021-02-23 12:24] afrizaloky commented on #1380
closed. thank you

[2021-02-23 12:24] #1380 closed

[2021-02-23 13:42] smashah commented on #1375
@odhier This isn't an issue of the library. WA converts all `GIF`s to `MP4`s in the app to save space since `GIF`s are a really inefficient file format.

You have to:

1. Make sure your server has `ffmpeg` and `chrome` installed
2. Use chrome instead of the default chromium. You can do this by setting `useChrome: true` in your config
3. Use [`sendVideoAsGif`](https://docs.openwa.dev/classes/client

[2021-02-23 13:42] #1375 closed

[2021-02-23 13:56] smashah commented on #1367
@NitinNR no data is stored anywhere by the library. The files are saved on your device and temporarily uploaded to a wa server. The server link is used to download the encrypted file and then decrypted in `wa-decrypt`.

Closing.

Thanks

[2021-02-23 13:56] #1367 closed

[2021-02-23 13:57] smashah commented on #1366
Thanks for bringing it up and for understanding why it wont be implemented - keep the cool ideas coming! :)

[2021-02-23 13:57] #1366 closed

[2021-02-23 13:59] smashah commented on #1100
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-23 14:03] smashah commented on #1100
# Changelog

## 🚀 Release [3.6.5](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.4...3.6.5) (2021-02-23)

- Release 3.6.5 [`adba301`](https://github.com/open-wa/wa-automate-nodejs/commit/adba3015e8cc0e72dccaaaca7dcee47e4825f96e)
- 🔥  Removed redundant code, improves CLI collection generation performance [`a1a5477`](https://github.com/open-wa/wa-automate-nodejs/commit/a1a5477c75746a070d5

[2021-02-23 15:00] silvaartur opened #1381 "License problem"
Using -l or --license with EasyAPI doesn't load or generate any error for licensing. So I can't send messages to non contacts.

[2021-02-23 15:08] smashah commented on #1381
@silvaartur which version are you using?

And can you try with `--license-key`

[2021-02-23 15:51] silvaartur commented on #1381
Hi @smashah. 3.6.5. Works now... using --license-key.

[2021-02-23 16:00] silvaartur commented on #1381
@smashah, testing I got same error to non contacts:

{
  "success": false,
  "error": {
    "name": "SENDTEXT_FAILURE"
  }
}

[2021-02-23 16:03] smashah commented on #1381
@silvaartur I will investigate this tonight. In the mean time can you send me your license details pls either or discord or email.

Also, please share your launch logs

[2021-02-23 16:44] silvaartur commented on #1381
I will send by Discord.

[2021-02-24 04:05] jlsubia404 opened #1406 "Error when generating swagger spec"
I have the next error when I run docker-compose up --build.

`Error File not found: /usr/src/app/node_modules/@open-wa/wa-automate/dist/api/Client.ts FileNotFoundError: File not found: /usr/src/app/node_modules/@open-wa/wa-automate/dist/api/Client.ts
app_1      |     at DirectoryCoordinator.addSourceFileAtPath (/usr/src/app/node_modules/ts-morph/dist/ts-morph.js:17851:19)
app_1      |     at Proje

[2021-02-24 09:17] Jonas33235 opened #1384 "Add suport to utf-8 and emoji in stickerMetadata"

[2021-02-24 13:52] blackchineykh opened #1385 "getChat returns undefined for existing chats"
**Describe the bug**
When replying to a chat that had messaged my number a while back, even though the chat is still present, if its not a recent conversation then the getChat(chatId) method returns **undefined**. If I go to the WA web page and search for the number, and then try to send, it works. Is there a way to load the conversation from the history before trying to send in such cases?

**Ste

[2021-02-24 23:42] erickmourasilva opened #1386 "Message: javascript error: webpackJsonp is not defined"
this error started to happen unexpectedly just now.

[2021-02-25 01:21] andersonarsilva commented on #1386
hello i had the same problem. I used the change below to solve the problem.

if (typeof webpackJsonp === 'function') {
    webpackJsonp([], {'parasite': (x, y, z) => getStore(z)}, ['parasite']);
} else {
    webpackJsonp.push([ ['parasite'], { parasite: function (o, e, t) { getStore(t); } }, [['parasite']] ]);
}

[2021-02-25 01:26] erickmourasilva commented on #1386
no work, because webpackJsonp not exist anymore

[2021-02-25 01:49] #1386 closed

[2021-02-25 02:15] IsanMaulana opened #1387 "error in scan Qr this ReferenceError: getQrPng is not defined"
**Describe the bug**
This bug is where when you want to scan qr in the command prompt a text appears that says (node: 29088) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: getQrPng is not defined

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise des

[2021-02-25 02:20] cucabr commented on #1387
apparently because of the new version of the web wa , 2.2106.5

[2021-02-25 02:40] rvp98 commented on #1387
Same here, and also got TOS BLOCK on demo

[2021-02-25 02:46] aymenitc commented on #1387
me to on ubuntu

[2021-02-25 03:09] jlsubia404 commented on #1387
I have the same issue on Mac OS Catalina.

[2021-02-25 03:18] ikkehman opened #1388 "error getQrPng is not defined when starting scan qr"
**Describe the bug**
my session suddenly expired. So i start scaning again and got error

when starting.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Just start wa-automate-nodejs
2. You got thats error when Authenticate

**Expected behavior**
Its shows QR code

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[code]

This full

[2021-02-25 03:50] prayogigit commented on #1388
WhatsApp has just released a major change to the WhatsApp Web application that changes the internal module system (possibly upgraded webpack to v5).

[2021-02-25 03:53] ariona commented on #1387
@smashah This probably caused by the update of wa-web. the `webpackJsonp` object is no longer exists. there is only `webpackChunkBuild` object

[2021-02-25 04:13] HasamiAini commented on #71
**### I have a problem as below**

(node:17084) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: getQrPng is not defined
    at __puppeteer_evaluation_script__:1:1
    at ExecutionContext._evaluateInternal (D:\wabot\Whatsapp Bot Mikasa\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionContext.js:172:23)
    at processTicksAndRejections (internal/process/task_queue

[2021-02-25 04:14] HasamiAini commented on #71
### I have a problem as below

(node:17084) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: getQrPng is not defined
at puppeteer_evaluation_script:1:1

[2021-02-25 05:58] allanmelo commented on #1345
TL;DR: try to use a more powerful instance. An instance in Google Cloud with 2 cores and 2 GB of RAM proved to be ok in an application that I kept for a long time.

-----

Just to corroborate what @saifuddin said, I also detected a high CPU usage when I tried to create a dedicated instance of wa-automate-nodejs for a bot I was managing.

I first detected the problem while running it on an AWS t2-m

[2021-02-25 06:02] allanmelo commented on #1388
I'm dealing with this same problem now.

Env:
<img width="1174" alt="Captura de Tela 2021-02-25 às 03 01 09" src="https://user-images.githubusercontent.com/16151423/109110351-b800a280-7715-11eb-80e1-6032b1a1bf4f.png">

[2021-02-25 06:45] group2tts opened #1389 "MsgKey not defined"
`{ id: "MsgKey", conditions: (module) => (module.default&&module.default.toString().includes('MsgKey error: obj is null/undefined')) ? module.default : null },`

error:

`Uncaught TypeError: module.default.toString is not a function`

[2021-02-25 07:05] group2tts commented on #1389
#1390

[2021-02-25 07:18] #1389 closed

[2021-02-25 07:49] smashah opened #1391 "2.2106.5"
# UPDATE TO 3.6.10 - IT SHOULD FIX THE MAJORITY OF THE PROBLEMS

- [x] l10n
- [x] QR
- [x] GroupMetadata
- [x] License key holders
- [x] Send Text

Long Term:

- [x] WAPI should no longer be shipped with each version
- [x] Migrate WAPI to moduleraid
- [ ] fallback launch js

[2021-02-25 07:50] smashah commented on #1388
#1391

[2021-02-25 07:50] #1388 closed

[2021-02-25 07:50] smashah commented on #1387
#1391

[2021-02-25 07:50] #1387 closed

[2021-02-25 07:59] smashah commented on #1391
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-25 08:01] smashah commented on #1391
# Changelog

## 🚀 Release [3.6.6](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.5...3.6.6) (2021-02-25)

- Update Wapi.js [`#1390`](https://github.com/open-wa/wa-automate-nodejs/pull/1390)
- 🐛  fixes #1389 [`#1389`](https://github.com/open-wa/wa-automate-nodejs/issues/1389)
- Release 3.6.6 [`5faee4b`](https://github.com/open-wa/wa-automate-nodejs/commit/5faee4bcb4f4cc26e795c4fafe6426e1

[2021-02-25 08:14] cantiir2 commented on #1389
excusme sir . how to solve this problem
(node:23052) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: getQrPng is not defined
    at __puppeteer_evaluation_script__:1:1
    at ExecutionContext._evaluateInternal (D:\Sociality Bot\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionContext.js:172:23)
    at processTicksAndRejections (internal/process/task_queues.js:93

[2021-02-25 09:20] cantiir2 opened #1395 "UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: getQrPng is not defined at __puppeteer_evaluation_script__:1:1"
can you solved this pliss

(node:1692) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: getQrPng is not defined
    at __puppeteer_evaluation_script__:1:1
    at ExecutionContext._evaluateInternal (D:\HisokaBOT-Whatsapp-Bot\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionContext.js:172:23)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)

[2021-02-25 09:34] smashah commented on #1395
track this in #1391

[2021-02-25 09:34] #1395 closed

[2021-02-25 09:34] smashah commented on #1391
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-25 09:39] smashah commented on #1391
# Changelog

## 🚀 Release [3.6.7](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.6...3.6.7) (2021-02-25)

- Release 3.6.7 [`242ce8e`](https://github.com/open-wa/wa-automate-nodejs/commit/242ce8e84c62a336f23aa9e4eda08c81d7b62ba7)
- ➕  installed `moduleRaid` #1391 [`207e0bc`](https://github.com/open-wa/wa-automate-nodejs/commit/207e0bc8cb1a088a408a4ca4cd50e70ea16a2ae9)
- 🙈  ignore logs [`

[2021-02-25 09:52] smashah commented on #1391
@hasamaini @erickmourasilva @ikkehman @prayogigit @allanmello @IsanMaulana @cucabr @rvp98 @aymenitc @jlsubia404 @group2tts @cantiir2

Please update to 3.6.7 and try again. If there are further problems please report back on this issue with context thanks

[2021-02-25 10:14] ikkehman commented on #1391
i got new issue in 3.6.7.
**Screenshot**
![image](https://user-images.githubusercontent.com/62538390/109138009-78c16880-778c-11eb-9708-763dc74b477a.png)

then i try to fix it by install @pedroslopez  in /@open-wa/wa-automate/node_modules/. But i got an error like before update #1388
![image](https://user-images.githubusercontent.com/62538390/109138364-deadf000-778c-11eb-9725-d87c7f85384b.png)

[2021-02-25 10:17] smashah commented on #1391
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-25 10:19] alexanderoskin commented on #1391
WA_VERSION: '2.2106.5'
PAGE_UA: 'WhatsApp/2.2037.6 Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36'
WA_AUTOMATE_VERSION: '3.6.7'
BROWSER_VERSION: 'HeadlessChrome/90.0.4403.0'
OS: 'Linux 4.15'
START_TS: 1614247917596

- Browser Launched
- Injecting api
- Initializing WA

And freezing on this step. Nothing else happens.

[2021-02-25 10:19] smashah commented on #1391
# Changelog

## 🚀 Release [3.6.8](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.7...3.6.8) (2021-02-25)

- Release 3.6.8 [`122fc2d`](https://github.com/open-wa/wa-automate-nodejs/commit/122fc2d7cbbe015212bfeb01f4f81e24fc038f43)

[2021-02-25 10:20] smashah commented on #1391
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-25 10:21] smashah commented on #1391
@alexanderoskin please show your config

[2021-02-25 10:22] smashah commented on #1391
# Changelog

## 🚀 Release [3.6.9](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.8...3.6.9) (2021-02-25)

- Release 3.6.9 [`23e9dca`](https://github.com/open-wa/wa-automate-nodejs/commit/23e9dca9e11bb6b3f317e65fdf6f0287d5997985)
- ➖  removed `moduleraid` dependency due to `git` errors. Still used via patches for backwards compatibility. #1391 [`92b1cd2`](https://github.com/open-wa/wa-au

[2021-02-25 10:31] alexanderoskin commented on #1391
@smashah

[code]

[2021-02-25 10:34] smashah commented on #1391
@alexanderoskin how many times have you restarted your process? also, have you tried the latest version 3.6.9?

[2021-02-25 10:39] cantiir2 commented on #1391
@smashah  this same problem

[2021-02-25 10:40] smashah commented on #1391
@cantiir2 please try 3.6.9

[2021-02-25 10:41] ikkehman commented on #1391
@smashah still error in 3.6.9

![image](https://user-images.githubusercontent.com/62538390/109141145-faff5c00-778f-11eb-84a0-1f144f8137a7.png)

[2021-02-25 10:41] alexanderoskin commented on #1391
With 3.6.9 got - Error: Evaluation failed: ReferenceError: getQrPng is not defined

[2021-02-25 10:43] alexanderoskin commented on #1391
@smashah logs

<img width="1492" alt="Снимок экрана 2021-02-25 в 13 42 39" src="https://user-images.githubusercontent.com/5063096/109142063-7866a480-776f-11eb-8540-22d3b4d2535f.png">

[2021-02-25 10:46] alexanderoskin commented on #1391
@smashah Sentry error log [https://sentry.io/share/issue/69a96c88510b4dd08002c1a46a26ced4/](url)

[2021-02-25 10:46] smashah commented on #1391
@alexanderoskin @ikkehman can you set `throwOnError:true` in your config and try again please

[2021-02-25 10:50] smashah commented on #1391
@alexanderoskin please contact me on discord so I can investigate from within your machine because I'm unable to replicate

[2021-02-25 10:55] king0429 commented on #1391
and when i updated to 3.6.9, still throw error of `getQrPng is not defined`,and i used puppeteer.js to call in terminal @smashah

[2021-02-25 11:08] alexanderoskin commented on #1391
@smashah with `throwOnError:true` nothing changed and nothing new in logs

[2021-02-25 11:10] ghifar1 commented on #1391
thanks for hard work, working in 3.6.9

[2021-02-25 11:11] odhier opened #1396 "Not listening any message"
![Screen Shot 2021-02-25 at 18 08 28](https://user-images.githubusercontent.com/28082192/109145012-837ffb80-7794-11eb-814c-6135b9056d4b.png)

After update to version 3.6.9, bot not listen/receive any messages.
i have enable `throwOnError` in my config, but there's no error thrown

[2021-02-25 11:11] cantiir2 commented on #1391
![image](https://user-images.githubusercontent.com/36468037/109145224-cb068780-7794-11eb-9644-304b5f17ed57.png)
i try with 3.6.9 not working

[2021-02-25 11:11] ikkehman commented on #1391
@smashah nothing changes

![image](https://user-images.githubusercontent.com/62538390/109145271-dd80c100-7794-11eb-9f3f-489677a62db4.png)

[2021-02-25 11:30] HasamiAini commented on #1391
@smashah
**### thank you for the help ... i have been able to solve the problem, have a nice day**

[2021-02-25 11:33] hendryhs opened #1397 "version 3.6.9, sendText to new contacts resulting in sending two messages"
**Describe the bug**
version 3.6.9, sendText function to new contacts resulting in sending two messages.
should
- send message1
- send message2
- send message3

but the result
- send message1
- send message1
- send message2
- send message3

BUT for contacts that's already saved, it doesn't have this issue. Text only sent once, works perfectly.

**Steps to Reproduce**
Steps to reproduce the behavio

[2021-02-25 11:33] IanosJunior opened #1398 "mc.processFiles is not a function"
![Erro_Comunica](https://user-images.githubusercontent.com/34457222/109147749-23f9ff80-7744-11eb-9180-1365fc45591c.png)

?

[2021-02-25 11:39] smashah commented on #1391
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-25 11:41] smashah commented on #1391
# Changelog

## 🚀 Release [3.6.10](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.9...3.6.10) (2021-02-25)

- Release 3.6.10 [`205e1a7`](https://github.com/open-wa/wa-automate-nodejs/commit/205e1a7d063ae372a18982639eaa4dc7b09c53bc)
- 🥚  `sendText` patch #1391 [`7b20f8e`](https://github.com/open-wa/wa-automate-nodejs/commit/7b20f8e7bf00961dd4b27495e1620b8191a72be4)

[2021-02-25 11:42] smashah commented on #1391
@ikkehman @cantiir2 @king0429 @alexanderoskin please update to 3.6.10 and try again

[2021-02-25 11:46] alexanderoskin commented on #1391
With 3.6.10 load successfully 👍

[2021-02-25 11:47] smashah commented on #1396
@odhier can you try again with 3.6.10 please

[2021-02-25 11:50] caturpamunqkas commented on #1391
3.6.10 loaded qr successfully. thanks

[2021-02-25 11:54] odhier commented on #1396
@smashah nothing changes

[2021-02-25 12:01] ikkehman commented on #1391
Its works!!! Problem solved. Thanks 😊

[2021-02-25 12:50] jeferssonlemes commented on #1398
Same problem here

[2021-02-25 12:55] lukasportal commented on #1398
Same here

[2021-02-25 13:01] smashah commented on #1398
@IanosJunior I am unable to replicate the issue with the context you've provided. With the latest version 3.6.10, it is working fine for me. Please fill in the issue template.

thanks

[2021-02-25 13:02] smashah commented on #1398
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-02-25 13:02] smashah commented on #1398
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-02-25 13:02] #1398 closed

[2021-02-25 13:03] odhier commented on #1396
its working now, thank you very much for your hard work @smashah

[2021-02-25 13:04] #1396 closed

[2021-02-25 13:55] lukasportal commented on #1398
To anyone with this problem, here's what fixed for me:
on wapi.js:

look for the function `WAPI.procFiles` and replace the `await mc.processFiles...`
with:
[code]

then later on `sendImage`:
replace the `window.WAPI.procFiles(chat, mediaBlob)` with:

[code]

[2021-02-25 16:29] jeferssonlemes commented on #1398
This solution works for me 😁,  thanks @lukasportal ✌

[2021-02-25 16:33] HasamiAini commented on #1391
@smashah
**### Sorry in advance .. I want to ask, is the current server really a little slow?
not like usual...or is it just me?
**

[2021-02-25 16:42] ghifar1 commented on #1391
@HasamiAini me too, i think its just me

[2021-02-25 16:44] can1871 opened #1399 "sendtext chatid parameter"
[code]

the mistake is this
Argument of type 'string' is not assignable to parameter of type 'ChatId'.ts(2345)

[2021-02-25 17:07] smashah commented on #1399
Odd, ChatId is a literal type that is basically made up of a set of string aliases.

What version of typescript are you running? Update to 4.2.0+

Please try:

[code]

[2021-02-25 17:09] smashah commented on #1398
thanks @lukasportal

[2021-02-25 17:10] smashah commented on #1391
@HasamiAini the sticker server?

[2021-02-25 17:11] HasamiAini commented on #1391
@smashah **### not just stickers. all of them experience slow response**

[2021-02-25 17:14] HasamiAini commented on #1391
@smashah
### **for the command when typed, the server appears but it takes a process to send it**

[2021-02-25 17:26] smashah commented on #1381
@silvaartur is this still happening?

[2021-02-25 17:27] IanosJunior commented on #1398
Done! Thanks @lukasportal and @smashah .
Will you put it in the repository @smashah ?

[2021-02-25 17:33] smashah opened #1400 "CLI: Abbreviations not being parsed correctly"
E.g `-l xyz` is not resulting in a `licenseKey` property in the config.

[2021-02-25 17:43] smashah opened #1401 "CLI: swagger collection - stats race condition"
On an initial run of the CLI in a blank directory, the swagger collection is not ready in time for the swagger stats UI that requires it.

[2021-02-25 17:44] smashah commented on #1398
@IanosJunior it doesn't seem to be affecting anyone using the latest version of the library so I will leave it out for now. I think this issue only occurs for people using wapi.js on it's own

[2021-02-25 17:58] smashah commented on #1400
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-25 18:00] smashah commented on #1400
# Changelog

## 🚀 Release [3.6.11](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.10...3.6.11) (2021-02-25)

- Release 3.6.11 [`6106a8f`](https://github.com/open-wa/wa-automate-nodejs/commit/6106a8fde6ab3691c0bd1ca4f08331c5a4eb0668)
- 🐛  [CLI] `-l` now working as alias for `--license-key` #1400 [`d8c907a`](https://github.com/open-wa/wa-automate-nodejs/commit/d8c907a1365aef9655e481951c5d

[2021-02-25 18:03] #1400 closed

[2021-02-25 18:04] HasamiAini commented on #1391
not just stickers. all of them experience slow response

On Fri, Feb 26, 2021 at 12:10 AM Mohammed Shah <notifications@github.com>
wrote:

[2021-02-25 18:04] smashah commented on #1401
Working in v 3.6.11

[2021-02-25 18:04] #1401 closed

[2021-02-25 18:36] IanosJunior commented on #1398
Ok.
Thanks @smashah

[2021-02-26 00:14] jlsubia404 commented on #1391
Working well with 3.6.10 version. Thank you :)

[2021-02-26 01:53] pedroslopez commented on #1391
Whoop, saw I was tagged here haha- FYI I saw @smashah removed the direct dependency due to git errors, but the package is available on npm if you want to use it https://www.npmjs.com/package/@pedroslopez/moduleraid, which is how my library uses it and we haven't had any issues with it. v5 (latest) is the one that works with the new webpack. Good stuff though!

[2021-02-26 06:33] NitinNR opened #1402 "Help Please"
Can it support webhook where i can receive all events and mesages ? can it support multi instances ? is this use qr code to assign perticular number with the api?

[2021-02-26 08:36] smashah commented on #1391
Must've overlooked checking on npm in the chaos. I will add it back thanks for your great work @pedroslopez

[2021-02-26 08:44] can1871 commented on #1399
thanks

[2021-02-26 08:44] #1399 closed

[2021-02-26 08:46] can1871 opened #1405 "Doesn't get the first message sent, but if a message is sent then it gets both"
Doesn't get the first message sent, but if a message is sent then it gets both. Why?

[2021-02-26 09:05] smashah commented on #1405
@can1871 I need a screenshot.

Is this the same as #1397 ?

[2021-02-26 09:10] #1406 closed

[2021-02-26 09:17] smashah commented on #1406
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-26 09:19] smashah commented on #1406
# Changelog

## 🚀 Release [3.6.12](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.11...3.6.12) (2021-02-26)

- 🐛  [CLI] fix #1406 [`#1406`](https://github.com/open-wa/wa-automate-nodejs/issues/1406)
- Release 3.6.12 [`03d884a`](https://github.com/open-wa/wa-automate-nodejs/commit/03d884aa70233d5621ae90d163cc1d96d56a1338)
- 🐛  [CLI] `--headless false` should work now [`3a96be3`](https://

[2021-02-26 09:21] smashah commented on #1406
@manojsitapara try now with this latest version

[2021-02-26 09:28] manojsitapara commented on #1406
@smashah now working fine !! Thank you !!

[2021-02-26 09:37] manojsitapara opened #1407 "sendLinkWithAutoPreview API is not generating image thumbnail"
I am using latest version 3.6.12

/sendLinkWithAutoPreview API is not generating image thumbnail, only title and description shows up on message.

earlier it was working fine but suddenly it stopped working.

current output

![image](https://user-images.githubusercontent.com/12126671/109283024-496e3280-7844-11eb-86b4-62acc220e3d0.png)

Expected output

![image](https://user-images.githubuserconten

[2021-02-26 09:51] Urbaeexyz commented on #1405
can i ask you something?

why my bot is not respond in version 3.3.0 or newer?
my bot just respond command in version older - 3.2.6

i have search what's wrong with the code
but i can't find out wtf is just happen'

[2021-02-26 09:59] #1397 closed

[2021-02-26 10:00] hendryhs commented on #1397
updated to 3.6.12,
the problem is gone.
closed the issue

[2021-02-26 10:26] can1871 commented on #1405
It's not the same as # 1397. There is nothing to see in the screenshot because my problem is that when I start the program, nothing happens when I first send a message, but when I send a second message, it writes the previous and the new message.

[2021-02-26 10:53] can1871 commented on #1405
I realized that this problem was rooted in the method I used to solve problem # 1399. client.sendText (phone_number + "@ c.us", msg_content); it doesn't work that way. But like this client.sendText (905347396479@c.us ", msg_content);
works. Why?
The error I got is the following: Argument of type 'string' is not assignable to parameter of type 'ChatId'.ts (2345)

[2021-02-26 10:53] rickricardo opened #1409 "Add stickerMetadata parameter on sendStickerfromUrl"
I noticed that the parameter stickerMetadata is now available on sticker functions with DataURL.
Is it possible to add this same parameter on functions like sendStickerfromUrl that send stickers from standard internet URLs (no DataURL) ?

[2021-02-26 12:03] smashah commented on #1407
@manojsitapara I've issued a patch for this. please restart your session and let me know if this is fixed thanks

[2021-02-26 12:04] smashah commented on #1409
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-26 12:06] smashah commented on #1409
# Changelog

## 🚀 Release [3.6.13](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.12...3.6.13) (2021-02-26)

- Release 3.6.13 [`a4cc786`](https://github.com/open-wa/wa-automate-nodejs/commit/a4cc786a46ed03049d4806b1dc74624ad8e28065)
- 🏷️  `requestConfig`s changed from `any` to `AxiosRequestConfig` [`3a50c13`](https://github.com/open-wa/wa-automate-nodejs/commit/3a50c13cb5791b79a1c5bda48

[2021-02-26 12:08] smashah commented on #1409
@rickricardo please try the latest version and report back if it is working for you thanks

[2021-02-26 12:20] smashah commented on #1402
Yes. If you are using the CLI then you can set a webhook with the `--webhook` or `-w` flag

E.g:

[code]

or if you are using the library normally then you can use these:

https://docs.openwa.dev/classes/client.html#registerwebhook
https://docs.openwa.dev/classes/client.html#listwebhooks
https://docs.openwa.dev/classes/client.html#removewebhook

Yes. But you really shouldn't be running multiple se

[2021-02-26 12:20] #1402 closed

[2021-02-26 13:31] smashah commented on #1405
@can1871 I'm not sure what's going on with your set up but for now try this:

[code]

[2021-02-26 13:32] smashah commented on #1381
Closing for now. Please feel free to bump this issue if this is still happening.

Thanks

[2021-02-26 13:32] #1381 closed

[2021-02-26 13:44] #1391 closed

[2021-02-26 13:55] manojsitapara commented on #1407
@smashah thanks !! it's working now !!

[2021-02-26 13:55] #1407 closed

[2021-02-26 15:32] rickricardo commented on #1409
It worked! But since I updated to the last version I am sometimes receiving the error below when sending the sticker.

**Command:**
client.sendStickerfromUrl(message.from, data.fig_url,{},{author:'test author', pack:'test pack'})

**Error:**

503 <!DOCTYPE html>
	<html>
	  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Application Er

[2021-02-26 15:44] can1871 commented on #1405
This way I solved the sendtex problem, but not receiving the first message. When he sends the second message, he receives the first message and writes it on the screen

[2021-02-26 16:02] smashah commented on #1409
@rickricardo this issue you're seeing is related the Heroku sticker server. Keep an eye on the sticker channel in the discord to see server status updates

Thanks

[2021-02-26 16:02] #1409 closed

[2021-02-26 16:14] can1871 opened #1410 "TOSBLOCK error"
![Capture](https://user-images.githubusercontent.com/53393674/109325189-b2ff3880-7866-11eb-81ae-9112b3bcbc58.PNG)

after that chrome closes and the program ending.

The reason for all the problems I opened before was that I got this error and downloaded the new updated version. If I can fix this error my problems will disappear.

[2021-02-26 17:54] smashah commented on #1410
2.0.25?! Please only use the latest versions of the library. If you are having ts lint issues then use

[code]

above those lines.

[2021-02-26 17:54] #1410 closed

[2021-02-26 17:54] costafacchini commented on #1398
This solution works for me too, thanks @lukasportal

[2021-02-26 18:11] can1871 opened #1411 "not getting the first message"
#1410 in this issue you said use the latest version, but with the latest version there was a problem not receiving the first message and when a second message was sent, the first message received with the second message.

[2021-02-26 18:13] abbassnet opened #1412 "today enable to send image"
when we try to send image from browser system return this error message
bet yesterdy all is work correctly

Promise {<rejected>: TypeError: mc.processFiles is not a function
    at Object.window.WAPI.procFiles (<anonymous>:1541:…}
__proto__: Promise
[[PromiseState]]: "rejected"
[[PromiseResult]]: TypeError: mc.processFiles is not a function at Object.window.WAPI.procFiles (<anonymous>:1541:14) at

[2021-02-26 18:18] ferhacks opened #1413 "onAddedToGroup Is not working"
**Describe the bug**
In more recent versions The variable ```onAddedToGroup``` has not been working

**Steps to Reproduce**
1.Start bot (npm start)
2.Add to a group
3.The bot does not give a response when added, but the commands work

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
I expected the bot to be added to give a welcome response
**DEBUG

[2021-02-27 00:46] aymenitc commented on #1384
Yes, please
when I enter sticker metadata in Arabic it returns empty sticker

[2021-02-27 10:43] SomnathDas opened #1414 "#OpenSource_The_Open_WA_Library"
**Dear [ not a corpo ] Admin!** ( ꈍᴗꈍ)

Hi, we've been using this library for a while and recently had to switch to **Baileys** due because it was easy to edit/extend the capabilities of. We tried to fix it, but it was not locking us out. Then **we found out that it won't let edited WAPIs access WA**. The reason I'm making this issue is to know why is this a thing, _it doesn't cause you any harm t

[2021-02-27 11:14] MFarelS commented on #1414
Good, 👍

[2021-02-27 11:16] Suryapardana commented on #1414
We all feel it

[2021-02-27 11:17] MFarelS commented on #1414
Shah, recent update you made the bot script corrupted

[2021-02-27 11:20] smashah commented on #1414
Going to lock this self-rightous convo until I can fully reply.

TLDR: No

[2021-02-27 11:20] #1414 closed

[2021-02-27 11:23] smashah commented on #1412
@abbassnet I think this is the solution to your problem:

https://github.com/open-wa/wa-automate-nodejs/issues/1398#issuecomment-785912146

If not then please fill in the issue template so I can reproduce because I am not able to replicate this problem using the library.

Closing for now.

Thanks

[2021-02-27 11:23] #1412 closed

[2021-02-27 11:48] smashah commented on #1384
@Jonas33235 @aymenitc can you show an example of a sticker that has Arabic/emojis in the metadata and it shows up properly in the mobile apps? I just investigated this and the metadata encoder successfully writes both Arabic and emojis into the sticker. I think WA itself removes these characters from sticker metadata. Happy to be proven wrong and continue investigating though.

[2021-02-27 11:49] Sp0derDev commented on #1413
I'm not sure if my issue is related but the onPartcipantsChanged() event fires randomly sometimes for all group members with the "add" action.

This has prevented me from adding a welcome message for new group members.

[2021-02-27 11:50] smashah commented on #1405
@can1871 can you share the repo with all of your code please so we can resolve this issue.

[2021-02-27 11:51] smashah commented on #1411
duplicate #1405

Please don't spam issues.

[2021-02-27 11:51] #1411 closed

[2021-02-27 11:52] smashah commented on #1385
@blackchineykh can you expand on "a while back"? Also, try to run with `headless:false` and see if the chat is not `undefined` when you scroll down to it. If that works then I'll be able to figure out how to fix this. Also, how many chats do you have in total?

[2021-02-27 11:59] smashah opened #1415 "adding and removing participants to a group"
This issue is to track issues w.r.t adding and removing participants from a group. Apparently there is some delay that needs to be respected between events.

If you are having this issue also, please add your experiences here instead of creating a new issue.

[2021-02-27 12:09] aymenitc commented on #1384
![٢٠٢١٠٢٢٧_١٥٠٣٣٤](https://user-images.githubusercontent.com/76839622/109386645-18a60000-790d-11eb-8b5b-cca0ad8c75d3.jpg)
This is a sticker made by an app.. and the metadata is written in Arabic. I don't know about emojis.

But when trying to made Arabic metadata using The Bot it returns empty sticker
![٢٠٢١٠٢٢٧_١٥٠٨٣٢](https://user-images.githubusercontent.com/76839622/109386711-b13c8000-790d-11e

[2021-02-27 12:24] smashah commented on #1413
@ferhacks is this still happening? is it replicable? It seems to be working fine for me.

Please share the create config maybe the issue is from there

[2021-02-27 12:27] smashah commented on #1384
thanks @aymenitc can you change your language settings to English in the app and see if the sticker in your first image still shows arabic. I just want to make sure all variables are equal

[2021-02-27 12:31] Bintang73 commented on #1415
I don't care about you, I've moved to whatsapp web js. jajajaja

[2021-02-27 12:46] aymenitc commented on #1384
![٢٠٢١٠٢٢٧_١٥٤٣٥٧](https://user-images.githubusercontent.com/76839622/109387494-cff14580-7912-11eb-8772-446fc61c52b8.jpg)
I canged whatsapp language to english, and still shows Arabic

[2021-02-27 12:58] smashah commented on #1384
thanks @aymenitc I will work on this and report back. If you can, please come into the discord and DM me - I want you to send me that sticker in your screenshot

[2021-02-27 13:04] aymenitc commented on #1384
ok, Also, I hope you add metadata to sendStickerfromUrl function too
I appreciate all your efforts

[2021-02-27 13:08] Hentai-sebpai opened #1416 "Open source Open-WA"
Going to lock this self-rightous convo until I can fully reply.

TLDR: No

_Originally posted by @smashah in https://github.com/open-wa/wa-automate-nodejs/issues/1414#issuecomment-787057629_

I seem to feel like this issue was not resolved.

tried to make a bot using open-wa but after every idea I come up with the first thought is will it need a license key
I mean if you have to pay for most of th

[2021-02-27 13:30] smashah commented on #1416
I was going to reply to that issue once the real issues were resolved by later tonight. If anyone else makes another issue regarding this then they will be blocked.

Has a good ring to it. Might actually change the name one day. Anybody not new to this project knows I consider people's circumstances if they ask for a key or if they contribute a good idea to the project. Unfortunately, moaning and

[2021-02-27 13:30] #1416 closed

[2021-02-27 13:32] smashah commented on #1384
@aymenitc this was implemented yesterday - https://github.com/open-wa/wa-automate-nodejs/issues/1409#issuecomment-786608093

[2021-02-27 14:34] Jonas33235 commented on #1384
=)

[2021-02-27 14:45] ICantTinkOfaGoodNameLOL opened #1417 "."

[2021-02-27 14:47] #1417 closed

[2021-02-27 15:05] Ergo-proxy9847 opened #1418 "."

[2021-02-27 15:12] #1418 closed

[2021-02-27 16:22] smashah commented on #1384
@Jonas33235 @aymenitc emojis and arabic should be working now. I have pushed an update to the sticker server. Please try again in about 4 minutes.

Thanks

[2021-02-27 16:22] #1384 closed

[2021-02-27 16:33] Jonas33235 commented on #1384
can this update also use utf-8 encoded words?

[2021-02-27 16:53] aymenitc commented on #1384
Thanks a lot. It works with Arabic and emojis
jazak Allah khaeer

[2021-02-27 18:39] ferhacks commented on #1413
Yes, this has been going on for some time

And I really don't know what's wrong either

Since I don't get any kind of error.

[code]

[2021-02-27 19:05] smashah commented on #1384
@Jonas33235 can you give me an example please

[2021-02-27 19:07] rickricardo opened #1419 "Error on decryptMedia when reading stickers"
With specific stickers, which I couldn't identify a pattern, decryptMedia function returns an error.
Before the metadata update I never had this error.

**Code**
if( message.type==='sticker') {
    let stickerDecryptable = await client.getStickerDecryptable(message.id);
    mediaData = await decryptMedia(stickerDecryptable, uaOverride);   _//line 232_
}

**Error**
TCL: start -> error Error: messag

[2021-02-28 05:54] blackchineykh commented on #1385
A while back could be 3 weeks ago and I do get a lot of incoming chats started. I have in the order of maybe ~20k conversations. I am running with headless = false and when I scroll to the chat, then it does return successfully using the getChat function. What can I do to force this behavior so that the chat doesn't return as undefined?

[2021-02-28 06:23] smashah commented on #1385
Thanks for the additional context @blackchineykh

How many chats does it load on startup?

[2021-02-28 06:58] restugbk opened #1420 "why are you stuck here?"
![image](https://user-images.githubusercontent.com/69737152/109410405-0ee3d180-79cd-11eb-9012-03131f8d1ff6.png)

[2021-03-02 08:06] adityaag121 opened #1430 "Incorrect chat data in message object"
**Describe the bug**
The chat data inside the message object which was sent using client.reply() to a group, contains the data of some other chat.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Listen to onAnyMessage and log the message object
2. Send a text message as a reply to some message in a group, using client.reply()
3. Check the logged message object of the message sent in st

[2021-03-02 10:53] smashah commented on #1430
thanks for filling out the template. I will look into it and report back thanks

[2021-03-02 12:05] smashah commented on #1430
@adityaag121 can you show the code please

[2021-03-02 12:31] smashah commented on #1430
This is super odd, I think it is a bug from wa. I will issue a patch for this either way

[2021-03-02 12:34] adityaag121 commented on #1430
It's onAnyMessage. And the chat data is of some account which is not even in the group. Strange ik. Were you able to reproduce it or shall I provide the code?

[2021-03-02 14:28] smashah opened #1431 "feat: get client license information"

[2021-03-02 14:28] smashah opened #1432 "bug: default sessionId shows as `undefined` in eventMode events"

[2021-03-02 14:29] smashah opened #1433 "bug: participants are null in un-cached group chats"

[2021-03-02 16:23] smashah opened #1434 "bug: onStory reported to not be working with media"

[2021-03-02 16:35] smashah commented on #1385
@blackchineykh can you hop onto discord so I can remote into your machine to fix this please. I can't replicate this because I don't have an account with this many chats

[2021-03-02 16:42] smashah commented on #1419
@rickricardo please try again and if this keeps happening then update @open-wa/wa-decrypt dependency

[code]

Let me know if this is still happening. Thanks

P.S this method is an insider's feature
https://docs.openwa.dev/classes/client.html#getstickerdecryptable

[2021-03-02 17:06] #1432 closed

[2021-03-02 19:03] smashah opened #1436 "feat: add host account hash in sessionInfo"
This will allow things like the sticker API to differentiate between two host account numbers with the exact same last 4 digits.

[2021-03-02 19:08] smashah opened #1437 "bug: `idChecking` results in `Cannot convert undefined or null to object` on zero-arg methods"

[2021-03-02 19:12] #1437 closed

[2021-03-02 19:12] smashah commented on #1434
fixed

[2021-03-02 19:12] #1434 closed

[2021-03-02 19:29] smashah commented on #1436
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-02 19:31] smashah commented on #1436
# Changelog

## 🚀 Release [3.7.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.13...3.7.0) (2021-03-02)

- build(deps): bump patch-package from 6.4.2 to 6.4.4 [`#1435`](https://github.com/open-wa/wa-automate-nodejs/pull/1435)
- build(deps): bump socket.io from 3.1.1 to 3.1.2 [`#1404`](https://github.com/open-wa/wa-automate-nodejs/pull/1404)
- build(deps-dev): bump marked from 2.0.0 to

[2021-03-02 19:55] smashah commented on #1436
https://docs.openwa.dev/classes/client.html#getlicensetype

[2021-03-02 19:55] #1436 closed

[2021-03-02 19:56] smashah commented on #1431
https://docs.openwa.dev/classes/client.html#getlicensetype

[2021-03-02 19:56] #1431 closed

[2021-03-02 19:57] smashah commented on #1420
Is this still happening?

[2021-03-02 19:57] smashah commented on #1415
Seems to be fixed with recent patches

[2021-03-02 19:57] #1415 closed

[2021-03-02 19:58] smashah commented on #1405
Closing for now please respond with the specific code that would help in replicating this issue.

Thanks

[2021-03-02 19:58] #1405 closed

[2021-03-02 20:00] smashah commented on #1430
@adityaag121 this should have been addressed with the recent patches. Please restart your session and can you confirm that it is working as expected now please. thanks

[2021-03-02 20:03] #1433 closed

[2021-03-02 20:04] smashah commented on #1413
@ferhacks is this still happening? I was not able to recreate this issue with your config. If it's still happening please hop into the discord to discuss further so we can resolve this issue asap.

[2021-03-03 02:07] hafriz opened #1670 "error when using --api-host"
hi, there is error when i'm using --api-host 'https://subdomain.domain.com'

Generating Swagger Spec
Error parseUrl is not a function TypeError: parseUrl is not a function
    at /home/pi/wa-automate-docker/node_modules/@open-wa/wa-automate/dist/build/build-postman.js:193:58
    at Array.map (<anonymous>)
    at /home/pi/wa-automate-docker/node_modules/@open-wa/wa-automate/dist/build/build-postman

[2021-03-03 03:36] restugbk commented on #1420
has not

[2021-03-03 08:00] adityaag121 commented on #1430
Yes, it's working as expected now. Thanks

[2021-03-03 08:03] #1430 closed

[2021-03-03 09:35] #1420 closed

[2021-03-03 10:37] MFarelS commented on #1420
Minta apikey bang :3

[2021-03-04 13:35] smashah commented on #1419
The above info should resolve this issue, if not, feel free to bump the issue.

Closing for now.

thanks

[2021-03-04 13:35] #1419 closed

[2021-03-04 15:18] smashah opened #1441 "bug: `popup` results in error if `qrPopUpOnly` is `true`"
popup needs other enhancement. For example:

- [x] lazy import
- [x] remove `parseUrl` as it is now deprecated

[2021-03-04 15:23] #1441 closed

[2021-03-04 21:49] smashah opened #1442 "feat: automatic sticker retries on fallback server + internal load balancing"
Adding sticker requests to a queue would also be a big plus

[2021-03-04 22:08] aymenitc opened #1443 "sendfilefromUrl help"
Hi, when I use sendfilefromUrl function to download videos from youtube or tiktok I get BIN compressed file instead of mp4. The video is inside the BIN file. Any idea how to fix this to send video normally to Whatsapp

[code]

code would be like this

[2021-03-04 23:06] aymenitc commented on #1443
it works Thank you

[2021-03-04 23:06] #1443 closed

[2021-03-05 16:11] Botmcz commented on #1395
(node:11996) UnhandledPromiseRejectionWarning: Error: Evaluation failed: ReferenceError: getQrPng is not defined
    at __puppeteer_evaluation_script__:1:1
    at ExecutionContext._evaluateInternal (C:\xampp\whatsapp-botz\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionContext.js:171:23)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
    at async ExecutionContext.

[2021-03-05 16:57] smashah commented on #1395
@Botmcz please update to the latest version of the library this has been fixed already

[2021-03-06 18:21] smashah commented on #1385
@blackchineykh With some help from people in the community. I have identified that wa web actually loads at least 10k chat objects on launch. If there was some sort of caching limit, it would be well before that point so I have to assume something else is going wrong.

I have a few ideas how to fix this but cannot do it unless I get access to your session - for which I ask again for you to DM me i

[2021-03-06 18:21] #1385 closed

[2021-03-06 18:30] smashah opened #1447 "feat: `sendImageAsSticker` should be as flexible (in terms of source media) as `sendMp4AsSticker`"

[2021-03-06 18:43] smashah commented on #1345
@allanmelo @saifuddin it's been a crazy week and a bit. Recently there was a major bump in the pptr deps. Have you tried the latest version of the library? Are you still seeing these CPU issues?

[2021-03-06 20:05] smashah commented on #1447
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-06 20:20] smashah commented on #1447
# Changelog

## 🚀 Release [3.8.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.7.0...3.8.0) (2021-03-06)

- build(deps): bump open from 7.4.2 to 8.0.2 [`#1439`](https://github.com/open-wa/wa-automate-nodejs/pull/1439)
- build(deps-dev): bump typescript from 4.2.0-beta to 4.2.3 [`#1444`](https://github.com/open-wa/wa-automate-nodejs/pull/1444)
- build(deps): bump patch-package from 6.4.4

[2021-03-06 20:37] #1447 closed

[2021-03-06 20:37] smashah commented on #1442
implemented in 3.8.0

[2021-03-06 20:37] #1442 closed

[2021-03-07 05:04] Jonas33235 opened #1448 "target close"
frequent error
![image](https://user-images.githubusercontent.com/56744848/110229149-1bdd5500-7ee6-11eb-9b2b-e5d57c346ab6.png)

[2021-03-07 12:14] smashah commented on #1448
@Jonas33235 can you share the video file that was causing the problem

[2021-03-07 17:50] Jonas33235 commented on #1448
I don't have the video at the moment
 =(

[2021-03-07 17:59] smashah commented on #1448
@Jonas33235 do you set custom durations for the stickers?

[2021-03-07 20:10] smashah opened #1449 "feat: add a uuid to each event"
Events may occur at the same time, a `id` property on events may be useful for some use cases

[2021-03-07 20:12] Jonas33235 commented on #1448
client.sendMp4AsSticker(chatId, mediaData, { fps: 20}, { pack: authordefault , author: packdefault })

[2021-03-07 20:35] smashah commented on #1448
@Jonas33235 The default for stickers is already 10fps to avoid hitting the 1MB limit. I suggest trying with the defaults and seeing if the error still occurs. To be honest, without any further context or code I cannot help with this issue.

[2021-03-07 21:20] Jonas33235 commented on #1448
ok, thanks

[2021-03-08 01:35] smashah commented on #963
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-08 02:33] smashah commented on #963
# Changelog

## 🚀 Release [3.9.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.8.0...3.9.0) (2021-03-08)

- 💚 rollback local machine npm version to `6.14.11` to match CI [`b1fb6f2`](https://github.com/open-wa/wa-automate-nodejs/commit/b1fb6f222a35e810eed303b46d10609b6df5c30b)
- ➕ added `uuid` dep #1449 [`a074e6b`](https://github.com/open-wa/wa-automate-nodejs/commit/a074e6b9db94c823f355

[2021-03-08 02:44] smashah commented on #963
https://docs.openwa.dev/classes/client.html#updatewebhook
https://docs.openwa.dev/classes/client.html#registerwebhook
https://docs.openwa.dev/classes/client.html#removewebhook
https://docs.openwa.dev/classes/client.html#listwebhooks

[2021-03-08 02:44] #963 closed

[2021-03-08 02:44] smashah commented on #1449
implemented in v3.9.0

[2021-03-08 02:44] #1449 closed

[2021-03-08 02:45] smashah commented on #1413
Feel free to message in the discord channel if this problem persists.

Closing for now.

Thanks

[2021-03-08 02:45] #1413 closed

[2021-03-08 02:46] smashah commented on #1448
If you are able to replicate this please fill the issue template.

Closing.

thanks

[2021-03-08 02:46] #1448 closed

[2021-03-08 03:47] restugbk commented on #1420
anjjer

[2021-03-08 15:23] smashah opened #1453 "security: Need to update typedoc due to `marked` vuln"

[2021-03-08 15:50] guilhermebkel opened #1454 "Not able to get reply message after creating it"
**Describe the bug**
Hello everyone! At first I would like to thank you all for making this awesome lib!
Some days ago I started using it and came across with the following bug: When I create a message and try to get it by its id after, it works as expected, but when I create a replyMessage and try to get it later, it does not return me a Message but null 🤔
Do you know why this happens?

**Steps t

[2021-03-08 16:18] Kanuility opened #1455 "✖ The session is invalid. Retrying"
**Describe the bug**
Since longer at me and my friend's bots, we always get invalid sessions. Even If we scan QR over headless false.
We made sure to wait for updates and test it then again but it still won't work!

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Live in Germany
2. Start Visual studio code
3. open your bot folder
4. open a terminal
5. do npm start
**create() code**
Thi

[2021-03-08 16:26] smashah commented on #1455
@Kanuility there have been major updates since `v2.0.25`. Please update the library to the latest version and try again.

[2021-03-08 16:27] smashah commented on #1454
Interesting. I will look into this.

[2021-03-08 16:27] Kanuility commented on #1455
Hey, before I came here I did  npm i --save @open-wa/wa-automate@latest so I thought it would be latest

[2021-03-08 16:36] #1455 closed

[2021-03-08 16:40] Kanuility opened #1456 "Cannot create property 'skipBrokenMethodsCheck' on string 'Imperial'"
**Describe the bug**
TypeError: Cannot create property 'skipBrokenMethodsCheck' on string 'Imperial'
    at C:\Users\dinok\OneDrive\Desktop\ffe\node_modules\@open-wa\wa-automate\dist\controllers\initializer.js:386:55
    at step (C:\Users\dinok\OneDrive\Desktop\ffe\node_modules\@open-wa\wa-automate\dist\controllers\initializer.js:63:23)
    at Object.next (C:\Users\dinok\OneDrive\Desktop\ffe\node_

[2021-03-08 16:54] smashah commented on #1456
@Kanuility Looks like you have some upgrading to do.

In newer versions of the library, you can no longer set the first param in `create` as the `sessionId`, it has to be in the config object itself.

Please see: https://github.com/YogaSakti/imageToSticker/blob/2462288f3b24db368d235c874a14da5e4c228a33/index.js#L71

Also, for small things like this I would suggest using the discord (click the disco

[2021-03-08 16:54] #1456 closed

[2021-03-08 17:17] smashah commented on #1453
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-08 17:30] smashah commented on #1453
# Changelog

## 🚀 Release [3.9.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.0...3.9.1) (2021-03-08)

- Release 3.9.1 [`e33171e`](https://github.com/open-wa/wa-automate-nodejs/commit/e33171e333ad7720f1022462e49daca897a1bd19)
- 📝  upgrade documentation to latest typedoc #1453 [`b2e4533`](https://github.com/open-wa/wa-automate-nodejs/commit/b2e453367c2102dba390c2861f112acdba125ee1)
-

[2021-03-08 17:54] #1453 closed

[2021-03-08 18:51] smashah commented on #1454
@guilhermebkel I've issued a patch to fix this. Please restart your session and try again. Let me know if it worked. Thanks

[2021-03-08 21:45] smashah commented on #1453
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-09 13:28] guilhermebkel commented on #1454
@smashah It now works like a charm! Thanks for fixing it so fast!

[2021-03-09 13:28] #1454 closed, assigned to nobody

[2021-03-09 21:56] joaovillas opened #1460 "Account being banned"
Has any one got your account banned by using some libs like this one? i`ve get my account banned for some reason.

[2021-03-11 10:46] smashah opened #1463 "feat: implement `hideTags` on `sendImage` & `sendFile`"

[2021-03-11 11:29] dantenol opened #1464 "Error on getting all chats"
**Describe the bug**
When trying to get all my chats, the code finds an error on certain groups, throwing the error shown below

**Steps to Reproduce**
Steps to reproduce the behavior:
1. create a group on other phone and add yourself
2. get kicked from the group by someone else (do not delete the chat)
3. setup your instance
4. run client.getAllChats()
5. see the error

**create() code**
This is

[2021-03-11 14:44] #1464 closed

[2021-03-11 16:32] smashah opened #1465 "bug: update loop"
see https://github.com/open-wa/wa-automate-deploy-heroku/issues/9

[2021-03-12 11:13] #1465 closed

[2021-03-12 11:14] smashah commented on #1463
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-12 11:16] smashah commented on #1463
# Changelog

## 🚀 Release [3.9.2](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.1...3.9.2) (2021-03-12)

- build(deps): bump swagger-ui-dist from 3.44.1 to 3.45.0 [`#1466`](https://github.com/open-wa/wa-automate-nodejs/pull/1466)
- build(deps-dev): bump @typescript-eslint/eslint-plugin from 4.16.1 to 4.17.0 [`#1457`](https://github.com/open-wa/wa-automate-nodejs/pull/1457)
- build(deps

[2021-03-12 11:23] #1463 closed

[2021-03-12 14:20] smashah commented on #1345
@allanmelo @saifuddin Today I had a video call with another user who was experiencing this problem where the CPU was being pinned to 100% shortly after starting the process. The problem was resolved by updating the library to the latest version (now 3.9.2).

I highly encourage everyone to keep up to date with the library at all times.

I will close this issue for now but feel free to bump if you c

[2021-03-12 14:20] #1345 closed

[2021-03-12 14:20] guilhermebkel opened #1467 "Proxy fails on production"
Hello! How you doing?

I've started using proxy with **open-wa** and it works like a charm on development environment, but fails on production (actually when I set up a proxy on production, the message logs stop on "- Initializing WA" and does not go anywhere).

My Dockerfile is:
[code]

Do you have any tips about that?

A huge thanks for this awesome lib :)

[2021-03-12 14:25] smashah opened #1468 "bug: don't show update message in session info when the update version is the same as the installed version"
For example:

`3.9.2 UPDATE AVAILABLE 3.9.2`

doesn't make any sense

[2021-03-12 14:41] smashah commented on #1467
@guilhermebkel will need to see your config to see what's going wrong

[2021-03-12 14:44] #1468 closed

[2021-03-12 14:55] guilhermebkel commented on #1467
@smashah My config is:
[code]

The correct error that is shown is:

[code]

[2021-03-12 15:40] smashah commented on #1467
For whatever reason, your proxy is not able to get the web page in your production environment.

Have you tried the proxy in another environment? Maybe your proxy is being blocked by the provider. If you want I can test out the proxy on my machine if you dm me the details in discord

[2021-03-12 16:16] guilhermebkel commented on #1467
hmmmmm, the other only environment I've tried was my local machine and it worked perfectly, besides, I do not think I could be a provider block since I have made a **CURL** inside the machine that is running the open-wa and the **CURL** works fine as well 🤔 (or maybe the curl does not simulate the chromium behavior)

[2021-03-12 18:47] smashah commented on #1467
@guilhermebkel can you DM me your config with the proxy details and I will look into this. I can't really help without testing it out myself

[2021-03-12 21:55] smashah opened #1469 "feat: notify in logs when `qrLogSkip` is set to true"

[2021-03-12 22:03] smashah commented on #1467
For reference, this should work:

[code]

[2021-03-13 00:28] smashah opened #1470 "feat: seperate logs for downloading patches and installing patches"

[2021-03-13 00:31] #1469 closed

[2021-03-13 00:31] #1470 closed

[2021-03-13 00:32] smashah commented on #1470
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-13 00:34] smashah commented on #1470
# Changelog

## 🚀 Release [3.9.3](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.2...3.9.3) (2021-03-13)

- 🔊  fix #1469 [`#1469`](https://github.com/open-wa/wa-automate-nodejs/issues/1469)
- Release 3.9.3 [`96d4cca`](https://github.com/open-wa/wa-automate-nodejs/commit/96d4ccab82827466666ff525617a6bc0da4d5a62)
- 🔊  seperated logs for installing and downloading patches #1470 [`12e1e45`]

[2021-03-13 14:15] richoarbianto opened #1471 "blur stickers"
![sticker-blur](https://user-images.githubusercontent.com/74143772/111032812-a66f0880-8440-11eb-8cbf-e730fc024ba7.jpg)

Why does the sticker that I make produce a blurry sticker?

I made a sticker using the following code:

[code]

Why?

[2021-03-13 14:47] edneijunior opened #1472 "High CPU usage"
I noticed that my instance had a significant increase in the use of cpu for no apparent reason.

**Describe the bug**
I have three instances of OpenWa running for a few months, after upgrading to version 3.7.0 I noticed the high CPU
After reading qrCode after a while, for no apparent reason, the use of cpu goes above 70%

**Steps to reproduce the behavior:**
1. Execute below sample code
2. Scan QR

[2021-03-13 15:31] smashah opened #1473 "patches link down"
Hi,

If you are experiencing an error on startup when installing/downloading the patches, please change the link in `./node_modules/@open-wa/wa-automate/package.json`

from

[code]

to

[code]

To-do:

- [x] Implement patches fallback
- [x] Show patches tag

[2021-03-13 15:35] smashah commented on #1472
@edneijunior thanks for filling in the template. Do you have any idea as to when this jump in CPU usage happens (maybe it is triggered by a firing of a specific listener)

What listeners do you using in your code? Is this easily reproducible? Does the problem occur on every instance? Do all instances run the same code?

[2021-03-13 15:40] smashah commented on #1473
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-13 15:43] smashah commented on #1473
# Changelog

## 🚀 Release [3.9.4](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.3...3.9.4) (2021-03-13)

- Release 3.9.4 [`a41523e`](https://github.com/open-wa/wa-automate-nodejs/commit/a41523e4a8e7bb1f08a36a25606ccdb0c7eb2936)
- 🥚  patch update [`5e2311c`](https://github.com/open-wa/wa-automate-nodejs/commit/5e2311cc699a875dcfdc3e65748502b0288541ed)
- 👽 revert patch link to raw github

[2021-03-13 16:02] smashah commented on #1471
@richoarbianto what is the source image?

[2021-03-13 16:05] richoarbianto commented on #1471
@smashah image file

[2021-03-13 16:15] smashah commented on #1471
@richoarbianto I mean, can you attach the original file here

[2021-03-13 16:20] richoarbianto commented on #1471
![textprome_16048aeef5e572](https://user-images.githubusercontent.com/74143772/111036585-7af51980-8452-11eb-987d-787aa7d6a186.jpg)

try using it, how to do it?

[2021-03-13 16:59] edneijunior commented on #1472
hello friend, yes, all instances with the same percentage of disk usage. I did not notice any event that may have triggered the increase in disk usage. The only point in common is that they were consuming a lot of memory, so I restarted them all and scanned qrCode again.

[2021-03-14 04:51] richoarbianto commented on #1471
I have managed to solve this problem by first using the [decryptMedia()](https://docs.openwa.dev/classes/api_client.client.html#decryptmedia) function to generate a buffer.

[2021-03-14 04:51] #1471 closed

[2021-03-14 17:17] smashah opened #1474 "feat: allow setting sticker dimension"
To reduce the sizing of stickers, you can currently lower the framerate and duration, but not output resolution (currently 512x512). People should be able to set the output resolution (as a square) to reduce output webp sizes, specifically for mp4 conversions.

[2021-03-14 17:19] smashah commented on #1474
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-14 17:19] #1473 closed

[2021-03-14 17:21] smashah commented on #1474
# Changelog

## 🚀 Release [3.9.5](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.4...3.9.5) (2021-03-14)

- Release 3.9.5 [`385bb8d`](https://github.com/open-wa/wa-automate-nodejs/commit/385bb8d785bbe5558e6ffec7ae633ad4913ec621)
- ✨  added `square` in `Mp4StickerConversionProcessOptions` to set sticker output dimention #1474 [`a55ee43`](https://github.com/open-wa/wa-automate-nodejs/comm

[2021-03-14 17:22] #1474 closed

[2021-03-14 17:23] smashah commented on #1467
@guilhermebkel did the changes work for you?

[2021-03-14 17:27] guilhermebkel commented on #1467
Hello @smashah! At first thanks a lot for that support!

I've tried to add these changes on my Dockerfile but I'm still having the same error :/ So I think it is something related to the Docker environment. Tomorrow I'll try to install my application on a VM without Docker in order to try to understand what I'm missing on my Dockerfile to get it to work.

[2021-03-14 21:08] smashah commented on #1467
@guilhermebkel I have tried to make it work in a docker environment and the following files work when compiled and run on docker on mac and ubuntu.

<details>
<summary>index.js</summary>

[code]

</details>

<details>
<summary>Dockerfile</summary>

[code]

</details>

<details>
<summary>package.json</summary>

[code]

</details>

command:

[code]

The only thing I noticed is that it does take quit

[2021-03-14 21:08] #1467 closed

[2021-03-15 12:14] guilhermebkel commented on #1467
Hello @smashah, it looks like I had an cache dependency issue. I deleted my package-lock.json that I use for caching during builds, created a new one and it worked like a charm while using the commands you asked me for on Dockerfile in the last comment!

Thanks for all the support!

[2021-03-15 21:04] lbertoncello opened #1484 "parseUrl is not a function"
I'm receiving the following error after running `npx @open-wa/wa-automate --in-docker --api-host $API_HOST -p 3000 -k $API_KEY -w $API_WEBHOOK --qr-timeout 0 --qr-log-skip --disable-spins --popup -l $API_LICENSE`

[code]

**DEBUG INFO**

[code]

[2021-03-15 23:48] smashah opened #1485 "BROKEN METHODS: fe177"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-03-16 02:31] suariana opened #1486 "Run api on web hosting"
Hi, i have a problem with running this api on web hosting
the api can't create a qr code images
i already changes the permission but still can't create the file
is there any solution to solve the problem?
thankyou :)

[2021-03-16 03:54] smashah commented on #1484
what an odd issue. I'm not able to reproduce. What node version is your container/vps running?

[2021-03-16 03:56] smashah commented on #1486
There isn't much info here but if you are using the heroku deployment, you have to authenticate and generate a session.data.json file then set it as an environmental variable because a heroku dyno does not maintain its states.

[2021-03-16 03:57] #1485 closed

[2021-03-16 04:00] lbertoncello commented on #1484
My container is using Node 14.5.0

[2021-03-16 04:20] smashah commented on #1484
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-16 04:22] smashah commented on #1484
# Changelog

## 🚀 Release [3.9.6](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.5...3.9.6) (2021-03-16)

- build(deps): bump ts-json-schema-generator from 0.88.0 to 0.89.0 [`#1475`](https://github.com/open-wa/wa-automate-nodejs/pull/1475)
- build(deps-dev): bump eslint from 7.21.0 to 7.22.0 [`#1476`](https://github.com/open-wa/wa-automate-nodejs/pull/1476)
- build(deps): bump puppeteer

[2021-03-16 04:36] smashah commented on #1484
@lbertoncello try 3.9.6

[2021-03-16 17:08] lbertoncello commented on #1484
It's working now. Thanks!

[2021-03-16 20:15] #1484 closed

[2021-03-17 01:36] suariana commented on #1486
![image](https://user-images.githubusercontent.com/47437771/111400734-e6fda900-8702-11eb-90ec-0d0c9132eb6c.png)

this is my code, i wanna make a png file of the qr code but that doesn't work, when i try to make txt file with fs.writeFile function, it's working properly, i still don't know what's the problem.

it only happens in web hosting, when i try it on my local computer, it's working properly

[2021-03-17 02:54] JustArraBotA1 opened #1492 "-"
-

[2021-03-17 03:17] #1492 closed

[2021-03-17 03:36] victorsouzaleal opened #1493 "Function refresh not working"
**Describe the bug**
Problem with client.refresh() , the promise never ends and the bot is stuck only with the message on the console "Refreshing"

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Try to run client.refresh () from any part of the code

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
The page reload and the bot continue t

[2021-03-17 08:10] #1486 closed

[2021-03-17 12:21] FubinSama opened #1494 "version:3.9.6,EASY API: error Error: Protocol error (Runtime.callFunctionOn): Session closed."
**Describe the bug**
version 3.9.6 EASY API , `middleware -> error Error: Protocol error (Runtime.callFunctionOn): Session closed. Most likely the page has been closed.`

**Steps to Reproduce**
1. exec `nohup npx @open-wa/wa-automate &`
2. Waiting for some minutes and do nothing.
3. There's a `session close` appears and threads terminal

**The whole console**
[code]
How can I fix this?

Thank u ve

[2021-03-17 17:09] smashah commented on #1494
@FubinSama for some reason the browser/page is being closed or is being "disconnected" from the open-wa client . This usually happens when the browser context is 'let go', for example, when your computer goes to sleep or when the client is stringified and referenced later. Because you are using the easy-api I would assume that this is due to the node process being interrupted in some way. Does thi

[2021-03-17 18:27] lbertoncello opened #1495 "Some issues when using Easy API"
I'm using Easy API running on docker to send messages. Sometimes I got the following error on Easy API:

[code]
Furthermore, I got the following response on the request:

[code]

The strangest thing about this is that the message is sent, despite the errors triggered and, for some reason, it's sent twice. I did tests by sending messages to my personal number and I realized that this seems to happe

[2021-03-18 02:39] FubinSama commented on #1494
@smashah I think it doesn't happen without `nohup`. But I can't sure it.
Howerver, I using `nohup` to run it for 12 hours and the error just occurs one time.(By the way, I ran it on a CentOS7 server and there's alway request to it.)
Thanks for your help.

[2021-03-18 15:01] smashah commented on #1495
@lbertoncello can you share the CLI command you use to start the process, please.

If you are setting webhooks, then can you try without setting any webhooks and see if this problem still happens.

Thanks

[2021-03-18 16:27] lbertoncello commented on #1495
[code]

Okay, I'm going to test it and give you feedback.

[2021-03-18 18:45] lbertoncello commented on #1495
The issue persists even without a webhook.

[2021-03-18 21:34] smashah commented on #1495
Thanks for checking @lbertoncello can you do me a favour and update the error logs in the first comment because the WhatsApp version has been updated now.

[2021-03-18 21:38] lbertoncello commented on #1495
Do you mean the debug info?

[2021-03-18 21:55] smashah commented on #1495
I mean this:

[code]

[2021-03-18 21:59] lbertoncello commented on #1495
I didn't understand. Is there a new release that correct this error?

[2021-03-18 22:06] lbertoncello commented on #1495
OK, I will do this

[2021-03-19 00:19] chgss opened #1496 "Error in scan a new QR"
I got this error when I try to scan new QR in a new account

`Error Evaluation failed: TypeError: Cannot read property 'user' of undefined
    at window.o (__puppeteer_evaluation_script__:1:264130)
    at __puppeteer_evaluation_script__:1:8 Error: Evaluation failed: TypeError: Cannot read property 'user' of undefined
    at window.o (__puppeteer_evaluation_script__:1:264130)
    at __puppeteer_eva

[2021-03-19 00:42] victorsouzaleal opened #1497 "addParticipant handling errors"
**Describe the bug**
the addParticipant function does not have a good error handling, these types of errors are not returned : Group full, Participant recently left and Participant cannot be added in groups (Only contacts). And the function cannot add to the group who has never been in it before.

**Steps to Reproduce**
Steps to reproduce the behavior:

1. create an addParticipant function with ca

[2021-03-19 03:54] Sp0derDev opened #1498 "Generic error when including a zero before the number"
**Describe the bug**
I get a "generic?" error when someone adds a zero before their numbers and after the country code.
For example
Success if number is +97455xxxxxx
Fail with the above error if number is +974055xxxxxx ( same number but with an added zero after the country code )

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Add zero after country code
2. Send text message

**create(

[2021-03-19 04:26] Sp0derDev commented on #1498
Quick update: I found a workaround for this issue. I run the phone number through the `checkNumberStatus()` method and then I get the phone number from the response of that method. I then use the new number ( without the zero ) and send the text message.

[2021-03-19 12:09] smashah commented on #1496
@chgss does this happen every time?

[2021-03-19 12:30] smashah commented on #1498
@Sp0derDev `974055xxxxxx` isn't really a valid number but the library should respond with `Error: Number not linked to WhatsApp Account`

[2021-03-19 12:36] Sp0derDev commented on #1498
[code]

This is the error I get. Also, as I mentioned above. When I use the `getStatus()` it works and returns the number without the extra zero,

[2021-03-19 12:46] smashah commented on #1498
thanks for the error logs. seems to be related to #1495

[2021-03-19 12:48] Sp0derDev commented on #1498
If you could maybe implement the workaround I mentioned instead of throwing an error. That would be great!

[2021-03-19 15:27] chgss commented on #1496
I tried to scan the code for the first time I got the error message and the program closed, then I tried again by starting the program and it logged in with no issues without scan QR again.

I have not tried to scan the code with another account.

[2021-03-20 00:28] raqaelf opened #1500 "Can Easy API init multiple session ?"
i saw in npx `@open-wa/wa-automate --help` that easy api can retrieve qr with multiple session like this
`http://localhost:3000/qr?sessionId=[sessionId]`

but i dont know how can create new session.

[2021-03-20 00:45] lbertoncello commented on #1495
@smashah It's done, I've updated the log

[code]

[2021-03-20 00:47] smashah commented on #1495
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-20 00:49] smashah commented on #1495
# Changelog

## 🚀 Release [3.9.7](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.6...3.9.7) (2021-03-20)

- build(deps): bump open from 8.0.2 to 8.0.3 [`#1499`](https://github.com/open-wa/wa-automate-nodejs/pull/1499)
- build(deps-dev): bump @typescript-eslint/parser from 4.17.0 to 4.18.0 [`#1489`](https://github.com/open-wa/wa-automate-nodejs/pull/1489)
- build(deps): bump puppeteer-ex

[2021-03-20 00:50] smashah commented on #1495
@lbertoncello can you update and try again. Hopefully the issues are fixed now.

[2021-03-20 00:51] smashah commented on #1493
`refresh` has been updated and tested to be working in v3.9.7

Please open a new issue if there are any further problems. thanks

[2021-03-20 00:51] #1493 closed

[2021-03-20 00:52] smashah commented on #1498
@Sp0derDev please update to v3.9.7 and try again.

[2021-03-20 00:56] smashah commented on #1494
@FubinSama it seems like an extreme edge case. I would suggest not using `nohup` and also restarting the process regularly based on your experience (so in your situation I would restart it every 12 hours).

For now, I will close this issue but please update it with any new details or you can mention this issue in the discord to discuss further.

Thanks

[2021-03-20 00:56] #1494 closed

[2021-03-20 00:58] smashah commented on #1496
@chgss this should not happen again after the latest patches.

Thanks

[2021-03-20 00:58] #1496 closed

[2021-03-20 00:59] #1498 closed

[2021-03-20 14:37] the-jojo-jj opened #1501 "Sending Image to endpoint maximal 100px only?"
I've got image from endpoint just 100px only. there is the way to setting this up?

thanks.

[2021-03-20 14:41] smashah commented on #1501
@the-jojo-jj when you receive a media/image message via the API, the body property will represent the blurred thumbnail of the image, not the actual image. You have to decrypt the message using /decryptMedia

[2021-03-20 15:07] the-jojo-jj opened #1502 "quotemsgid missing at webhook"
Somebody, Can help me with this?

[2021-03-20 15:23] the-jojo-jj commented on #1501
Ok, super thanks!

[2021-03-20 15:39] the-jojo-jj commented on #1501
@smashah can you give me example message format?

[2021-03-20 17:00] smashah commented on #1502
Please use the template going forward

[2021-03-20 17:00] smashah commented on #1502
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-03-20 17:00] smashah commented on #1502
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-03-20 17:00] #1502 closed

[2021-03-21 04:51] the-jojo-jj commented on #1501
Messageid = id

Thanks!

[2021-03-21 04:51] #1501 closed

[2021-03-21 08:21] smashah commented on #1100
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-21 08:38] smashah commented on #1100
# Changelog

## 🚀 Release [3.9.9](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.8...3.9.9) (2021-03-21)

- Release 3.9.9 [`c58eedb`](https://github.com/open-wa/wa-automate-nodejs/commit/c58eedbfa4ee3b3c7ad2ad92dc448c896dcfdab8)
- ✏️  fix typos and broken links [`b9c1be5`](https://github.com/open-wa/wa-automate-nodejs/commit/b9c1be5032cdfa4a356d6d5c450c5be310c95d7d)
- ⬆️ package lock fi

[2021-03-21 09:03] smashah commented on #1497
@victorsouzaleal what exactly is the error when you try adding a person to a 'full group' and what is that limit? Apparently it can go up to 10k?

[2021-03-21 10:44] victorsouzaleal commented on #1497
Adding to a group of 257 people, when I give the command to add, a popup appears on the cell phone warning that the group is full, but the addParticipant function does not return an error.

[2021-03-21 11:02] smashah commented on #1497
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-21 11:04] smashah commented on #1497
# Changelog

## 🚀 Release [3.9.10](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.9...3.9.10) (2021-03-21)

- Release 3.9.10 [`b848ca1`](https://github.com/open-wa/wa-automate-nodejs/commit/b848ca1c97ffc0e9f1a090f505ab8be9734a92c0)
- 🚸  improved `addParticipant` error handling #1497 [`66d7276`](https://github.com/open-wa/wa-automate-nodejs/commit/66d7276e8ab33fca21997b2c58ef4306b3fb3b30

[2021-03-21 11:14] smashah commented on #1497
@github-actions run

<details>
<summary>⚡ Docs!  ⚡</summary>

[code]
</details>

[2021-03-21 11:25] smashah commented on #1497
@victorsouzaleal, to be honest, I'm not that popular so don't have access to a group with that many participants so, for now, I will just forward the errored status codes so you can decide what you want to do with them. E.g:

![image](https://user-images.githubusercontent.com/5903821/111902461-7a9de500-8a35-11eb-8424-c7dd5ea33cf8.png)

You can now also send multiple participants to add, it will tr

[2021-03-21 11:25] #1497 closed

[2021-03-21 14:41] smashah opened #1503 "feat: `getChatsByLabel`"

[2021-03-21 14:49] marcogaruthix commented on #1472
the same occurs here

[2021-03-21 14:56] smashah commented on #1503
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-21 14:58] smashah commented on #1503
# Changelog

## 🚀 Release [3.9.12](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.11...3.9.12) (2021-03-21)

- Release 3.9.12 [`33b1885`](https://github.com/open-wa/wa-automate-nodejs/commit/33b1885b56aa9aab74afda143bdf004a802841b7)
- ✨ feat: implemented `getChatsByLabel` #1503 [`49e37b2`](https://github.com/open-wa/wa-automate-nodejs/commit/49e37b25343657b105d1c0d000735359f5f19c82)
- 🥚

[2021-03-21 15:02] smashah commented on #1503
https://docs.openwa.dev/classes/api_client.client.html#getchatsbylabel

[2021-03-21 15:02] #1503 closed

[2021-03-21 15:06] smashah commented on #1472
@edneijunior @marcogaruthix

The investigation to the root cause of this issue is more involved than what can be achieved over a github issue. I will need to audit your code and your environments to solve this one. Please join the discord and use the perf channel to discuss this further.

[2021-03-21 15:09] #1472 closed

[2021-03-21 15:12] smashah commented on #1500
hi @raqaelf the simple answer to this question is no and that's by design.

Consider the ability to run multiple sessions in one process as a convenience for testing purposes. It is not advised in production specifically because it can cause one crash to take out all of your sessions.

Best practices is to separate each session.

Thanks

[2021-03-21 15:12] #1500 closed

[2021-03-21 15:19] #743 closed

[2021-03-21 16:18] smashah opened #1504 "feat: `onChatDeleted`"
This is required for the collector to function efficiently.

blocking #1042

[2021-03-21 19:15] smashah commented on #1042
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-21 19:17] smashah commented on #1042
# Changelog

## 🚀 Release [3.9.13](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.12...3.9.13) (2021-03-21)

- 📝 collector docs #1042 [`02ddbf6`](https://github.com/open-wa/wa-automate-nodejs/commit/02ddbf62eac0b0dfb41058acbce549c634b1feaa)
- ✨ implemented `client.createMessageCollector` #1042 [`bed4c4b`](https://github.com/open-wa/wa-automate-nodejs/commit/bed4c4b100bf67410af8bf607a1df

[2021-03-21 19:30] smashah commented on #1042
@tcortega @Dargon-dev @shubham0804 @lxndr-rl you can now use `client.createaMessageCollector` to make a discord-like message collector

Example 1: I want maximum 2 images over the next 15 seconds with at least 1 every 5 seconds.

[code]

Example 2: Give me the next 5 replies over the next 30 seconds

[code]

You can learn more about the inspiration (read, source) of this feature here: https://disc

[2021-03-21 19:30] #1042 closed

[2021-03-21 19:31] #1504 closed

[2021-03-21 19:32] smashah commented on #1495
@lbertoncello closing for now. feel free to bump if there are still problems or message me on discord. thanks

[2021-03-21 19:32] #1495 closed

[2021-03-21 20:36] smashah commented on #1042
I FORGOT TO MENTION THAT YOU NEED TO MAKE SURE EVENTMODE IS ON.

in your configs:

`eventMode: true`

[2021-03-22 21:59] lbertoncello commented on #1495
@smashah I've tested the version 3.9.13 today. I'm still facing this issue

[2021-03-22 23:10] smashah commented on #1495
@lbertoncello can you dm me on discord please

[2021-03-23 08:25] perikout opened #1510 "REQ"
I really want this nice library to have the send raw webp as video / gif feature, is that possible? I beg you to make it possible

[2021-03-23 11:16] smashah commented on #1510
https://docs.openwa.dev/classes/api_client.client.html#sendrawwebpassticker

[2021-03-23 11:16] #1510 closed

[2021-03-23 14:13] lbertoncello commented on #1495
Sure!

[2021-03-23 18:29] lbertoncello commented on #1495
@smashah  Where can I find your user on discord?

[2021-03-23 18:35] smashah commented on #1495
@lbertoncello please click the discord badge in the readme to join the channel and mention this issue.

[2021-03-23 18:36] smashah opened #1514 "enhancement: preload license and patch"
This should make the load time a bit better.

[2021-03-23 18:44] smashah opened #1515 "enhancement: throw proper error when session data file is corrupted"

[2021-03-23 22:16] smashah opened #1516 "enhancement: [CLI] flag to automatically retry on page load timeout"

[2021-03-23 22:24] lfilipe09 opened #1517 "Is this against Whatsapp's Terms of Service?"
I am thinking using this library to develop an academic research in my university, I see on internet nowadays a lot of companies that develops whatsapp chatbots using their own API, but they don't have access to Whatsapp API according to the official [list](https://www.facebook.com/business/partner-directory/search?solution_type=messaging&platforms=whatsapp) . I've made some interviews with that c

[2021-03-24 05:20] the-jojo-jj opened #1518 "how to send image and let receiver get preview instead of download the image?"
confusing with sendimage and sendfile endpoint.
how to send image and let receiver get image preview instead of downloadind the image?

[2021-03-24 07:03] perikout commented on #1510
Sorry that didn't answer me, I'd like to be able to convert Webp to video / gif

[2021-03-24 10:05] smashah commented on #1518
@the-jojo-jj please show the request you're making to the endpoint

[2021-03-24 10:56] the-jojo-jj commented on #1518
both localpath file and base64 doesn't work.

curl --location --request POST 'https://xxx.xxxxx.xx/v01/wa/jxxxxx/sendImage' \
--header 'api_key: 46xxxxxx1a9bfcbxxxxx' \
--header 'Content-Type: application/json' \
--header 'Cookie: __cfduid=d0c50ae364cc9f288f8e6f02aacc7816e1616313290' \
--data-raw '{
  "args": {
    "to": "62822191xxxxx@c.us",
    "file": "https://labs.xxxxxx.info/media/qris-jagoan

[2021-03-24 11:06] smashah commented on #1518
You need to remove the placeholder/example properties in the JSON body

[code]

when you send `"withoutPreview": "boolean"` it resolves to `"withoutPreview": true` because a non null string resolves to true.

Don't send unnecessary data to the endpoint.

[2021-03-24 11:44] the-jojo-jj commented on #1518
hi @smashah thanks again for your reply.
but, can i send image more than 100x100 ?
we need it to send qrcode.

thanks

[2021-03-24 12:34] smashah commented on #1518
@the-jojo-jj any file you can send via the web client itself should be able to be sent via these endpoints. Please click on the discord badge in the readme and discuss these small issues there thanks

[2021-03-24 12:34] #1518 closed

[2021-03-24 12:46] smashah commented on #1517
@lfilipe09 I am not a lawyer so cannot advise on what is or isn't within their TOS. That aside, everybody uses this library at their own risk.

Bulk messaging/spam and abusive behaviour are most likely to result in people reporting your account leading to a ban. It is against the license of this library also.

You are actually not able to send bulk messages through this library as it is, specifica

[2021-03-24 12:46] #1517 closed

[2021-03-24 14:27] smashah opened #1519 "feat: add a config option to allow users to use a cached version of patches"

[2021-03-24 14:54] smashah commented on #1516
wont be implemented due to: https://stackoverflow.com/questions/41768287/typeerror-chaining-cycle-detected-for-promise

[2021-03-24 14:54] #1516 closed

[2021-03-24 15:12] smashah commented on #1514
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-24 15:14] smashah commented on #1514
# Changelog

## 🚀 Release [3.9.14](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.13...3.9.14) (2021-03-24)

- build(deps): bump ts-morph from 9.1.0 to 10.0.2 [`#1513`](https://github.com/open-wa/wa-automate-nodejs/pull/1513)
- build(deps-dev): bump @typescript-eslint/parser from 4.18.0 to 4.19.0 [`#1511`](https://github.com/open-wa/wa-automate-nodejs/pull/1511)
- build(deps-dev): bump

[2021-03-24 15:42] smashah commented on #1515
implemented in https://github.com/open-wa/wa-automate-nodejs/compare/3.9.13...3.9.14

[2021-03-24 15:42] #1515 closed

[2021-03-24 15:42] #1514 closed

[2021-03-24 15:43] smashah commented on #1519
implemeneted in https://github.com/open-wa/wa-automate-nodejs/compare/3.9.13...3.9.14

[2021-03-24 15:43] #1519 closed

[2021-03-24 17:38] smashah commented on #1510
@perikout you can achieve this by reversing the sticker code in client.ts

Webp files work pretty much everywhere why would you want to convert from webp to gif?

[2021-03-24 22:25] smashah opened #1520 "feat: perf: garbage collection methods"
- [x] deletes all chats after x amount of chats (e.g 1001 onwards)
- [x] similar to `cutMsgCache` but for chats

[2021-03-24 22:30] smashah commented on #1520
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-24 22:32] smashah commented on #1520
# Changelog

## 🚀 Release [3.9.15](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.14...3.9.15) (2021-03-24)

- Release 3.9.15 [`45226da`](https://github.com/open-wa/wa-automate-nodejs/commit/45226da8d16a3dbaf11193fa728edb469a06cd9e)
- ✨  implemented `client.cutChatCache` #1520 [`43b509c`](https://github.com/open-wa/wa-automate-nodejs/commit/43b509ccbe9bc72d1296c6cd2408b48beb44c62e)
- 🏷️

[2021-03-24 22:34] smashah commented on #1520
docs:

[`cutChatCache`](https://docs.openwa.dev/classes/api_client.client.html#cutchatcache)
[`deleteStaleChats`](https://docs.openwa.dev/classes/api_client.client.html#deletestalechats)

[2021-03-24 22:34] #1520 closed

[2021-03-26 09:54] sakthimj opened #1524 "**ERROR** Failed to apply patch for package swagger-stats at path"
Hello,

I try to run "npx @open-wa/wa-automate", But i Have some error,
![screenshot](https://user-images.githubusercontent.com/18246843/112614478-54b67d00-8e47-11eb-8bba-dd2780df639b.png)

Kindly help to resolve this error

[2021-03-26 11:00] smashah commented on #1524
hi @sakthimj

I will fix this asap

[2021-03-26 11:06] smashah commented on #1524
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-26 11:08] smashah commented on #1524
# Changelog

## 🚀 Release [3.9.16](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.15...3.9.16) (2021-03-26)

- build(deps-dev): bump @types/node from 14.14.35 to 14.14.36 [`#1522`](https://github.com/open-wa/wa-automate-nodejs/pull/1522)
- build(deps): bump @types/sharp from 0.27.1 to 0.27.2 [`#1523`](https://github.com/open-wa/wa-automate-nodejs/pull/1523)
- build(deps-dev): bump typed

[2021-03-26 11:13] smashah commented on #1524
@sakthimj can you try again with:

[code]

P.S

You can save a cached version of the CLI by installing it in your working directory. This way it doesn't download everything every time:

[code]

vs.

[code]

[2021-03-26 12:02] smashah opened #1525 "BROKEN METHODS: 842c4"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-03-26 12:05] #1525 closed

[2021-03-26 13:35] shabbir135 commented on #1524
@sakthimj bro ran up with the same issue, Put node at version 14.16.0 and npm and ngx version to 7.6.1 fixed the issue. Thanks

[2021-03-26 14:33] #1524 closed

[2021-03-26 22:04] smashah opened #1526 "small enhancements"
launch logs:
- [x] `navigating to web page`
- [x] `setting up the browser`
- [x] `starting: version VERSION_NUMBER`
- [x] `found existing session data`
- [x] `injecting session data`
- [x] allow user to choose to see session info as object instead of console.table
- [x] change `debugInfo` to `sessionInfo` in `initializer`

perf:
- [x] set a timeout for patch requests

error:
- [ ] throw error `Can

[2021-03-26 22:52] smashah commented on #1526
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-26 22:55] smashah commented on #1526
# Changelog

## 🚀 Release [3.9.17](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.16...3.9.17) (2021-03-26)

- Release 3.9.17 [`67e08cf`](https://github.com/open-wa/wa-automate-nodejs/commit/67e08cf6b769a47bc2d2dae13eaa5d52e775b614)
- 🚑  emergency fix githack issue [`693cc47`](https://github.com/open-wa/wa-automate-nodejs/commit/693cc47d11d52cd92b1a465981998623842b7c5b)
- 🏷️  added `can

[2021-03-27 04:08] sutanlab opened #1527 "Error on installing patches after authenticated."
**Describe the bug**
Got an error on installing patches after authenticated. whereas previously it was successful.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. create WA Instance with the following config:
[code]
2. Then run `node index.js`. Got the following errors:
[code]

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
Running No

[2021-03-27 04:24] smashah commented on #1526
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-27 04:26] smashah commented on #1526
# Changelog

## 🚀 Release [3.10.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.9.17...3.10.0) (2021-03-27)

- Release 3.10.0 [`eacf693`](https://github.com/open-wa/wa-automate-nodejs/commit/eacf69320025cc2f30722be5eb8758a6b82f59d8)
- 🚨 linting improvements on `Cilent` [`e3c7a83`](https://github.com/open-wa/wa-automate-nodejs/commit/e3c7a835653ab71a0ef4c77c4051db1ac4b53e4f)
- 🔊  improve

[2021-03-27 04:27] smashah commented on #1526
do this later:

throw error Cannot send messages to this chat

[2021-03-27 04:27] #1526 closed

[2021-03-27 04:29] smashah commented on #1527
@sutanlab thanks for filling in the template so well. This issue is fixed in the latest version. Please update and try again:

https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.10.0

https://github.com/open-wa/wa-automate-nodejs/issues/1526#issuecomment-808648489

[2021-03-27 04:48] sakthimj commented on #1524
Hi ,

Still I have some error, Kindly guide me,

![screenshot](https://user-images.githubusercontent.com/18246843/112710262-b88f8300-8ee5-11eb-89ad-9841293a1255.png)

[2021-03-27 04:51] smashah commented on #1524
@sakthimj try this in your directory

[code]

Then try to run the npx command again

[2021-03-27 04:55] sutanlab commented on #1527
Sorry, it was just solved after i updated to the latest patch. Thank you very much

[2021-03-27 04:55] #1527 closed

[2021-03-27 05:20] sakthimj commented on #1524
@smashah i have try this code many time still i have same error,
![screenshot](https://user-images.githubusercontent.com/18246843/112710864-3eadc880-8eea-11eb-99a4-7705a8aea11c.png)

[2021-03-27 05:22] smashah commented on #1524
Did you try installing locally then running as laid out in this comment?

https://github.com/open-wa/wa-automate-nodejs/issues/1524#issuecomment-808129783

[2021-03-27 05:25] sakthimj commented on #1524
When i try to use above code i have received some other error.
![screenshot](https://user-images.githubusercontent.com/18246843/112710960-e3300a80-8eea-11eb-9e7b-f001923026c2.png)

[2021-03-27 11:47] smashah commented on #1524
@sakthimj you're not able to install a dependency that has the same name as the working directory. Change the name of your directory and try again

[2021-03-27 14:38] perikout opened #1528 "Tagging"
Is it possible to sendFile with tagging someone in the caption? Thank you

[2021-03-27 15:01] smashah commented on #1528
Hi, this is mentioned in the docs in the `caption` parameter:

https://docs.openwa.dev/classes/api_client.client.html#sendfile

[2021-03-27 15:01] #1528 closed

[2021-03-27 15:56] smashah opened #1529 "use `fallback` url when `removebg` is `true`"

[2021-03-27 15:57] smashah commented on #1529
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-27 16:00] smashah commented on #1529
# Changelog

## 🚀 Release [3.10.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.0...3.10.1) (2021-03-27)

- Release 3.10.1 [`a57be43`](https://github.com/open-wa/wa-automate-nodejs/commit/a57be43479d2f01e525ed11d536367995a778ce5)
- 🔧  GCP sticker api url used when `removebg` is set #1529 [`1af7b27`](https://github.com/open-wa/wa-automate-nodejs/commit/1af7b2704c6acf1dbdfbf621bc7b3787

[2021-03-27 16:00] #1529 closed

[2021-03-27 16:54] smashah opened #1530 "feat: option to apply `circle` mask on stickers image requests"

[2021-03-28 05:09] perikout commented on #1510
Because I want to change animated webp to gif simply

[2021-03-28 15:47] smashah commented on #1524
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-28 15:49] smashah commented on #1524
# Changelog

## 🚀 Release [3.10.2](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.1...3.10.2) (2021-03-28)

- Release 3.10.2 [`71812d3`](https://github.com/open-wa/wa-automate-nodejs/commit/71812d3fa92cf569e3931ed3321cabe65d839447)
- 🐛  prevent prom-client issue by lazy loading stats #1524 [`4fc0e19`](https://github.com/open-wa/wa-automate-nodejs/commit/4fc0e19c7ab856c9638a022e1fb5ba66

[2021-03-29 05:18] #1530 closed

[2021-03-29 09:01] smashah opened #1535 "bug: deauthed account automatic QR loading is broken"
This is due to a recent wa update.

[2021-03-29 09:03] smashah commented on #1510
@perikout It's not really in the scope of the library to be a converter for media. especially when it's not useful going into any functionality of the library.

That aside, ffmpeg can encode webp but it cannot decode webp.

Also, webp is a better format than gifs.

[2021-03-29 09:05] smashah commented on #1535
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-29 09:07] smashah commented on #1535
# Changelog

## 🚀 Release [3.10.3](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.2...3.10.3) (2021-03-29)

- build(deps-dev): bump eslint from 7.22.0 to 7.23.0 [`#1531`](https://github.com/open-wa/wa-automate-nodejs/pull/1531)
- build(deps): bump rxjs from 6.6.6 to 6.6.7 [`#1532`](https://github.com/open-wa/wa-automate-nodejs/pull/1532)
- build(deps): bump ts-json-schema-generator fro

[2021-03-29 10:21] #1535 closed

[2021-03-29 10:57] perikout commented on #1510
So how do I send the animated webp on WhatsApp?

[2021-03-29 11:00] smashah commented on #1510
@perikout

https://docs.openwa.dev/classes/api_client.client.html#sendrawwebpassticker

the third parameter (animated) is a boolean, set it to `true` if you are sending an animated webp.

[2021-03-29 11:04] perikout commented on #1510
Sorry, can you make me an example? @smashah

[2021-03-29 13:37] smashah opened #1536 "bug: `Cannot read property 'removebg' of undefined`"

[2021-03-29 13:39] smashah commented on #1536
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-29 13:42] smashah commented on #1536
# Changelog

## 🚀 Release [3.10.4](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.3...3.10.4) (2021-03-29)

- Release 3.10.4 [`34b9997`](https://github.com/open-wa/wa-automate-nodejs/commit/34b9997c9af83ed4dfebec8ceb62ac90dd9baf7f)
- 🥚 patches update [`9c170bb`](https://github.com/open-wa/wa-automate-nodejs/commit/9c170bb3c038388a591fdc01de0117e18231c6d2)
- 🐛 fix: Cannot read property

[2021-03-29 13:44] #1536 closed

[2021-03-29 21:08] dngda opened #1537 "how to get browserWSEndpoint or running puppeteer browser instance?"
Is there possible to get browserWSEndpoint, so that I could get browser instance via connect to scrape other website page with puppeteer without launch another puppeteer process?

[2021-03-30 03:46] suariana opened #1538 "deleteSessionDataOnLogout config problem"
hi, I have set the config deleteSessionDataOnLogout true, but after logging out from device, the session file is still not deleted..

![image](https://user-images.githubusercontent.com/47437771/112930567-1d98e200-914d-11eb-97a3-52a4828dcf38.png)

![image](https://user-images.githubusercontent.com/47437771/112930674-52a53480-914d-11eb-9d26-942473a6baf7.png)

[2021-03-30 14:23] smashah commented on #1538
- [ ] fix deleteSessionDataOnLogout
- [ ] Implement `config.returnFalseIfLaunchLoggedOut`
- [ ] Implement `config.killClientOnLogOut`
- [ ] Set eventMode to `true` by default

[2021-03-30 18:23] smashah commented on #1538
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-03-30 19:02] smashah commented on #1538
# Changelog

## 🚀 Release [3.10.5](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.4...3.10.5) (2021-03-30)

- Release 3.10.5 [`6b1337c`](https://github.com/open-wa/wa-automate-nodejs/commit/6b1337c0f1956a6bb01ecf1a0c545d8eba867ce1)
- ♻️ refactor session data filepath detection #1538 [`aa01346`](https://github.com/open-wa/wa-automate-nodejs/commit/aa01346098be21c5ff14d3832e613da3e31f5df

[2021-03-31 08:52] suariana commented on #1538
hi, i wanna ask, when i run my project in vps, i got this error, but working properly in local computer, how can i solve it?
i already use the latest update
thankyou

![image](https://user-images.githubusercontent.com/47437771/113117857-734eb680-9241-11eb-82d1-4c4d6eac20fc.png)

[2021-04-01 00:04] smashah commented on #1538
@suariana I think you're running an old version of node/npm

Please make sure you're running a recent version of node as indicated in the readme badge:

![image](https://user-images.githubusercontent.com/5903821/113225700-2b05b780-9286-11eb-8d90-a63b44d3036a.png)

[2021-04-01 02:01] suariana commented on #1538
i already update node version in vps and it's work, thankyou :)

[2021-04-01 02:01] #1538 closed

[2021-04-01 13:21] gnadelwartz commented on #1266
Version 3.10.5 re-introduces this path is not a sting exception due to refactoring detection ... pls reopen

[2021-04-01 13:59] smashah commented on #1266
@gnadelwartz

Can you confirm your node version please

https://github.com/open-wa/wa-automate-nodejs/issues/1538#issuecomment-811542308

[2021-04-01 16:43] dudanogueira opened #1546 "CLI: allow setting of `ev` namespace filter"
Is it possible to send the qrcode to the webhook? Maybe an cli option.

My usecase is that I have an endpoint to provide as webhook, and when receiving the qrcode it will send it using the chat platform to the corresponding manager to authenticate.

As of right now, I was not able to get the qrcode from the easyapi (has not worked for me) and the webhook receives no indication that the qrcode is a

[2021-04-01 18:35] gnadelwartz commented on #1266
I'm using the officially supported node Version of OpenSuse, unforunately this is Node 10.
I understand that some modern projects use newer versions, but there is no newer version avalible for OpenSuse.

There seems to be an experimental Node 15 package for OpenSuse and Developer Rolling Release Suse Tumbleweed:
https://software.opensuse.org/package/nodejs15

will this be suffcient from your point

[2021-04-01 19:06] smashah commented on #1266
@gnadelwartz no idea as I've never used opensuse. From that linked issue, you can see that I implemented a fix to this error showing up. In the next release, this problem will be resolved. So remain on 3.10.4 for now and then install the 3.10.6 when it is available.

[2021-04-01 19:10] smashah commented on #1546
@dudanogueira have you tried using the `-e` (or `--ev` both do the same thing) flag?

[2021-04-01 19:20] smashah commented on #1546
[code]

will send launch events including the QR code to that URL.

Check out the webhook data here: https://webhook.site/#!/e4f7c0df-e6f4-4c0b-9415-d6b942b091a2/024e7ad1-95a5-452d-a537-e18858f5907d/1

[2021-04-01 19:32] dudanogueira commented on #1546
Oh! I see!! you need to pass the hook again. It was not clear to me. Thanks!!

The -e flag is too much verbose, it would be nice to be able to filter the outgoing namespaces, something like
-e 'http://myhook.site' -ef 'qr,STARTUP'

or, for me it would be: -ef 'qr'

if not -ef (event filter) by defualt, show all.

But I can work with that for now, thanks!

[2021-04-01 19:55] smashah commented on #1546
Good idea

[2021-04-01 20:31] gnadelwartz commented on #1266
thank you, I'll try next version.

[2021-04-03 09:07] kwteen opened #1551 "where do I put the license key?"

[2021-04-03 21:27] smashah commented on #1551
Hi,

You can add it as a `licenseKey` property on the config object

https://docs.openwa.dev/pages/The%20Client/licensed-features.html

[2021-04-03 21:28] #1551 closed

[2021-04-03 23:25] smashah opened #1552 "bug: race condition on QR scans leads to process destroying error"
Based on the error logs, the error only occurs when a QR code scan is successful. The error should be handled and not thrown to the main process.

[2021-04-03 23:29] smashah commented on #1537
@dngda you shouldn't be running other processes on the same puppeteer instance as the default one in the library solely because there is no support for it if it causes any issues,

You can however connect your own puppeteer instance via the browserWSEndpoint config:

https://docs.openwa.dev/interfaces/api_model_config.configobject.html#browserwsendpoint

Thanks

[2021-04-03 23:29] #1537 closed

[2021-04-03 23:30] #1552 closed

[2021-04-03 23:30] smashah commented on #1552
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-03 23:32] smashah commented on #1552
# Changelog

## 🚀 Release [3.10.6](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.5...3.10.6) (2021-04-03)

- build(deps-dev): bump release-it from 14.5.0 to 14.5.1 [`#1547`](https://github.com/open-wa/wa-automate-nodejs/pull/1547)
- build(deps): bump swagger-ui-dist from 3.45.1 to 3.46.0 [`#1549`](https://github.com/open-wa/wa-automate-nodejs/pull/1549)
- build(deps): bump @types/shar

[2021-04-03 23:33] smashah commented on #1266
@gnadelwartz can you update to [3.10.6](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.5...3.10.6) and try again please.

https://github.com/open-wa/wa-automate-nodejs/issues/1552#issuecomment-812940766

[2021-04-04 02:05] smashah opened #1553 "p-queue, ironically, requires ESM now"

[2021-04-04 02:06] #1553 closed

[2021-04-04 02:06] smashah commented on #1553
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-04 02:09] smashah commented on #1553
# Changelog

## 🚀 Release [3.10.7](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.6...3.10.7) (2021-04-04)

- ⬇️  fixes #1553 [`#1553`](https://github.com/open-wa/wa-automate-nodejs/issues/1553)
- Release 3.10.7 [`4e99255`](https://github.com/open-wa/wa-automate-nodejs/commit/4e99255ac56c731375a1eba30485799a188aaff5)

[2021-04-04 03:43] ratno opened #1554 "Error on SimpleListener when invoke demo ts-node server.ts"
using the latest release v3.10.7 demo
ts-node server.ts

/usr/local/share/.config/yarn/global/node_modules/ts-node/src/index.ts:434
    return new TSError(diagnosticText, diagnosticCodes)
           ^
TSError: ⨯ Unable to compile TypeScript:
server.ts:9:26 - error TS2305: Module '"../src/index"' has no exported member 'SimpleListener'.

9 import { create, Client, SimpleListener } from '../src/inde

[2021-04-04 04:42] gnadelwartz commented on #1266
3.10.7 is working again, Thanks!

[2021-04-04 06:27] gnadelwartz commented on #1266
@smashah I had to go back to 3.10.4 as it's starting but stop receiving messages with 3.10.7. I'll debug after eastern to see where its failing ...

[2021-04-04 16:01] Waxaranai opened #1555 "SimpleListener: onAnyMessage didn't work while eventMode is set to true"
**Describe the bug**
`onAnyMessage` didn't work while `eventMode` at the `CreateConfig` is set to `true`

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Update to the latest version
2. Create a `onAnyMessage` event
3. Try logging the event
4. Observe

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
The event should emitted a message

*

[2021-04-04 16:42] gnadelwartz commented on #1555
may related to my Problem not getting messages with onAnyMessage https://github.com/open-wa/wa-automate-nodejs/issues/1266#issuecomment-812981931 after update to 3.10.7

[2021-04-04 18:03] #1555 closed

[2021-04-04 18:05] smashah commented on #1555
@gnadelwartz @Waxaranai should be working now with patches. This issue is a weird relic from the first setup of onAnyMessage. Basically, the fix was to return `true` when the listener is set in the browser instead of the internal wa web event listener object. Weird error with an easy fix.

[2021-04-04 18:10] smashah commented on #1554
![image](https://user-images.githubusercontent.com/5903821/113517689-72878e80-9579-11eb-9354-8fa70171a52b.png)

[2021-04-04 18:10] #1554 closed

[2021-04-05 02:18] victorsouzaleal opened #1556 "getGroupInfo function does not obtain the group title"
**Describe the bug**
When using onAddedOnGroup () the getGroupInfo () function does not obtain the group title, only the description of the new group. It only displays the title after the bot is restarted.

**Steps to Reproduce**

1 - Example code
[code]
2 - Join a new group that is not listed in the bot chats
3 - Note that gInfo has only the group description
<img src='https://i.imgur.com/hg0Aql8

[2021-04-05 12:50] smashah commented on #1556
@victorsouzaleal please restart and try again

[2021-04-05 12:55] #1556 closed

[2021-04-05 15:45] smashah commented on #1546
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-05 15:48] smashah commented on #1546
# Changelog

## 🚀 Release [3.10.8](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.7...3.10.8) (2021-04-05)

- build(deps-dev): bump typedoc from 0.20.34 to 0.20.35 [`#1557`](https://github.com/open-wa/wa-automate-nodejs/pull/1557)
- build(deps): bump swagger-stats from 0.95.19 to 0.99.1 [`#1558`](https://github.com/open-wa/wa-automate-nodejs/pull/1558)
- build(deps): bump open from 8.0

[2021-04-05 15:48] smashah commented on #1546
@dudanogueira you can now set namespace filters like so:

```npx @open-wa/wa-automate --ev EV_WEBHOOK_URL --ef qr --ef STARTUP```

or

```npx @open-wa/wa-automate --ev EV_WEBHOOK_URL --ef qr,STARTUP```

or

```npx @open-wa/wa-automate --ev EV_WEBHOOK_URL --ef qr```

or you can use a `cli.config.json` and set it as an array or string. For example:

[code]

with this specific `cli.config.json`, the

[2021-04-05 15:48] #1546 closed

[2021-04-05 21:41] dudanogueira commented on #1546
That's awesome!!

For the sake of retro compatibility, while providing -ev and not providing -ef should be the same of --ef qr,STARTUP

One really cool feature, and not documented, was this cli.config.json with the filtering possibilities.

Also, I didn't notice it generated a index.js file with all that.

It's really impressive. This library is amazing. Congratulations.

I am developing a solutio

[2021-04-06 06:42] smashah commented on #1546
That should already be the case. Let me know if you're experiencing otherwise.

I will be concentrating on better documentation after V4 is released.

The CLI generates an index.js file for you? It shouldn't be doing that, can you explain further please.

Amazing! Thank you!

[2021-04-06 11:20] smashah opened #1564 "improve CLI help docs"

[2021-04-06 11:21] smashah opened #1565 "isOffline"
a simple command to check the dom if the 'offline' indicator is showing. Bypasses the need to infer state via `onState`

[2021-04-07 04:09] smashah commented on #1564
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-07 04:12] smashah commented on #1564
# Changelog

## 🚀 Release [3.10.9](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.8...3.10.9) (2021-04-07)

- build(deps-dev): bump @typescript-eslint/parser from 4.20.0 to 4.21.0 [`#1562`](https://github.com/open-wa/wa-automate-nodejs/pull/1562)
- build(deps-dev): bump @typescript-eslint/eslint-plugin from 4.20.0 to 4.21.0 [`#1563`](https://github.com/open-wa/wa-automate-nodejs/pull/1

[2021-04-07 04:15] #1564 closed

[2021-04-07 18:38] smashah commented on #1565
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-07 18:41] smashah commented on #1565
# Changelog

## 🚀 Release [3.10.10](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.9...3.10.10) (2021-04-07)

- build(deps): bump @types/sharp from 0.27.3 to 0.28.0 [`#1567`](https://github.com/open-wa/wa-automate-nodejs/pull/1567)
- build(deps): bump boxen from 5.0.0 to 5.0.1 [`#1568`](https://github.com/open-wa/wa-automate-nodejs/pull/1568)
- Release 3.10.10 [`7168338`](https://githu

[2021-04-07 18:42] #1565 closed

[2021-04-08 18:07] smashah opened #1570 "feat: `client.health()`"
Make a method that returns a few datapoints that help users decide whether or not the session is healthy. It should include

- current state (after a [`forceUpdateConnectionState`](https://docs.openwa.dev/classes/api_client.client.html#forceupdateconnectionstate))
- [`isPhoneDisconnected`](https://docs.openwa.dev/classes/api_client.client.html#isphonedisconnected)
- last browser action time (the a

[2021-04-08 18:09] dudanogueira opened #1571 "EASYAPI -> Generate QR After Logout"
**Describe the bug**
It would be nice to have the EasyAPI to loop when the user logout from the device. Right Now I receive the onLogout Event, and also the onStateChanged with data OPENING, but that's it. While opening the EasyApi with headful true, I can see the browser comes back to the qr code page at Whatsapp, but the QR is not fired thru webhook.

Is there some options that does it?

**Steps

[2021-04-09 08:24] smashah commented on #1570
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-09 08:26] smashah commented on #1570
# Changelog

## 🚀 Release [3.10.11](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.10...3.10.11) (2021-04-09)

- Release 3.10.11 [`8a7ea5f`](https://github.com/open-wa/wa-automate-nodejs/commit/8a7ea5fb06162fc0c8c8386b6121a22e1a8bc600)
- ✨ feat: `client.healthCheck()` #1570 [`37cd5fb`](https://github.com/open-wa/wa-automate-nodejs/commit/37cd5fbf58709454473c3202e63f2de3497e63be)

[2021-04-09 08:26] #1570 closed

[2021-04-09 22:34] powermx opened #1572 "Perform Action after full Load"
A Q: Is there any way to perform some action after fully loading?

[2021-04-09 23:36] #1572 closed

[2021-04-10 14:03] smashah opened #1573 "feat: `config.raspi` flag"
Add a convenience configuration to make the system launch properly on raspberry pi:

```--executable-path /usr/bin/chromium-browser```

[2021-04-10 14:15] smashah commented on #1573
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-10 14:18] smashah commented on #1573
# Changelog

## 🚀 Release [3.10.12](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.11...3.10.12) (2021-04-10)

- build(deps-dev): bump typescript from 4.2.3 to 4.2.4 [`#1569`](https://github.com/open-wa/wa-automate-nodejs/pull/1569)
- 📝  update docs [`7e6aa90`](https://github.com/open-wa/wa-automate-nodejs/commit/7e6aa908cd35722b1c27880a4555c345d7acb467)
- Release 3.10.12 [`8ce76fc`](h

[2021-04-10 14:18] smashah commented on #1573
If you're having trouble running the library on a raspberry pi, please follow this guide:

https://docs.openwa.dev/interfaces/api_model_config.configobject.html#raspi

[2021-04-10 14:18] #1573 closed

[2021-04-11 06:47] smashah opened #1574 "enhancements: popup"
- [x] detect if the server is behind a reverse proxy
- [x] send a basic message with the sessionId when connected

[2021-04-11 07:09] smashah commented on #1574
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-11 07:12] smashah commented on #1574
# Changelog

## 🚀 Release [3.10.13](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.12...3.10.13) (2021-04-11)

- Release 3.10.13 [`e43ba77`](https://github.com/open-wa/wa-automate-nodejs/commit/e43ba77eff4ea5933c4e269564511af482da3e59)
- ✨ enhancement: [popup] detect if socket server is sitting behind a reverse proxy #1574 [`080ecff`](https://github.com/open-wa/wa-automate-nodejs/commi

[2021-04-11 07:12] #1574 closed

[2021-04-12 03:24] smashah opened #1575 "Gracefully handle webhook errors"
For example, when a webhook.site URL is deleted. It responds with a 404. This actually crashes the process when `eventMode: true` (it is `true` by default now).

Eventually, the process will need to retry failed requests via config options - e.g `retryOnWebhookFailure`

[2021-04-13 07:37] smashah opened #1581 "feat: chunk large files into a single browser `fbuff` when sending a file"
If a file is above 20MB, chunk data URI/base64 to 15MB chunks, stitch them in the browser then send the file.

Videos need to be 64 mb
Files need to be 100mb

[2021-04-13 08:11] smashah commented on #1575
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-13 08:13] smashah commented on #1575
# Changelog

## 🚀 Release [3.10.14](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.13...3.10.14) (2021-04-13)

- build(deps): bump optional-require from 1.0.2 to 1.0.3 [`#1576`](https://github.com/open-wa/wa-automate-nodejs/pull/1576)
- build(deps-dev): bump marked from 2.0.1 to 2.0.3 [`#1577`](https://github.com/open-wa/wa-automate-nodejs/pull/1577)
- build(deps-dev): bump release-it

[2021-04-13 08:14] smashah commented on #1575
complete retries and backoff later #659

[2021-04-13 08:14] #1575 closed

[2021-04-14 03:27] smashah opened #1585 "bug: `config.devtools` doesn't provide a remote tunnel URL"

[2021-04-14 03:27] #1585 closed

[2021-04-14 03:27] smashah commented on #1585
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-14 03:29] smashah commented on #1585
# Changelog

## 🚀 Release [3.10.15](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.14...3.10.15) (2021-04-14)

- build(deps-dev): bump @typescript-eslint/parser from 4.21.0 to 4.22.0 [`#1582`](https://github.com/open-wa/wa-automate-nodejs/pull/1582)
- build(deps-dev): bump @typescript-eslint/eslint-plugin from 4.21.0 to 4.22.0 [`#1583`](https://github.com/open-wa/wa-automate-nodejs/pul

[2021-04-14 10:14] smashah commented on #1581
https://github.com/puppeteer/puppeteer/issues/5598

[2021-04-14 10:15] smashah commented on #1581
#659

this is not important right now

[2021-04-14 10:15] #1581 closed

[2021-04-15 18:25] smashah opened #1588 "BROKEN METHODS: 6821c"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-04-15 20:01] guilhermebkel opened #1589 "Error when replying image message sent by myself"
**Describe the bug**
Right after sending a image message and replying it I've got an error. After restarting the session and attempting to reply the image message again, it works like a charm.

**Steps to Reproduce**
[code]

**Expected behavior**
Since right after sending file message (per example: video, text, audio, voice) and replying it, everything works fine, it was expected to be the same wi

[2021-04-16 14:53] MarsVard opened #1590 "multisession processes with eventMode: true trigger all callbacks"
**Describe the bug**
Running multiple bots on a single instance, events are being propagated to all of them causing all bots to answer instead of just the one I'm talking to.

[2021-04-17 06:22] smashah commented on #1589
@guilhermebkel can you add a caption  to the image and try again. That, for some reason, is fixing it for me.

[2021-04-17 07:09] smashah commented on #1589
@guilhermebkel this is happening because the caption is `null`, if it was `undefined` it would work fine. I will submit a patch that will convert any caption to `undefined` if `null` is provided.

[2021-04-17 07:11] #1589 closed

[2021-04-17 07:12] smashah commented on #1589
This should be patched now. Please restart your sessions and try again, let me know if it keeps happening. thanks

[2021-04-17 07:13] #1588 closed

[2021-04-17 09:08] smashah commented on #1590
todo:
- [ ] create INSTANCE_ID
- [ ] change event signature to `${LISTENER}.${SESSION_ID}.${INSTANCE_ID}`

[2021-04-17 17:23] rickricardo opened #1591 "addLabel: create new label if doesn't exist"
Hi, when I use the addLabel() function sending a label name that was not created yet, nothing happens.
Is it possible to add a parameter in the function that, if set to True, create the label if it doesn't exist and then label the chat/message/contact?

[2021-04-17 17:30] edneijunior opened #1592 "Queue"
**Describe the bug**
it is not a bug, but a cry for help!

**create() code**

[code]

**Expected behavior**
an implemented queue

[2021-04-17 19:02] smashah commented on #1592
hey, @edneijunior I got your email and was working on a long term solution today.

The solution I came up with was to implement an optional queue on listener (`onMessage`, `onAnyMessage`, `onAck`, etc.) callbacks (the function you provide as the main parameter of these functions). This way, you can control your outflow of messages implicitly by controlling the inflow.

Here is an example of the up

[2021-04-17 22:14] smashah commented on #1592
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-17 22:16] smashah commented on #1592
# Changelog

## 🚀 Release [3.11.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.10.15...3.11.0) (2021-04-17)

- build(deps-dev): bump @types/node from 14.14.37 to 14.14.39 [`#1587`](https://github.com/open-wa/wa-automate-nodejs/pull/1587)
- build(deps): bump ts-json-schema-generator from 0.89.3 to 0.90.0 [`#1586`](https://github.com/open-wa/wa-automate-nodejs/pull/1586)
- 🐛  fixes #1589

[2021-04-17 22:18] smashah commented on #1592
@edneijunior if you share your desired pqueue behaviour I can reply with the code that will work in the latest version of the library

[2021-04-17 22:18] smashah commented on #1591
@rickricardo this has been implemented in v3.11.0 as an insider's feature. Please DM me on discord. thanks

[2021-04-17 22:18] #1591 closed

[2021-04-17 22:19] smashah commented on #1590
should be fixed now in the latest version 3.11.0

There may be some teething problems so please keep me updated of any further edge cases/regressions.

thanks

[2021-04-17 22:19] #1590 closed

[2021-04-17 23:02] guilhermebkel commented on #1589
@smashah Got it! I just tested and it worked like a charm, thanks!

[2021-04-18 01:14] lesmo commented on #1592
... what about outgoing messages when they're not sent in response to incoming messages? 🤔

[2021-04-18 08:56] smashah commented on #1592
@lesmo for those you can implement a PQueue manually

[2021-04-18 13:37] SomnathDas opened #1593 "Hide Tag and Many other features are Already available in other "Open Sourced" Projects!"
Konichiwa ᕙ( ͡◉ ͜ ʖ ͡◉)ᕗ admin-san
Neko ~ desu. So today I brought you another statement/opinion/question against our favourite **Closed-WA** API.

**The following functions/features are already available as GA in other projects:**

- Hide Tags
- Change Group Description
- Send message To non-contacts
- Sticker Decryption
- Reply with Mentions
- On contact added

and many more...

As you've never

[2021-04-18 14:27] smashah commented on #1593
After the last time this type of issue came up, I realized that I do not owe any of the freeloaders/spammers/code thieves an explanation or a second of my time.

I'm proud that the existence of open-wa has resulted in so much work and innovation within other libraries.

Your shallow insults aside, I'm actually impressed and respect the work you have done on `Whatsapp-Botto-Re`. If you ever decide

[2021-04-18 14:27] #1593 closed

[2021-04-18 16:32] smashah opened #1594 "participant changes while not admin shold return `INSUFFICIENT_PERMISSION` message"

[2021-04-18 16:36] smashah commented on #1594
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-18 16:38] smashah commented on #1594
# Changelog

## 🚀 Release [3.11.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.11.0...3.11.1) (2021-04-18)

- Release 3.11.1 [`59c9c66`](https://github.com/open-wa/wa-automate-nodejs/commit/59c9c66ed4e53f8524b03e95f7ec3b1f2eb73165)
- 🥅  error handling: attempting participant changes while not admin now returns `INSUFFICIENT_PERMISSIONS` #1594 [`a49f2b6`](https://github.com/open-wa/wa-a

[2021-04-18 16:45] #1594 closed

[2021-04-18 20:45] edneijunior commented on #1592
Bro, you are awesome.
Thank you very much for so much consideration in your response.

[2021-04-19 02:46] edneijunior commented on #1592
![Sem título](https://user-images.githubusercontent.com/67341065/115174308-66ceb880-a09f-11eb-869e-119bf5892353.jpg)

WA Version 3.11.1

CLIENT.onMessage(message => {
        if (message.quotedMsgObj && message.quotedMsgObj.mimetype) {
            let m = message.quotedMsgObj;
            const mediaData = openWA.decryptMedia(m, uaOverride).then(function (DECRYPTED_DATA) {
                var file

[2021-04-19 02:48] edneijunior commented on #1592
I would like to send messages following the best practices. I want to send messages without overloading the session.

[2021-04-19 12:59] smashah commented on #1592
can you explain what's going on here and what is your question?

Regarding setting up to follow best practices, you should implement a setup that works for your use case. If you're not getting that many incoming messages then maybe you don't need to implement a queue. Based on community discussions, people get away with high message throughput without any issues.

The example provided is a bit ext

[2021-04-19 12:59] #1592 closed

[2021-04-19 13:07] smashah commented on #1571
hey @dudanogueira sorry for leaving this for a long time.

Automatically getting the QR code and starting from scratch isn't really supported behaviour and I can foresee many issues coming up with this, so I would suggest just restarting the process when you detect a logout event. Or calling `create` manually upon logout.

For example

[code]

Hope that sorts it out for you.

Thanks

[2021-04-19 13:11] smashah opened #1595 "CLI: consume cli.config.json as 1 flag base64/env var"

[2021-04-20 08:54] smashah opened #1596 "feat: `client.getAllLabels()`"

[2021-04-20 13:57] smashah commented on #1596
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-20 13:59] smashah commented on #1596
# Changelog

## 🚀 Release [3.11.2](https://github.com/open-wa/wa-automate-nodejs/compare/3.11.1...3.11.2) (2021-04-20)

- Release 3.11.2 [`d02ab8f`](https://github.com/open-wa/wa-automate-nodejs/commit/d02ab8f69b84b99a81cce9c0fc9006c61ee2f720)
- ✨ feat: `client.getAllLabels()` #1596 [`d018029`](https://github.com/open-wa/wa-automate-nodejs/commit/d018029fcea8624331670964d7b2a8af74f16163)
- 📝 docs-

[2021-04-20 14:04] #1596 closed

[2021-04-20 14:05] smashah opened #1597 "dev: ignore patches updates in changelog"

[2021-04-20 18:05] smashah commented on #1571
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-20 18:07] smashah commented on #1571
# Changelog

## 🚀 Release [3.11.3](https://github.com/open-wa/wa-automate-nodejs/compare/3.11.2...3.11.3) (2021-04-20)

- Release 3.11.3 [`99a7bb6`](https://github.com/open-wa/wa-automate-nodejs/commit/99a7bb6c390fc645333e07357bfd14f3769043fb)
- 💥 feat/breaking [CLI]: `-c` flag now refers to file (or base64 json string) of ALL cli config, not just session config #1595 [`2806650`](https://github.co

[2021-04-20 18:09] smashah commented on #1571
@dudanogueira the CLI now, by default kills the process when the host account logs out from the session.

You can use something like forever, pm2 or nodemon to restart the process to get a new QR code.

I tried implementing the restart within the process itself but it's not feasible due to memory leak concerns.

thanks

[2021-04-20 18:09] #1571 closed

[2021-04-20 18:09] #1597 closed

[2021-04-20 18:09] #1595 closed

[2021-04-21 14:57] smashah opened #1599 "middleware: if `response` starts with `Error` then set `success` to `false`."

[2021-04-21 15:44] smashah commented on #1599
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-21 15:47] smashah commented on #1599
# Changelog

## 🚀 Release [3.11.4](https://github.com/open-wa/wa-automate-nodejs/compare/3.11.3...3.11.4) (2021-04-21)

- 📝 update docs [`635b9e4`](https://github.com/open-wa/wa-automate-nodejs/commit/635b9e41e729b8babccf7d83f688e19c3829ac37)
- Release 3.11.4 [`2f9c119`](https://github.com/open-wa/wa-automate-nodejs/commit/2f9c119cc18bf381e88d82a37d3cd74fbd4a650a)
- 🏷️  implemented proper typing f

[2021-04-21 16:16] #1599 closed

[2021-04-22 14:16] Urbaeexyz commented on #1100
how to set timeout puppeteer?

[2021-04-22 14:52] pe77 opened #1606 "AddParticipant return ADD_BLOCKED"
**Describe the bug**
When I add a participant to a group it returns: ADD_BLOCKED. I not found what this could mean. These users are in the contact list, are not blocked and have no privacy block to add to groups.

The biggest problem is that when I start the service, it can work or not. It looks like it's some problem related to the session, maybe. Because when I start the service, if it works, it

[2021-04-25 01:29] victorsouzaleal opened #1610 "onStateChanged going crazy on block/unblock someone"
After making a block or unblock, onStateChanged starts to switch between TIMEOUT and CONNECTED

[code]

![image](https://user-images.githubusercontent.com/4674786/115977198-2f9f5200-a54c-11eb-8561-061445c181fc.png)

[2021-04-25 14:08] smashah opened #1611 "feat: `client.getUnsentMessages`"
get an array of messages which have been not yet been sent (possibly due to connectivity issues)

[2021-04-26 11:09] smashah opened #1614 "feat [cli]: allow user to set --config string via WA_CLI_CONFIG"

[2021-04-26 11:32] smashah commented on #1611
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-26 11:35] smashah commented on #1611
# Changelog

## 🚀 Release [3.11.5](https://github.com/open-wa/wa-automate-nodejs/compare/3.11.4...3.11.5) (2021-04-26)

- build(deps): bump ts-json-schema-generator from 0.90.0 to 0.91.0 [`#1608`](https://github.com/open-wa/wa-automate-nodejs/pull/1608)
- build(deps): bump swagger-ui-dist from 3.46.0 to 3.47.1 [`#1604`](https://github.com/open-wa/wa-automate-nodejs/pull/1604)
- build(deps): bump p

[2021-04-26 11:35] #1611 closed

[2021-04-26 11:35] #1614 closed

[2021-04-26 11:38] smashah commented on #1606
@pe77 when you get `ADD_BLOCKED` it means there was an unexpected error while adding the participant. Now, this can be for a number of different reasons. In order to figure out what's going on, I'll forward the error via a patch so we can see what's the error actually is.

[2021-04-26 11:43] smashah commented on #1606
@pe77 please try again and check what the error is now. it should show some more information

[2021-04-26 12:34] pe77 commented on #1606
okay. I will apply the patch and come back with the answer as soon as it happens again.

Thanks

[2021-04-26 20:41] smashah opened #1615 "bug: `client.getGroupInfo` fails when called immediately after `client.joinGroupViaLink`"

[2021-04-26 20:50] smashah commented on #1615
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-04-26 20:52] smashah commented on #1615
# Changelog

## 🚀 Release [3.11.6](https://github.com/open-wa/wa-automate-nodejs/compare/3.11.5...3.11.6) (2021-04-26)

- Release 3.11.6 [`f241191`](https://github.com/open-wa/wa-automate-nodejs/commit/f241191c99de964283ff5bba4cddb10564fe5db2)
- ✨ feat: `client.joinGroupViaLink` now optionally returns Chat object #1615 [`9892282`](https://github.com/open-wa/wa-automate-nodejs/commit/9892282c8e59ed

[2021-04-26 20:52] #1615 closed

[2021-04-29 13:37] smashah commented on #1606
@pe77 do you have more information on the error?

[2021-04-29 22:07] DaviZMelo opened #1624 ".iAmAdmin returning an array of null"
**Describe the bug**
The .iAmAdmin () function is returning an array of nulls

**Steps to Reproduce**
Steps to reproduce the behavior:
1 - Use the .iAmAdmin Client function.

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
I hope it returns an ids array

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look

[2021-04-30 01:43] smashah commented on #1624
@DaviZMelo thanks for filling out the issue template. should be fixed now

[2021-04-30 01:43] #1624 closed

[2021-04-30 05:02] Zalleya opened #1625 "toString of undefined"
[ERROR] Error: Evaluation failed: TypeError: Cannot read property 'toString' of undefined
    at Object.initialize (https://web.whatsapp.com/bootstrap_main.fa052348fb823b144465.js:2:1662795)
    at new E (https://web.whatsapp.com/bootstrap_qr.df9188bb4cd23ee53e79.js:1:750235)
    at new ae (https://web.whatsapp.com/bootstrap_qr.df9188bb4cd23ee53e79.js:1:762835)
    at https://web.whatsapp.com/boot

[2021-04-30 08:41] #1625 closed

[2021-04-30 15:45] oMrRexD opened #1628 "sendVideoAsGif and sendGiphy don't work as they should"
**Describe the bug**
I'm trying to send a video as a gif using "sendVideoAsGif", but it still sends the file as a video, not a gif. I tried to use the "sendGiphy" example that is in the documentation, but it also returned a video.

**Steps to Reproduce**
[code]
**Screenshots**
<img src="https://cdn.discordapp.com/attachments/685501923314368513/837710568122875964/unknown.png" width="250px">

**crea

[2021-04-30 17:36] smashah commented on #1628
@oMrRexD thanks for filling out the issue template perfectly.

This should be fixed in the latest patch update.

thanks

[2021-04-30 17:36] #1628 closed

[2021-04-30 19:02] wilianwrech opened #1629 "Failed to run npm install"
**Describe the bug**
Running npm i --save @open-wa/wa-automate@latest leads to an error.

**Steps to Reproduce**
1. run `npm init` in an empty folder
2. run `npm i --save @open-wa/wa-automate@latest`

**Expected behavior**
To installation work

**DEBUG INFO**

**Screenshots**

**Host (please complete the following information):**

**Additional context**
[code]

Node JS version: 14.16.1

[2021-04-30 19:26] smashah commented on #1629
@wilianwrech you should be able to just ignore these errors

[2021-04-30 19:33] smashah commented on #1629
I just tried it on a fresh VM and despite the warnings, the install is successful and you can move forward to using the library:

![image](https://user-images.githubusercontent.com/5903821/116745675-54d00c80-a9f3-11eb-802f-5acf9a67d330.png)

[2021-04-30 19:46] wilianwrech commented on #1629
I tried using `--ignore-scripts`, but more errors happened when starting my project, I assumed it was because of the installation.

[code]
My dependencies:
[code]

[2021-05-01 15:11] smashah opened #1630 "launch logs: Include the number of messages and chats loaded to give launch times more context"

[2021-05-01 15:15] ParthThakkar08 opened #1631 "I am trying to send sticker from image and it does not upload on phone since a while."
I am trying to send sticker from image and it does not upload on phone since a while, Also If I have received the same image in sticker before it works properly but
not for new stickers.

![Capture](https://user-images.githubusercontent.com/75181936/116786766-181d1780-aabe-11eb-9105-d76a124122d1.PNG)

[2021-05-01 15:20] smashah commented on #1631
hey @ParthThakkar08 can you please fill in the issue template so we can get this resolved asap. thanks

[2021-05-01 15:20] smashah commented on #1631
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-05-01 15:21] smashah commented on #1631
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-05-01 15:21] #1631 closed

[2021-05-01 18:02] smashah commented on #1610
hey @victorsouzaleal I've been keeping an eye on this over the past week. It seems like this is a WA issue. If you run the library with `headless: false` then manually block someone, it still causes state to bounce between `TIMEOUT` and `CONNECTED`.

I notice this state-bounce during the development of new features. It occurs when socket payloads between the web instance and mobile app are 'broken

[2021-05-01 18:02] #1610 closed

[2021-05-01 18:24] smashah commented on #1630
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-01 18:27] smashah commented on #1630
# Changelog

## 🚀 Release [3.11.7](https://github.com/open-wa/wa-automate-nodejs/compare/3.11.6...3.11.7) (2021-05-01)

- build(deps): bump swagger-ui-dist from 3.47.1 to 3.48.0 [`#1627`](https://github.com/open-wa/wa-automate-nodejs/pull/1627)
- build(deps): bump rxjs from 6.6.7 to 7.0.0 [`#1626`](https://github.com/open-wa/wa-automate-nodejs/pull/1626)
- build(deps): bump puppeteer-extra-plugin-

[2021-05-01 21:29] #1630 closed

[2021-05-02 14:55] smashah opened #1632 "check .gitignore for `**.data.json` pattern is present"
I'm seeing some libraries with `.data.json` files committed publicly. Personal responsibility aside, the library should be `secure-by-default`.

[2021-05-02 18:11] smashah commented on #1632
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-02 18:26] smashah commented on #1632
# Changelog

## 🚀 Release [3.11.8](https://github.com/open-wa/wa-automate-nodejs/compare/3.11.7...3.11.8) (2021-05-02)

- 🔒  implemented mechanism to ensure that `**.data.json` pattern is in .gitignore fle on install #1632 [`39eac35`](https://github.com/open-wa/wa-automate-nodejs/commit/39eac3585f9d9cbd9e4c0ded6abb76e1afd9423a)
- Release 3.11.8 [`e267b84`](https://github.com/open-wa/wa-automate-no

[2021-05-02 19:12] #1632 closed

[2021-05-03 16:25] smashah commented on #261
Apparently call rejection is possible now. Reopening to implement rejectCall

[2021-05-04 13:33] smashah opened #1635 "config: set default p-queue via ConfigObject"
At the moment, you cannot set the optional queue options via CLI. Setting a default via the config options at least allows CLI users to set pqueue options via `config.json`

Another option would be to set `--wps` 3 (3 webhook requests per second)

[2021-05-04 13:41] smashah opened #1636 "Navigation Timeout"
As elusive as this issue is, there should at least be some diagnostics/retries when a navigation timeout is anticipated.

This can be inferred from intercepting network requests and receiving no response within a certain time frame.

[2021-05-04 22:37] smashah opened #1637 "Properly handle/forward get/axios errors"
Dont just log it.

[2021-05-05 02:08] smashah commented on #1635
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-05 02:10] smashah commented on #1635
# Changelog

## 🚀 Release [3.12.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.11.8...3.12.0) (2021-05-05)

- build(deps): bump find-up from 4.1.0 to 5.0.0 [`#1633`](https://github.com/open-wa/wa-automate-nodejs/pull/1633)
- build(deps): bump puppeteer from 9.0.0 to 9.1.0 [`#1634`](https://github.com/open-wa/wa-automate-nodejs/pull/1634)
- Release 3.12.0 [`7f948e6`](https://github.com/

[2021-05-05 11:29] #1635 closed

[2021-05-05 11:29] #1637 closed

[2021-05-06 16:44] Gahtee opened #1644 "Can't send gif as gif"
Describe the bug
I can send a mp4 to gif using sendVideoAsGif
but i cant send a gif using sendVideoAsGif or sendFileFromUrl
it turns into a jpeg

Steps to Reproduce
[code]
![image](https://user-images.githubusercontent.com/83777687/117334750-c20af400-ae70-11eb-911f-32abe7111c79.png)

**create() code**

[code]

**Expected behavior**
I expected the bot to send the file as a normal gif.. like that:
!

[2021-05-06 18:16] guilhermebkel commented on #1636
Hey @smashah, I just randomly got able to reproduce that error locally, being honest I don't know how I did it, but there are some infos I can show:

**My shell:**
[code]

**My screenshot before the error:**
![image](https://user-images.githubusercontent.com/42042433/117346015-96423b00-ae7d-11eb-903d-a464fcee2748.png)

**My screenshot some seconds after the error happened:**
![image](https://user-

[2021-05-06 18:18] smashah commented on #1644
hey @Gahtee this isn't really a bug.

Whatsapp itself does not handle .gif files. Whenever you see a "gif" in WhatsApp, it's actually just an mp4 that loops and says "gif" on it.

For example, I downloaded your gif, went to a vanilla wa web window, dragged the gif into a chat, and sent it. It was sent as a static image, just like in your example.

The reason for this is because .gif is an old and

[2021-05-06 18:18] #1644 closed

[2021-05-06 18:25] guilhermebkel commented on #1636
Other info:

My Disk Memory is almost completely full, so I have got the error below when trying to execute the lib:

[code]

Maybe the timeout error came from that out of space issue 🤔

[2021-05-06 19:08] smashah commented on #1636
@guilhermebkel lack of memory would make sense as it would wait for a garbage collection before loading the page. How many sessions were you running that resulted in this lack of space?

During normal operation, the logs show "Navigating to WA" for a few seconds at the most. I'm thinking to restart the process if it takes more than 5+ seconds. At least that way, the library can try again 12 times

[2021-05-06 22:02] GladistonXD opened #1645 "Error when using the "reply" option"
When starting the scripts everything works normally

But after a few hours of running it displays this error message:

**ERROR: PLEASE MAKE SURE YOU HAVE SENT AT LEAST ONE REPLY MESSAGE MANUALLY USING THIS ACCOUNT.**

Returns to normal after stopping the script and starting again.

[2021-05-06 22:40] guilhermebkel commented on #1636
@smashah Actually that was a lack of *ram memory* and *disk space* and I feel the same about the garbage collection. I was running a single session (the lack of ram memory was caused due to a lot of applications I was running at the same time).

About killing the process, do you mean like putting a timeout and a retry count before assuming that the session failed to start? (when dealing with Navig

[2021-05-07 02:09] smashah commented on #1645
hi @GladistonXD,

are you using `client.cutChatCache()` or `client.cutMsgCache()` in your code?

[2021-05-07 02:45] GladistonXD commented on #1645
if (msg >= 1000) {
      client.cutMsgCache()
}

Use to clear the cache every 1000 msg, if I decrease this flow, does this solve the problem?

[2021-05-07 03:09] GladistonXD commented on #1645
Yes I use client.cutMsgCache () to clean every 1000 messages, I tested and saw that the problem was this, after 1000 it stopped working, thanks, congratulations for the library

[2021-05-07 04:14] the-jojo-jj opened #1646 "What is the best scenario for whatsapp client"
Hi, anybody can share about the best scenario for whatsapp client it self?
I've tried odroid with multi user-account to handle multi whatsapp client.
the problem is open-wa keeps asking to us to keep whatsapp client open.

maybe, somebody can share another works experience regarding this matter?

thanks.

[2021-05-07 05:16] #1645 closed

[2021-05-07 11:38] smashah commented on #1645
@GladistonXD try with `cutChatCache` instead for now. I will check what's going on with `cutMsgCache`

[2021-05-07 20:54] smashah opened #1648 "chores"
- replace install script with box ignore check, make sure to add useChrome cache in there also
- fix luminati links in docs

[2021-05-08 21:07] smashah opened #1650 "chore: Migrate to pure ESM"
info: https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2021-05-08 22:16] smashah commented on #1648
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-08 22:19] smashah commented on #1648
# Changelog

## 🚀 Release [3.13.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.12.0...3.13.0) (2021-05-08)

- build(deps): bump puppeteer from 9.0.0 to 9.1.1 [`#1643`](https://github.com/open-wa/wa-automate-nodejs/pull/1643)
- build(deps): bump socket.io from 4.0.1 to 4.0.2 [`#1647`](https://github.com/open-wa/wa-automate-nodejs/pull/1647)
- fix(URL) [`#1649`](https://github.com/open-w

[2021-05-08 22:21] #1648 closed

[2021-05-10 00:51] smashah opened #1651 "enhancement: make sure to show the last qr image on connection of the socket"
This is to prevent a blank empty state when first going into the popup url

[2021-05-10 01:09] smashah opened #1652 "[CLI] - allow json config files with comments"
Use json 5

[2021-05-10 03:27] smashah commented on #1651
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-10 03:30] smashah commented on #1651
# Changelog

## 🚀 Release [3.13.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.13.0...3.13.1) (2021-05-10)

- Release 3.13.1 [`68dd75a`](https://github.com/open-wa/wa-automate-nodejs/commit/68dd75a969389e2a41484cc6e00abcb9d57bc733)
- 🐛  bug [CLI]: config files with comments now parseable #1652 [`6c5ffab`](https://github.com/open-wa/wa-automate-nodejs/commit/6c5ffab8f389101cbe70a24dbf45

[2021-05-10 03:30] #1651 closed

[2021-05-10 03:30] #1652 closed

[2021-05-10 17:21] smashah commented on #1646
hey @the-jojo-jj sorry for the late reply. There is discussion on this matter on the discord click the discord badge in the readme to join.

Closing as it's not an issue.

thanks

[2021-05-10 18:27] smashah commented on #1636
@guilhermebkel I have a few suggestions

1. Cycle randomly between multiple user agents for each invocation of `create`
2. Try to set [`useStealth: true`](https://docs.openwa.dev/interfaces/api_model_config.configobject.html#usestealth) in the config object:
3. Make a function that randomly sets the width and height of the window via [`viewport`](https://docs.openwa.dev/interfaces/api_model_config

[2021-05-10 18:37] guilhermebkel commented on #1636
@smashah Thanks for the suggestions, I'll try it out!

About the first suggestion, I'm thinking about using the User Agent provided by the user that is trying to create a session (since he usually makes a request to create a session, I'm able to get its User Agent), is there any problem with that?

[2021-05-10 22:01] smashah commented on #1636
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-10 22:52] guilhermebkel commented on #1636
@smashah Interesting result! Now since you wrapped the **goTo** method with a try/catch to treat it, the browser will close after this error happens? (I've seen that you added some metrics about the load as well)

[2021-05-11 20:04] GladistonXD opened #1663 "Duplicate sticker after responding to an image."
I don't know if this is a bug, or an error in my programming, but I couldn't find a solution using "sendImageAsSticker" always duplicates the replied image with the same initial image

<a href="https://raw.githubusercontent.com/GladistonXD/teste.txt/master/Exemple"><img src="https://raw.githubusercontent.com/GladistonXD/teste.txt/master/Exemple.gif" title="Exemple"/></a>

[2021-05-12 14:36] oMrRexD opened #1667 "Error: Evaluation failed: f"
**Describe the bug**

When many people use the bot, Puppeteer starts to have problems until the application crashes, and I have no idea what's going on.
<img src="https://cdn.discordapp.com/attachments/685501923314368513/842045281163280414/unknown.png" width="70%">

**create() code**
[code]

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[c

[2021-05-13 15:53] paulocorcino opened #1669 "Big JSON with b64 content"
**Describe the bug**
I'm started tests with Easy API with a proposal to change my legacy API support, so I'm analyzing the result received with the webhook event, I saw that a message with binary (image or video) on JSON has twice b64 on code, on the "body" and on the "content". How I work with Java is very complicated to work with this big string on Java memory heap.

**Steps to Reproduce**
1. St

[2021-05-14 01:18] smashah commented on #1636
@guilhermebkel It doesn't throw the error. I will add that back into the code for the next release.

The extra metrics should give us more of an idea of what isn't and what is normal behaviour (specifically page launch times). The library will also dump all response headers if the page load status is not 200. Hopefully the next time this issue comes up with someone, they will provide more useful l

[2021-05-14 17:13] guilhermebkel commented on #1636
@smashah Got it!

[2021-05-14 17:27] guilhermebkel opened #1671 "Stuck on 'Authenticating' forever"
**Describe the bug**
It looks quite random, but sometimes it happens to a session to get stuck on the loading spinner after reading qr code or even after injecting session data (I noticed it when I used the session on my local computer).

I feel like it could be something related to the **phoneIsOutOfReach** since it has no timeout and the message never appears in these rare cases 🤔

![image](http

[2021-05-15 16:06] smashah opened #1672 "feat [CLI]: `--debug` flag"
Should print:
- flag values
- WA_ env vars

[2021-05-16 03:30] smashah commented on #1672
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-16 03:33] smashah commented on #1672
# Changelog

## 🚀 Release [3.14.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.13.2...3.14.0) (2021-05-16)

- build(deps-dev): bump @typescript-eslint/eslint-plugin from 4.22.1 to 4.23.0 [`#1660`](https://github.com/open-wa/wa-automate-nodejs/pull/1660)
- build(deps-dev): bump @types/node from 15.0.2 to 15.0.3 [`#1668`](https://github.com/open-wa/wa-automate-nodejs/pull/1668)
- build(d

[2021-05-16 03:36] #1672 closed

[2021-05-16 03:37] smashah commented on #1671
@guilhermebkel in the Release [3.14.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.13.2...3.14.0) (2021-05-16) it will now wait 20 seconds before ignoring the `phoneIsOutOfReach`

[2021-05-16 03:37] #1671 closed

[2021-05-16 03:38] smashah commented on #1670
This should be fixed in the latest Release [3.14.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.13.2...3.14.0) (2021-05-16)

The docker image is automatically built upon a new version of the library so let me know how it's working if you decide to try it again. thanks

[2021-05-16 03:38] #1670 closed

[2021-05-16 03:45] smashah commented on #1669
Hey @paulocorcino

In the latest version: Release [3.14.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.13.2...3.14.0) (2021-05-16)

you can now set config.messagePreprocessor

This will attempt to process the message before sending it to your callback and therefore your java process

There are a few options:

- `SCRUB` - Replace `body` and `content` with `""`
- `BODY_ONLY` - Replace `c

[2021-05-16 03:45] #1669 closed

[2021-05-16 03:47] smashah commented on #1636
The error is now thrown. I will close this issue for now until someone else brings it up

[2021-05-16 03:47] smashah commented on #1606
Closing.

Thanks

[2021-05-16 03:47] #1606 closed

[2021-05-16 03:48] smashah commented on #1667
hi @oMrRexD there's not enough detail here to figure out what's going on.

do you have any more info on this?

I would firstly suggest to remove all of those chrome args.

[2021-05-16 03:50] smashah commented on #1663
Hey @GladistonXD I've done some testing on this. I'm pretty sure this is only happening to you on your code.

If this continues to happen, please ask for help in the #javascript channel and someone will help you figure this one out.

thanks

[2021-05-16 03:50] #1663 closed

[2021-05-16 15:31] paulocorcino commented on #1669
HI Smashah,

I did test using your sample, but, not had successful. Open-WA send by webhook same data binary twice.
I'll show you images with I did to start the process.

I tried with two way:
![image](https://user-images.githubusercontent.com/7800501/118402379-1ae04680-b640-11eb-90fc-84f9ae77786f.png)
and this
![image](https://user-images.githubusercontent.com/7800501/118402328-d0f76080-b63f-11eb

[2021-05-16 15:52] GladistonXD commented on #1663
Okay, thanks

[2021-05-16 18:07] smashah commented on #1669
@paulocorcino can you provide the full body of those two webhooks please. The screenshot does not show the whole detail.

Also, let me know if the issue persists with this config.json

[code]

[2021-05-16 18:32] smashah commented on #1100
Todo:

- [ ] Refactor /bin/index.js to within to /src so it can be compiled and rebuilt in typescript
- [ ] Add a socket middleware within the CLI
- [ ] Refactor post create promises to resolve before the instance is finished being created

[2021-05-16 18:32] smashah commented on #1629
this should be fixed in the latest version

thanks

[2021-05-16 18:32] #1629 closed

[2021-05-16 18:33] smashah commented on #894
blocked by #1100

[2021-05-16 19:57] paulocorcino commented on #1669
@smashah So, I did some tests, this was results.

I used 4 kind of file: image, video, pdf and binary (format not commons)

npx @open-wa/wa-automate -a -c './config.json' -i --no-kill-on-logout --message-preprocessor 'BODY_ONLY' --skip-save-postman-collection -k 'K6MEQJRV3trXMPZ5eQd1Jl8NaaaRZxqy'

**Result**
Image: binary thumb twice.
Video: binary full twice.
Audio: nothing, only enc.
PDF:  binar

[2021-05-16 21:32] smashah commented on #1669
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-16 21:34] smashah commented on #1669
# Changelog

## 🚀 Release [3.14.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.14.0...3.14.1) (2021-05-16)

- Release 3.14.1 [`eda9fc9`](https://github.com/open-wa/wa-automate-nodejs/commit/eda9fc9d522be554fafcdf9c765efdda541a9e89)
- 🐛  fix: make sure preprocessors work on pdf files #1669 [`e872f9b`](https://github.com/open-wa/wa-automate-nodejs/commit/e872f9bcfff21ccc613ba7e26aed8657c

[2021-05-17 04:54] akkivirani opened #1673 "isChatOnline function is not working as expected"
I observed that isChatOnline function is not getting online/offline status for some of the chats.
If I will open that chat from my phone, it will start working.
Also Can we get online/offline status for any number even if it is not present in our chat?

Any help will be appreciated.

[2021-05-17 05:06] smashah commented on #1673
Hey there @akkivirani

Due to recent updates from WA, some things fall back to a recent value instead of continuously updating it from the phone. For this reason, you should make sure that the phone is always open, on charge, online, and in the mobile app to ensure data is as correct and recent as possible.

No, it cannot. Due to recent events in the news, the zuck is going around and patching the

[2021-05-17 05:06] #1673 closed

[2021-05-17 12:49] smashah commented on #894
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-17 12:59] smashah commented on #894
# Changelog

## 🚀 Release [3.15.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.14.1...3.15.0) (2021-05-17)

- 📝 docs: added `SocketClient` instructions and example #894 [`ef2437e`](https://github.com/open-wa/wa-automate-nodejs/commit/ef2437ead3491c8de3391b96edb7a3a2c9c8afde)
- Release 3.15.0 [`7def6fb`](https://github.com/open-wa/wa-automate-nodejs/commit/7def6fba2e0959e97739928354d877

[2021-05-17 13:03] smashah commented on #894
https://docs.openwa.dev/classes/connect_socket.socketclient.html

[2021-05-17 13:03] #894 closed

[2021-05-17 13:03] smashah commented on #1100
https://docs.openwa.dev/classes/connect_socket.socketclient.html

[2021-05-17 13:03] #1100 closed

[2021-05-17 13:04] smashah commented on #1667
Let me know if this keeps happening.

Closing

Thanks

[2021-05-17 13:04] #1667 closed

[2021-05-17 20:42] x000x000x000x opened #1678 "I'm having trouble starting"
good morning, could you help me with a bug? whenever I use the "npm start" command I give the following error:

┃
┃   @open-wa/wa-automate                                                                            ┃
┃    💬 🤖 The most reliable NodeJS whatsapp library for chatbots with advanced features.           ┃
┃   Version: 3.15.0

[2021-05-17 22:16] wlskcode commented on #1678
I'm having the same issue... for now the only solution I found is to use an older version.

`npm uninstall @open-wa/wa-automate`
`npm install @open-wa/wa-automate@3.13.2`

[2021-05-17 22:20] smashah commented on #1678
@x000x000x000x

What node and npm versions are you running?

[2021-05-17 22:39] #1678 closed

[2021-05-17 22:39] smashah commented on #1678
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-17 22:42] smashah commented on #1678
# Changelog

## 🚀 Release [3.15.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.15.0...3.15.1) (2021-05-17)

- Release 3.15.1 [`bb6cfc9`](https://github.com/open-wa/wa-automate-nodejs/commit/bb6cfc9e76ae9068fa4249154fdd4d9b90f73abc)
- 🐛 fix: #1678 [`7adf3c7`](https://github.com/open-wa/wa-automate-nodejs/commit/7adf3c721e706ee9220f17f353f779e90d47d59d)

[2021-05-17 22:43] smashah commented on #1678
@x000x000x000x @wlskcode should be fixed now

[2021-05-17 22:55] x000x000x000x commented on #1678
thanks

[2021-05-17 22:56] x000x000x000x commented on #1678
thanks

[2021-05-17 23:55] wlskcode opened #1679 "Initialization error continues"
I was having the same issue as the other guy in version 3.15.0: "TypeError: storage.getItem is not a function". Now that this is fixed, another error shows up...

- Starting
- Version: 3.15.1
- Initializing WA
- Launching Browser
- Setting Up Browser
- Loading session data
- Found session data file: C:\Users\Caio\Desktop\iris\Iris.data.json
- Existing session data detected. Injecting...
- Existing

[2021-05-18 00:26] smashah commented on #1679
@wlskcode does this happen every time?

[2021-05-18 01:18] wlskcode commented on #1679
Every single time, except for the first time. The first execution it ran just fine, I was able to authenticate on whatsapp web.

![Captura de tela 2021-05-17 221324](https://user-images.githubusercontent.com/84291998/118575574-2e350400-b75d-11eb-8a75-5c6f1b1c99fb.png)

I tried changing my node version but this still happens with both node LTS version and the current version. I'm looking forward to

[2021-05-18 01:28] smashah commented on #1679
@wlskcode
the crazy thing about the error you're getting is that the web page request is returning null which I have never seen before. Please share your config and any other context around this issue. Also, in the future use the issue template.

[2021-05-18 03:33] smashah opened #1680 "API improvement: commands should not return `Error: bla bla bla` as string anymore. Errors should be thrown."
or make a config option
[code]

[2021-05-18 03:37] smashah commented on #1679
possibly related:

https://github.com/puppeteer/puppeteer/issues/2479

[2021-05-18 05:54] the-jojo-jj opened #1686 "ERROR when running behind nginx proxy"
Hi, i've found open-wa runs by direct hit:
[code]

but, when put behind the nginx reverse proxy with following config:
[code]
i've got:

[code]

[2021-05-18 07:36] smashah commented on #1680
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-18 07:38] smashah commented on #1680
# Changelog

## 🚀 Release [3.15.2](https://github.com/open-wa/wa-automate-nodejs/compare/3.15.1...3.15.2) (2021-05-18)

- build(deps): bump open from 8.0.8 to 8.0.9 [`#1681`](https://github.com/open-wa/wa-automate-nodejs/pull/1681)
- build(deps-dev): bump @typescript-eslint/eslint-plugin [`#1682`](https://github.com/open-wa/wa-automate-nodejs/pull/1682)
- build(deps-dev): bump @typescript-eslint/p

[2021-05-18 07:39] #1680 closed

[2021-05-18 07:40] smashah commented on #1686
@the-jojo-jj the issue is with how your reverse proxy is breaking the json payload.

not related to this lib.

[2021-05-18 07:40] #1686 closed

[2021-05-18 07:42] smashah commented on #1679
@wlskcode

in the latest version (Release [3.15.2](https://github.com/open-wa/wa-automate-nodejs/compare/3.15.1...3.15.2) (2021-05-18)), you will not get to this error, however you may still have issues with loading - but that will be a different problem.

[2021-05-18 07:42] #1679 closed

[2021-05-18 11:14] x000x000x000x opened #1687 "I can't start the bot"
Can you help me with this?

Starting
- Version: 3.15.1
- Initializing WA
- Launching Browser
- Setting Up Browser
- Loading session data
- Found session data file: /home/angelo/Downloads/iris/Iris.data.json
- Existing session data detected. Injecting...
- Existing session data injected
- Navigating to WA
- Navigating to WA
TypeError: Cannot read property 'status' of null
    at Object.<anonymous>

[2021-05-18 16:40] smashah commented on #1687
this was fixed in 3.15.2

[2021-05-18 16:40] #1687 closed

[2021-05-18 17:46] lfernandes opened #1688 "How to avoid "Authentication timed out. Please open the app on the phone. Shutting down""
**Describe the bug**
I would like to know what can I do to avoid to phone get disconnected from WhatsApp server.

**Steps to Reproduce**
1. Schedule a cron to send message at specific time of the day

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
Be able to send scheduled messages all the time (keep the WhatsApp in the phone always connected / a

[2021-05-18 17:54] smashah commented on #1688
Hey,

Thanks for filling in the template. It's greatly appreciated.

You can achieve this by setting [`authTimeout`](https://docs.openwa.dev/interfaces/api_model_config.configobject.html#authtimeout) to 0 to make it wait forever.

[code]

Ideally, you want to keep the phone on charge, open on the app, and with a good connection to avoid hitting the timeout.

[2021-05-18 17:54] #1688 closed

[2021-05-18 18:04] smashah opened #1689 "feat [CLI]: endpoint to download the respective swagger collection and client code generation"
maybe something like:

`/meta/swagger.json`

or

`/meta/postman.json`

or make a convenient endpoint to generate it for different languages using swagger online code generator

`/meta/codegen/{language}`

[2021-05-18 22:14] smashah opened #1690 "feat [CLI]: set swagger nickname to the function name to prevent client libraries from prepending method"
wrong: `post_sendText` `postSendText`
correct: `sendText`

[2021-05-18 22:57] smashah commented on #1690
ref: https://github.com/wing328/swagger-codegen/blob/20e531d6dd0a8ed71d1b8cab62ad869f56f700bc/modules/swagger-codegen/src/main/resources/TypeScript-node/api.mustache

[2021-05-18 22:59] smashah opened #1691 "logs: migrate CLI console.log => to Spins"
this will allow cli logs to be transferred via "ev" webhooks

[2021-05-19 08:46] smashah commented on #1689
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-19 08:49] smashah commented on #1689
# Changelog

## 🚀 Release [3.16.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.15.2...3.16.0) (2021-05-19)

- build(deps): bump socket.io from 4.1.1 to 4.1.2 [`#1684`](https://github.com/open-wa/wa-automate-nodejs/pull/1684)
- build(deps): bump type-fest from 1.1.1 to 1.1.2 [`#1692`](https://github.com/open-wa/wa-automate-nodejs/pull/1692)
- build(deps): bump chrome-launcher from 0.13.

[2021-05-19 08:49] #1689 closed

[2021-05-19 08:53] smashah commented on #1691
Live in Release [3.16.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.15.2...3.16.0) (2021-05-19)

[2021-05-19 08:53] #1691 closed

[2021-05-19 08:53] smashah commented on #1690
Live in Release [3.16.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.15.2...3.16.0) (2021-05-19)

[2021-05-19 08:53] #1690 closed

[2021-05-19 13:45] smashah opened #1694 "postman-2-swagger causes npm audit issues"
Mainly because it hasn't been updated in many years.

Possible alternative [`postman-to-openapi`](https://github.com/joolfe/postman-to-openapi)

pros:

- actively maintained
- powerful, converts to yaml

cons:

- does not output json by default
- tested output does not have example request body
- API host/url is wrong
- probably too heavy for the very limited way it is used in this library (the CL

[2021-05-19 14:20] smashah commented on #1694
This has to be updated from postman-collection. NBD right now as the CVE refers to a vulnerability in sanitize-html. There's zero threat area from users of this library.

[2021-05-19 14:20] #1694 closed

[2021-05-20 12:50] hanesaki opened #1698 "How to bot send images without a background?"

[2021-05-20 13:27] smashah commented on #1698
You can only achieve transparency on stickers

[2021-05-20 13:27] #1698 closed

[2021-05-20 18:09] mmuniz75 opened #1699 "getGroupInviteLink stop works in version 3.16"
When try get response from getGroupInviteLink() , throws :

(node:8264) UnhandledPromiseRejectionWarning: Error: Evaluation failed: Error: GROUP_JID: invalid jid type: Not an instance of WID
    at t.GROUP_JID (https://web.whatsapp.com/bootstrap_qr.3ee97e011a14353fd537.js:1:551992)
    at Object.t.queryGroupInviteCode (https://web.whatsapp.com/bootstrap_main.61ccbd302106e7080867.js:2:23304)
    at

[2021-05-20 18:35] smashah commented on #1699
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-05-20 18:35] smashah commented on #1699
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-05-20 18:35] #1699 closed

[2021-05-23 08:25] smashah opened #1701 "connect sdk socket broken"

[2021-05-23 08:27] smashah commented on #1701
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-23 08:30] smashah commented on #1701
# Changelog

## 🚀 Release [3.16.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.16.0...3.16.1) (2021-05-23)

- build(deps-dev): bump marked from 2.0.3 to 2.0.4 [`#1700`](https://github.com/open-wa/wa-automate-nodejs/pull/1700)
- build(deps-dev): bump @types/node from 15.3.0 to 15.3.1 [`#1696`](https://github.com/open-wa/wa-automate-nodejs/pull/1696)
- build(deps): bump type-fest from 1.

[2021-05-23 09:00] #1701 closed

[2021-05-24 10:15] smashah opened #1710 "chore: convert `/bin/index.js` to typescript"

[2021-05-24 19:54] urielexis64 opened #1711 "Send file as a playable audio"
How to send a mp3 file as a playable audio? Not as a voice note, but an audio file.

Thanks!

[2021-05-24 20:19] smashah commented on #1711
@urielexis64 show me what you're trying now so I can help you out

[2021-05-24 20:26] urielexis64 commented on #1711
![photo1621887900](https://user-images.githubusercontent.com/47485144/119403657-edc51100-bc9b-11eb-94ac-ab34209596ff.jpeg)

Something like this when sending an audio file

[2021-05-24 21:25] smashah commented on #1711
I mean the code you are using

[2021-05-24 21:32] urielexis64 commented on #1711
This
[code]

It sends a file, not an audio like the one shown in the screenshot

[2021-05-25 09:04] smashah commented on #1711
Try this: https://github.com/open-wa/wa-automate-nodejs/issues/1039#issuecomment-736962783

[code]

[2021-05-25 14:01] deriknyvo opened #1717 "Payment type messages"
Hello, how to handle payment messages?

![image](https://user-images.githubusercontent.com/33598231/119511115-7d27fe00-bd48-11eb-9ba6-5c71d30c01fd.png)

[2021-05-25 14:23] smashah commented on #1717
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-05-25 14:24] smashah commented on #1717
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-05-25 14:24] #1717 closed

[2021-05-25 14:31] #1650 closed

[2021-05-25 21:18] urielexis64 commented on #1711
Still not working, it returns a voice note instead of an audio

[2021-05-26 09:52] smashah opened #1722 "remove all image and video processing code from the library"

[2021-05-26 10:47] smashah commented on #1710
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-26 10:54] smashah commented on #1710
# Changelog

## 🚀 Release [4.0.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.16.1...4.0.0) (2021-05-26)

- build(deps-dev): bump @typescript-eslint/eslint-plugin from 4.24.0 to 4.25.0 [`#1714`](https://github.com/open-wa/wa-automate-nodejs/pull/1714)
- build(deps): bump open from 8.1.0 to 8.2.0 [`#1712`](https://github.com/open-wa/wa-automate-nodejs/pull/1712)
- build(deps-dev): bump

[2021-05-26 10:56] #1710 closed

[2021-05-26 10:56] #1722 closed

[2021-05-26 14:00] smashah opened #1723 "bug: CLI launch bug config file not found"

[2021-05-26 14:07] #1723 closed

[2021-05-26 14:07] smashah commented on #1723
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-26 14:10] smashah commented on #1723
# Changelog

## 🚀 Release [4.0.1](https://github.com/open-wa/wa-automate-nodejs/compare/4.0.0...4.0.1) (2021-05-26)

- build(deps-dev): bump @types/express from 4.17.11 to 4.17.12 [`#1720`](https://github.com/open-wa/wa-automate-nodejs/pull/1720)
- Release 4.0.1 [`e13e60c`](https://github.com/open-wa/wa-automate-nodejs/commit/e13e60c1c2df59c3ec735739261a0069e88f3fd0)
- 🐛 fix: #1723 [`38ed67e`](htt

[2021-05-26 20:45] smashah opened #1724 "bug: message preprocessor typo"

[2021-05-26 20:51] #1724 closed

[2021-05-26 20:51] smashah commented on #1724
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-26 20:54] smashah commented on #1724
# Changelog

## 🚀 Release [4.0.2](https://github.com/open-wa/wa-automate-nodejs/compare/4.0.1...4.0.2) (2021-05-26)

- ✏️ typo: fix #1724 [`#1724`](https://github.com/open-wa/wa-automate-nodejs/issues/1724)
- Release 4.0.2 [`0bea284`](https://github.com/open-wa/wa-automate-nodejs/commit/0bea28447334436172b457853420d5cb3865eb85)

[2021-05-26 21:35] Gahtee opened #1725 "sendImage error"
**Describe the bug**
Im trying to send a image by a url and its say: "Make sure the file reference is relative, a valid URL or a valid DataURL"

**Steps to Reproduce**
a get from axios to this link https://some-random-api.ml/img/dog
and a simple link solve and tried to use sendImage, but its return a error

**create() code**

[code]

**Expected behavior**
I was expecting to the bot send as a norma

[2021-05-27 02:52] fajarnurprasetyo opened #1726 "pin and unpin chat"
request feature for pin or unpin chat

[2021-05-27 04:38] syafiqfaiz opened #1727 "Docx is decyptMedia as mp4."
**Describe the bug**
File with a docx extension is sent properly as docx file, but when processed, its decrypted as mp4 mimeType.

**Steps to Reproduce**
Steps to reproduce the behavior:
1) encode to dataUrl using browse FileReader api
[code]
*it encode the file as `data:application/octet-stream;`*
2) send a docx file from browser using `sendFile` api
3) list to onAnyMessage event
4) decryptMedia,

[2021-05-27 06:15] smashah commented on #1727
Haha 😂

I just woke up but I will explain why this happens in a bit

[2021-05-27 08:14] smashah commented on #1727
Hi @syafiqfaiz The reason this happens is because the majority use case for unknown mimetypes is `data:application/octet-stream` and based on user feedback, `data:application/octet-stream` generally means the file is a video.

Now, is it compliant to assume that `octet-stream`s are by default a video? Absolutely not! But it is the case that many people using the library intend for the octet-stream

[2021-05-27 08:26] syafiqfaiz commented on #1727
I am not explicitly setting the mimeType in my code
I am actually using browser API tu encode the file into dataUrl
[code]

here's how I use it in react
[code]

and for an unknown reason, `FileReader` api decode `docx` file as `data:application/octet-stream;`

I hardcode it in the example because `fs.readFile` doesnt' encode in dataUrl, only in base64.

Do you have any suggestion on encoding the f

[2021-05-27 08:55] smashah commented on #1727
I suggest using a library like [`mime-types`](https://npm.runkit.com/mime-types) to infer the correct mimetype from a file

![image](https://user-images.githubusercontent.com/5903821/119795748-ab384a00-bed0-11eb-9c8a-75619294313a.png)

octet-stream is a placeholder for an `unknown` file type so is pretty useless for most use cases.

Due to the fact that this issue and #1725 have come up at the sam

[2021-05-27 08:57] smashah commented on #1725
Hi,

the reason this is happening is because of the rdog.data.link URL goes to an image that is missing the `content-type` header which is required for determining the file type of a URL based file.

You should inform the developer of this API that the image should return with a proper content-type headers. In the meantime, please keep track of #1727 where I will develop an implicit detection mech

[2021-05-27 09:02] syafiqfaiz commented on #1727
ok

I should probably use the same strategy on the client side. If the mimType provided by `FileReader` is `octet-stream`, find the mimetype from the file extension.

Thank you @smashah , thank for this awesome package

[2021-05-27 09:51] smashah commented on #1726
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-05-27 10:13] smashah commented on #1726
# Changelog

## 🚀 Release [4.1.0](https://github.com/open-wa/wa-automate-nodejs/compare/4.0.2...4.1.0) (2021-05-27)

- build(deps): bump ts-morph from 10.1.0 to 11.0.0 [`#1728`](https://github.com/open-wa/wa-automate-nodejs/pull/1728)
- build(deps): bump ts-json-schema-generator from 0.92.0 to 0.93.0 [`#1729`](https://github.com/open-wa/wa-automate-nodejs/pull/1729)
- build(deps-dev): bump typescr

[2021-05-27 10:14] #1726 closed

[2021-05-27 10:15] smashah commented on #1727
@syafiqfaiz the library will now detect the content-type from the filename in the latest version 4.1.0

https://github.com/open-wa/wa-automate-nodejs/releases/tag/4.1.0

thanks

[2021-05-27 10:15] #1727 closed

[2021-05-27 10:16] smashah commented on #1711
@urielexis64 you can now upgrade to https://github.com/open-wa/wa-automate-nodejs/releases/tag/4.1.0 and use [`sendAudio`](https://docs.openwa.dev/classes/api_client.client.html#sendaudio) to send an mp3 as a normal audio file and not as a voice note. thanks

[2021-05-27 10:16] #1711 closed

[2021-05-27 10:17] smashah commented on #1725
@Gahtee this should be fixed in the latest version but you should make sure to add a filename with a valid file extension in order to fix this issue.

https://github.com/open-wa/wa-automate-nodejs/releases/tag/4.1.0

[code]

thanks

[2021-05-27 10:17] #1725 closed

[2021-05-27 15:29] urielexis64 opened #1732 "client.sendAudio returns a non native WhatsApp audio"
**Describe the bug**
When use the new feature "send audio as native WhatsApp audio" it returns a mp3 file that cannot play in the app. ()it's the same when use **client.sendFile(...)**

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Just using the function **client.sendAudio(from, "audio.mp3", id);**

**Expected behavior**
Anative WhatsApp audio with the ability to be played in the app

[2021-05-27 15:39] smashah commented on #1732
@urielexis64 in the first example you did not quote another message. this seems to be a limitation of WA itself and the only thing I can do about it is to remove the 3rd parameter.

Please try again with:

[code]

[2021-05-27 16:26] urielexis64 commented on #1732
@smashah I tried and it still doesn't work :(
but thanks for the response :)

[2021-05-27 16:38] smashah commented on #1732
@urielexis64 there is something wrong with how the audio file is being referenced. You should log the result from the ytdl and try to explicitly set the URL of the audio file.

For example, this should work (it is what i am using for testing):

[code]

[2021-05-28 01:04] powermx opened #1733 "Error toString on stickers"
After update to latest
🤔
Stickers not working

[ERROR] Error: Evaluation failed: TypeError:
Cannot read property 'toString' of undefined
    at Object.initialize (https://web.whatsap
p.com/bootstrap_qr.3ee97e011a14353fd537.js:1:
1806579)
    at new v (https://web.whatsapp.com/bootst
rap_qr.3ee97e011a14353fd537.js:1:1762317)
    at new ae (https://web.whatsapp.com/boots
trap_qr.3ee97e011a14353fd537

[2021-05-28 03:10] fajarnurprasetyo commented on #935
@Waxaranai
I found that problem too, what caused it to happen?

[2021-05-28 03:12] fajarnurprasetyo commented on #935
@smashah
please help me
why my code not catching message type image?

[code]

[2021-05-28 03:40] fajarnurprasetyo opened #1734 "Client.onAnyMessage didn't detect me (client) sending a image (reopen)"
#935

detected when i send image from client instance `headles: false`
but not detected when sending from phone

[2021-05-28 04:11] #1733 closed

[2021-05-28 04:12] powermx commented on #1733
Changing client was solved

[2021-05-28 08:17] smashah commented on #1734
Unable to replicate. Working ok here. Not enough info. please fill in the issue template

[2021-05-28 08:17] smashah commented on #1734
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-05-28 08:18] smashah commented on #1734
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-05-28 08:18] #1734 closed

[2021-05-29 15:56] JuanMontero0525 opened #1737 "Files stop sending after very large volume of messages"
**Describe the bug**
Files stop sending after very large volume of messages, only file sending stops but text messages work fine.

I do not know if the browser saves some kind of cache and in a certain time with a large volume of messages the files stop being sent.

**create() code**
[code]

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[c

[2021-05-30 01:17] kevin4dhd opened #1738 "Only file and data URLs are supported by the default ESM loader"
**Describe the bug**
Error installing open-wa

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to npm i --save @open-wa/wa-automate@latest

**Expected behavior**
I try to update the library in windows 10 and the following error appears.

**Screenshots**
![image](https://user-images.githubusercontent.com/22886367/120088884-cd8dbb80-c0ba-11eb-8dda-e02e77f6b357.png)

**Host (please comp

[2021-05-30 01:19] kevin4dhd commented on #1738
I just saw that I have the v12.17.0 version of nodejs, I am going to update it and see if that fix it

[2021-05-30 01:51] kevin4dhd commented on #1738
It was that, my fault for not reading, if someone else happens to update nodejs

[2021-05-30 01:51] #1738 closed

[2021-05-30 13:37] smashah commented on #1737
@JuanMontero0525 there is not enough information here to resolve this problem. You will need to share the exact code and parameters that lead to that error'ed message.

It is not a function of time, that is a corrupt message. Based on the screenshot, it looks like the corrupt filename is causing the issue but we cannot be sure until you have some reproducible instructions.

Till then I'll close th

[2021-05-30 13:37] #1737 closed

[2021-05-30 13:37] smashah commented on #1732
I tried the above code again today and it seems to be functioning as intended.

Closing.

Thanks

[2021-05-30 13:37] #1732 closed

[2021-05-30 13:40] smashah opened #1739 "chore: socketclient.ask should be returning the event listener, not just `true`."

[2021-05-31 03:09] shansekai opened #1740 "what is the maximum limit for sending videos & pdf?"

[2021-05-31 07:38] smashah commented on #1740
Iirc it's 100MB for a file and 50MB or a video

Thanks

[2021-05-31 07:38] #1740 closed

[2021-06-01 19:55] DXPRO opened #1744 "getGroupInviteLink - Error: GROUP_JID: invalid jid type: Not an instance of WID"
Error: GROUP_JID: invalid jid type: Not an instance of WID at t.GROUP_JID (https://web.whatsapp.com/bootstrap_qr.3ee97e011a14353fd537.js:1:551992) at Object.t.queryGroupInvite

WhatsApp Web Version: 2.2119.6

[2021-06-01 21:34] smashah commented on #1744
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-06-01 21:35] smashah commented on #1744
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-06-01 21:35] #1744 closed

[2021-06-02 10:43] phelipee15 opened #1747 "Error installing @open-wa library"
**Describe the bug**
I've always used the same code base for a few months and never had any problems, but when I upgraded from 3.11.5 to the latest 4.1.0, every time I put "npm i --save @open-wa/wa-automate @latest" gives an ESM-related error: [ESM URL SCHEME ERROR NOT SUPPORTED].

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2021-06-02 10:46] smashah commented on #1747
@phelipee15 thanks for filling out the issue template, what is your npm / node version?

[code]

[2021-06-02 10:47] smashah commented on #1747
looks like this is a duplicate of #1738

[2021-06-02 10:47] #1747 closed

[2021-06-02 11:18] phelipee15 commented on #1747
![image](https://user-images.githubusercontent.com/70668772/120471203-ceed0b80-c37a-11eb-9991-6103cb119fda.png)
I don't know why, but it's like this.

![image](https://user-images.githubusercontent.com/70668772/120471354-fa6ff600-c37a-11eb-8ab5-5eaf904c3df5.png)
@smashah

[2021-06-03 00:24] erickmourasilva opened #1748 "CheckNumberStatus not working"
This function not working more.
Check the result in image:
![image](https://user-images.githubusercontent.com/29979780/120567749-d64afe00-c3e8-11eb-92be-027fc9aa398d.png)

[2021-06-03 00:37] lukasportal commented on #1748
Yep.. this started happening after the latest version 2.2121.5
issue is on window.Store.WapQuery.queryExist()

a little more info from my debugging:
startComms is an internal function that starts a proxy/network class that makes requests, apparently
sendIq is an internal function that sends a request via ws, possibly lol

from my understand, this latest WA Web version has a bug on queryExist

but

[2021-06-03 03:13] krasymyr commented on #1748
yes. stuck here too.

[2021-06-03 04:07] bobaoapae commented on #1748
Just change store discovery for WapQuery, getting wrong reference.

{
            id: "WapQuery",
            conditions: (module) => (module.default && module.default.queryExist) ? module.default : null
        },

[2021-06-03 04:23] frankdors commented on #1748
FallBack solution (creates always is not exists, ignores not found)

[code]

[2021-06-03 05:30] manojsitapara opened #1749 "TypeError: Cannot read property 'camelCase' of undefined"
I am using latest docker image file

Getting following error, when I start docker container, It was working fine, but in latest image it is not working

`TypeError: Cannot read property 'camelCase' of undefined
    at /usr/src/app/node_modules/@open-wa/wa-automate/dist/cli/setup.js:283:102
    at Array.map (<anonymous>)
    at Object.envArgs (/usr/src/app/node_modules/@open-wa/wa-automate/dist/cli

[2021-06-03 08:59] lukasportal commented on #1748
@bobaoapae's solution fixed it

[2021-06-03 09:14] GladistonXD opened #1753 "Is it possible to use getAllContacts to create a broadcast list?"
Using getAllContacts to leave the list in 'possible' acceptable format
[code]
would be more or less that

[2021-06-03 10:14] chirag90851 commented on #1748
@bobaoapae it's work

[2021-06-03 10:14] chirag90851 commented on #1748
Thanx

[2021-06-03 10:35] manojsitapara opened #1754 "SendMessageLinkPreview function not working"
When I am sending message using sendLinkWithAutoPreview api, I am getting following error

`Evaluation failed: TypeError: Store[(_0x196877(...) + _0x196877(...) + "ry")][(_0x196877(...) + _0x196877(...) + _0x196877(...) + _0x196877(...) + _0x196877(...) + "w")] is not a function\n    at Object.window.<computed>.<computed> [as sendLinkWithAutoPreview] (__puppeteer_evaluation_script__:1:168918)'}`

[2021-06-03 10:39] fire17 commented on #1754
Im also experincing this issue!
please dont mark it as not following guildines.. pretty sure i've already seen an issue on this closed since it didnt follow the correct style.

Anyone please, do you have a workaround ?? tu

[2021-06-03 10:42] smashah opened #1755 "BREAKING UPDATE: 2.2121.5 [DO NOT CREATE NEW ISSUES - ADD THEM HERE]"
If you are experiencing issues with some features, please add the details here as a comment instead of creating new issues.

TODO:

- [x] profilePicFind
- [x] checkNumberStatus #1748
- [x] mfs
- [x] sendLinkWithAutoPreview #1754

[2021-06-03 10:43] smashah commented on #1754
track #1755

[2021-06-03 10:43] #1754 closed

[2021-06-03 10:43] smashah commented on #1748
track #1755 for fix

[2021-06-03 10:43] #1748 closed

[2021-06-03 10:50] fire17 commented on #1755
can you guys create new groups?
im getting
`selenium.common.exceptions.JavascriptException: Message: javascript error: window.Store.WapQuery.createGroup is not a function`

[2021-06-03 10:54] smashah commented on #1755
@fire17 should be fixed now with patch please try again

[2021-06-03 10:59] smashah commented on #1748
Patched. Restart your sessions. Thanks

[2021-06-03 11:01] smashah commented on #1754
@manojsitapara patched. please restart your instance

[2021-06-03 11:10] smashah commented on #1753
@GladistonXD This wouldn't be a built-in feature of the library because some may use it and get their accounts nuked.

To do what you're trying to achieve you could do something like this:

[code]

Not sure what you mean by "leave the list in 'possible' acceptable format".

Please discuss this further on the discord. thanks

[2021-06-03 11:10] #1753 closed

[2021-06-03 11:11] fire17 commented on #1755
**i love how you guys in this repo fix shit so quickly!**

Q - do these fixes translate over to wa-autimate-python?
_(honest confession - i'm still using mukulhase/WebWhatsapp-Wrapper cause its almost the same and thats where i started, usually all the fixes posted here also solve the issues over there, but i cant figure what to do with patches.json, is there any change i can do in wapi.js to solv

[2021-06-03 11:12] oltanalkan commented on #1748
@bobaoapae
Store.WapQuery.profilePicFind Not working

[2021-06-03 11:13] oltanalkan commented on #1755
Store.WapQuery.profilePicFind Not working

[2021-06-03 11:19] smashah commented on #1755
@oltanalkan if you restart your session it should work

@fire17 thank you for your kind words. The patches system is designed so nobody has to upgrade a library/dependency to receive critical updates (like this one) it only requires you to restart your session to get the brand new patch (from our dedicated CDN). The python library also has this baked in so the fixes are translated there in real ti

[2021-06-03 11:38] fire17 opened #1756 "How can I tell if someone saved me as contact ?"
Hey guys, I wish to send someone a message automatically after they've added me as contact
for example, sending my own contact in a group, then checking over the participants if they've added me

I wondering whats the best way to do this...
I've thought about - trying to get their status/lastSeen/profilePic or something that is usually unavailable for non-contacts and then becomes available if the

[2021-06-03 11:54] fire17 commented on #1755
@smashah That would be wonderful!
I'd much rather work on a system that is autopatched - also might consider for people who'd like to set it up so that it will autorestart if it sees a new patch. (I prefer to reset my system instead of not functioning properly)

until i change my code to work with yours (either through sdk or other means), will you push updates to the code repo soon?
im betting th

[2021-06-03 12:19] oltanalkan commented on #1755
@smashah
When will you release updated wapi.js ?

[2021-06-03 12:51] smashah commented on #1755
@fire17 a way to subscribe to patch updates via webhook may be a cool feature for users of the lib, however, some days there are multiple patches to fix small edge cases that are irrelevant to 99% of people. Best way to know when a new patch is important is to keep track in the discord where a notification is sent every time there is a new patch.

wapi.js is locked in this library. All updates are

[2021-06-03 13:20] smashah commented on #1756
@fire17 I actually looked into this a while back. There's no way to know if the other account has you saved as a contact.

I will add this to the long term backlog for now

[2021-06-03 13:20] #1756 closed

[2021-06-03 13:20] smashah commented on #659
#1756

[2021-06-03 13:21] fire17 commented on #1755
please post update wapi.js ! :pray: :pray: :pray:

[2021-06-03 13:32] oltanalkan opened #1757 "WapQuery.profilePicFind Not Working"
Uncaught TypeError: Store.WapQuery.profilePicFind is not a function at

[2021-06-03 14:09] dngda commented on #1757
I also faced the same issue. Here's mine

    at Object.window.WAPI.getProfilePicFromServer (C:\Users\Administrator\Documents\nodejs\bot-whatsapp\node_modules\@open-wa\wa-automate\dist\lib\wapi.js:942:27)
    at __puppeteer_evaluation_script__:1:17
    at ExecutionContext._evaluateInternal (C:\Users\Administrator\Documents\nodejs\bot-whatsapp\node_modules\puppeteer\lib\cjs\puppeteer\common\Executi

[2021-06-03 19:28] tsapap commented on #556
Hi smashah I wrote you an email to ask if I can receive wapi.js which allows sending messages and files to numbers not included in the address book. I'm waiting for your answer

[2021-06-04 04:26] rajeshshettysrs commented on #1748
thank you very much.above solution worked for below error
"javascript error: Comms::sendIq called before startComms"

[2021-06-04 08:54] GladistonXD commented on #1753
Sorry I'm from Brazil and I use Google translator sometimes it doesn't work out as it should :) Still on the nuked, if you use a 'delay' in the promises maybe avoid the ban?

[2021-06-04 13:04] daopapp commented on #1755
Hi @smashah , im getting this error displayed on my paid account:

middleware -> error Error: Evaluation failed: p
    at ExecutionContext._evaluateInternal (/usr/src/app/node_modules/puppeteer/lib/cjs/puppeteer/common/ExecutionContext.js:221:19)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (node:internal/process/task_queues:94:5)
    at async ExecutionContext.evaluate (/usr

[2021-06-04 13:06] smashah commented on #1755
@daopapp it looks like the number you are trying to send a message to is not linked to a whatsapp account. Can you DM me on discord please

[2021-06-04 13:11] daopapp commented on #1755
Ok man, i sent a message to you

[2021-06-04 13:54] daopapp commented on #1755
when i use the checknumberstatus, sometimes the result it's ok and sometimes i get this:

{
  "success": true,
  "response": {
    "id": "5511997794474@c.us",
    "status": {
      "name": "Server5xxDrop",
      "stack": "Server5xxDrop\n    at new i (https://web.whatsapp.com/bootstrap_qr.c11753ab24650fdf3d67.js:2:361774)/n    at new p (https://web.whatsapp.com/bootstrap_qr.c11753ab24650fdf3d67.js:

[2021-06-04 15:00] hydenz commented on #1748
It's working! Thanks!

[2021-06-04 15:24] manojsitapara commented on #1749
@smashah if possible, can you please help me to solve this issue?

[2021-06-04 15:34] smashah commented on #1749
@manojsitapara fix incoming soon

[2021-06-04 15:43] manojsitapara commented on #1749
@smashah Thank you so much Sir !!

[2021-06-04 16:11] smashah commented on #1749
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-06-04 16:13] smashah commented on #1749
# Changelog

## 🚀 Release [4.1.1](https://github.com/open-wa/wa-automate-nodejs/compare/4.1.0...4.1.1) (2021-06-04)

- build(deps): bump type-fest from 1.1.3 to 1.2.0 [`#1746`](https://github.com/open-wa/wa-automate-nodejs/pull/1746)
- build(deps): bump parse-url from 5.0.2 to 5.0.3 [`#1752`](https://github.com/open-wa/wa-automate-nodejs/pull/1752)
- build(deps-dev): bump marked from 2.0.6 to 2.0.

[2021-06-04 16:22] smashah commented on #1749
@manojsitapara fixed in latest version.

[2021-06-04 16:22] #1749 closed

[2021-06-04 16:23] #1755 closed

[2021-06-04 16:23] oltanalkan commented on #1755
@smashah
Store.WapQuery.profilePicFind
Are you going to do anything to make the function work?

[2021-06-04 16:23] smashah commented on #1757
I just tested this again. It is working as expected.

[2021-06-04 16:23] #1757 closed

[2021-06-04 16:24] smashah commented on #1755
@oltanalkan as I mentioned in the other comment, it is working as expected. Unless someone can fill in the issue template with reproducible steps then I'm considering the issue resolved.

[2021-06-04 17:11] smashah commented on #1753
@GladistonXD that would be a good way to mitigate risk but i can provide no promises on what will and wont result in a ban. You can discuss this further in the discord

[2021-06-05 20:58] smashah opened #1760 "Refactor out the message collector, allow remote instance message collector"
How do I use the message collector via the api?

How do I use it via a socket client?

[2021-06-06 07:41] smashah commented on #1739
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-06-06 07:44] smashah commented on #1739
# Changelog

## 🚀 Release [4.2.0](https://github.com/open-wa/wa-automate-nodejs/compare/4.1.1...4.2.0) (2021-06-06)

- build(deps): bump puppeteer from 9.1.1 to 10.0.0 [`#1742`](https://github.com/open-wa/wa-automate-nodejs/pull/1742)
- build(deps): bump swagger-ui-dist from 3.49.0 to 3.50.0 [`#1758`](https://github.com/open-wa/wa-automate-nodejs/pull/1758)
- Release 4.2.0 [`9c10032`](https://gith

[2021-06-06 07:44] #1739 closed

[2021-06-07 13:38] marcosdemelo opened #1766 "The checkNumberStatus method is returning an error"
**Describe the bug**
The `WAPI.checkNumberStatus` method is returning an error:
{id: "<whatsappNumber>#@c.us", status: Error: Comms::sendIq called before startComms
    at O (https://web.whatsapp.com/bootstrap_qr.c1175…, isBusiness: false, canReceiveMessage: false}

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Inject the WAPI.js on Whatsapp web
2. Open the browser console and call th

[2021-06-07 13:42] marcosdemelo commented on #1766
A possible solution https://github.com/mukulhase/WebWhatsapp-Wrapper/issues/631#issuecomment-855183831

[2021-06-07 13:43] smashah commented on #1766
The solution to your problem is to use the library as intended

[2021-06-07 13:43] #1766 closed

[2021-06-07 14:51] smashah opened #1767 "bug: node-red socket reconnects cause max event listener error"

[2021-06-07 14:56] smashah commented on #1767
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-06-07 15:07] smashah commented on #1767
# Changelog

## 🚀 Release [4.2.1](https://github.com/open-wa/wa-automate-nodejs/compare/4.2.0...4.2.1) (2021-06-07)

- build(deps-dev): bump @types/express from 4.17.11 to 4.17.12 [`#1763`](https://github.com/open-wa/wa-automate-nodejs/pull/1763)
- build(deps-dev): bump prettier from 2.3.0 to 2.3.1 [`#1764`](https://github.com/open-wa/wa-automate-nodejs/pull/1764)
- build(deps-dev): bump eslint fr

[2021-06-07 15:08] #1767 closed

[2021-06-08 12:54] alpires opened #1771 "Error in checkNumberStatus function"
Hi, when I use the checkNumberStatus function it always returns an error: Error: Comms::sendIq called before startComms

Some idea about this issue?
Thanks

[2021-06-08 13:38] smashah commented on #1771
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-06-08 13:38] smashah commented on #1771
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-06-08 13:38] #1771 closed

[2021-06-09 11:54] smashah opened #1773 "feat [cli]: `readyWebhook`"
Allow users to set a custom webhook to fire when the API has successfully and completely been launched

[2021-06-09 13:09] smashah commented on #1773
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-06-09 13:12] smashah commented on #1773
# Changelog

## 🚀 Release [4.2.2](https://github.com/open-wa/wa-automate-nodejs/compare/4.2.1...4.2.2) (2021-06-09)

- build(deps-dev): bump @typescript-eslint/eslint-plugin from 4.26.0 to 4.26.1 [`#1768`](https://github.com/open-wa/wa-automate-nodejs/pull/1768)
- build(deps-dev): bump @typescript-eslint/parser from 4.26.0 to 4.26.1 [`#1770`](https://github.com/open-wa/wa-automate-nodejs/pull/1770

[2021-06-09 13:18] #1773 closed

[2021-06-09 22:47] malakaisbest commented on #261
I'm new to open-wa.
is there any "Easy API" parameter to detect call and send a reply to the caller?

[2021-06-09 22:53] jesusvalverde commented on #261
A reply as a text...yes

 client.onIncomingCall(call => {
  client.sendText(call.peerJid, 'Lo sentimos, pero no podemos atender su llamada, por favor envienos un audio o un mensaje con su consulta');
; });

[2021-06-10 04:24] malakaisbest commented on #261
thank you for the reply.
but I'm using the open-wa webhook method to get messages to my system.
`npx @open-wa/wa-automate -w 'https://my.domain.com/7a00ac21-60f2-411e-a571-515b37b2025a'`
like this.
i trying to find any parameter to handle "Incoming Call"..
or is there any place to input that code.?

[2021-06-10 08:46] ardzz opened #1774 "Fix swagger ui documentation links"
I've visited [https://docs.openwa.dev/classes/client.html#decryptmedia](https://docs.openwa.dev/classes/client.html#decryptmedia) but it's turned 404