[2020-11-04 12:42] D3DDLOCK opened #1027 "decryptMedia throws error on trying to decrypt MP4 / Video"
Using the following code on an embedded gif (mp4 video) throws an error.

### Code:
const mediaData = await decryptMedia(message, uaOverride)
const mp4_as_sticker = await client.sendMp4AsSticker(message.from, mediaData);

### Error:
`[ERROR] Error: message is missing critical data needed to download the file.`

[2020-11-04 13:20] realunreals opened #1028 "needsToScan -> error Error: Protocol error (Runtime.callFunctionOn): Target closed."
Please check my code, screenshot and video.

**Also after the screenshots I have added ev.on in the code and please check below**

**Code**
[code]

**Screesnhot**

<img width="1340" alt="Screen Shot 2020-11-04 at 15 58 36" src="https://user-images.githubusercontent.com/13606459/98115898-8fc80c00-1eb8-11eb-89b9-36880cb29b7b.png">

**Video**
First step  WA_VERSION: '2.2043.21' second step  WA_VERSIO

[2020-11-04 14:09] smashah commented on #1028
thanks @realunreals it's clear what's going on now. Patch on the way

[2020-11-04 14:09] smashah commented on #1028
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-11-04 14:11] smashah commented on #1028
# Changelog

## 🚀 Release [3.0.12](https://github.com/open-wa/wa-automate-nodejs/compare/3.0.11...3.0.12) (2020-11-04)

- Release 3.0.12 [`e1c9de3`](https://github.com/open-wa/wa-automate-nodejs/commit/e1c9de3ba35dafcb23b780b92b41005d22ced0e4)
- Patch: Ensure that Store.Me.me is not undefined #1028 [`dbbd9a4`](https://github.com/open-wa/wa-automate-nodejs/commit/dbbd9a4f502de07f461d617ad817979132c

[2020-11-04 14:13] smashah commented on #1028
@realunreals can you try with the latest version and report back please

[2020-11-04 14:14] smashah commented on #1023
Continued in #1028

[2020-11-04 14:18] #1028 closed

[2020-11-04 14:45] realunreals commented on #1028
Hello,

I have tested now. I don't receive any error but when I called client.getMe(); me is emypty
**me: { user: '____NA' }**

[code]

[2020-11-04 23:55] smashah opened #1029 "BROKEN METHODS: 619f5"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-05 00:46] arisros opened #1030 "Config qrTimeout authTimeout not expected"
**Describe the bug**
qrTimeout and authTimeout doesn't work. When try to set them its seem ignore it,

Then I try direct change code on `controller/initializer.js` from 60 to 20 it work what I expect.

**Steps to Reproduce**
Steps to reproduce the behavior:
- config with custom qrTimeout and authTimeout
- create client from those config

**create() code**
This is the code you use to create the cli

[2020-11-05 01:01] smashah opened #1031 "BROKEN METHODS: df209"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-05 01:24] arisros commented on #1030
![Screen Shot 2020-11-05 at 08 18 16](https://user-images.githubusercontent.com/12876552/98185689-b715ec00-1f3f-11eb-98c8-3c41b3676159.png)

please consider this logic, if we set value it will ignore that value right?
on `src/controllers/initializer.ts` line `144` and `165`

[2020-11-05 05:01] smashah opened #1033 "BROKEN METHODS: eccb4"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-05 05:01] smashah opened #1034 "BROKEN METHODS: eccb4"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-05 05:56] can1871 commented on #1034
it is written on me too :

EV Evaluation failed: ReferenceError: STOP is not defined
    at eval (eval at <anonymous> (:1:27), <anonymous>:1:1)
    at __puppeteer_evaluation_script__:1:27 customer-support STARTUP
----------
Shutting Down

[2020-11-05 06:02] can1871 opened #1035 "Broken methods detected. Attempting repair"
#1029

----------
EV Checking client integrity customer-support STARTUP
----------

----------
EV Broken methods detected. Attempting repair. customer-support STARTUP
----------
�  Broken methods detected. Attempting repair.
----------
EV Unable to repair. Reporting broken methods. customer-support STARTUP
----------
× Unable to repair broken methods. Sometimes this happens the first time after a

[2020-11-05 06:09] can1871 commented on #1035
@BenSchZA @smashah

[2020-11-05 07:37] smashah commented on #1035
You're using an ancient version of the library. Make sure to keep it up to date

[2020-11-05 07:37] #1035 closed

[2020-11-05 07:39] #1034 closed

[2020-11-05 07:40] #1033 closed

[2020-11-05 07:40] #1031 closed

[2020-11-05 07:40] #1029 closed

[2020-11-05 07:52] ariona commented on #1034
Is there an update to related broken methods? because i am relying on it

[2020-11-05 08:23] smashah commented on #1034
@ariona yes please update to the latest version of the library.

[2020-11-05 08:27] ariona commented on #1034
@smashah I am using this script: https://github.com/open-wa/wa-automate-nodejs/blob/master/src/lib/wapi.js  an update on this script? there is no last commit on this file

[2020-11-05 08:31] smashah commented on #1034
@ariona ah, no. Due to the actions of other libraries, I am no longer updating wapi.js

[2020-11-05 08:33] ariona commented on #1034
any suggestion on how to get GroupMetadata working again?

[2020-11-05 08:34] can1871 commented on #1035
what is the last version

[2020-11-05 08:35] smashah commented on #1034
@ariona Nope sorry, if you have any questions relating to the use of the library I'm more than happy to help but not for wapi related stuff.

[2020-11-05 08:36] smashah commented on #1035
@can1871 3.0.12

[code]

[2020-11-05 08:37] smashah opened #1037 "Issue: Number showing up as "__NA""

[2020-11-05 08:37] can1871 commented on #1035
npm i @open-wa/wa-automate@1.9.103

When I installed this it was fixed

[2020-11-05 08:38] #1037 closed

[2020-11-05 08:41] smashah commented on #1035
@can1871 please update your library version. Don't use such old versions of the library as it will just cause more problems.

If you don't want to update and don't want to see this error then please set

```skipBrokenMethodsCheck: true```

[2020-11-05 08:53] smashah commented on #1027
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-11-05 08:53] smashah commented on #1027
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-11-05 08:53] #1027 closed

[2020-11-05 10:10] smashah commented on #1030
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-11-05 10:12] smashah commented on #1030
# Changelog

## 🚀 Release [3.0.13](https://github.com/open-wa/wa-automate-nodejs/compare/3.0.12...3.0.13) (2020-11-05)

- build(deps-dev): bump marked from 1.2.2 to 1.2.3 [`#1036`](https://github.com/open-wa/wa-automate-nodejs/pull/1036)
- Release 3.0.13 [`a823e05`](https://github.com/open-wa/wa-automate-nodejs/commit/a823e05551b2e95f2de01fcbd305b164edd35c1f)
- Check if page and browser are not nu

[2020-11-05 10:13] smashah commented on #1030
@arisros should be working as expected in latest version thanks

[2020-11-05 10:13] #1030 closed

[2020-11-05 11:27] smashah opened #1038 "BROKEN METHODS: 9c9f1"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-05 11:57] smashah commented on #1038
Please update to the latest version

[2020-11-05 11:57] #1038 closed

[2020-11-05 12:04] smashah commented on #1028
@realunreals fixed in #1037

[2020-11-05 13:14] smashah opened #1039 "Feature: Send File without preview"
Some people have been asking to send files (e.g images, mp3) without resulting in a PTT or an image type message etc.

[2020-11-05 14:49] smashah opened #1040 "BROKEN METHODS: 09c63"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-05 14:56] smashah opened #1041 "BROKEN METHODS: 61b32"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-05 15:37] #1041 closed

[2020-11-05 15:37] #1040 closed

[2020-11-05 22:57] tcortega opened #1042 "Feature: Message Collector (wait for reply)"
A feature similar to discord's message collector, that can collect the message based on conditions and for a specified time, that way you can keep a dialog alive with certain users, expecting for issues.

Discord documentation about MessageCollector for reference:
https://discord.js.org/#/docs/main/stable/class/MessageCollector

[2020-11-06 01:53] smashah opened #1043 "BROKEN METHODS: a1e4b"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-06 02:11] Kry9toN commented on #1000
which version you install chrome

[2020-11-06 02:21] aidilaryanto commented on #1000
Latest

[2020-11-06 11:57] smashah commented on #1000
@aidilaryanto please fill in the issue tempalte. And if you're using code from another repo then make the issue there instead.

[2020-11-06 11:57] smashah commented on #1000
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-11-06 11:58] smashah commented on #1000
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-11-06 11:58] #1000 closed

[2020-11-06 12:06] smashah commented on #1043
10 hrs 1 report. closing

[2020-11-06 12:06] #1043 closed

[2020-11-06 18:19] tcortega opened #1045 "Error on Participate Change events"
**Describe the bug**
It happens on participate change events

**Steps to Reproduce**
Randomly

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
A error should pop-up in console.
[code]

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[code]

**Screenshots**
No need

**Host (please complete th

[2020-11-07 03:57] MRHRTZ opened #1046 "InvalidMediaFileType send video after update"
**Describe the bug**
Like as usual i use this library from version 2.1.6 its working fine sending the videos, and after upgrading to 3.0.13 i've catch error for sending videos (InvalidMediaFileType) and if i downgrade to 2.1.6 again its working

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Do a command for getting video (wa-automate v2.1.6)
![image](https://user-images.githubusercont

[2020-11-07 16:08] smashah opened #1047 "CLI issues"
- [x]  Request error when -k is unset
- [ ]  Args missing from request due to issues with swagger to open API v3 conversion

[2020-11-07 18:15] smashah commented on #1046
@MRHRTZ

I used your same config and am unable to replicate the issue on my machine with the latest verison.

Can you bump the version until you find one that it doesn't work so we can narrow down which version is resulting in the error, please

[2020-11-07 18:46] #1047 closed

[2020-11-07 19:04] smashah commented on #1045
@tcortega I've submitted a patch which should stop this from happening. Please try it out and report back if this issue is resolved.

[2020-11-07 19:04] smashah commented on #1047
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-11-07 19:06] smashah commented on #1047
# Changelog

## 🚀 Release [3.0.14](https://github.com/open-wa/wa-automate-nodejs/compare/3.0.13...3.0.14) (2020-11-07)

- resolves #1047 [`#1047`](https://github.com/open-wa/wa-automate-nodejs/issues/1047)
- Release 3.0.14 [`3775a1c`](https://github.com/open-wa/wa-automate-nodejs/commit/3775a1c39f1586e7cdbdd8e5b1af5d9fc77bdeaf)
- Feature: `sendMp4AsSticker` can now process file path or URL, added

[2020-11-08 00:03] joedutra commented on #1046
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:03] joedutra commented on #1045
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:03] joedutra commented on #1042
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:03] joedutra commented on #1039
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:03] joedutra commented on #971
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:03] joedutra commented on #970
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:04] joedutra commented on #963
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:04] joedutra commented on #899
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:04] joedutra commented on #659
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:04] joedutra commented on #743
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:04] joedutra commented on #865
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:05] joedutra commented on #894
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:05] joedutra commented on #896
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:05] joedutra commented on #918
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:05] joedutra commented on #954
<img src="https://media.giphy.com/media/sNZddQMtrqpS0HEEMC/giphy.gif"></img>
Man, you know it sucks, how we copy your repo, if we have functions that you don’t even have, all for free, we perform almost every day, I came from Sulla and you too, but if you look at following the week, we redid it all lib again, now you will no longer be able to copy us, you copy and keep saying that we copy, nor com

[2020-11-08 00:16] Waxaranai commented on #971
You know why u opened this issue? @smashah told me to do it on discord

[2020-11-08 02:26] smashah commented on #971
04c2e36

[2020-11-08 02:26] #971 closed

[2020-11-08 02:30] #970 closed

[2020-11-08 05:33] tcortega commented on #1042
?????????????????????????????????????????????

[2020-11-08 18:18] joedutra commented on #954
hello!

[2020-11-08 19:08] joedutra commented on #1046
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:09] joedutra commented on #1045
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:09] joedutra commented on #1042
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:09] joedutra commented on #1039
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:10] joedutra commented on #1002
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:10] joedutra commented on #659
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:10] joedutra commented on #743
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:10] joedutra commented on #875
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:10] joedutra commented on #894
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:11] joedutra commented on #896
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:11] joedutra commented on #899
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:11] joedutra commented on #954
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:12] joedutra commented on #865
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:12] joedutra commented on #963
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:13] joedutra commented on #955
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 19:13] joedutra commented on #918
I come to apologize and say that we have nothing against this, only that they accuse us of copying and we never copied anything, if someone copied it was when someone changed our lib, I apologize and the intention was not to be slandered anymore of copying something we worked on every day. just like you, we will not do that anymore.

[2020-11-08 23:38] MRHRTZ commented on #1046
Okay i'll do that on process..

[2020-11-09 11:39] smashah opened #1049 "Insiders Feature: Send ephemeral messages"

[2020-11-09 17:24] lbertoncello opened #1050 "License not working"
**Describe the bug**

I've just bought the license to send message to non contacts (Restricted License Key), but I'm still receiving the error message "Not a contact".

**Steps to Reproduce**

npx @open-wa/wa-automate --license "..."

**DEBUG INFO**

[code]

**Host (please complete the following information):**
 - OS: Windows 10

[2020-11-09 17:54] smashah commented on #1050
@lbertoncello emailed

[2020-11-09 17:54] #1050 closed

[2020-11-10 01:33] dgphp opened #1051 "Reply breaks getAllMessagesInChat and loadAndGetAllMessagesInChat just for the chatId of the reply"
**Describe the bug**
After using the **reply** function, **even if with success**, getAllMessagesInChat and loadAndGetAllMessagesInChat returns **undefined** when retrieving the messages for the **SAME** chatId used to Reply! It continue working in other chats!

I think the same problem reported in issue #376 (closed)

**Steps to Reproduce**

1. Send a normal message ( in order for reply to work p

[2020-11-10 12:29] smashah commented on #1051
@dgphp thanks for detail. Can you set `logConsole: true` and see if it results in any errors

[2020-11-10 13:31] AlenSaito1 opened #1055 "onGlobalParticipantsChanged getting triggered multiple times"
**Describe the bug**

`onGlobalParicipantsChanged` is getting triggered multiple times on a singe event

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Create a client
2. add the listener and make link it to the function below

[code]
**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
It supposed to send the welcome text once

**DEBUG INF

[2020-11-10 14:43] pedrogrisolia opened #1056 "Feature: Detect if the user have read receipts on"
I don't know what to write here lol.
It would be nice to have a method to detect that, or put a property on the Message object that would be true or false, if the user have read receipts on or off.

Thanks!

[2020-11-10 15:09] Kry9toN commented on #1055
I'm also having the same problem

[2020-11-10 16:02] Gimenz opened #1057 "getMessageReaders does not work anymore"
**Describe the bug**
I don't know what to write, but I want to let you know that `getMessageReaders` isn't working.
As shown in screenshot.

Thank you!

**Steps to Reproduce**
Steps to reproduce the behavior:

1. if it worked, it should be like this :
 ![2020-10-07 19_15_31-Window](https://user-images.githubusercontent.com/23699593/98697756-d8476400-23a7-11eb-8cbf-c16e9896aacb.png)

2. but, now it

[2020-11-10 18:42] danielct59 opened #1058 "Not send Image, audio, doc ou video After upgrade"
after the latest version i can no longer send video or image please give me a suggestion

I already entered this information more unsuccessfully

waAutomate.create ({
        headless: true,
        qrRefreshS: 20,
        qrTimeout: 0,
        authTimeout: 0,
        autoRefresh: true,
        restartOnCrash: start,
        cacheEnabled: false,
        useChrome: true,
        killProcessOnBrowse

[2020-11-10 19:22] smashah commented on #1058
@danielct59 if this is happening then it's a huge problem. In order to fix it I'll need you to fill in the issue template with as much detail as possible. I will be working through issues tomorrow

[2020-11-10 19:22] smashah commented on #1058
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-11-10 19:22] smashah commented on #1058
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-11-10 19:22] #1058 closed

[2020-11-10 19:54] danielct59 opened #1059 "not sending video, audio, doc or image after 3.0.11 >"
my code is simple when it comes to sending video, audio, doc or image messages .......

the problem started in version 3.0.11 my BOT when receiving the first message it responds with an image and a welcome text ............. it was normal until u could no longer scan the QrCode, then I needed to update, so it was like this

**Describe the bug**
✓ Authenticated
✓ WAPI Reinjected
✓ Client is ready
✓

[2020-11-11 02:39] dgphp commented on #1051
@smashah thanks for the quick attention!

`logConsole: true` (In create object, correct?) did not log any message!

Today something different happened!

The REPLY function was returning **FALSE**, but the reply was **SENT**!

My Logs:
[code]
Screen:
![image](https://user-images.githubusercontent.com/49364808/98757377-2dd14000-23ab-11eb-9b8d-afe6d401650a.png)

AND NOW a so much strange thing!

When

[2020-11-11 08:38] MRHRTZ commented on #1046
@smashah I think i'm know the issue i made a custom create like this 👍

[code]

Thats create is can broke the code? And i change to :

[code]

And all the function is working no more error sending videos.

[2020-11-11 14:29] smashah commented on #1046
@MRHRTZ

I'm going to make the library throw an error if it detects a string as the first parameter as many people are not using typescript with the library

[2020-11-11 15:30] smashah commented on #1059
please update to the latest version (v3.0.14)

Also, I already mentioned in the other issue, please fill in the issue template. Your issues will be automatically ignored if they don't follow the issue template or are missing important context.

[2020-11-11 15:34] smashah commented on #1051
@dgphp what is happening in the web instance doesn't always show what's happening on the host/recipient devices. As long as the recipient gets the message intended then any glitches in the web instance can be ignored.

[2020-11-11 15:52] #1046 closed

[2020-11-11 15:54] smashah commented on #1057
@Gimenz thanks so much for filling out the issue template perfectly. You have no idea how much easier and quicker it makes resolving issues.

I have issued a patch that should fix this error. Please try again in 5 minutes and report back if this issue is resolved.

Thanks!

[2020-11-11 18:17] smashah commented on #1055
@Kry9toN @AlenSaito1 can you restart your sessions and try again, please. You should only receive one instance of the event now. Please report back if the issue is resolved.

[2020-11-11 18:44] manojsitapara opened #1062 "sendLinkWithAutoPreview API is not working"
sendLinkWithAutoPreview API is posting message but it is getting timeout issue.

Can you please help me to fix it?

[2020-11-11 18:58] smashah commented on #1062
@manojsitapara I have just tested it. Seems to be working ok with this link:

https://www.instagram.com/p/CGSaIrqJv2F/

I will need you to fill out an issue template

[2020-11-11 18:58] smashah commented on #1062
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-11-11 18:59] smashah commented on #1062
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-11-11 18:59] #1062 closed

[2020-11-11 19:05] smashah commented on #1059
@danielct59 looks like the `quotedMsgId` is pointing to a message that does not exist.

[2020-11-11 19:06] smashah commented on #1059
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-11-11 19:06] smashah commented on #1059
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-11-11 19:06] #1059 closed

[2020-11-11 19:06] smashah commented on #1056
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-11-11 19:08] smashah commented on #1056
# Changelog

## 🚀 Release [3.0.15](https://github.com/open-wa/wa-automate-nodejs/compare/3.0.14...3.0.15) (2020-11-11)

- build(deps-dev): bump @types/express from 4.17.8 to 4.17.9 [`#1060`](https://github.com/open-wa/wa-automate-nodejs/pull/1060)
- build(deps): bump @types/sharp from 0.26.0 to 0.26.1 [`#1053`](https://github.com/open-wa/wa-automate-nodejs/pull/1053)
- build(deps-dev): bump @types

[2020-11-11 19:46] dgphp commented on #1051
@smashah ok, i now understand! I just reported because it was related!

Do you think it´s possible to be related with the OS (Windows)?

If there is something else i can do to help, please let me know!

[2020-11-11 21:32] mmuniz75 opened #1063 "function kill() throw exception"
After move to version 3.0.15, when try execute kill(), got :
Shutting Down
needsToScan -> error Error: Protocol error (Runtime.callFunctionOn): Target closed.
    at C:\Pessoal\projects\digital_marketing\codigo\api-whatsapp\node_modules\puppeteer\lib\cjs\puppeteer\common\Connection.js:208:63
    at new Promise (<anonymous>)
    at CDPSession.send (C:\Pessoal\projects\digital_marketing\codigo\api-w

[2020-11-11 23:50] smashah opened #1064 "BROKEN METHODS: 77660"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-12 00:22] Kry9toN commented on #1055
@smashah
Bug fixed

Screenshot:
![Screenshot_20201112-071726~2](https://user-images.githubusercontent.com/44697929/98879275-b6d59d80-24b7-11eb-91f9-66818c822b93.jpg)

[2020-11-12 08:31] #1055 closed

[2020-11-12 08:37] smashah commented on #1063
This error is fired from a leaked promise from authentication. Why this promise is leaking is unknown and I'm unable to replicate it based on the demo and you've provided no replication instructions. Please fill the issue template or just ignore this error.

[2020-11-12 08:37] smashah commented on #1063
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-11-12 08:37] smashah commented on #1063
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-11-12 08:37] #1063 closed

[2020-11-12 08:43] AlenSaito1 commented on #1055
Works fine now, Thanks @smashah

[2020-11-12 21:20] smashah commented on #1064
Stale version. Please update

[2020-11-12 21:20] #1064 closed

[2020-11-12 22:08] smashah commented on #1056
https://open-wa.github.io/wa-automate-nodejs/classes/client.html#checkreadreceipts

[2020-11-12 22:08] #1056 closed

[2020-11-12 22:51] Gimenz commented on #1057
Wow, its worked. Thank you so much
![2020-11-13 05_51_05-Window](https://user-images.githubusercontent.com/23699593/99005929-42146900-2574-11eb-9049-1437cc06f0f3.png)

[2020-11-12 22:51] #1057 closed

[2020-11-12 23:00] smashah opened #1065 "BROKEN METHODS: e0293"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-12 23:24] smashah opened #1066 "BROKEN METHODS: 0afa2"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-13 00:14] smashah opened #1067 "BROKEN METHODS: 36a00"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-13 11:27] #1067 closed

[2020-11-13 11:27] #1066 closed

[2020-11-13 11:27] #1065 closed

[2020-11-13 11:28] smashah opened #1068 "Insiders: Send File as reply with mentions"

[2020-11-13 11:34] smashah opened #1069 "Fix huge onGlobalParticipantsChanged memory leak"

[2020-11-13 11:36] smashah opened #1070 "Return `false` if `joinGroupViaLink` doesn't work due to be banned by a group"
Reported by someone on the discord. Apparently, it returns the group id even if the host account was prevented from joining the group

[2020-11-13 11:53] smashah commented on #1070
?? It actually returns a 401 if you've been booted from a group already

[2020-11-13 11:54] #1070 closed

[2020-11-13 15:54] smashah commented on #659
Authentication hanging promise:[No issue currently]

The needsToScan function races a `waitForFunction` and a `waitForSelector`. needsToScan is itself raced against another function that checks if the session is authenticated. This leads to needsToScan awaiting completion of it's own raced promise throughout the duration of the process. Not good, the authentication logic needs to be rewritten/rede

[2020-11-13 16:16] smashah commented on #1051
@dgphp should be patched now. Can you restart your session, try again and report back if the issue is fixed, please.

[2020-11-13 16:40] smashah opened #1071 "BROKEN METHODS: 6f6a5"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-13 18:13] shubham0804 opened #1072 "Get connection state"
I'm using the easyApi to interact with the library and I wanted to periodically check if the session is online i.e there's no issue with the host phone or the server on which the library is running.

I tried to test it by turning off internet on the host phone and hitting the /getConnectionState, /getMe or similar endpoints of the easyApi but I'm still getting a successful response. The /getSnapsh

[2020-11-13 19:05] #1071 closed

[2020-11-13 19:14] smashah commented on #1072
Looks like it will only update connection state when you try to do something that requires contacting the host account device. If anything I'll have to trick it into pinging the device every time you call `getConnectionState`

[2020-11-14 00:54] dgphp commented on #1051
@smashah thanks!
getAllMessagesInChat -> **WORKING**
loadAndGetAllMessagesInChat -> **STILL FAILS**

**I don´t use loadAndGetAllMessagesInChat, but maybe for anothers users might be useful, and its good everything working fine**

What i did:
- npm i @open-wa/wa-automate
- I had some problems with the update of socket.io to 3.x (cors origins)! Updated front-end version and back-end config!

**Tests

[2020-11-14 06:52] ewaldofikriy commented on #1064
how to update

[2020-11-14 14:58] smashah commented on #1064
@ewaldofikriy

[code]

[2020-11-14 15:01] smashah commented on #1051
@dgphp thanks for your patience and detail. This latest patch should fix it for `loadAndGetAllMessagesInChat`

Please run your test again and let me know if it is working for you

[2020-11-14 15:11] ewaldofikriy commented on #1064
Thanks dude 👍

Pada tanggal Sab, 14 Nov 2020 21.58, Mohammed Shah <notifications@github.com>
menulis:

[2020-11-15 01:00] smashah commented on #1072
@shubham0804 please restart your session and try again. Although `getConnectionState()` now takes about 4 seconds to resolve, it will be much more reliable and up to date.

If you ever want to 'wake up' the connection between the session and the host device just call `getConnectionState()`

Please report back if it working for you.

[2020-11-15 01:37] smashah commented on #1072
changing `getConnectionState` caused issues so now I've implemented `client.forceUpdateConnectionState()` instead.

[2020-11-15 01:37] smashah commented on #1072
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-11-15 01:39] smashah commented on #1072
# Changelog

## 🚀 Release [3.0.16](https://github.com/open-wa/wa-automate-nodejs/compare/3.0.15...3.0.16) (2020-11-15)

- build(deps): bump socket.io from 3.0.0 to 3.0.1 [`#1052`](https://github.com/open-wa/wa-automate-nodejs/pull/1052)
- build(deps): bump ts-json-schema-generator from 0.77.0 to 0.78.0 [`#1061`](https://github.com/open-wa/wa-automate-nodejs/pull/1061)
- Release 3.0.16 [`afd46ca`](

[2020-11-15 01:42] #1069 closed

[2020-11-15 06:44] shubham0804 commented on #1072
client.forceUpdateConnectionState() has solved the issue! Would it be possible to call it through the easyApi?

[2020-11-15 07:17] shubham0804 commented on #1072
Never mind. It's working through the easyApi after updating. Thanks!

[2020-11-15 07:17] #1072 closed

[2020-11-15 07:30] foerderlabor opened #1073 "isChatOnline ALWAYS returns false"
Hi there

I have installed the latest version of open-wa and ran into the following issue. When checking for a contacts status (available, unavailable), it always returns false. Even when I'm checking the status once a second the response doesn't change. I'm testing the following code with 2 seperate phones. One ist the host and the other one is the phone which status should be "available" but isn

[2020-11-15 09:13] dgphp commented on #1051
@smashah fixed `getAllMessagesInChat` and  `loadAndGetAllMessagesInChat`! **Thanks**!

I have just seen that `reply` also breaks `loadEarlierMessages` and `loadAllEarlierMessages`!

Is it better to open a new Issue or keep in this??

[2020-11-15 10:41] smashah commented on #1051
@dgphp `loadAllEarlierMessages` is only supposed to respond with `true` once all messages are loaded. I'll look into `loadEarlierMessages`

[2020-11-15 10:43] smashah commented on #1051
@dgphp try now

[2020-11-15 10:52] smashah commented on #1073
there is a lag between the recipient device showing up online and the session seeing it. How many times is it showing false?

[2020-11-15 10:56] foerderlabor commented on #1073
Hi and thanks for your reply

As I mentioned before it's always returning false - even when testing it for several minutes.

[2020-11-15 21:59] smashah commented on #1073
Improved docs and error response:

73e53eb689797e56a9c6f069cfa6fb7a108ca012

[2020-11-15 21:59] #1073 closed

[2020-11-16 06:45] maurihn opened #1074 "Error send image from amazon s3"
I try to send the image https://shimli-assets.s3-us-west-2.amazonaws.com/campaing/1604435048463.png which is public and it sends me a 400 error

Only with the images of the s3 bucket does that happen, please your help.

Before the last updates I was sending them well

TCL: getDUrl -> error Error: Request failed with status code 400
    at createError (/node_modules/axios/lib/core/createError.js:16

[2020-11-16 12:06] pysaquib opened #1076 "Generate an image of a QR so that it can be used anywhere instead of just terminal"
Not sure if this functionality already exists, but providing a method for printing the QR would be really flexible for the developers

[2020-11-16 12:20] dgphp commented on #1051
@smashah `loadEarlierMessages` working! **Thanks**!

[2020-11-16 13:21] #1051 closed

[2020-11-16 20:57] smashah commented on #1076
https://open-wa.github.io/wa-automate-nodejs/interfaces/configobject.html#popup

And

https://open-wa.github.io/wa-automate-nodejs/interfaces/configobject.html#qrpopuponly

[2020-11-16 20:57] #1076 closed

[2020-11-16 21:44] smashah commented on #1076
Also:

https://github.com/open-wa/wa-automate-nodejs/blob/73e53eb689797e56a9c6f069cfa6fb7a108ca012/demo/index.ts#L27

[2020-11-16 22:41] smashah opened #1077 "Feature: Debug log file"
The log file will contain all pertinent information to solve issues. Including

- [x] Debug Info
- [x] System Information
- [x] Methods used and timestamps
- [x] Listeners registered

It will not log any data from any listeners.

The log should be limited in size and not leak any personal information for any account

[2020-11-16 23:12] smashah commented on #1074
@maurihn the 400 error is from the s3 bucket, not really anything to do with the library. The code for getting the data URL from a URL has not changed recently. I've tried your link and it seems to be working fine. You may want to double-check the s3 bucket settings or serve your content from a 3rd party CDN? Maybe there are some origin restrictions?

[2020-11-17 00:57] maurihn commented on #1074
I was reviewing and I noticed that from version 3.0.6 (where everything works fine for me) to version 3.0.16 there is an update of the axios from 0.20 to 0.21 and that is where the problem occurs, I do not know if the problem is there, but the latest version of 3.0.16 does not work for me :(

[2020-11-17 01:31] smashah commented on #1074
Does 3.0.15 work?

[2020-11-17 02:03] maurihn commented on #1074
Throws the same error

[2020-11-17 02:46] smashah commented on #1074
@maurihn I suggest testing each version of the library until you find the exact version at which is stopped working so a fix can be identified.

[2020-11-18 07:45] shubham0804 opened #1082 "EasyAPIsession stops working when an error occurs"
**Describe the bug**
Easy Api session stops working when an error occurs

**Steps to Reproduce**
Run the easyAPI

**create() code**
Easy API

**Expected behavior**
While running the easyAPI, if an error occurs, as shown in the screenshot, the session stops responding. I'm not sure if this is by design but I don't think the session should stop for an error such as an evaluation error.

**DEBUG INFO

[2020-11-18 17:55] pkhadson opened #1083 "Proxy recommendation"
I want to start using this library, but in addition to asking the customer to save my contact. It is necessary to use a proxy to hide the ip. Which are the best? And how to install?

[2020-11-18 22:59] smashah commented on #1083
I don't think it's necessary to use a proxy but you can do it using `proxyServerCredentials`

Here's an example:
https://github.com/open-wa/wa-automate-nodejs/issues/670#issue-664269911

I highly suggest using [luminati](https://luminati.io/?affiliate=ref_5f1b9ae8c7669177abfd9fb8)

[2020-11-18 23:01] smashah commented on #1074
@maurihn Did you find the specific version causing the issue?

[2020-11-19 09:52] smashah opened #1086 "BROKEN METHODS: 747e3"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-19 11:40] #1086 closed

[2020-11-19 12:59] smashah opened #1087 "BROKEN METHODS: 7f633"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-19 17:55] dantenol opened #1088 "sendText doesn't return properly"
**Describe the bug**
When I send a message through the API and get the response for the function, it returns the messageId of the previous message on the cat, not the id of the one I just sent

**Steps to Reproduce**
Steps to reproduce the behavior:
[code]

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
return the id of the message that was just

[2020-11-19 21:03] smashah opened #1089 "BROKEN METHODS: 9010c"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-19 22:04] #1089 closed

[2020-11-19 23:38] Dargon-dev commented on #1042
any example in code form?

[2020-11-20 10:44] smashah opened #1095 "BROKEN METHODS: e2577"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-20 13:38] lbertoncello opened #1096 "Is EasyAPI working?"
Today my servers running EasyAPI has stopped working. I'm getting HTTP 504 when I try to run a request. I've tried to run EasyAPI in my local machine, but it's not working as well, it's freezing in the following screen:

 ![screenshot](https://user-images.githubusercontent.com/30178254/99805915-f46fa180-2b1b-11eb-955c-2dd4c2776532.png)

The API is working or it's an error on my side?

[code]
 - OS

[2020-11-20 13:59] smashah commented on #1096
can you paste the command you use here please @lbertoncello

[2020-11-20 14:09] lbertoncello commented on #1096
I've ran the following command in my local machine:

`
npx @open-wa/wa-automate -p 3000 -k '...' -w "..." --qr-timeout 0 --qr-log-skip --disable-spins --popup -l '...'
`

In my server I've ran the following command:

`
npx @open-wa/wa-automate --in-docker --api-host "..." -p 3000 -k '...' -w "..." --qr-timeout 0 --qr-log-skip --disable-spins --popup -l '...'
`

My API monitor indicates that server

[2020-11-20 18:24] smashah commented on #1096
@lbertoncello can you try without any flags and see if it works please

[2020-11-20 18:30] #1087 closed

[2020-11-20 18:30] #1095 closed

[2020-11-20 19:23] lbertoncello commented on #1096
It works without flags.

[2020-11-20 23:27] smashah opened #1097 "Feature: Allow setting custom webhook for `ev` in CLI"

[2020-11-20 23:28] smashah opened #1098 "CLI: Log debug info in the popup"

[2020-11-20 23:28] smashah commented on #1098
related to #1077

[2020-11-20 23:30] smashah commented on #1096
@lbertoncello can you try to eliminate each flag one by one to determine which one is causing this issue, please. I suspect it may be `--popup`.

[2020-11-20 23:33] smashah commented on #1088
@dantenol thanks for filling in the issue template. I've issued a patch and it should now be working as expected, you just need to restart your sessions. Please report back if the patch is working for you.

thanks

[2020-11-20 23:51] smashah commented on #1096
@lbertoncello if it is `--popup` this may be due to the fact that socket io dependency has been updated. Try to ensure that you have the latest version of socket io dependency in your npx cache

[2020-11-20 23:54] smashah commented on #1082
@shubham0804 can you provide some more context to this issue? I'm trying to instigate a frozen session after an error caused by an unknown group id via `getGroupInviteLink` but am unable to replicate

[2020-11-21 01:18] smashah opened #1099 "BROKEN METHODS: 86a3f"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-21 01:29] #1099 closed

[2020-11-21 01:30] smashah commented on #1098
Released in https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.0

[2020-11-21 01:30] #1098 closed

[2020-11-21 01:30] smashah commented on #1097
released in https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.0

[2020-11-21 01:30] #1097 closed

[2020-11-21 02:09] smashah commented on #1083
Here's the new proxy docs

https://docs.openwa.dev/pages/How%20to/use-a-proxy.html

[2020-11-21 02:09] #1083 closed

[2020-11-21 02:18] smashah opened #1100 "Feature [CLI]: Communicate with session via socket.io"
This is related to #894 although there can be a basic implementation for now.

[2020-11-21 04:23] smashah opened #1101 "BROKEN METHODS: cdeec"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-21 04:23] smashah opened #1102 "BROKEN METHODS: cdeec"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-21 04:23] smashah opened #1103 "BROKEN METHODS: cdeec"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-21 06:49] shubham0804 commented on #1082
@smashah I'm not sure what exactly led to the session freezing. I restarted the session and tried to replicate what might have led to it. I'm still getting logs of the error on the console but the session isn't freezing. Maybe I'll reopen this issue if the session freezes again & I can let you know how to replicate it.

[2020-11-21 11:02] #1103 closed

[2020-11-21 11:03] #1102 closed

[2020-11-21 11:03] #1101 closed

[2020-11-21 14:14] smashah opened #1104 "BROKEN METHODS: e1d2b"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-11-21 19:49] #1104 closed

[2020-11-22 10:06] angga30 commented on #968
https://gist.github.com/angga30/8e6cc3f2163ff5b63b9b5f4442fe03fa i have same problem

[2020-11-22 23:01] smashah commented on #1082
ok thanks i'll close this for now then

[2020-11-23 05:00] Terror-Machine opened #1105 "FEATURE: SetProfilePic didnt work??"
**Describe the bug**
i try to reproduce to update profile pictures with commands bot, but didnt work. its still insider or how to use that?

**create() code**
[code]

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[code]

**Host (please complete the following information):**
 - OS: Android

[2020-11-23 16:56] itzharDev opened #1107 "Check if sender saved me as contact in his device"
Check if sender saved me as contact in his device
expected as message metadata

[2020-11-23 19:06] dantenol commented on #1088
Thanks, works great Just as expected.

[2020-11-23 19:44] dantenol opened #1108 "deleteMessage isn't working - WAPI"
**Describe the bug**
Messages don't get deleted on `deleteMessage()`

**Steps to Reproduce**
Steps to reproduce the behavior:
1. send a message to any number
2. try to delete that message using `wa.deleteMessage(chatId, [messageId], false)`
3. the function doesn't throw an error neither deletes the message

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected beh

[2020-11-23 22:43] smashah commented on #1108
@dantenol can you confirm that you're using `wa.deleteMessage` and not `wa.deleteMessages`. there is no `s` at the end of the method name

https://docs.openwa.dev/classes/client.html#deletemessage

[2020-11-23 22:47] #1088 closed

[2020-11-23 22:47] dantenol commented on #1108
My bad. That's what I tried, as shown on screenshots. Just messed up on the issue. Already edited.

[2020-11-24 01:14] smashah commented on #1107
@itzharDev doesn't seem to be possible to determine that. Is there somewhere in the web app that would indicate if a contact had the host account as a contact? If not then this will probably be impossible

[2020-11-24 06:53] zalviandyr commented on #1108
Delete message doesnt work if you using whatsapp mod

[2020-11-24 07:36] shubham0804 commented on #1082
2 of the sessions that I was running through the EasyApi have frozen again.
The logs of the 1st sessions are:
![session-12 freeze logs (24 11)](https://user-images.githubusercontent.com/52071475/100061619-54d04d00-2e54-11eb-9130-0469511ce2b7.PNG)
I was running a cron job on this session using the following sequence:
1) Create a dummy group (not adding anyone to it other than host no.) using /creat

[2020-11-24 11:20] smashah commented on #1108
@dante are you trying to delete a message that you've just sent or an old one?

[2020-11-24 11:24] smashah commented on #659
Implement in-browser ffmpeg wasm https://github.com/ffmpegwasm/ffmpeg.wasm

[2020-11-24 15:19] smashah commented on #1105
@Terror-Machine can you share the profile picture that you're trying to set, please

[2020-11-24 15:30] smashah commented on #1105
@Terror-Machine  im sure it has something to do with the size of your photo:

works:

[code]

doesn't work:

[code]

[2020-11-24 15:37] smashah commented on #1082
@shubham0804 will need to inspect your code for better context (DM it to me on discord) because I think something else is causing this session to freeze up. For now, I will issue a patch that returns 'GROUP_DOES_NOT_EXIST' in order to prevent this error path.

It may be that the session still freezes but at least we can eliminate the `getGroupInviteLink` as a cause.

[2020-11-24 15:41] smashah commented on #1105
@Terror-Machine I've issued a patch that will automatically downscale the image to a size that will most likely work (it may still be out of bounds due to edge cased aspect ratios). Please restart your sessions and try again. Report back if working for you. Thanks

[2020-11-24 16:01] smashah commented on #1082
@shubham0804 I've issued a patch that will result in `GROUP_DOES_NOT_EXIST` being returned if the chat doesn't exist. Can you please run your test again and see if it still freezes after a while. Also, check the PM2 dashboard to see memory consumption over time as that may be a cause also.

[2020-11-24 16:02] Terror-Machine commented on #1105
still same, not work.

[2020-11-24 16:04] Terror-Machine commented on #1105
![IMG-20201123-WA0369](https://user-images.githubusercontent.com/70086013/100119412-68f26980-2ea9-11eb-90c1-6d0801ad09e4.jpg)
i try with this pict, but doesnt work

[2020-11-24 16:06] Terror-Machine commented on #1105
![IMG-20201105-WA0232](https://user-images.githubusercontent.com/70086013/100119607-a22ad980-2ea9-11eb-88e8-3c511e1382f5.jpg)
but i try whit this pict, its work.

[2020-11-24 16:06] Terror-Machine commented on #1105
need some parameter to downscale by manual?

[2020-11-24 16:49] shubham0804 commented on #1082
Thanks, I'll get back to you if it happens again.

[2020-11-24 16:49] #1082 closed

[2020-11-24 17:15] smashah commented on #1105
@Terror-Machine I suspect it's due the the vertical aspect ratio. Try to crop it manually into a square and try again pls

[2020-11-24 17:20] Terror-Machine commented on #1105
its work

[2020-11-24 17:21] Terror-Machine commented on #1105
but if the case just about aspect ratio, is meaning i need to rescale by manual.. good work dude, just on document need information to new parameter

[2020-11-25 09:11] dantenol commented on #1108
I always try to delete messages sent 2-3 minutes old. I'm aware of the time restrictions from WhatsApp.

What bothers me the most is that `getMessageById` isn't working either, and that's when the delete command goes wrong. Something is wrong on the WAPI side

[2020-11-27 14:18] shubham0804 opened #1113 "onGlobalParicipantsChanged doesn't fire"
**Describe the bug**
I'm using the easyAPI with webhook and the onGlobalParicipantsChanged event doesn't fire when a group is created using the host phone (not wa-automate) and another phone tries enter the group using the invite link. If the group has been created using wa-automate, the onGlobalParicipantsChanged  is received on the webhook if another phone enters the group using the invite link.

[2020-11-27 14:24] smashah opened #1114 "Feature: Honeypot blacklist"
Find out a way to prevent an account from being added to a blacklisted group.

[2020-11-28 13:21] mikhail-idris opened #1115 "setMyName doesn't work for WhatsApp Business accounts"
If the account that is being used for wa-automate is a WhatsApp Business account, setMyName does not work.

Thank you.

[2020-11-28 13:36] smashah commented on #1115
@mikhail-idris that's due to the fact that a business account requires some sort of approval for changing details and the same methods as a personal account cannot be used. Last time I checked this was impossible but I'll take another crack at it and report back. Thanks

[2020-11-28 13:37] smashah commented on #1105
@Terror-Machine it should work with any aspect ratio now. I'll close this for now let me know if you're still having issues and I'll reopen. Thanks

[2020-11-28 13:37] #1105 closed

[2020-11-28 13:46] mikhail-idris commented on #1115
@smashah
Yes, I think you are right with the assumption that it cannot be done.

I misconstrued the ability to do so directly from the app to that with the web variant.

I have checked and it is indeed not possible to change the business name directly from the web, only from the app itself.

[2020-11-28 13:50] #1115 closed

[2020-11-28 16:59] contatodct opened #1116 "Error: Evaluation failed: TypeError: Cannot read property 'default' of undefined"
^Croot@supernetzap:/var/www/bot/admin# ts-node app.ts
┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                                                                                                   ┃
┃   @open-wa/wa-automate                                                                            ┃
┃    💬 🤖 The most reliable NodeJS whatsa

[2020-11-28 18:24] smashah commented on #1116
@contatodct this only happened once?

[2020-11-28 20:26] contatodct commented on #1116
@smashah
and so.......
let's assume I'm going to register the qrcode the first time .... it appears the qrcode normally and I can scan, but if I miss the scan, it gives this problem, so I need to wait a while to be able to scan, this error keeps showing up, so I wait about 2 hours and try again, here it goes

[2020-11-28 21:52] contatodct commented on #1116
![image](https://user-images.githubusercontent.com/66734743/100526764-c983ee00-31aa-11eb-992e-36daa6ec01ec.png)

[2020-11-29 12:15] rahulserver commented on #1116
I am facing the same issue on windows (10 64 bit). Seems working fine on MAC(Bug Sur/Catalina both).
It seems that once the app is run for the first time, then somewhere a cache is created. So subsequent qr scans do not lead to any further authentication.

[2020-11-29 12:34] contatodct commented on #1116
@rahulserver
and exactly what happens ..... the first time goes normally, I use Debian 8.7 64Bits and it always worked normal, and now I face this problem

[2020-11-29 12:53] rahulserver commented on #1116
My initial run was on 3.0.8. Now even after i fix the package json version to "3.0.8" I still get this error on windows.
Maybe someone might confirm this by running on another windows machine if my assumption is correct(that this app is broken on windows). @contatodct

[2020-11-29 13:04] contatodct commented on #1116
just tested on debian 64Bits and windows .... both have the same problem @rahulserver

[2020-11-29 13:09] smashah commented on #1116
@rahulserver @contatodct can you run with `headless: false` and then enter `Debug.VERSION` in the console to get the version number, please.

and/or take a screenshot of the browser window.

Also, try with `useChrome: true`

[2020-11-29 13:12] rahulserver commented on #1116
@smashah I have run with useChrome: true and headless: false same result.
I am not near windows machine. I'll send the screenshot of the error once I get there. In short its the same error what @contatodct sent.

[2020-11-29 13:15] smashah commented on #1116
There's too much context missing from the original issue. I'm going to need you to fill in the issue template. In the meantime, I will test it on a windows machine.

[2020-11-29 13:15] smashah commented on #1116
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-11-29 13:16] smashah commented on #1116
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-11-29 13:16] #1116 closed

[2020-11-29 13:21] contatodct commented on #1116
@smashah
I'm using Debian, 8.7 64Bits and the Open-wa Example so I don't have an error, the first time it logs normally ..... it looks more like it loads a cache somewhere than when removing Session and trying again to register from another number it happens this ...

![100526843-8413f080-31ab-11eb-97f7-288c5518ce43](https://user-images.githubusercontent.com/66734743/100543035-9124f400-322c-11eb-8

[2020-11-29 13:27] contatodct opened #1117 "Error: Evaluation failed: TypeError: Cannot read property 'default' of undefined"
I am using Debian, 8.7 64Bits and the Open-wa Example, the first time it registers normally ..... it seems more that it loads a cache somewhere that when removing the Session and trying again to register another number it it happens...

TEMPLATE:
[code]

![100526843-8413f080-31ab-11eb-97f7-288c5518ce43](https://user-images.githubusercontent.com/66734743/100543187-72732d00-322d-11eb-8ddb-b20157adb0

[2020-11-29 13:31] smashah commented on #1117
related: #1116

[2020-11-29 13:33] smashah commented on #1117
@contatodct when did this issue start and please add a screenshot of the browser here please

[2020-11-29 13:46] contatodct commented on #1117
@smashah  started about 5 days ago, I disabled the Browser with Use_chrome false

I am registering only through the terminal because I use Debian in text mode

[2020-11-29 13:46] rahulserver commented on #1117
I remember that this issue happened only after I tried registering from another number. Haven't tested this scenario on MAC though.

[2020-11-29 13:51] contatodct commented on #1117
@rahulserver that's right, whatever, it happens on any operating system!

and it only happens when I try to register another number

[2020-11-29 15:45] mrodal opened #1118 "sendLinkWithAutoPreview never resolves"
The async function sendLinkWithAutoPreview never resolves:
![image](https://user-images.githubusercontent.com/20667544/100546538-a3109200-3240-11eb-95a5-db65f51db96e.png)

this breaks the python code, since WAPI.pyFunc expects the functions to resolve.

Cant debug code because its obfuscated:
![image](https://user-images.githubusercontent.com/20667544/100546561-c9cec880-3240-11eb-9001-32d30ae36fea

[2020-11-30 15:12] smashah opened #1121 "Windows qr launch issues"
Fix this

[2020-11-30 15:37] smashah opened #1122 "Windows: popup freezes on startup"
fix this

[2020-11-30 15:41] smashah opened #1123 "Feature: Add OS in debug info"
Will be useful when fixing issues. Many people create issues and for some reason add the OS of the mobile device which is irrelevant.

[2020-11-30 16:02] smashah commented on #1118
@mrodal are you sure this never resolves? I'm unable to recreate the issue

[2020-11-30 16:29] ruevers opened #1124 "Freezing in Authenticating or time out"
**Describe the bug**
Time out in authethication or freeze when is doing this

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
npx @open-wa/wa-automate
2. Click on '....'
3. Scroll down to '....'
4. See error
✓ Browser Launched
┌─────────────────────┬───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

[2020-11-30 19:28] smashah commented on #1118
@mrodal please restart and try again.

[2020-11-30 19:29] smashah commented on #1124
@ruevers does this only happen once?

[2020-11-30 22:51] ruevers commented on #1124
@smashah no, I tried multiple times im my vm, restore point, update again to last version, other ubuntu version 19, same issue, now I am installing a ubuntu 20 desktop to try see if this change, but for now same issue in diferente versions, old one and last one of this repository

[2020-11-30 23:12] ruevers commented on #1124
O done a fresh install of ubuntu 20.04.1 desktop, update and upgrade, instal version 14.15.1 npm  6.14.8 install as described
npm i --save @open-wa/wa-automate@latest  and now when run the comand npx @open-wa/wa-automate -p 9000 freeze in
"injecting API" after a lot of minuts I cancel and the time out messagem come again.

[2020-11-30 23:22] smashah commented on #1123
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-11-30 23:24] smashah commented on #1123
# Changelog

## 🚀 Release [3.1.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.0...3.1.1) (2020-11-30)

- build(deps): bump ts-json-schema-generator from 0.78.0 to 0.79.0 [`#1110`](https://github.com/open-wa/wa-automate-nodejs/pull/1110)
- build(deps): bump swagger-ui-dist from 3.37.0 to 3.37.2 [`#1111`](https://github.com/open-wa/wa-automate-nodejs/pull/1111)
- build(deps-dev): bump

[2020-11-30 23:26] smashah commented on #1113
@shubham0804 can you try with the latest version please:

https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.1

[2020-11-30 23:27] smashah commented on #1121
https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.1

[2020-11-30 23:27] #1121 closed

[2020-11-30 23:27] smashah commented on #1122
https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.1

[2020-11-30 23:27] #1122 closed

[2020-11-30 23:29] smashah commented on #1124
@ruevers Can you try with the latest version please https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.1

`npx @open-wa/wa-automate@3.1.1 -p 9000`

then try this to see what's going on:

`npx @open-wa/wa-automate@3.1.1 -p 9000 --headful`

[2020-11-30 23:29] ruevers commented on #1124
I remove all software and reinstall, same issue, freeze in Authenticating

![waerror4](https://user-images.githubusercontent.com/7357820/100677806-8fe9e900-334a-11eb-99cc-0b49fe95a0ab.jpg)
![waerror5](https://user-images.githubusercontent.com/7357820/100677815-94160680-334a-11eb-91b3-460370ed0e1b.jpg)

[2020-11-30 23:29] #1123 closed

[2020-11-30 23:31] smashah commented on #1124
@ruevers the fact that you're getting an undefined WA_VERSION is very concerning, please run with `-headful` and then share a screenshot of the browser window.

[2020-11-30 23:33] smashah commented on #659
Check if sender saved me as contact in his device: #1107

Not currently possible

[2020-11-30 23:33] smashah commented on #1107
added to long term backlog. Closing

[2020-11-30 23:33] #1107 closed

[2020-11-30 23:35] smashah commented on #1096
@lbertoncello This issue should be resolved in the latest version:

https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.1

Please try it with

`npx @open-wa/wa-automate@3.1.1 -p 3000 ...`

[2020-12-01 01:23] zalviandyr opened #1125 "Documentation website"
Documentation website give response 404
[https://docs.openwa.dev/](https://docs.openwa.dev/)

[2020-12-01 02:28] ruevers commented on #1124
@smashah  I have a good news and a very bad news.
The good news I install in windows and work fine, is showin qr code and cofiguring fine, also using popup and headful parameter, in windows working fine, follow the screens and versions of nodejs e npm I installed in windows ( the problem is I prefer use a linux server for this)
![wawin1](https://user-images.githubusercontent.com/7357820/100689002-

[2020-12-01 05:45] aidilaryanto opened #1126 "Audio not received"
![Screenshot_20201201-134425871](https://user-images.githubusercontent.com/57789597/100701871-6fb63a80-33db-11eb-8818-dacd61357904.jpg)
![Screenshot_20201201-134439427](https://user-images.githubusercontent.com/57789597/100701879-72b12b00-33db-11eb-8717-fb1a5b7354b5.jpg)

[2020-12-01 08:30] zalviandyr opened #1127 "Send mp3 as a document"
How can i send a mp3 file as document ?
i have tried function sendFile and sendFileFromURL with argument ptt set to false, but still send audio like ptt not as a document

[2020-12-01 10:28] LUN7 opened #1128 "Is it possible to terminate the Create function conditionally?"

[2020-12-01 12:57] aidilaryanto opened #1129 "Message type of sticker"
What is message type of stiker? 'image'?

[2020-12-01 13:34] zalviandyr commented on #1129
you can use function sendImageAsSticker

[2020-12-01 13:42] aidilaryanto commented on #1129
No. I want detect sticker on message

[2020-12-01 13:54] zalviandyr commented on #1129
you can check message type

[code]

theres a list available message types [https://open-wa.github.io/wa-automate-nodejs/enums/messagetypes.html](https://open-wa.github.io/wa-automate-nodejs/enums/messagetypes.html)

[2020-12-01 14:15] lbertoncello commented on #1096
It's working now! Thanks!

[2020-12-01 16:03] #1096 closed

[2020-12-01 16:07] smashah commented on #1125
came issue. Fixed

[2020-12-01 16:07] #1125 closed

[2020-12-01 16:08] smashah commented on #1127
Duplicate of #1039

Coming soon

[2020-12-01 16:08] #1127 closed

[2020-12-01 21:14] mrodal commented on #1118
looks like its fixed! thanks!

[2020-12-01 21:14] #1118 closed

[2020-12-01 22:13] smashah commented on #1042
TODO:

- [ ] Config property to bundle all client listeners in an event emitter.

[2020-12-01 22:16] smashah commented on #1129
thanks @zalviandyr

[2020-12-01 22:16] #1129 closed

[2020-12-01 22:25] #1045 closed

[2020-12-01 22:27] smashah commented on #1126
@aidilaryanto can you please fill in the issue template with some CC examples, please. I don't want this project to get youtube-dl'ed

[2020-12-01 22:27] smashah commented on #1126
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-12-01 22:27] smashah commented on #1126
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-12-01 22:27] #1126 closed

[2020-12-02 00:46] smashah commented on #1124
@ruevers thanks so much for the screenshot of the browser. There may be a clue there, you're getting a SIGILL error in the browser. Are you able to open any other sites on another tab. Also what version of node are you using on that machine? Also, can you confirm that you are not running as root user

[2020-12-02 00:52] smashah commented on #1124
@ruevers you're running this in a vm? what's the host machine?

[2020-12-02 00:52] smashah commented on #1124
https://openradar.appspot.com/FB8922558#ag9zfm9wZW5yYWRhci1ocmRyFAsSB0NvbW1lbnQYgICAqv3V8AgM

[2020-12-02 01:05] smashah commented on #1124
@ruevers have you tried this?

https://askubuntu.com/questions/821834/chrome-on-virtualbox-shows-blank-pages

[2020-12-02 01:14] smashah commented on #1117
@rahulserver @contatodct if this happens on every operating system can you kindly take a screen recording of the process or a screenshot of the browser window when this happens please.

[2020-12-02 02:29] smashah commented on #1128
@LUN7 will need more details. In general, it's not possible to terminate a promise, you either have to wait for it to catch or resolve. You can limit how long you're waiting for a `create` to resolve by setting authTimeout/qrTimeout.

[2020-12-02 03:05] smashah commented on #1074
Closing due to inactivity. Let me know if this is still happening.

[2020-12-02 03:05] #1074 closed

[2020-12-02 03:07] smashah commented on #1039
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-02 03:09] smashah commented on #1039
# Changelog

## 🚀 Release [3.1.2](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.1...3.1.2) (2020-12-02)

- Release 3.1.2 [`297495d`](https://github.com/open-wa/wa-automate-nodejs/commit/297495da4eb2258f3d43c72fd3b90914717cbfa4)
- Feature: Now able to send file without a preview #1039 [`9ed6c43`](https://github.com/open-wa/wa-automate-nodejs/commit/9ed6c4385f46dae17152479da8c49fbcc0546f

[2020-12-02 03:20] smashah commented on #1039
@zalviandyr @gimenz You can now send a file without a preview/as a downloadable file by setting the `withoutPreview` parameter to true

![image](https://user-images.githubusercontent.com/5903821/100823993-3ae2cb80-344d-11eb-916a-5f79fbb394be.png)

[2020-12-02 03:22] #1039 closed

[2020-12-02 04:44] LUN7 commented on #1128
I would like to terminate the promise while a client terminate the restful api call unexpectedly.

[2020-12-02 12:16] ruevers commented on #1124
I had tried disable this, but avery time I start again npx the option is enable.
My linux version is 20.04.01, but I try in 19 server wich as wroking fine last week and have same issue.
I try put more ram to video 128, is the maximum of virtuabox, same issue with the browser
I try enable 3d accelaration in virtuabox, because is disable by default same issue in crhomin
I try webpage of whatsup in f

[2020-12-02 13:35] ruevers commented on #1124
A for wrost, I discoverer today my number was banned, I don´t know if is because of the number of attemps, so I am think not if is not bether use a api and enterprise account if this software can cause a ban in your account, very concerning this.

[2020-12-02 14:01] smashah commented on #1124
@ruevers I suggest hopping into discord to discuss/revert the ban. I'll add some documentation mentioning to not run this in a virtualbox VM. Closing for now thanks

[2020-12-02 14:01] #1124 closed

[2020-12-02 14:11] ruevers commented on #1124
The odd think is, was working pretty good in vm one week ago.

[2020-12-02 14:28] smashah commented on #1124
@ruevers it may be due to a chrome issue. Please hop into the discord (click the discord badge in the readme) so we can resolve this issue quickly.

[2020-12-02 16:52] #1068 closed

[2020-12-02 18:57] sycletz opened #1132 "getMentionList is not defined"
Music Error : Error: Evaluation failed: ReferenceError: getMentionsList is not defined
    at Object.window.<computed>.<computed> [as sendImage] (__puppeteer_evaluation_script__:1:102710)
    at __puppeteer_evaluation_script__:3:45

[2020-12-02 19:02] aidilaryanto commented on #1132
Same here. Error when fetch

[2020-12-02 19:11] SlavyanDesu commented on #1132
Same here, I thought my code was wrong

[2020-12-02 19:15] #1132 closed

[2020-12-02 19:16] smashah commented on #1132
@SlavyanDesu @aidilaryanto @sycletz should be fixed now please restart your sessions in about 5 minutes

[2020-12-02 19:21] aidilaryanto commented on #1132
Restart session means rescan QR?

[2020-12-02 19:22] smashah commented on #1132
@aidilaryanto no, just ctrl+c and then run again.

[2020-12-02 19:23] SlavyanDesu commented on #1132
![Screenshot_20201203-022229](https://user-images.githubusercontent.com/28254882/100920997-87421000-350e-11eb-83e4-bef4060e6fa2.jpg)

It worked, thank you!

[2020-12-03 02:02] contatodct commented on #1117
@smashah as I said, I don't use a browser, I use it directly on my DEBIAN 8.7 64Bits terminal

[WhatsApp Video 2020-12-02 at 22.57.35.zip](https://github.com/open-wa/wa-automate-nodejs/files/5633176/WhatsApp.Video.2020-12-02.at.22.57.35.zip)

[2020-12-03 02:21] smashah opened #1133 "BROKEN METHODS: 3b364"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-12-03 02:44] cosmo83 opened #1134 "Authentication issues .."
Iam not able to Authenticate from a last few hours .. I even tried --headful, and though web.whatsapp.com is logged in, the program is not able to detect that its authenticated.

[2020-12-03 05:44] shubham0804 commented on #1113
@smashah onGlobalParicipantsChanged is still not received after updating to 3.1.2 for recently created groups from the host phone, but restarting the session after creating the group solves the issue.  This is fine for my use case and you might not want to spend more time on this. Just wanted to point this issue when I came across it.

[2020-12-03 10:30] ruevers commented on #1124
And for last I don´t think is very clever send message yourself by app, saying your watsaup are conrtolled by a remote resource and if it is not you to logout of all web resource, for 2 reasons, is not comun and not possible send mensagem to yourself in normal watsaup and the container of the message, whit this the robots of whatsup can fast find this behavear and block everyone with do the same.

[2020-12-03 10:43] smashah opened #1136 "BROKEN METHODS: b5399"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-12-03 12:39] ruevers commented on #1124
I think is not related with VM, I try in other linux in a laptop and have a same issue, headful browser window guive a statu_access_violation

[2020-12-03 12:55] smashah commented on #1124
@ruevers do you have chrome installed?

[2020-12-03 13:25] ruevers commented on #1124
Yes, I have chrome installed and I think I solved problem, because work 1 one windows desktop and another not, so I start to investgate just the chromiun in win 10 wich not working, the whatsup page not open too, same issue, so I find it in direcotry and try work stand alone, same issue, chromium crash in whatsup page, so I find a workaround, download the last version(833255) of chromium in page.

[2020-12-03 13:28] ruevers commented on #1124
I think is good you guys open a issue or bug in puppeter, how you have more influence in github they will listen more carefull and correct the problem more fast.

[2020-12-03 13:33] ruevers commented on #1124
And please take out this message of this program "Your account is currently being controlled by a automation service. If you have not autorized this then please logout from all devices in whats wap web" because after be unblocked by google they guive a little of understand wich this cause of thing can block the accounts, because is very uncomun person send messages by yourself and all times same m

[2020-12-03 13:35] ruevers opened #1137 "Please take out the message when you auteticate"
Please take out the message when you auteticate "Your account is currently being controlled by a automation service. If you have not autorized this then please logout from all devices in whats wap web" because after be unblocked by google they guive a little of understand wich this cause of thing can block the accounts, because is very incomun person send messages ti yourself and all times same me

[2020-12-03 13:45] ruevers commented on #1134
I had a similar issue, maybe help you my workaround https://github.com/open-wa/wa-automate-nodejs/issues/1134#issue-755766831

[2020-12-03 13:52] edneijunior commented on #1134
i'm too

[2020-12-03 14:12] smashah commented on #1124
Awesome, just FYI, setting

https://docs.openwa.dev/interfaces/configobject.html#browserrevision

does the same as you said

So

`browserRevision: "833255"`

At the moment this config is blocked from the CLI. But I will allow it in the CLI so in future versions you will be able to set it like so:

 `--browser-revision "833255"

Also, if you have the normal chrome (not chromium) installed on your m

[2020-12-03 14:19] smashah commented on #1137
Your concerns are noted. This will not be removed any time soon. Might update the message though:

https://github.com/open-wa/wa-automate-nodejs/issues/709

[2020-12-03 14:19] #1137 closed

[2020-12-03 14:19] #1136 closed

[2020-12-03 14:19] #1133 closed

[2020-12-03 14:20] smashah commented on #1134
I'm unable to replicate the issue with the instructions given. Please fill in the issue template @cosmo83

[2020-12-03 14:20] smashah commented on #1134
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-12-03 14:20] smashah commented on #1134
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-12-03 14:20] #1134 closed

[2020-12-03 14:22] ruevers commented on #1137
I understand the message is good to avoid unautorazed access, but the problem is is causing block of the whatsup plataform, because they think is a hacker atempt, is best had no message or a parameter to send or not.

[2020-12-03 14:23] smashah commented on #1137
@ruevers Please join the discord so you can talk more about bans. No ban talk on public issues.

[2020-12-03 14:33] ruevers commented on #1124
When I use --use-chrome he enter and after secondes crash ang guive me error
Shutting Down
Error Cannot read property 'user' of undefined TypeError: Cannot read property 'user' of undefined
    at C:\Users\asus\AppData\Roaming\npm-cache\_npx\364\node_modules\@open-wa\wa-automate\dist\controllers\initializer.js:402:86
    at step (C:\Users\asus\AppData\Roaming\npm-cache\_npx\364\node_modules\@open-

[2020-12-03 14:40] smashah commented on #1124
@ruevers can you please share all of the logs from the `--use-chrome` run. Actually, give me all of the logs using `--use-chrome --headful`.

[2020-12-03 14:40] ruevers commented on #1134
what´s the discord link? I not able to find.

[2020-12-03 14:40] smashah commented on #1134
@ruevers click on the discord badge in the readme

[2020-12-03 16:45] edneijunior commented on #1117
this happens with me too

[2020-12-03 16:59] edneijunior commented on #1116
I believe it is related
https://github.com/visionmedia/debug/issues/797

[2020-12-03 18:21] dantenol commented on #1108
solved on 3.1.2

[2020-12-03 19:01] smashah opened #1138 "BROKEN METHODS: 4eb1c"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-12-03 19:56] ruevers commented on #1124
Solved, if anyone need use a linux vm server withoth xserver just need install version 3.0.16 of opewnawa

install this packages.

sudo apt-get install -y libpango-1.0-0
sudo apt-get install -y libpangocairo-1.0-0
sudo apt-get install -y libstdc++6
sudo apt-get install -y libx11-6
sudo apt-get install -y libx11-xcb1
sudo apt-get install -y libxcb1
sudo apt-get install -y libxcomposite1
sudo apt-ge

[2020-12-04 00:16] #1138 closed

[2020-12-04 00:51] smashah commented on #1049
After investigating. It looks like an individual message cannot be ephemeral, the whole group chat setting must be set to ephemeral.

[2020-12-04 01:19] smashah commented on #1049
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-04 01:20] cosmo83 commented on #1134
Never mind .. Looks like an issue with chrome browser. Pointed to a headless browser and works fine .

[2020-12-04 01:21] smashah commented on #1049
# Changelog

## 🚀 Release [3.1.3](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.2...3.1.3) (2020-12-04)

- build(deps): bump ts-json-schema-generator from 0.79.0 to 0.80.0 [`#1130`](https://github.com/open-wa/wa-automate-nodejs/pull/1130)
- build(deps): bump change-case from 4.1.1 to 4.1.2 [`#1131`](https://github.com/open-wa/wa-automate-nodejs/pull/1131)
- build(deps-dev): bump ts-nod

[2020-12-04 01:24] #1049 closed

[2020-12-04 01:30] smashah commented on #1049
https://docs.openwa.dev/classes/client.html#setchatephemeral

[code]

[2020-12-04 01:38] smashah commented on #1134
@cosmo83 in the latest version you can set a custom browser revision using `--browser-revision`

e.g:

`--browser-revision 123123`

see this for browser revision documentation: https://docs.openwa.dev/interfaces/configobject.html#browserrevision

also, best thing to do is always use the latest version of chrome with `--use-chrome`

[2020-12-04 01:44] smashah commented on #1108
Great. Closing for now please report back if this issue happens again

[2020-12-04 01:44] #1108 closed

[2020-12-04 01:54] smashah commented on #1117
@contatodct I have a sneaking suspicion that you're getting tos-blocked and then the system forces it to untosblock itself (which wow cool). I just need confirmation of this with a screenshot of the web page. OR! A screenshot of the folder structure from your process working directory. When this happens next, please run `ls` and take a screenshot. There may be a lingering folder there which is act

[2020-12-04 10:06] Qix- commented on #1116
@edneijunior There's nothing to indicate this is a problem with `debug`.

[2020-12-04 10:07] Qix- commented on #1117
@edneijunior This doesn't appear to have anything to do with `debug`. Please let me know if otherwise, but we have an upwards of 80 million weekly downloads with no reported issues thus far.

[2020-12-04 11:04] smashah commented on #1117
I also think this has nothing to do with `debug`

[2020-12-04 11:57] smashah opened #1141 "Feature: [Config] take+save screenshot on error during startup"
Take a screenshot on catch during `create`

[2020-12-04 12:09] smashah commented on #1141
This will help resolve #1117

[2020-12-04 12:39] smashah commented on #1113
@shubham0804 it's definitely an edge case but it is fixable. Just working on some other issues right now so will leave this open till it's fixed. thanks

[2020-12-04 13:19] smashah opened #1142 "Skip `open` if program not found"
At the moment if I run the program with `popup` enabled but without a valid chrome instance installed on the machine, it will result in an error.

If the `open` command results in an error, ignore it and change `qrpopuponly` to `true` (i.e the program will not wait for a socket connection to continue to the next task.

[2020-12-04 14:23] lbertoncello opened #1143 "sendText route from EasyAPI returning success: false"
sendText route from EasyAPI is returning { success: false, error: {} } sometimes, even when the message was successfully sent (I'm checking in WA Business). I can't tell what triggers this bug, most of the time the response is correct. I think it's not related to specific WhatsApp numbers, because I've tried to send message to those numbers again and the response was correct.

These numbers are no

[2020-12-04 16:43] ShokoNishimiya opened #1144 "BOT WA"
cool

[2020-12-05 00:28] smashah commented on #1142
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-05 00:30] smashah commented on #1142
# Changelog

## 🚀 Release [3.1.4](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.3...3.1.4) (2020-12-05)

- build(deps): [security] bump highlight.js from 10.2.0 to 10.4.1 [`#1145`](https://github.com/open-wa/wa-automate-nodejs/pull/1145)
- build(deps-dev): bump @types/puppeteer from 5.4.0 to 5.4.1 [`#1139`](https://github.com/open-wa/wa-automate-nodejs/pull/1139)
- build(deps-dev): bum

[2020-12-05 00:31] smashah commented on #1142
released https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.4

[2020-12-05 00:31] #1142 closed

[2020-12-05 00:34] smashah commented on #1141
Implemented in https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.4

https://docs.openwa.dev/interfaces/configobject.html#screenshotoninitializationbrowsererror

docs are incorrect, the default is actually `false`

[2020-12-05 00:35] #1141 closed

[2020-12-05 00:38] smashah commented on #1117
@rahulserver @contatodct I was not able to replicate the issue.

in https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.4 it will take a screenshot if the error occurs again and add it into a `logs` folder. Please add this screenshot here next time.

This new version also tries to predict the error and attempts to "wait" for a valid session which may stop this problem from happening alt

[2020-12-05 00:39] smashah commented on #1144
Nice. Thanks.

[2020-12-05 00:39] #1144 closed

[2020-12-05 00:40] #1117 closed

[2020-12-05 01:00] smashah commented on #1117
@rahulserver @contatodct this new version may have fixed the issue. It may have been a case of Debian being too fast for the code. Adding a 2 second cool off before continuing to get the QR code looks like it fixed it.

[2020-12-05 01:17] smashah commented on #1143
@lbertoncello Please can you send me the chat ids that this happens with

[2020-12-05 09:00] LouisAldorio opened #1146 "Only work locally, broken in deployment, especially heroku"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**DEBUG INFO**
This is the info p

[2020-12-05 10:51] smashah opened #1147 "BROKEN METHODS: 1c9e1"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-12-05 11:40] smashah opened #1148 "BROKEN METHODS: a0413"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-12-05 12:43] #1148 closed

[2020-12-05 12:43] #1147 closed

[2020-12-05 12:44] smashah commented on #1146
Will need more detail

[2020-12-05 12:46] smashah commented on #1146
https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#running-puppeteer-on-heroku

[2020-12-05 22:02] smashah opened #1149 "Potential Security issue: Do not auto authenticate API docs (swagger) in EASY API"
What's the point of an api key if I'm pre-authenticated on the api-docs URL? It is convenient but it's a huge risk if someone stumbles upon the api-docs URL

[2020-12-05 22:35] smashah commented on #1149
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-05 22:37] smashah commented on #1149
# Changelog

## 🚀 Release [3.1.5](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.4...3.1.5) (2020-12-05)

- Release 3.1.5 [`17b3bdf`](https://github.com/open-wa/wa-automate-nodejs/commit/17b3bdf15c10d157a38c9a565d5dbf9af7af5043)
- notify when taking a screenshot [`f367f4a`](https://github.com/open-wa/wa-automate-nodejs/commit/f367f4a0778f690e41e0bbff233e07fc12d27575)
- fix: api-docs pre

[2020-12-05 22:38] #1149 closed

[2020-12-06 00:33] jamborghini opened #1150 "Can't upload .wav files from external URL."
**Describe the bug**
Whenever I try to upload a `.wav` file from an external URL rather than my local, It fails.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Execute code
[code]

2. Send a message starting with `aan` or your prefered word to any chat.
3. See the file trying to upload.
4. See it'll just try to upload and won't resolve the request.

**create() code**
This is the code

[2020-12-06 01:14] smashah commented on #1150
@jamborghini thanks for filling out the template properly. Unfortunately not every audio format is supported by WA and this project can obviously not create automatic converters for every single file type. I highly suggest using some sort of audio conversion API before using this library. Or check if ffmpeg-fluent can convert this file for you. Or of course just use MP3 files from the beginning

[2020-12-06 03:09] jamborghini commented on #1150
Thanks for the reply, yeah I was thinking the same thing, convertin from an API before uploading it, I'll check them out. Thank again, have a good day.

[2020-12-06 03:09] #1150 closed

[2020-12-06 03:29] smashah commented on #1150
Thanks for understanding @jamborghini `fluent-ffmpeg` is a dependency of thks project so you might as well use it to convert the file (if that's even possible via ffmpeg)

[2020-12-06 22:20] smashah commented on #1146
@LouisAldorio
![image](https://user-images.githubusercontent.com/5903821/101294713-464d4280-3811-11eb-932c-2655769bfb84.png)

[2020-12-06 22:20] #1146 closed

[2020-12-06 22:26] smashah commented on #1146
#296

[2020-12-06 22:26] smashah commented on #296
@d0ct0r4r6a https://github.com/open-wa/wa-automate-nodejs/issues/1146#issuecomment-739574338

[2020-12-07 16:58] smashah opened #1151 "popup socket doesn't work at all when using heroku deployment"
This is because the only way it connects to a client if the window is open.

[2020-12-07 17:18] smashah commented on #1151
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-07 17:20] smashah commented on #1151
# Changelog

## 🚀 Release [3.1.6](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.5...3.1.6) (2020-12-07)

- Release 3.1.6 [`faeaf17`](https://github.com/open-wa/wa-automate-nodejs/commit/faeaf174ebf674687ff859d675e699920ee90302)
- dont wait for a page connection to resolve popup, #1151 [`131bae3`](https://github.com/open-wa/wa-automate-nodejs/commit/131bae3c1bed366fffc8ce10e1c1600db617e

[2020-12-07 19:26] smashah commented on #682
requires `webpmux` as a dependency. The library has too many dependencies as is so this feature will need to be offloaded onto another process entirely.

[2020-12-07 21:13] Sp0derDev opened #1152 "Specify timeout on send methods"
When device is not connected, send functions doesn't return until it is connected again.
It waits for an infinite amount of time. Is there a way around this?

[2020-12-07 21:18] smashah commented on #1152
@Sp0derDev you might want to try safeMode. It checks the state before making a request to the browser instance

https://docs.openwa.dev/interfaces/configobject.html#safemode

[2020-12-08 09:01] dandyraka opened #1158 "Send media from directPath / hash"
Is it possible send media / sticker from directPath or hash?

![image](https://user-images.githubusercontent.com/18587059/101462056-47e04d00-396e-11eb-99c3-bbd20a083082.png)

[2020-12-08 10:17] smashah commented on #1158
@dandyraka just use ghostForward.

[2020-12-08 10:59] #1158 closed

[2020-12-08 11:10] smashah opened #1159 "CLI: Make sure GET path '/' and '/api-docs' redirect to '/api-docs/'"
Or have some sort of simple index.html on '/' showing a link to `api-docs/`

[2020-12-08 16:56] orinocodev opened #1160 "external connection"
Hi, I have an application made in laravel and nuxt and I want to connect it to wa-automate-nodejs and thus have access to all the functions externally

[2020-12-08 18:54] Sp0derDev commented on #1152
I tried it, it still doesn't work most of the time. It keeps trying to send.

[2020-12-09 02:02] smashah opened #1161 "BROKEN METHODS: 96e65"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-12-09 02:20] smashah commented on #1160
@orinocodev try out the heroku deployment (button in readme). It will give you an instance of open wa with a secure api layer with api docs also.

Soon there will be generated SDKs also to Support most languages.

https://github.com/open-wa/wa-automate-deploy-heroku

[2020-12-09 06:34] #1161 closed

[2020-12-09 07:12] #1151 closed

[2020-12-09 08:44] shubham0804 opened #1164 "Feature Request"
Another Whatsapp library has the ability to set group title and description. If possible, could you pl make setGroupTitle & setGroupDescription openly available here as well. I could let you know the name of the other library if you want.

[2020-12-09 23:02] smashah commented on #1159
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-09 23:04] smashah commented on #1159
# Changelog

## 🚀 Release [3.1.7](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.6...3.1.7) (2020-12-09)

- Release 3.1.7 [`d17d3f2`](https://github.com/open-wa/wa-automate-nodejs/commit/d17d3f2c19aa32fe60a5f9b9b25a614aa85bf2e5)
- fix: #1151 [`32b10c9`](https://github.com/open-wa/wa-automate-nodejs/commit/32b10c98b92703f3f55f7876f5d37a12f7f3aa19)
- Added WA_LICENSE_KEY as a env var for

[2020-12-09 23:04] #1159 closed

[2020-12-10 01:02] smashah opened #1165 "BROKEN METHODS: ca167"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-12-10 21:31] randracar opened #1167 "QR Code not authenticating."
I recently started to use the API, and I always get this error:

Before the QR code, the following error appear at the console:

Screenshot taken. path: ./logs/Imperial/1607635507566
Screenshot taken. path: ./logs/Imperial/1607635507566
qr -> e Error: Evaluation failed: TypeError: Cannot read property 'default' of undefined
    at window.<computed>.window.<computed> (/home/random-guy/Documents/ima

[2020-12-10 21:38] smashah commented on #1167
@randracar please fill in the issue template

[2020-12-10 21:38] smashah commented on #1167
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-12-10 21:38] smashah commented on #1167
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-12-10 21:38] #1167 closed

[2020-12-11 00:25] randracar opened #1168 "QR Not authenticating and bug message"
**Describe the bug**
When trying to authenticate, an error message appears, and the QR code appears after. But, the QR code does not work, and does not authenticate.
**Steps to Reproduce**
Steps to reproduce the behavior:
I could not find an way to reproduce it.

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
I expected it to authenticate normall

[2020-12-11 09:32] JDZW2014 opened #1172 "About send message status"
Hi:
   Thanks for your great job. Now I am using this repo to send some whatsapp messages and I alse want to get the status (such as "delivered", "read") of the send messages. Can you give me some advice? Thank you very much！！[Salute][Salute]

[2020-12-11 09:44] #1172 closed

[2020-12-11 09:44] JDZW2014 commented on #1172
I find https://github.com/open-wa/wa-automate-nodejs/issues/841

[2020-12-11 11:19] smashah commented on #1168
@randracar thanks for filling out the issue template, there is some information printed after the logo in the logs. can you add that here please, and actually include all the logs from the process. The system is also meant to take some screenshots. Please add those screenshots also.

thanks

[2020-12-11 11:24] smashah opened #1173 "chore: Improve onAck documentation"
At the moment it just returns `any` which is pretty useless. Create an AckEvent interface and make sure to update the documentation.

[2020-12-11 11:24] smashah commented on #1165
PLEASE UPDATE YOUR VERSION! WHO ARE YOU?!?!

[2020-12-11 11:26] #1165 closed

[2020-12-11 12:38] smashah commented on #1152
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-11 12:57] Sp0derDev commented on #1152
Thank you, do you mind helping with implementing a timeout ?

[2020-12-11 13:09] smashah commented on #1152
@Sp0derDev CI server got stuck on the release, going to try fixing then will explain how to do it

[2020-12-11 13:11] smashah commented on #1152
# Changelog

## 🚀 Release [3.1.8](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.7...3.1.8) (2020-12-11)

- build(deps-dev): bump ava from 3.13.0 to 3.14.0 [`#1153`](https://github.com/open-wa/wa-automate-nodejs/pull/1153)
- build(deps-dev): bump husky from 4.3.0 to 4.3.5 [`#1155`](https://github.com/open-wa/wa-automate-nodejs/pull/1155)
- build(deps-dev): bump ts-node from 9.1.0 to 9.1

[2020-12-11 14:14] smashah commented on #1152
@Sp0derDev Ok. In the latest version (3.1.8) there are two major changes that will help you out.

1. `safeMode` now forces an update to the state of the connection. If it is connected, it will resolve quickly and result in `CONNECTED` and continue with the desired command. If there are issues with the connection between the device and the session then it will resolve in about 6 seconds and throw a

[2020-12-11 16:02] randracar commented on #1168
@smashah , this is everything that appears.

The following appears on the logs folder:

![1607702016583](https://user-images.githubusercontent.com/63797127/101925164-5322bb00-3bb0-11eb-9e57-a833b767d807.jpg)

This is what appears on the terminal.

![Captura de tela de 2020-12-11 12-55-54](https://user-images.githubusercontent.com/63797127/101925253-6b92d580-3bb0-11eb-8bf2-3434688b6b17.png)
![Captu

[2020-12-11 17:06] smashah commented on #1168
duplicate: #1117

https://github.com/open-wa/wa-automate-nodejs/issues/1117#issuecomment-739096385

[2020-12-12 17:46] randracar commented on #1168
@smashah I did what you said on how to resolve it, but it did not work. Same error message, same everything.

[2020-12-12 17:49] smashah commented on #1168
@randracar can you try without all of those chrome options please

[2020-12-12 17:52] randracar commented on #1168
@smashah Same error.

![Captura de tela de 2020-12-12 14-51-11](https://user-images.githubusercontent.com/63797127/101991147-956bfb00-3c89-11eb-9dbe-56723ae9b241.png)

[2020-12-12 18:04] smashah commented on #1168
@randracar I will work on this tonight

[2020-12-12 18:04] randracar commented on #1168
@smashah Ok, thank you for your time helping me.

[2020-12-12 19:43] orinocodev commented on #1160
@smashah thanks for the info.

[2020-12-12 23:08] JulioLongo commented on #1168
Same problem here

[2020-12-13 09:13] smashah opened #1175 "Feature: List Current event Webhooks & deregister webhooks"
Works in conjunction with `registerWebhook`;

[2020-12-13 17:01] JulioLongo opened #1176 "Getting connection closed"
I'm running demo index.ts, but when i connect my phone, i get this error

![image](https://user-images.githubusercontent.com/33060329/102018346-7d5cb000-3d4b-11eb-8efa-95b10167f97c.png)

[2020-12-13 17:30] smashah commented on #1176
@JulioLongo This just means that the session is running. The message means the connection to the logs socket is closed. Maybe I should change the message...

https://github.com/open-wa/wa-automate-nodejs/blob/bc1f42461c4c8d01199b12a8c58a4ea063d59ff7/src/controllers/popup/index.html#L118

[2020-12-13 17:51] JulioLongo commented on #1176
I think whatsapp detected pupetter. When i Scan qrcode. I reiceive this message from myself: "Your account is being exploited by an automation service. If you did not authorize this, sign out of all devices, in the "WhatsApp Web" section of the application.
# 36031"

[2020-12-13 17:57] smashah commented on #1176
@JulioLongo this is normal and sent to prevent this library from being used on accounts which did not consent to automation.

Please see:

#743

and

#709

[2020-12-13 19:12] smashah opened #1177 "Feature: Allow setting CLI flags via environmental variables"
ref:

https://github.com/open-wa/wa-automate-deploy-heroku/issues/3

[2020-12-13 19:39] smashah commented on #1160
Np. Closing for now.

[2020-12-13 19:39] #1160 closed

[2020-12-13 19:41] NasirKhalid24 commented on #1168
Running on ParrotOS linux and having the same issue - it started recently. Initially I would just keep re-starting the server and it would work eventually but now the issue is persistent

[2020-12-13 19:48] smashah commented on #1168
@NasirKhalid24 will be releasing a new version in a few minuets. stand by

[2020-12-13 21:41] smashah commented on #1177
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-13 21:43] smashah commented on #1177
# Changelog

## 🚀 Release [3.1.9](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.8...3.1.9) (2020-12-13)

- Release 3.1.9 [`cf1d58e`](https://github.com/open-wa/wa-automate-nodejs/commit/cf1d58eace82bf6e997850ab0be7fafe8784d07e)
- docs: try out new CHANGELOG format `news-fragments` [`f57c456`](https://github.com/open-wa/wa-automate-nodejs/commit/f57c4565aee8e1a919e40f2df730b02abb176612)

[2020-12-13 21:53] smashah commented on #1168
@NasirKhalid24 @JulioLongo @randracar Can you please try the latest version:

https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.9

and report back if this issue has been resolved.

Thanks

[2020-12-13 21:54] smashah commented on #1176
@JulioLongo I have changed the message for when the launch logs socket connection is closed.

Please update to the latest version:

https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.9

Thanks

[2020-12-13 21:54] #1176 closed

[2020-12-13 21:55] smashah commented on #1152
Closing for now, please report back if there are any further issues. Thanks

[2020-12-13 21:55] #1152 closed

[2020-12-13 21:55] smashah commented on #954
Implemented in the latest version:

https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.9

[2020-12-13 21:55] #954 closed

[2020-12-13 21:55] smashah commented on #1173
Implemented in the latest version:

https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.9

[2020-12-13 21:55] #1173 closed

[2020-12-13 21:58] smashah commented on #1002
Extension of #1175 which was implemented in the latest version:

https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.9

Documentation:

https://docs.openwa.dev/classes/client.html#registerwebhook

[2020-12-13 21:58] #1002 closed

[2020-12-13 22:00] smashah commented on #1175
Implemented in the latest version:

https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.9

Documentation:

[listWebhooks()](https://docs.openwa.dev/classes/client.html#listwebhooks)
[removeWebhook(...)](https://docs.openwa.dev/classes/client.html#removewebhook)

[2020-12-13 22:00] #1175 closed

[2020-12-13 22:08] smashah commented on #1177
Implemented in the latest version: https://github.com/open-wa/wa-automate-nodejs/releases/tag/3.1.9

Now you can set CLI flags via ENV VARs. All you need to do is convert to `CONSTANT_CASE` and add a `WA_` before the variable name. Please note this will not work with shorthand aliases.

So `--keep-alive` becomes `WA_KEEP_ALIVE=true`.

As mentioned, this won't work on shorthand. For the above examp

[2020-12-13 22:08] #1177 closed

[2020-12-13 23:18] NasirKhalid24 commented on #1168
No longer having this issue - back to normal in the latest build. Thanks!

[2020-12-14 13:46] #1168 closed

[2020-12-14 13:46] smashah commented on #1168
Closing thanks

[2020-12-14 18:39] smashah opened #1180 "forceRefocus Not working"

[2020-12-14 18:40] smashah commented on #1180
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-14 18:42] smashah commented on #1180
# Changelog

## 🚀 Release [3.1.10](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.9...3.1.10) (2020-12-14)

- build(deps-dev): bump @types/node from 14.14.12 to 14.14.13 [`#1179`](https://github.com/open-wa/wa-automate-nodejs/pull/1179)
- build(deps-dev): bump husky from 4.3.5 to 4.3.6 [`#1178`](https://github.com/open-wa/wa-automate-nodejs/pull/1178)
- Release 3.1.10 [`cccfc0d`](https:

[2020-12-14 18:42] #1180 closed

[2020-12-15 18:18] smashah commented on #1143
Closing for now. Please report back if this keeps happening. Thanks

[2020-12-15 18:18] #1143 closed

[2020-12-16 11:34] AndikaPPN opened #1186 "sendReplyWithMentions is not work"
sendReplyWithMentions is not work

[2020-12-16 22:10] smashah opened #1187 "BROKEN METHODS: 2ba4d"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-12-16 23:51] #1187 closed

[2020-12-18 04:15] aidilaryanto opened #1188 "sendMp4AsSticker without crop?"
How to sendMp4AsSticker without crop?

[2020-12-18 10:27] smashah commented on #1188
@aidilaryanto can you show me an example of the issue you're having with the crop? I set it so the crop results in a centered square

[2020-12-18 10:28] smashah commented on #1186
That method requires an insider's key. If you've got one and it's still not working then please provide some more details

[2020-12-18 16:25] smashah opened #1189 "BROKEN METHODS: a1c1d"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2020-12-19 07:34] aidilaryanto commented on #1188
Can you add setting for no crop too?

[2020-12-19 07:35] aidilaryanto commented on #1188
Sometimes I need to no cropping to fit all content

[2020-12-19 17:22] smashah commented on #1188
Ok

[2020-12-20 17:11] #1189 closed

[2020-12-20 23:00] smashah commented on #1128
According to:

You need to implement bluebird with cancellable promises.

1. Install bluebird

then

[code]

2. Enable cancellation to the promise config:

[code]

3. Create a 'cancellable' promise out of `create` which you can reference:

[code]

4. Then use that reference to cancel it somewhere else

[code]

Let me know if this works for you thanks, I may implement this in v4.

[2020-12-22 13:35] LUN7 commented on #1128
it helps. Thanks!

[2020-12-22 13:35] #1128 closed

[2020-12-22 21:21] smashah commented on #659
Releasing some insiders features to GA: #1164

As we get ready for v4, this library is almost at feature parity (and in some cases more advanced) than WA web. Going forward, GA requests will be prioritised and will be granted as long as there is an incoming insiders feature to replace it. This ensures that insiders get the advanced features for their support and people keep coming up with new idea

[2020-12-22 21:21] #1164 closed

[2020-12-22 21:22] smashah commented on #659
Documentation for raspberry pi: #899

Apparently, it works fine as is. This will be picked back up after v4 is released.

[2020-12-22 21:22] #899 closed

[2020-12-22 21:46] whatadeveloper22 opened #1192 "Heroku Env Variable setup when user logged in."
Can we change or add env variable when we scan qr on Heroku. For the same we need to remove the required from the app.json for the Heroku to launch app without login (if we have the session we can add on that time) and when yours logged in we can set the env variable from our session key and good to go.

[2020-12-22 21:51] smashah commented on #1188
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-22 21:53] smashah commented on #1188
# Changelog

## 🚀 Release [3.1.11](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.10...3.1.11) (2020-12-22)

- build(deps-dev): bump @types/node from 14.14.13 to 14.14.14 [`#1182`](https://github.com/open-wa/wa-automate-nodejs/pull/1182)
- build(deps-dev): bump @grupoboticario/news-fragments from 1.8.0 to 1.9.0 [`#1183`](https://github.com/open-wa/wa-automate-nodejs/pull/1183)
- build(d

[2020-12-22 22:05] smashah commented on #1188
@aidilaryanto It missed the documentation in the latest version however it is implemented.

You can now set `crop: false` [default: `true`] in the third parameter (processOptions) of [sendMp4AsSticker](https://docs.openwa.dev/classes/client.html#sendmp4assticker)

e.g:

[code]

Please try it out and report back if it is working as expected in the latest version.

Thanks

[2020-12-23 04:06] JulioLongo opened #1193 "Error on run ts-node index.ts"
Error described on image

![image](https://user-images.githubusercontent.com/33060329/102958162-12357b00-44bb-11eb-8423-893a968f3ca0.png)

[2020-12-23 04:11] smashah commented on #1193
@JulioLongo

Can you go to line 524 in Client.ts and replace

[code]

with

[code]

If this works for you I will create a new patch ASAP.

Thanks.

[2020-12-23 04:22] #1193 closed

[2020-12-23 04:23] aidilaryanto commented on #1188
Thankyou so much

[2020-12-23 04:23] #1188 closed

[2020-12-23 04:23] aidilaryanto commented on #1193
Same here

[2020-12-23 04:27] smashah commented on #1193
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2020-12-23 04:34] smashah commented on #1193
# Changelog

## 🚀 Release [3.1.12](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.11...3.1.12) (2020-12-23)

- Release 3.1.12 [`145a24a`](https://github.com/open-wa/wa-automate-nodejs/commit/145a24ac881a902f179d0c8f77b940cb2c5ad878)
- docs: add `crop` option to documentation #1188 [`cd0f47a`](https://github.com/open-wa/wa-automate-nodejs/commit/cd0f47ae3106c61eabcd54e18f4c972a01688b15)

[2020-12-25 00:17] albertstyles312 opened #1198 "How to Make Custom Reply ?"
like we replied to him but he didn't type anything

[2020-12-25 00:21] albertstyles312 commented on #1198
like we replied to him but he didn't type anything

[2020-12-26 01:50] marlon33 opened #1200 "Help to do a simple Interface"
Hello, I'm new here and I would like to know if it is possible to create an html interface using socket.io, I work with real estate sales, and I think I can send messages easier, if possible can someone say how or post a tutorial? I came from php css html C # python, but nodejs is new to me

[2020-12-28 14:03] smashah commented on #1186
Closing. Thanks

[2020-12-28 14:03] #1186 closed

[2020-12-30 02:28] aidilaryanto opened #1204 "Is able to send png transparent?"
Is able to send transparent image with format png?

[2020-12-30 14:29] aidilaryanto opened #1206 "sendRawWebpAsSticker send blank sticker"
![IMG_20201230_222851](https://user-images.githubusercontent.com/57789597/103357545-67dada80-4aee-11eb-81fb-b7e2c1f49e3a.jpg)

[2020-12-30 14:33] smashah commented on #1206
@aidilaryanto when did this start happening? Please respond with all context required on the issue template

[2020-12-30 17:23] aidilaryanto commented on #1206
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**create() code**
const link = 'https://i.ibb.co/Thmnd9c/e791e0dc9056.webp'
const buff = Buffer.from(link)
const base64 = `data:image/webp;base64,${buff.toString('base64')}`
client.sendRawWebpAsSti

[2020-12-30 17:32] smashah commented on #1206
@aidilaryanto when did this start happening?

Can you please share the data URL of the webp that this is happening with thanks

[2020-12-30 17:49] aidilaryanto commented on #1206
I tried yesterday.
This is data URL

data:image/webp;base64,UklGRuwzAABXRUJQVlA4WAoAAAAYAAAA/wEA/wEAQUxQSOgJAAAB8FbbTm5b27ZFAhKQgIRIQAISkIADJCABCUgYEpCAhJxf62ssIOnH1xkRE0D/9///7+2ZYymljv+e8vk5xhitlJKZmcHkOZYyxpSXzzFaKcweOYFLHVN+/xq9ZA5Y4VTGlO3OUTI7ePhY+pStr1FSAIWPZSw55agp7IKZU/kiszcYzn3KeUeJ7tc4jqWOseTb5yjRmQmXIQd/anQv41T6kJc+2dsHlyEX+NToXuG59EfePtgyfO5L7nHk8COOS1/yS4c3ilinXOes8Xt8ao/86hXswacut7pa

[2020-12-30 18:12] smashah commented on #1206
@aidilaryanto I think something is wrong with this specific webp file.

Can you try using `client.sendImageAsSticker` instead of `sendRawWebpAsSticker` with this same DataURL and try again.

`sendImageAsSticker` automatically processes the image through sharp even if it is a webp. This processing may 'fix' this webp that you are trying to send

[2020-12-30 19:27] aidilaryanto commented on #1206
Nothing happend. And no error

[2020-12-30 19:33] aidilaryanto commented on #1206
It's fixed by convert manualy with sharp. But i can't send webp animated

[2020-12-31 00:13] JulioLongo opened #1207 "getAllChats doesn't bring profile pic depending on viewport size"
When I change viewport height size on startup, it brings more profiles pics

pic of chat item that has this problem

![image](https://user-images.githubusercontent.com/33060329/103387666-c8b0e580-4ae3-11eb-8506-15794ed4ff1b.png)

[2020-12-31 00:46] smashah commented on #1207
@JulioLongo use this to get the missing pics:

https://docs.openwa.dev/classes/client.html#getprofilepicfromserver

[2020-12-31 08:48] 1528studio opened #1210 "EV connect ETIMEDOUT. What is the reason and how to solve it"
- Installing patches

----------
EV Installing patches customer-support STARTUP
----------

----------
EV connect ETIMEDOUT 192.133.77.191:443 customer-support STARTUP
----------
Error connect ETIMEDOUT 192.133.77.191:443

[2020-12-31 12:55] smashah commented on #1210
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2020-12-31 12:55] smashah commented on #1210
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2020-12-31 12:55] #1210 closed

[2020-12-31 15:15] kmirea commented on #1204
WhatsApp by default, or at least via Web-WhatsApp will always convert pngs and svg to a raster (jpg ?) .  You lose all transparency.  I am forced in my dayjob,  to first zip up any png/svg.   So thus, i am almost certain you cannot send PNG while preserving transparency.  Its unfortunate, but its an issue of WhatsApp itself.

[2020-12-31 18:14] TheAyos commented on #682
@smashah are you working on it ? i think i found a track, an npm library that has no dependencies and that seems to be robust. Could i help ? I definitely can look deeper into it if i have some time ! 😄

[2020-12-31 18:18] smashah commented on #682
@TheAyos feature is in development and will be released very soon along with other major changes which will eliminate many dependencies from the library

[2020-12-31 18:22] TheAyos commented on #682
@smashah neat ! one question though : does having less dependencies make the library faster ? and btw, great work 👏

[2020-12-31 18:43] smashah commented on #682
@TheAyos the simple answer is yes.

There is a CLI with this project and the dependencies make that CLI a pain to load.

Also, I'm always surprised as to the machines and operating systems people decide to run this library on. The less dependencies, the less potential for edge case issues and the less headache for me.

There are some which cannot be avoided, like ffmpeg and chrome/chromium but sha

[2021-01-01 10:22] aidilaryanto opened #1212 "Broken methods when scan QR"
![Screenshot_20210101-182139608](https://user-images.githubusercontent.com/57789597/103437116-47ca2900-4c5e-11eb-8f67-bd824480227b.jpg)

[2021-01-01 10:33] smashah commented on #1212
Stop dumping screenshots in the issues.

[2021-01-01 10:33] smashah commented on #1212
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-01-01 10:34] smashah commented on #1212
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-01-01 10:34] #1212 closed

[2021-01-02 15:05] axixu opened #1213 "EasyAPI Send Video"
Hi, is there tutorial to send video (MP4) from EasyAPI? thx.

I've tried use sendFile, sendFileFromURL but the sent video come as file. my OS is Debian 10 on AWS.

this is my getConfig EasyAPI:
{
  "success": true,
  "response": {
    "autoRefresh": true,
    "useChrome": true,
    "port": 8002,
    "ev": false,
    "allowSessionDataWebhook": false,
    "host": "localhost",
    "noApi": false,

[2021-01-03 05:10] smashah commented on #1213
@axixu you need to use chrome but also make sure ffmpeg is installed on your machine

[2021-01-03 12:06] smashah commented on #1198
@albertstyles312 can you be a little more specific with screenshots please

[2021-01-04 02:29] axixu commented on #1213
Oke thx I will try it...

[2021-01-04 02:29] #1213 closed

[2021-01-05 14:56] restugbk opened #1220 "help"
why my bot doesn't respond to the command I type?

[2021-01-06 06:21] AlenSaito1 commented on #1220
Follow the [issue template](https://github.com/open-wa/wa-automate-nodejs/issues/new?assignees=&labels=&template=bug_report.md&title=) please

[2021-01-06 07:13] AlenSaito1 opened #1221 "Feature Request: Send GIFs || Send video as gif from URL"
It'd be great if there was a way to send GIF files or Video as gif from URL (Non-giphy) instead of downloading the GIFs and converting to video

[2021-01-06 09:50] SlavyanDesu commented on #1198
![received_440143903817109](https://user-images.githubusercontent.com/28254882/103754139-88e78200-503e-11eb-8e13-cfa5b4458384.jpeg)
Let me help.
As you can see, the mentioned user (Anda/me) wasn't sent a single message but the bot replied my message that never exist. This is literally generating a fake message id.

[2021-01-06 10:11] smashah commented on #1220
thanks @AlenSaito1

[2021-01-06 10:11] smashah commented on #1220
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-01-06 10:12] smashah commented on #1220
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-01-06 10:12] #1220 closed

[2021-01-06 11:18] smashah commented on #1198
@SlavyanDesu can you share the code you are using that results in this behaviour, please.

Also, sometimes what you see on the host account is not what the recipients/group participants see. Can you confirm using another phone that the resultant message is also showing this issue?

[2021-01-06 11:35] smashah commented on #1221
@AlenSaito1 if this is implemented you will need to use [`client.sendVideoAsGif `](https://docs.openwa.dev/classes/client.html#sendvideoasgif) and only use mp4 URLs

[2021-01-07 15:19] fnevesgx opened #1224 "[Discussion] How Version 2-21-1-3 impact this project?"
Hi,

@smashah

I have been following this project for a long time and I would like to congratulate you and the collaborators for the effort and quality of it

I Have a doubt about the version 2.21.1.3 and the feature called "Linked Devices"
https://wabetainfo.com/whatsapp-beta-for-android-2-21-1-3-whats-new/

Did you already mapped on api how it´s gonna be ? and how will impact this project?

Theo

[2021-01-08 10:25] MFarelS commented on #810
Hi Bwang Stahh Awokwaokwoakwoak

[2021-01-08 19:30] blackchineykh opened #1226 "Frequent TIMEOUT issues when safeMode is set to true"
**Describe the bug**
Since I updated to the latest version, it seems the library hangs and is tied to the safeMode=true feature. Since I switched this to false, it seems stable again. Otherwise I get a lot of state changes between CONNECTED and TIMEOUT. See logs:

[code]

**Steps to Reproduce**
Steps to reproduce the behavior:
Start the service and leave it running with safeMode=true for a couple

[2021-01-08 21:58] SlavyanDesu opened #1227 "Get user pushname from sender.id"
Hello. Is there a way to get pushname from sender.id? Thanks in advance.

[2021-01-10 02:09] raphox commented on #961
I would like to make some customizations and contributions to the project. How can I change and build the project without generating this problem?

[2021-01-10 10:46] AlenSaito1 commented on #1227
You can get the pushname of the user from `message.sender.pushname` [message.sender](https://docs.openwa.dev/interfaces/message.html#sender)
or use `getContact(sender.id)` [contact](https://docs.openwa.dev/interfaces/contact.html#pushname)

[2021-01-10 10:48] AlenSaito1 commented on #1221
Perfect, Thank you

[2021-01-10 14:18] smashah commented on #961
@raphox if you've got ideas and how to implement them, bring them up in a new issue and I will implement it while adding you as a contributor on the commit. Thanks

[2021-01-11 00:50] SlavyanDesu commented on #1227
Thank you for replying! `getContact(sender.id)` is what I've looking for.

[2021-01-11 00:50] #1227 closed

[2021-01-11 04:35] smashah opened #1228 "BROKEN METHODS: 26314"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-11 11:49] raphox commented on #961
@smashah If I understand correctly, this repository no longer represents 100% of the library's functionality. As far as I could see, most of the features are implemented in encrypted form in the file https://github.com/open-wa/wa-automate-nodejs/blob/master/patches.json. We also don't have access to the original source of that file. Right?

I understand that you have personal reasons for doing so.

[2021-01-11 12:56] #1228 closed

[2021-01-11 13:30] smashah commented on #961
@raphox the goal of this library is to allow as many people as possible to reliably automate their accounts, not to mindlessly adhere to an idealistic notion of what "open source" is meant to be.

The reason the patches are unreadable are because other libraries were copying code without any attribution while at the same time insulting this library. Not very "open source" is it? It also protects t

[2021-01-11 13:36] smashah commented on #1224
@fnevesgx thanks for bringing this up. I have been keeping my eyes on the development of this feature, and over the last few months have seen things implemented in WA web that would suggest this multi device thing is more of a hack than a "feature". My guess is it's going to be just one connection to the phone which will hop around to the other devices (hence all of the TIMEOUT issues that have be

[2021-01-11 17:05] raphox commented on #961
Ok @smashah. I understand your position. And I thank you for still keeping part of the library open. I know you could be allocating everything from the API and other internal components, and I think it is part of the retribution to the other contributors. I was just curious and had no intention of demanding.

Congratulations on the tool and your job of maintaining it. :clap:

[2021-01-13 08:09] Kry9toN opened #1230 "Add subject in groupMetadata"
Please add subject on groupMetadata for group name return

[2021-01-13 11:01] smashah opened #1231 "BROKEN METHODS: a16f3"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-13 17:20] #1231 closed

[2021-01-13 17:22] smashah commented on #1230
@Kry9toN can you be more specific? Which method is missing the group subject?

[2021-01-13 17:25] Kry9toN commented on #1230
How i get the name group on groupMetadata?

[2021-01-13 17:27] smashah commented on #1230
@Kry9toN in order to answer this question i need to know how you are getting to the group metadata. Maybe I'll just make a new `client` method called `getGroupInfo` with the title and subject. Would that resolve this for you or are you looking for more information?

[2021-01-13 17:34] Kry9toN commented on #1230
Yes, create a method like that, it will resolve👍

[2021-01-13 17:40] smashah commented on #1221
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-01-13 17:58] smashah commented on #1221
# Changelog

## 🚀 Release [3.1.13](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.12...3.1.13) (2021-01-13)

- build(deps): bump sharp from 0.26.3 to 0.27.0 [`#1195`](https://github.com/open-wa/wa-automate-nodejs/pull/1195)
- build(deps): bump boxen from 4.2.0 to 5.0.0 [`#1203`](https://github.com/open-wa/wa-automate-nodejs/pull/1203)
- build(deps): bump swagger-ui-express from 4.1.5 to

[2021-01-13 18:02] smashah commented on #1230
@Kry9toN In v3.1.13 can now use `client.getGroupInfo('123123123-1231231232@c.us)` to get the title and description [(docs)](https://docs.openwa.dev/classes/client.html#getgroupinfo)

[code]

[2021-01-13 18:02] #1230 closed

[2021-01-13 18:04] smashah commented on #1221
@AlenSaito1 in the latest version you can send a video as gif using URL. Example:

[code]

Thanks

[2021-01-13 18:04] #1221 closed

[2021-01-13 18:10] smashah commented on #1226
@blackchineykh thanks so much for filling in the issue template. If you have just updated to the latest version of the library then it may be that you do not need to use `safeMode` any more. Have you tried with it set to false?

[2021-01-13 18:10] Kry9toN commented on #1230
Thanks you so much

[2021-01-13 18:30] Kry9toN commented on #1230
Can you also create a method `getUserInfo` then return pushname, photo profile, etc

[2021-01-13 18:37] smashah commented on #1230
@Kry9toN sure just open a new issue

[2021-01-13 18:40] Kry9toN opened #1232 "Add new metod getUserInfo"
@smashah Please add metod `getUserInfo('13244564333@c.us')` with return pushname, photo profile, and etc

[2021-01-13 19:16] smashah commented on #1232
@Kry9toN have you tried [`client.getContact()`](https://docs.openwa.dev/classes/client.html#getcontact)?

[2021-01-13 19:23] smashah commented on #1204
Thanks for the details @kmirea

@aidilaryanto If transparency is important then I suggest sending it as a sticker. Otherwise send it using:

https://docs.openwa.dev/classes/client.html#sendfile

with `withoutPreview` param as `true`.

Closing for now.

Thanks

[2021-01-13 19:23] #1204 closed

[2021-01-13 19:25] smashah commented on #1198
Closing for now. Please reply with more information if you want this issue reopened.

Thanks

[2021-01-13 19:25] #1198 closed

[2021-01-13 19:26] smashah commented on #1206
@aidilaryanto You will need to use chrome `useChrome: true` to send animated stickers.

Thanks

[2021-01-13 19:26] #1206 closed

[2021-01-13 19:28] smashah commented on #1200
@marlon33 Soon there will be a UI library for platform-agnostic (vue/angular/react) web components. I suggest signing up to the discord for updates as to when that gets released (maybe in the next few months).

At the same time, keep an eye on #1100 for when you will be able to interact with the sessions fully using socket.io

Closing for now.

Thanks

[2021-01-13 19:28] #1200 closed

[2021-01-13 19:32] smashah commented on #875
Closing

Please see:

https://github.com/open-wa/wa-automate-nodejs/issues/659#issuecomment-673017034

[2021-01-13 19:32] #875 closed

[2021-01-13 23:15] Jonas33235 opened #1233 "send sticker with about"
option to change the description of the sticker by pressing it

[2021-01-14 01:20] Nafiz01 opened #1234 "How fix?"
how fix?
![Capture](https://user-images.githubusercontent.com/43414210/104531712-5ee71e80-5641-11eb-9ff4-828ce4b34c3b.PNG)

[2021-01-14 02:22] Kry9toN commented on #1232
No. I just found out about that method, maybe I'll try to use it

[2021-01-14 03:12] smashah commented on #1234
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-01-14 03:12] smashah commented on #1234
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-01-14 03:12] #1234 closed

[2021-01-14 03:54] smashah commented on #1233
@Jonas33235 can you provide some screenshots please

[2021-01-14 17:23] blackchineykh commented on #1226
yes I have tried with setting this to false and it works. I was just filing this so that it can be addressed or help others if they've experienced similar issues.

What caused me to upgrade was seeing that while handling onAck for delivery statuses, these are coming in as "undefined" and once it starts to happen it doesnt stop. After the upgrade to the latest, it went away but started to happen ag

[2021-01-14 19:42] SlavyanDesu commented on #1233
@Jonas33235
![Screenshot_20210115-024057](https://user-images.githubusercontent.com/28254882/104640508-28f67880-56db-11eb-994f-80d5e64b4c90.jpg)
Like this perhaps?

[2021-01-14 20:13] smashah commented on #1233
@Jonas33235 ah ok. This is a duplicate of #682

Please keep track of that issue. It is currently on the to-do list.

Thanks

[2021-01-14 20:13] #1233 closed

[2021-01-15 00:35] jpramirezp opened #1245 "How to visualize emojis ?"
Hi, this libray is awesome, I want to know if is possible retrieve the emojis or emoticons from the messages, I only can see the ? sign  �

[2021-01-15 04:17] Jonas33235 commented on #1233
send this group link
?

[2021-01-15 04:22] Jonas33235 commented on #1233
error,
![image](https://user-images.githubusercontent.com/56744848/104681008-11fe5900-56d0-11eb-9902-a2ae8cc6317d.png)

[2021-01-15 04:46] SlavyanDesu commented on #1233
If you want to create sticker metadata so badly, you need to make an EXIF file that contains your metadata. And then add it to your raw webp sticker. Of course, you need a [libwebp](https://developers.google.com/speed/webp/download) lib.

[2021-01-15 10:17] #1232 closed

[2021-01-15 11:28] smashah opened #1248 "BROKEN METHODS: f289a"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-15 12:36] #1248 closed

[2021-01-15 12:40] Aminadav opened #1249 "`promoteParticipany` never works for me"
**Describe the bug**
I'm calling promoteParticipany but it doesn't do anything.
I'm trying to give someone from the group the admin permission.
I'm using the EasyAPI. if it's working for others, I will give all the other details. (version, etc')

[2021-01-15 12:42] Aminadav commented on #894
+1

[2021-01-15 12:43] WaxArsatia opened #1250 "Add option to enable/disable logging the ffmpeg command on sendMp4AsSticker"
https://docs.openwa.dev/classes/client.html#sendmp4assticker

Every run its will log
[code]
This is solution to hide it, but how can im add the parameter to hide ffmpeg command?
https://superuser.com/questions/326629/how-can-i-make-ffmpeg-be-quieter-less-verbose

Its should be nice if next update can choose to enable or disable the output command log

[2021-01-15 13:06] smashah commented on #1250
To be honest the logging was set up there to make sure it's working properly. I'm just going to turn it off entirely.

[2021-01-15 14:59] Terror-Machine commented on #1233
[here](https://github.com/Terror-Machine/fn-whatsapp-bot)

for at all
many credits to
@Waxaranai
@drmars
@cwke

[2021-01-15 15:06] smashah commented on #682
Please see this comment for a current implementation of the sticker metadata code

https://github.com/open-wa/wa-automate-nodejs/issues/1233#issuecomment-760991029

[2021-01-16 05:01] smashah opened #1251 "BROKEN METHODS: 5dcba"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-16 08:48] #1251 closed

[2021-01-16 10:12] smashah opened #1252 "BROKEN METHODS: dc24d"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-16 18:00] edneijunior opened #1253 "Decrypting Media on quotedMsgBody"
Does anyone know how to get the media in a replied message.
[code]

Forgiveness for the translator and for not knowing to follow the stardards. I1m a library contributor and would like help.

[2021-01-16 19:24] smashah commented on #1253
Hello @edneijunior I got your email also, but we'll continue this here.

When you say it's not working, what do you mean? Does it throw an error? Is the file empty? Whay file are you expecting? Etc.

Also, please, next time use the issue template

[2021-01-16 22:13] #1252 closed

[2021-01-16 22:58] #1249 closed

[2021-01-16 23:00] smashah opened #1254 "BROKEN METHODS: 67591"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-16 23:01] smashah commented on #1249
@Aminadav You will have to provide more context, as it is working fine here. Are you sure that account is in that group chat?

[2021-01-16 23:06] #1254 closed

[2021-01-16 23:11] smashah commented on #1245
@jpramirezp Thanks, can you provide some screenshots of the issue please?

[2021-01-18 13:46] edneijunior commented on #1253
The truth is, I don't know how to do that. I wonder if there is any Doc or tutorial. Sorry for not using the template.
I will wait for the consultation by email. Thanks so much

[2021-01-18 14:16] smashah commented on #1253
@edneijunior

[code]

[2021-01-18 17:21] edneijunior commented on #1253
i will try, thank you.

[2021-01-18 18:29] edneijunior commented on #1253
CLIENT.onMessage(message => {
     if (message.quotedMsgObj && m.quotedMsgObj.mimetype) {
        let m = message.quotedMsgObj;
          //const mediaData = openWA.decryptMedia(message,uaOverride).then(function(DECRYPTED_DATA){
        const mediaData = openWA.decryptMedia(m,uaOverride).then(function(DECRYPTED_DATA){
        var filename = `${message.t}.${mime.extension(m.mimetype)}`;
        fs.

[2021-01-18 18:35] smashah opened #1257 "BROKEN METHODS: 218d7"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-18 19:03] smashah commented on #1253
Great!

[2021-01-18 19:03] #1253 closed

[2021-01-18 21:20] #1257 closed

[2021-01-19 17:24] #1114 closed

[2021-01-19 17:28] smashah commented on #1207
Closing for now. Thanks

[2021-01-19 17:28] #1207 closed

[2021-01-19 17:43] smashah commented on #1250
@Waxaranai in the next version the FFmpeg logs will be off by default. In order to turn them back on you can do so by setting `processOptions.log` to `true`.

[2021-01-19 17:51] smashah commented on #1250
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-01-19 18:03] smashah commented on #1250
# Changelog

## 🚀 Release [3.1.14](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.13...3.1.14) (2021-01-19)

- build(deps): bump puppeteer-extra-plugin-devtools from 2.2.14 to 2.2.15 [`#1235`](https://github.com/open-wa/wa-automate-nodejs/pull/1235)
- build(deps): bump puppeteer-extra-plugin-block-resources from 2.2.7 to 2.2.8 [`#1240`](https://github.com/open-wa/wa-automate-nodejs/pull

[2021-01-19 18:06] #1250 closed

[2021-01-19 22:48] Victorsouza02 opened #1258 "Chat - profilePicThumbObj empty since 3.1.13"
I'm trying to get the group photo with "chat.contact.profilePicThumbObj.eurl" to display it with the description, but since version 3.1.13 it's returning me undefined/empty.
![image](https://user-images.githubusercontent.com/4674786/105102958-7f263b80-5a8e-11eb-9b29-d7d8abf4cbb9.png)

[2021-01-20 12:14] smashah opened #1262 "Feature: Check for session data json in relative entry directory"
This is so systems using systemctl to manage the service can reauthenticate easily

[2021-01-20 15:20] #1258 closed

[2021-01-20 15:32] smashah commented on #1258
@Victorsouza02 restart your sessions and try again. If it keeps happening then use:

https://docs.openwa.dev/classes/client.html#getprofilepicfromserver

[2021-01-20 15:35] smashah commented on #1262
E.g
[code]

Before if your session data

[2021-01-20 15:40] smashah commented on #1262
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-01-20 15:42] smashah commented on #1262
# Changelog

## 🚀 Release [3.1.15](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.14...3.1.15) (2021-01-20)

- Release 3.1.15 [`10afe92`](https://github.com/open-wa/wa-automate-nodejs/commit/10afe923ddcde741a5cd406233b5638af0136193)
- feat: library now checks for `.data.json` files in `require.main.path` also #1262 [`7b571f6`](https://github.com/open-wa/wa-automate-nodejs/commit/7b571f6

[2021-01-20 17:00] #1262 closed

[2021-01-22 00:14] smashah opened #1263 "Bug: Message ID race conditions"
When sending a message, sometimes the wrong message ID is returned. This needs to be investigated and fixed.

[2021-01-22 03:15] maurihn commented on #1263
Please we need it to be resolved

[2021-01-22 04:51] Terror-Machine commented on #1263
and gaining bans after thats

[2021-01-22 08:20] smashah opened #1264 "BROKEN METHODS: 8500b"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-22 11:07] #1264 closed

[2021-01-22 14:24] ghifar1 opened #1265 "Evaluation failed: ReferenceError: WAPI is not defined"
**Describe the bug**
A clear and concise description of what the bug is.
im using `goto()`, `waitForSelector()`, and `click()` from `client.getPage()` for adding a new API,
but after that if im using client again its show error from `sendText()`.
`Evaluation failed: ReferenceError: WAPI is not defined
    at __puppeteer_evaluation_script__:3:33`

**Steps to Reproduce**
Steps to reproduce the behav

[2021-01-22 16:18] gnadelwartz commented on #1245
if you see this for almost all emjois than you display the characters in an evironment without UFT-8, this is alo the case if language specific charaters are shown as <?>  e.g. `ä,δ, Δ,ν,πش`

Can you pls provide OS, LANG setting etc.

If you are on Linux / Unix LANG should be something like xx_XX-utf-8
[code]

[2021-01-22 16:56] gnadelwartz opened #1266 "altSessionJsonPath execption: path is not a string"
**Describe the bug**
After Update to 3.1.15 I get an execption when WA-Automate loads the session on startup
1.3.13 is working.

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
no execprion ;-)

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[code]

**Screenshots**
If applicable, add screen

[2021-01-23 03:31] smashah commented on #1265
There is no extended support for using puppeteer APIs. You have access to them if you know how to use them but this library is not designed for you to mess around with loading different pages or creating custom APIs. If you have any specific requests for new features let me know. Otherwise please do not try to Jerry rig things onto this library then expect us to fix what you've broken. Thanks

[2021-01-23 03:31] #1265 closed

[2021-01-23 03:32] smashah commented on #1266
@gnadelwartz great thanks for the context and proposed fix . Will implement by tonight. Thanks a ton.

[2021-01-23 14:47] bagusdwip commented on #1266
Has this case been fixed?

[2021-01-23 18:24] smashah commented on #1266
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-01-23 18:26] smashah commented on #1266
# Changelog

## 🚀 Release [3.1.16](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.15...3.1.16) (2021-01-23)

- build(deps-dev): bump @types/express from 4.17.9 to 4.17.11 [`#1260`](https://github.com/open-wa/wa-automate-nodejs/pull/1260)
- build(deps-dev): bump @types/node from 14.14.20 to 14.14.22 [`#1261`](https://github.com/open-wa/wa-automate-nodejs/pull/1261)
- build(deps): bump ts

[2021-01-23 18:27] smashah commented on #1266
@gnadelwartz @bagusdwip I wasn't able to recreate the issue entirely but hopefully the changed in 3.1.16 have fixed the problems. Please try it out and let me know/ provide some more context thanks

[2021-01-23 20:21] gnadelwartz commented on #1266
Can confirm it's working for me, thanks!

[2021-01-23 21:04] Jonas33235 opened #1267 "send mp4 as sticke from url"
send video as sticker from gif or video url

[2021-01-23 21:33] smashah commented on #1266
great!

[2021-01-23 21:33] #1266 closed

[2021-01-23 21:36] smashah commented on #1267
@Jonas33235 you can already do this with

https://docs.openwa.dev/classes/client.html#sendmp4assticker

[2021-01-23 21:36] #1267 closed

[2021-01-24 21:18] maurihn opened #1268 "it does not work decryptMedia and getStickerDecryptable"
When receiving a sticker it cannot be decrypted, it shows "false" as a result

[2021-01-24 21:31] smashah commented on #1268
@maurihn if you've got a valid license key and it is still returning `false` then it is either because the message cannot be found or it is not a sticker. Either way, this problem requires a lot more context.

[2021-01-24 21:43] maurihn commented on #1268
If I have a key, and before it worked super well with decryptMedia, but now I don't know why it doesn't work, I'm doing the following.
const mediaDecry = await client.decryptMedia (messages);

[2021-01-24 21:54] smashah commented on #1268
@maurihn

`getStickerDecryptable` returns a sticker message that can be decrypted. It requires the message id as the first and only parameter. After you get the return of `getStickerDecryptable` you send that message to `decryptMedia`. Please check the example below.

[code]

[2021-01-24 23:08] maurihn commented on #1268
I have received a sticker and it always returns a **false**, actually the message does contain the sticker, but it always returns a **false**

[2021-01-25 01:33] smashah commented on #1268
@maurihn I think this only affects `OW` keys. I have issued a fix, can you try again, please. Thanks

[2021-01-25 03:30] maurihn commented on #1268
Thank you @smashah , I already tried and everything is fine.

[2021-01-25 03:31] #1268 closed

[2021-01-25 04:21] smashah commented on #1245
Closing thanks. Feel free to add more info @jpramirezp

[2021-01-25 04:21] #1245 closed

[2021-01-25 11:33] smashah commented on #682
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-01-25 11:35] smashah commented on #682
# Changelog

## 🚀 Release [3.2.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.1.16...3.2.0) (2021-01-25)

- Release 3.2.0 [`cff00f9`](https://github.com/open-wa/wa-automate-nodejs/commit/cff00f915cfc51f89c31dcb0f0b469891e2b411d)
- Feature: Implemented framework for offloading sticker processing to an API #682 [`4204797`](https://github.com/open-wa/wa-automate-nodejs/commit/4204797278a3

[2021-01-25 11:43] smashah commented on #682
in V3.2.0 you can now set sticker metadata

https://docs.openwa.dev/classes/client.html#sendmp4assticker

https://docs.openwa.dev/classes/client.html#sendimageassticker

in `sendImageAsSticker`, the `_m` (3rd) parameter is the [`StickerMetadata`](https://docs.openwa.dev/globals.html#stickermetadata)

The API will remain open without limits over the next day or two. It only outputs SFW stickers.

P

[2021-01-25 14:16] botmai4 opened #1270 "Bug on metadata sticker?"
My command #sticker customize metadata with arg, but if i send with the command as caption the sticker crash and show (Can't download your sticker. Try again. If error persist try turn off wifi or VPN).

but if i send as quoted message works!

my command: #sticker name|lastname

[code]

[2021-01-25 18:06] smashah commented on #1270
`Can't download your sticker. Try again. If error persist try turn off wifi or VPN` is not an error this library or the API sends you. This needs more context

[2021-01-25 18:07] smashah commented on #1270
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-01-25 18:07] #1270 closed

[2021-01-25 18:07] smashah commented on #1270
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-01-26 01:22] tcortega opened #1271 "Feature: Add who executed the action on the onParticipantsChanged event"
Title says it all, it'd be nice if we could see who executed the action, on both ParticipantsChanged event listeners... (global is the other one).

Since currently we can only see who suffered from the action, and what was the action.

[2021-01-26 20:00] Skowt opened #1274 "Expected type of "sticker-server-endpoint" to be one of ["string", "boolean", "number", "array", "string-array", "boolean-array", "number-array"], got ["string", "boolean"]"
**Describe the bug**
Unable to get session data due to an error with dependencies.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Run: `npx @open-wa/wa-automate -o`

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
No bug.

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[code]

[2021-01-26 20:34] smashah commented on #1274
@Skowt thanks for bringing this up.

For now please use this

[code]

[2021-01-27 09:32] Skowt commented on #1274
Thanks! Working 💪🏼

[2021-01-27 23:24] DaviZMelo opened #1276 "How can I send a list of contacts without separating them?"
when i use client.sendContact and pass an array of contacts, instead of being sent a list with several contacts, separate contacts are sent

what happens

![image](https://user-images.githubusercontent.com/49699162/106067438-6dbbdf80-60dd-11eb-9d5d-087e6081401f.png)

what i want

![image](https://user-images.githubusercontent.com/49699162/106067493-8926ea80-60dd-11eb-8d42-c6db8c45f2b7.png)

[2021-01-28 11:01] smashah opened #1278 "BROKEN METHODS: 05d78"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-29 09:19] laruche commented on #1274
Too bad ! Tee API sounds amazing !! Impatient to test it !

[2021-01-30 08:01] smashah opened #1280 "BROKEN METHODS: 9fd9a"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-01-30 12:15] VideFrelan opened #1281 "Mute chat notifications"
Is it possible to add features that can mute chat notifications, including group chats?
I thought it would be great if we didn't have to manually mute chat notifications

[2021-01-30 12:16] AlvioAdjiJanuar commented on #1281
ada yang bisa saya bantuu ?

[2021-01-30 14:14] #1280 closed

[2021-01-30 14:14] #1278 closed

[2021-01-31 06:24] smashah commented on #1271
@tcortega this used to be possible by hooking into the GP2 message, but since that no longer works it hasn't been possible to see who did the action of inviting, promoting, demoting, etc.

[2021-01-31 06:29] #1274 closed

[2021-01-31 06:35] smashah commented on #1274
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-01-31 07:20] smashah commented on #1274
# Changelog

## 🚀 Release [3.2.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.2.0...3.2.1) (2021-01-31)

- build(deps-dev): bump typedoc from 0.19.2 to 0.20.19 [`#1272`](https://github.com/open-wa/wa-automate-nodejs/pull/1272)
- build(deps): bump puppeteer-extra-plugin-stealth from 2.6.6 to 2.6.7 [`#1273`](https://github.com/open-wa/wa-automate-nodejs/pull/1273)
- build(deps-dev): bump

[2021-01-31 07:30] smashah commented on #1274
@laruche @Skowt this should be fixed now. thanks

[2021-01-31 12:50] blackchineykh commented on #1226
Closing this issue as it seems to be more so happening now when there's lots of chats and messages which indicates another issue. Will try to open a new issue once it's clear how to reproduce

[2021-01-31 12:50] #1226 closed

[2021-01-31 15:26] Urbaee opened #1282 "Help"
How to downgrade and keep the version i installed in package.json?
i use this npm i --save @open-wa/wa-automate@3.2.0

And that's change the version in package.json
But when i push in github and try git clone
And i running command npm install
They install the new version of @open-wa
I mean, i want they install the version before i push in github but why they install the new version?

Please help

[2021-01-31 22:56] smashah commented on #1282
@Urbaee please share your package.JSON file

[2021-02-01 01:13] Urbaee commented on #1282
![Screenshot_20210201-081129.png](https://user-images.githubusercontent.com/75126993/106404363-2333bd80-6465-11eb-8793-086d7d0c8a7b.png)

Look, that's the version, but when i try git clone and npm install, they install the new version

You can try git clone my repo
That's will install the new version

My repo : https://github.com/Urbaee/whatsapp-bot2

[2021-02-01 03:16] smashah commented on #1282
@Urbaee

If you want to stick to one specific version, you have to remove the `^`.

This will make sure the dependency that is installed is greater than 3.2.0:

[code]

whereas, this will result in the version staying at 3.2.0:

[code]

Also, why exactly do you want your users to be stuck at 3.2.0? For this library it is always best to keep up to date with the latest version.

[2021-02-01 03:18] smashah opened #1283 "Enhancement: Migrate heavy libraries to peer dependency"
The proposed libraries that will be moving to peer dependency in an upcoming minor version are:

- puppeteer (replaced with puppeteer-core)
- sharp
- ffmpeg-fluent

[2021-02-01 03:26] Urbaee commented on #1282
My code is not supported for 3.2.1 for sticker
It's get "failed with status code"

[2021-02-01 03:27] Urbaee commented on #1282
![Screenshot_20210201-102718.png](https://user-images.githubusercontent.com/75126993/106411537-1a98b280-6478-11eb-8b06-a9f846525297.png)

[2021-02-01 03:41] Urbaee commented on #1282
Also did the version 3.2.0 not have function ```sendStickerAsReply``` ?

[2021-02-01 05:12] smashah commented on #1282
well this is the main issue then. Will be fixed momentarily

[2021-02-01 05:42] Urbaee commented on #1282
Okay i'll be waiting

[2021-02-01 05:44] smashah commented on #1281
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-01 05:56] Urbaee commented on #1283
Is it no way to send sticker gif in 30fps?

[2021-02-01 06:22] smashah commented on #1281
# Changelog

## 🚀 Release [3.2.2](https://github.com/open-wa/wa-automate-nodejs/compare/3.2.1...3.2.2) (2021-02-01)

- Release 3.2.2 [`0b8210a`](https://github.com/open-wa/wa-automate-nodejs/commit/0b8210a626709725df8104a3d4e9712056a158a0)
- Improved type aliases [`4a20176`](https://github.com/open-wa/wa-automate-nodejs/commit/4a20176ab99e270986b29cab1edc8b22fddd961a)
- feat: (Insiders) `muteChat`

[2021-02-01 06:29] smashah commented on #1281
@VideFrelan please DM me on discord or email me for your insiders key. thanks

[2021-02-01 06:29] #1281 closed

[2021-02-01 06:29] smashah commented on #1282
@Urbaee fixed in 3.2.2

thanks

[2021-02-01 06:29] #1282 closed

[2021-02-01 07:24] smashah commented on #1276
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-01 07:26] smashah commented on #1276
# Changelog

## 🚀 Release [3.2.3](https://github.com/open-wa/wa-automate-nodejs/compare/3.2.2...3.2.3) (2021-02-01)

- Release 3.2.3 [`5c6a7fd`](https://github.com/open-wa/wa-automate-nodejs/commit/5c6a7fdbcae0c1b20647a5610550fdd4fe221033)
- feat: (Insiders) `sendMultipleContacts` in a single message #1276 [`11f8bfb`](https://github.com/open-wa/wa-automate-nodejs/commit/11f8bfb1952f94efae6382d1dd6

[2021-02-01 07:27] smashah commented on #1276
@DaviZMelo please dm or email me for instructions on how to get your insiders key. Thanks

[2021-02-01 07:27] #1276 closed

[2021-02-01 07:32] smashah commented on #682
This is implemented and fully working.

Soon, the API will only process unlimited stickers per day for those with insider's keys.

Closing for now thanks.

[2021-02-01 07:32] #682 closed

[2021-02-01 07:33] smashah commented on #1224
Closing for now. Bump to continue the discussion. Thanks

[2021-02-01 07:33] #1224 closed

[2021-02-01 07:35] smashah commented on #1283
@Urbaee you can change the fps using the [processOptions](https://docs.openwa.dev/globals.html#mp4stickerconversionprocessoptions)

https://docs.openwa.dev/classes/client.html#sendmp4assticker

[2021-02-01 07:39] Urbaee commented on #1283
Yeah i have try that
But when i try 30fps and duration of video is 5 second, it give me an error

```Video must less than 1MB```

[2021-02-01 07:41] smashah commented on #1283
@Urbaee yes that's a limit of sticker file sizes from WA. Which is why default fps is 10 - https://docs.openwa.dev/globals.html#defaultprocessoptions

[2021-02-01 08:42] laruche commented on #1274
Works like a charm :)

[2021-02-01 15:05] tcortega commented on #1271
The event still happens in the WhatsApp, isn't there anywhere you could listen it from? I thought of a way to do that but didn't test it yet, it'd be more like a work around.

[2021-02-01 16:10] VideFrelan commented on #1281
Hello Mohammed Shah, i'm VideFrelan, what do you mean "please DM me on
discord or email me for your insiders key. thanks"

This is my email, what can I get?

Thank you.

Pada tanggal Sen, 1 Feb 2021 pukul 13.29 Mohammed Shah <
notifications@github.com> menulis:

[2021-02-02 06:02] smashah commented on #918
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-02 06:04] smashah commented on #918
# Changelog

## 🚀 Release [3.2.4](https://github.com/open-wa/wa-automate-nodejs/compare/3.2.3...3.2.4) (2021-02-02)

- build(deps-dev): bump @types/marked from 1.2.1 to 1.2.2 [`#1285`](https://github.com/open-wa/wa-automate-nodejs/pull/1285)
- build(deps): bump update-notifier from 5.0.1 to 5.1.0 [`#1287`](https://github.com/open-wa/wa-automate-nodejs/pull/1287)
- Release 3.2.4 [`0fe1612`](https:/

[2021-02-02 06:05] #918 closed

[2021-02-02 07:50] AlvioAdjiJanuar opened #1289 "often gets banned"
I want to ask something, I was scanning a QR code, after I finished scanning, WhatsApp immediately blocked / banned me, does the open-wa version affect this?

[2021-02-02 08:01] smashah commented on #1289
@AlvioAdjiJanuar Please discuss this further in the discord. thanks

[2021-02-02 08:02] #1289 closed

[2021-02-02 17:58] Urbaee commented on #1283
sorry, is there have a function ```client.sendStickerfromUrl``` ?

[2021-02-02 19:41] shydoll-02 opened #1290 "EROOR"
Error: Evaluation failed: TypeError: Cannot read property 'attributes' of undefined
    at Object.window.<computed>.<computed> [as getMe] (__puppeteer_evaluation_script__:1:172587)
    at __puppeteer_evaluation_script__:1:28
    at ExecutionContext._evaluateInternal (C:\Users\SHYDOLL\Desktop\Mybots\Bot-Latest-Premium1\Bot-Latest-Premium\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionCont

[2021-02-02 20:00] #1290 closed

[2021-02-03 05:23] smashah opened #1291 "Check if local file before sending request to the sticker-api"

[2021-02-03 06:08] Jonas33235 opened #1292 "sticker nobg"
how to send sticker no background whitout no api?

[2021-02-03 07:23] smashah commented on #1291
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-03 07:25] smashah commented on #1291
# Changelog

## 🚀 Release [3.2.5](https://github.com/open-wa/wa-automate-nodejs/compare/3.2.4...3.2.5) (2021-02-03)

- build(deps): bump open from 7.3.1 to 7.4.0 [`#1288`](https://github.com/open-wa/wa-automate-nodejs/pull/1288)
- Release 3.2.5 [`efb78e1`](https://github.com/open-wa/wa-automate-nodejs/commit/efb78e19894206f30eb7042c9d713fc2323a21b7)
- feat: sticker-api now preprocesses local files

[2021-02-03 07:29] #1291 closed

[2021-02-03 14:59] lxndr-rl commented on #1292
this is not a issue

[2021-02-03 15:44] MrHecka opened #1296 "Error when sending sticker message (client.sendImageAsSticker)"
![image](https://user-images.githubusercontent.com/71875420/106771231-52b71580-6671-11eb-9030-5cfe3b9d5a44.png)

help me pls?

[2021-02-03 15:45] smashah commented on #1296
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-02-03 15:45] smashah commented on #1296
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-02-03 15:45] #1296 closed

[2021-02-03 16:35] klokwert opened #1297 "crashes 30 seconds after starting"
First it worked fine, Idk what's wrong now, but everytime i try to start, it stops after 30 seconds with this message:

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                                                                                                   ┃
┃   @open-wa/wa-automate

[2021-02-03 16:54] smashah commented on #1297
@klokwert please in the future use the issue template. This timeout relates to the web page not being loaded due to a bad connection or some other problem. You need to run this in `--headful` or `headless:false` and see what's going on in the browser.

[2021-02-03 16:54] smashah commented on #1297
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-02-03 16:55] smashah commented on #1297
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-02-03 16:55] #1297 closed

[2021-02-03 16:58] klokwert commented on #1297
idk what was wrong, but when i did:
 rm ~/.npm -rf
 rm node_modules -rf

and then reinstalled everything, it did work again

[2021-02-03 17:00] smashah commented on #1297
@klokwert yeah most times this happens a simple restart fixes the issue. It can be due to a million things, none of which are related to the library. thanks

[2021-02-03 22:37] allanmelo opened #1298 "Sticker API not working"
**Describe the bug**
All messages sent with the "sendImageAsSticker" function have stopped working properly since the update to version 3.2.5. A downgrade to version 3.2.4 makes this function ok for use.

**Steps to Reproduce**

[code]

**Expected behavior**
Send image as sticker.

**Actual behavior**
Did not reply any image. Show "undefined undefined" on console. Didn't ask to show any kind of er

[2021-02-03 23:41] SSchaaf opened #1299 "getAllChatIds and getAllChats only return a few entries"
**Describe the bug**
Working with a whatsapp that has about 1,5 mil chats getAllChatIds and getAllChats only return a few entries. getAllChatsIds is returning 37 entries.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Run : npx @open-wa/wa-automate

**create() code**
This is the code you use to create the client. e.g
```npx @open-wa/wa-automate```

**Expected behavior**
Return all ent

[2021-02-04 05:59] #1263 closed

[2021-02-04 05:59] #1298 closed

[2021-02-04 06:01] smashah commented on #1298
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-04 06:02] smashah commented on #1292
@Jonas33235 You'll need to provide a raw webp file with a transparent background then use https://docs.openwa.dev/classes/client.html#sendrawwebpassticker

[2021-02-04 06:02] #1292 closed

[2021-02-04 06:03] smashah commented on #1298
# Changelog

## 🚀 Release [3.2.6](https://github.com/open-wa/wa-automate-nodejs/compare/3.2.5...3.2.6) (2021-02-04)

- build(deps): bump puppeteer from 5.5.0 to 6.0.0 [`#1295`](https://github.com/open-wa/wa-automate-nodejs/pull/1295)
- build(deps): bump puppeteer-extra-plugin-stealth from 2.6.7 to 2.7.3 [`#1294`](https://github.com/open-wa/wa-automate-nodejs/pull/1294)
- Release 3.2.6 [`4a082f3`](

[2021-02-04 06:03] smashah commented on #1298
@allanmelo fixed in [3.2.6](https://github.com/open-wa/wa-automate-nodejs/compare/3.2.5...3.2.6)

[2021-02-04 06:03] smashah commented on #1263
@maurihn fixed in v[3.2.6](https://github.com/open-wa/wa-automate-nodejs/compare/3.2.5...3.2.6)

[2021-02-04 07:19] smashah commented on #1299
@SSchaaf these methods return whatever is in memory, and it seems as though it's for the best as returning an array of 1.5million(!?!?!?!?!??!) chat ids will probably crash your server and your device. I'll look into it though but don't say I didn't warn you

[2021-02-04 10:35] smashah commented on #1271
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-04 10:37] smashah commented on #1271
# Changelog

## 🚀 Release [3.3.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.2.6...3.3.0) (2021-02-04)

- build(deps-dev): bump release-it from 14.2.2 to 14.3.0 [`#1302`](https://github.com/open-wa/wa-automate-nodejs/pull/1302)
- build(deps-dev): bump @types/puppeteer from 5.4.2 to 5.4.3 [`#1300`](https://github.com/open-wa/wa-automate-nodejs/pull/1300)
- build(deps): bump socket.io f

[2021-02-04 10:39] smashah commented on #1271
@tcortega the callback now fires the `by` property which represents who exactly added or removed the participant (doesn't work on `promote`/`demote`)

[2021-02-04 10:42] smashah commented on #1113
@shubham0804 this is resolved now thanks

[2021-02-04 10:42] #1113 closed

[2021-02-04 10:42] #1271 closed

[2021-02-04 11:59] SSchaaf commented on #1299
Sorry @smashah ! 1,5 thousand chats.

I understand wat you mean. It is the same problem when we need to get all messages form a chat. I am using loadEarlierMessages and faced that is best aproach. Reanding 50 step by step  messages untuil the end.

But ..... How can I do the same with chats ?

My code is working with getAllChatIds. Once I have the array of Ids I sart reading the chats one by one.

[2021-02-04 12:09] Mikael-R opened #1309 "Feature: resize image while preserving scale"
**Describe**
The image was resized to the resolution of the stickers, but it loses its scale, let's say it has a height greater than the width, it is simply cut off

[2021-02-04 13:35] smashah commented on #1309
@Mikael-R can you be more specific with some examples and code please.

[2021-02-04 14:33] smashah commented on #1299
@SSchaaf ah ok 1.5k doesn't sound too bad. The only way for this issue to be resolved is if you DM me on discord so I can fix this using your session as I don't have access to any accounts with this many chats.

[2021-02-04 18:18] SSchaaf commented on #1299
Ok, we can see about discord later. I am not a discord user.
In this meantime I tried with my WA account ( about 215 chats ).
No problem. I got all chatIds.

Give me a time to do another test wiht de account that has 1,5 thousand.

[2021-02-04 18:18] smashah opened #1310 "BROKEN METHODS: ff39b"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-02-04 18:18] smashah opened #1311 "BROKEN METHODS: ff39b"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-02-04 18:18] smashah opened #1312 "BROKEN METHODS: ff39b"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-02-04 18:23] #1310 closed

[2021-02-04 18:23] #1311 closed

[2021-02-04 18:24] #1312 closed

[2021-02-05 00:12] Urbaeexyz opened #1313 "Bug and error"
![image](https://user-images.githubusercontent.com/75126993/106971353-589c1c00-6781-11eb-8249-8c8e7c8a96fa.png)

sticker in version 3.2.0 or newer has error and the new version 3.3.0 have bug command not working
it is bug?

[2021-02-05 08:57] VideFrelan opened #1318 "Questions about onMessageDeleted"
Hello smashah! Thanks for your hardworks to make a such amazing library.
I have a several questions about ```onMessageDeleted```. I noticed that type and isMedia properties is returned as undefined instead of the type of the message and boolean (for isMedia), is it normal? If it is, then this issue will most likely a feature request. It would be nice if we can use those property because I have a f

[2021-02-05 15:54] smashah commented on #1313
500 errors are usually due to memory issues on the sticker server. I've fixed some memory leaks so it should be a bit better now.

[2021-02-05 15:54] #1313 closed

[2021-02-05 15:59] smashah commented on #1309
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-05 16:01] smashah commented on #1309
# Changelog

## 🚀 Release [3.3.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.3.0...3.3.1) (2021-02-05)

- build(deps): bump swagger-ui-dist from 3.41.1 to 3.42.0 [`#1314`](https://github.com/open-wa/wa-automate-nodejs/pull/1314)
- build(deps-dev): bump @types/line-reader from 0.0.32 to 0.0.33 [`#1315`](https://github.com/open-wa/wa-automate-nodejs/pull/1315)
- build(deps-dev): bump @t

[2021-02-05 17:17] smashah commented on #1318
@VideFrelan you can detect media by checking the `mimetype` property

[code]

[2021-02-05 17:17] #1318 closed

[2021-02-06 06:09] Urbaeexyz commented on #1309
![image](https://user-images.githubusercontent.com/75126993/107110664-5cf92f80-687c-11eb-934c-6c108e972683.png)

function ```sendImageAsSticker``` that image from result base 64 in rest api has error
request failed with status code

[2021-02-06 06:11] smashah commented on #1309
@Urbaeexyz please open a new issue and show your code. These screenshots are useless to fix your issue.

[2021-02-06 06:12] smashah commented on #1309
@Mikael-R in stickerMetadata, set `keepScale: true`

https://docs.openwa.dev/globals.html#stickermetadata

[2021-02-06 06:12] #1309 closed

[2021-02-06 06:14] smashah commented on #1292
@Jonas33235 in the stickerMetadata parameter, set `removebg: true`

docs.openwa.dev/globals.html#stickermetadata

Just fyi, this requires a **paid** license key

[2021-02-06 07:32] sakthimj opened #1319 "Middleware Error in PostMan"
When i try to post api using Postman Error has been received,

"{"success":false,"error":{}}"
![image](https://user-images.githubusercontent.com/18246843/107112170-84033180-687b-11eb-9822-27e4e743c688.png)

[2021-02-06 10:35] smashah commented on #1319
You're not meant to copy paste the node code into the request body.

Please see the middleware documentation it will show you how the request body should look. Also, on the future please use the issue template

[2021-02-06 10:46] smashah commented on #1319
Please use the CLI, it literally outputs a postman collection JSON file with API explorer by default

https://docs.openwa.dev/pages/Getting%20Started/quick-run.html

[2021-02-06 10:46] #1319 closed

[2021-02-06 12:42] Urbaeexyz opened #1320 "remove bg"
sticker metadata of remove bg not work

[2021-02-06 12:48] Urbaeexyz commented on #1320
![image](https://user-images.githubusercontent.com/75126993/107118550-4a9ae800-68b4-11eb-8971-3c4e4843be56.png)

[2021-02-06 12:49] Urbaeexyz commented on #1320
![image](https://user-images.githubusercontent.com/75126993/107118576-6605f300-68b4-11eb-8902-a9e4a2f4ad23.png)

[2021-02-06 13:44] smashah commented on #1320
Why are you setting `id` as the fourth parameter?

There are only three parameters on that method. Remove the `id` at the end.

https://docs.openwa.dev/classes/client.html#sendimageassticker

[2021-02-06 13:45] smashah commented on #1320
Also, please use the issue template.

[2021-02-06 13:45] smashah commented on #1320
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-02-06 13:45] smashah commented on #1320
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-02-06 13:45] #1320 closed

[2021-02-06 14:03] Urbaeexyz commented on #1320
it's same, the background not changes

[2021-02-06 14:04] Urbaeexyz commented on #1320
i have deleted id but it's still same
at 2 pm it's still work, but idk now it's not work

[2021-02-06 14:13] smashah commented on #1320
@Urbaeexyz also, `removebg` will not work forever just FYI due to API limits.

[2021-02-06 22:53] SSchaaf commented on #1299
Hi @smashah

Sorry about this issue. The account that we are testing had a problem. Lost the contacts.
I tried with another acoount ( about 1,7 thousands chats ) and worked perfectly.

Sorry again by my fault.

Maybe better delete this issue.  I don't know it it is posible.
Just not to pollute the issues knowledge base.

Your project is awsone. Congrats.

[2021-02-06 22:53] #1299 closed

[2021-02-07 07:22] smashah commented on #1299
Thanks for the kind words. I'll keep the issue as is for reference. Thanks

[2021-02-07 14:39] NitinNR opened #1321 "State Changed:Conflict"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**DEBUG INFO**
This is the info p

[2021-02-07 15:13] lucaspiressimao commented on #200
I'm facing the same problem. I tried many things but It was not possible to get it working

[2021-02-07 15:23] smashah commented on #1321
@NitinNR there's no point using the template if you're not going to fill it in. `CONFLICT` state refers to when a host account click "use here" somewhere else (maybe on their own WhatsApp web instance on their laptop).

Please see:

https://docs.openwa.dev/pages/How%20to/detect-logout.html

[2021-02-07 15:23] #1321 closed

[2021-02-07 15:25] smashah commented on #200
@lucaspiressimao please fill in the issue template:

https://github.com/open-wa/wa-automate-nodejs/issues/new?assignees=&labels=&template=bug_report.md&title=

[2021-02-07 16:34] smashah commented on #1198
If I understand this correctly, you want to be able to generate a completely fake quoted message?

[2021-02-08 08:24] Schwartzblat opened #1322 "whatsapp-web freezes after being idle"
**Describe the bug**
A clear and concise description of what the bug is.

When WhatsApp Web is inactive or it does not receive messages for a few minutes, it freezes and does not update. If I do not use headless I can see that on the phone I get messages and on WhatsApp Web no.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Just being idle or not getting any messages for few minutes.

[2021-02-08 08:58] SlavyanDesu commented on #1198
Yeah, perhaps.

[2021-02-08 11:31] smashah commented on #1322
@Schwartzblat best course of actions is to make sure there is no battery optimization happening on the phone and keep the app open with the screen on.

[2021-02-08 11:40] Schwartzblat commented on #1322
Is there any other way? I have no batttery saver and I don't want to keep my phone like that.

[2021-02-08 11:55] smashah commented on #1322
You don't have to do all three depending on your device. Try each solution and see if it works for you. Also, best solution is to get another phone and leave it an optimal state.

Speaking of state, keep an eye on it using [`onStateChanged`](https://docs.openwa.dev/classes/client.html#onstatechanged) or try [forceUpdateConnectionState](https://docs.openwa.dev/classes/client.html#forceupdateconnect

[2021-02-08 12:01] smashah commented on #1283
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-08 12:03] smashah commented on #1283
# Changelog

## 🚀 Release [3.4.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.3.1...3.4.0) (2021-02-08)

- Release 3.4.0 [`55d321e`](https://github.com/open-wa/wa-automate-nodejs/commit/55d321e819023be365ff92288d712f499da8c760)
- BREAKING: ⚠️⚠️⚠️ `ffmpeg-fluent` & `sharp` are now peer dependencies!! #1283 [`bf2240c`](https://github.com/open-wa/wa-automate-nodejs/commit/bf2240c4df438a83

[2021-02-08 12:03] Schwartzblat commented on #1322
Ok, I will try it. thanks you!

[2021-02-08 12:05] smashah commented on #1283
Please install `sharp` and `ffmpeg-fluent` manually to continue using local sticker processing:

[code]

[2021-02-08 12:05] #1283 closed

[2021-02-08 12:14] Urbaeexyz opened #1326 "help"
![image](https://user-images.githubusercontent.com/75126993/107218161-d5f5b400-6a41-11eb-9b42-ce17c2233d38.png)

why me get like this?

[2021-02-08 12:16] #1326 closed

[2021-02-08 12:32] Urbaeexyz commented on #1322
how to send sticker as reply?

i have try function ```sendImageAsStickerAsReply``` but the sticker it's not sending

[code]

[2021-02-08 13:09] smashah commented on #1322
@Urbaeexyz [`sendImageAsStickerAsReply `](https://docs.openwa.dev/classes/client.html#sendimageasstickerasreply) is an Insider's feature.

@Schwartzblat closing for now. If there are any updates, please add it here and I will reopen. thanks

[2021-02-08 13:09] #1322 closed

[2021-02-08 13:22] NitinNR commented on #1321
"there's no point using the template if you're not going to fill it in" can
you explain the quoted statement in detail.

On Sun, Feb 7, 2021 at 8:53 PM Mohammed Shah <notifications@github.com>
wrote:

[2021-02-08 16:25] smashah commented on #955
@joedutra

You're a lying plagiarizing degenerate. I can't believe you even copied the non-functional buttons code AGAIN WITH ZERO ATTRIBUTION.

https://github.com/orkestral/venom/blob/72e24d35cd8d5ff6472095b44fce79c3af0e32c6/src/lib/wapi/business/send-message-with-buttons.js#L55

Yes, a random third party named `orkestral` "changed" the lib - https://github.com/orkestral/venom/commits/91bcb297322

[2021-02-09 05:42] Urbaeexyz commented on #1042
![image](https://user-images.githubusercontent.com/75126993/107320896-32a1af00-6ad4-11eb-9909-86e01f8cd955.png)

[code]

[2021-02-09 07:31] smashah commented on #1042
@Urbaeexyz if you keep spamming unrelated issues then I'm going to have to block you from this repo. Do not do this again. If you have a quick question, use the discord.

You need to use this to decrypt sticker messages: https://docs.openwa.dev/classes/client.html#getstickerdecryptable

[2021-02-09 08:01] Urbaeexyz commented on #1042
oh

[2021-02-09 21:14] IanosJunior opened #1329 "clientUrl = null"
the clientUrl property of the messages is gone.

[2021-02-10 04:13] smashah commented on #1329
@IanosJunior this was fixed with the latest patch. Please restart your sessions and try again

[2021-02-10 07:42] smashah commented on #1329
report back if this is still happening. closing for now thanks

[2021-02-10 07:42] #1329 closed

[2021-02-10 09:38] salman0ansari opened #1333 "Getting this error when deploying to heroku"
**Describe the bug**
When deploying project to heroku getting error

**Steps to Reproduce**
Steps to reproduce the behavior:
1. node master.js

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
project should be run

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
[code]

[2021-02-10 10:26] smashah commented on #1333
Make sure you're using the correct buildpacks

      https://github.com/open-wa/wa-automate-nodejs/blob/34473412d61f8e07ad3c5afb4f6c4751436adb0a/app.json#L14

[2021-02-10 12:16] IanosJunior commented on #1329
can you give me the  fix ID ou link?

[2021-02-10 13:10] salman0ansari commented on #1333
Even with correct buildpacks still same issue

[2021-02-10 13:15] smashah commented on #1333
@salman0ansari with that builpack you have to set `useChrome: true` in your config

[2021-02-10 13:39] apexcodexd commented on #1333
Hello i have same error how can i fix pls help

[2021-02-10 13:40] apexcodexd commented on #1333
Where should i add usechrome true?

[2021-02-11 07:34] apexcodexd commented on #1333
How do i fix it please help i have same error @salman0ansari  help pls @smashah

[2021-02-11 11:38] smashah commented on #1333
@apexcodexd put it in your create config

[2021-02-11 11:38] #1333 closed

[2021-02-11 12:48] tcortega opened #1335 "Feature: disableNotification parameter in muteChat function"
Any possibility of adding this parameter? That way we don't get notifications on smartphones/other devices...
https://docs.openwa.dev/classes/client.html#mutechat

[2021-02-11 19:27] smashah commented on #1329
@IanosJunior there is no fix I'd. You just need to restart your session.

[2021-02-11 21:47] smashah opened #1336 "BROKEN METHODS: a1579"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-02-11 23:56] allanmelo opened #1337 "Failed to send any messages"
Don't know exactly if it is related to #https://github.com/open-wa/wa-automate-nodejs/issues/1336 , but my projects are not working anymore.

Behavior:
Projects initialize, authenticate, and receive messages. However, it is not sending any kind of reply.

Actual session:
<img width="1181" alt="Captura de Tela 2021-02-11 às 20 40 04" src="https://user-images.githubusercontent.com/16151423/10771323

[2021-02-12 00:49] allanmelo commented on #1337
Just for the record:

I considered that it could be something related to some lib update because in those attempts above I had reinstalled all dependencies. So I decided to rewire an instance that ran for more than one month without errors on a Raspberry Pi, which I had disabled earlier this week. I just powered it and reauthenticated it. Unfortunately, I received the same type of error.

Environm

[2021-02-12 04:37] Helvio88 opened #1338 "Can't convert anything to Stickers"
**Describe the bug**
I use a bunch of examples from the documentation to read Images/GIFs/Movies as DataURLs and use that as a parameter to create Stickers. Everything worked until today, regardless of version. Today, the methods `sendMp4AsSticker` and `sendImageAsSticker` succeed, but the returned data is `false`. Nothing is sent in the chat.

**Steps to Reproduce**
Steps to reproduce the behavio

[2021-02-12 05:12] ikkehman opened #1339 "Error receive a message with media"
When receive/get a messages with media like images for make sticker, i got some error

    at /root/Wibot-v3/node_modules/@open-wa/wa-decrypt/dist/decrypt.js:83:27
    at step (/root/Wibot-v3/node_modules/@open-wa/wa-decrypt/dist/decrypt.js:44:23)
    at Object.next (/root/Wibot-v3/node_modules/@open-wa/wa-decrypt/dist/decrypt.js:25:53)
    at /root/Wibot-v3/node_modules/@open-wa/wa-decrypt/dist/d

[2021-02-12 05:12] WaxArsatia opened #1340 "sendSeen() not working"
**Describe the bug**
when im execute `client.seenSeen(message.id)` nothing is happen and not send read to target message.id

**Steps to Reproduce**
Nothing error on console but you can reproduce by just run `client.sendSeen(message.id)`

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-02-12 06:16] smashah commented on #1335
Just checked about this. When I mute notifications from web then they are automatically muted on all other devices. I can't manually disable notifications from the mute window on the phone because they're already muted - I would have to unmute the chat from the phone then uncheck the "show notifications" box (which is already unchecked). I think this is a dead-end if you're getting notifications o

[2021-02-12 06:26] smashah commented on #1337
@allanmelo can you share the exact code you're using to reply to the messages please

[2021-02-12 07:07] odhier commented on #1339
same issue,

when i see decrypt.js
`

`

its block that throw the error, so i console.log **message** and there is no _clientUrl_ property. is it update from whatsapp?

[2021-02-12 13:10] JustArra opened #1343 "_"

[2021-02-12 13:45] JustArra commented on #1343
canda module error :v

[2021-02-12 14:28] #1343 closed

[2021-02-12 14:46] #1336 closed

[2021-02-12 14:47] smashah commented on #1339
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-12 15:08] smashah commented on #1339
There are some issues with the build action.

Please upgrade the decryption library manually. In your project folder do this:

[code]

[2021-02-12 15:08] #1339 closed

[2021-02-12 15:21] smashah commented on #1339
# Changelog

## 🚀 Release [3.4.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.4.0...3.4.1) (2021-02-12)

- build(deps): bump ts-json-schema-generator from 0.83.2 to 0.84.0 [`#1324`](https://github.com/open-wa/wa-automate-nodejs/pull/1324)
- build(deps): bump puppeteer from 7.0.0 to 7.0.4 [`#1331`](https://github.com/open-wa/wa-automate-nodejs/pull/1331)
- build(deps): bump swagger-ui-d

[2021-02-12 15:34] smashah commented on #1338
@Helvio88 please update to the latest version (3.4.1) it should be working as expected now.

Closing for now. Please report back if you're having further issues. thanks

[2021-02-12 15:34] #1338 closed

[2021-02-12 15:37] Helvio88 commented on #1338
It's fixed, thank you!

[2021-02-13 04:41] rheimon1 opened #1344 "Error: Evaluation failed: z when I try use the method addParticipant"
I am experiencing a problem when trying to use the addParticipant method which is as follows:
Error: Evaluation failed: z
 at ExecutionContext._evaluateInternal (/home/.../..../node_modules/puppeteer-core/lib/cjs/puppeteer/common/ExecutionContext.js:217:19)
    at runMicrotasks (<anonymous>)
    at processTicksAndRejections (internal/process/task_queues.js:97:5)
    at async ExecutionContext.evalu

[2021-02-13 05:08] saifuddin opened #1345 "Extremely high CPU usage for headless chrome"
So, I'm not seeing anyone else having a problem with this, but I'm at my wit's ends, so posting this here is my last resort I guess 😁 . I'm seeing extremely high and constant CPU usage overtime which I tracked to a headless chrome.

**Describe the bug**
Once QR has been scan (WhatsApp session started), CPU usage by headless chrome jumps quite high, 20-80% of CPU load.

**Steps to Reproduce**
1. Ex

[2021-02-13 08:15] smashah commented on #1345
@saifuddin exquisite use of the template. Much appreciated!

Let's wait for some corroboration of this issue. My hunch is that it is due to puppeteer itself since there hasn't really been any changes in regards to the libraries use of puppeteer for a while. I may be missing some optimization though so I'll check on this.

In the meantime can you try with `useChrome: true` and see if it makes a dif

[2021-02-13 08:19] smashah commented on #1344
Yo be honest you should count your blessings that this is not working right now.

I'll look into fixing this but in the meantime I suggest using this instead

https://docs.openwa.dev/classes/client.html#getgroupinvitelink

[2021-02-13 08:21] smashah commented on #1340
Not able to recreate this issue @WaxArsatia . Is it still happening? Got any other ideas as to how I can replicate this?

[2021-02-14 00:15] hbdbim opened #1346 "Funções gratuitas"
Outra libs já tem as funções gratuitas:
+ Text Stories
+ Image Stories
+ Video Stories

Vocês poderiam liberar TMB

[2021-02-14 00:20] leobevi commented on #1346
Yes other libs have this free .......
Will you release it too?

[2021-02-14 05:24] smashah commented on #1346
Maybe later

[2021-02-14 05:24] #1346 closed

[2021-02-14 11:56] dngda opened #1347 "Error: Evaluation failed: n"
**Describe the bug**
Got Error: Evaluation failed: n when trying to send sticker using image

    at ExecutionContext._evaluateInternal (E:\node\bot-whatsapp\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionContext.js:218:19)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
    at async ExecutionContext.evaluate (E:\node\bot-whatsapp\node_modules\puppeteer\lib\cjs\pu

[2021-02-14 12:35] WaxArsatia commented on #1340
My bad, it should `client.sendSeen(message.chatId)` but im type `client.sendSeen(message.id)`

[2021-02-14 12:35] #1340 closed

[2021-02-14 13:01] smashah commented on #1347
Can you log the result of each line to pinpoint when exactly this error occurs, please? Also, does this happen on all media? Can you provide a sample of an image where this happens. Does it still happen when you restart the session? Might need to see the rest of your code to recreate this issue

[2021-02-14 13:28] Skowt opened #1348 "Cannot find module 'sharp'"
**Describe the bug**
Unable to get session dump when using the latest release.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Run  npx @open-wa/wa-automate -o`

**create() code**
This is the code you use to create the client. e.g
N/A

**Expected behavior**
No error.

**DEBUG INFO**
This is the info printed to the console when you start your app. It should look like this
N/A

**Screens

[2021-02-14 14:01] dngda commented on #1347
Well, when I'm trying to make the error again, it seems to be working fine after many sessions restart. Lmao.
Will get back to you with more details if the same error occurs. Thanks

[2021-02-14 14:29] smashah commented on #1347
@dngda when there's a new WA update, like `2.2104.9`, things get messed up temporarily over a few sessions. The best thing is to do is restart a few times to make sure the issue is reproducible before you report it (mainly to save you the hassle of filling in the template lol - which you did a great job with and is much appreciated).

I'm going to close this issue for now but please report back if

[2021-02-14 14:29] #1347 closed

[2021-02-14 14:30] smashah commented on #1348
@Skowt This will be fixed in an upcoming version but for now run this before using the CLI:

[code]

[2021-02-14 14:31] smashah commented on #1344
@rheimon1 is this still happening?

[2021-02-14 17:39] rheimon1 commented on #1344
Not always... But it still occurs in some cases. Do you think it has anything to do with me if I try to add a number to a group that's not my contact?

[2021-02-14 22:31] Jonas33235 opened #1349 "add custom reply messages"
add custom reply messages like the baileys
example:
    quoted: quotedMessage,
    contextInfo: { forwardingScore: 2, isForwarded: true }, // some random context info (can show a forwarded message with this too)
    timestamp: Date(), // optional, if you want to manually set the timestamp of the message
    caption: "hello there!", // (for media messages) the caption to send with the media (cannot

[2021-02-15 08:03] smashah commented on #1349
This is a duplicate of #1198

Nobody has given me a good enough reason to implement this feature that may be abused to put words in people's mouths - so there's little chance this will be implemented.

[2021-02-15 08:05] smashah commented on #1335
@tcortega closing for now.

Please provide some screenshots of how you can control the phone app's notifications from wa web as I can't do it on my end.

Thanks

[2021-02-15 08:05] #1335 closed

[2021-02-15 08:24] Jonas33235 commented on #1349
I would just use this function to put a message with my number it would be a very useful function that many bot that uses baileys have

[2021-02-15 13:33] saifuddin commented on #1345
@smashah Thanks for your reply, and apologies for my late reply! I was trying out a few stuff on my end, but it seems like everything I did, the CPU usage was still very high 😅

Sure thing! It's still very weird tho, that I haven't seen anyone complaining - so, I'm not really sure what I did wrong.

Yeah, I suspect that's the case; altho I'm not sure where to debug puppeteer itself. I did came acr

[2021-02-15 15:06] smashah commented on #1077
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-15 15:20] #1077 closed

[2021-02-15 15:20] smashah commented on #1348
This should no longer happen if you do not use local sticker processing on the latest version (3.5.0)

[2021-02-15 15:20] #1348 closed

[2021-02-15 15:24] smashah commented on #955
Implemented in the latest version (3.5.0).

When `idCorrection : true` in the config, the library will automatically append `@c.us` or @g.us` to the relevant parameters. This may be helpful for js users that sometimes miss out the chat server suffixes.

[2021-02-15 15:24] #955 closed

[2021-02-15 15:32] smashah commented on #1349
Another library has it therefore this one should also have it? Doesn't sound like a good enough reason to counteract my concerns over abuse. If you'd like to reply to your own messages then I suggest

1. Sending yourself the message, grab the ID
2. Use that ID with `ghostForward` with your comment.

That way your use case of replying to your own non-existent messages are fulfilled and nobody can s

[2021-02-15 15:32] #1349 closed

[2021-02-15 15:32] smashah commented on #1337
@allanmelo let me know if you have any more info.

Closing for now,

thanks

[2021-02-15 15:32] #1337 closed

[2021-02-15 15:36] #1344 closed

[2021-02-16 06:58] MFarelS opened #1355 "How"
How To Custom Thumbnail Link Preview

[2021-02-16 17:55] Sp0derDev opened #1359 "Proper Error Handling On SendText()"
Upon sending a message to a number that is not on WhatsApp, the method sendText() doesn't throw an error. Instead, it simply logs 'Error: Number not linked to WhatsApp Account'

It would be better if it threw an error instead of just logging it to the console.

[2021-02-17 10:45] Sp0derDev opened #1361 "Decrypt function doesn't work on quoted videos/gifs"
**Describe the bug**
Upon receiving the quoted video/gif, the decrypt function fails to decrypt and throws this error:  message is missing critical data needed to download the file.

**create() code**
This is the code you use to create the client. e.g
[code]

**Expected behavior**
It should behave the same as when quoting ( replying ) to an image.

Edit:

┌─────────────────────┬───────────────────

[2021-02-17 15:07] smashah opened #1362 "BROKEN METHODS: ff8e2"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-02-17 15:07] smashah opened #1363 "BROKEN METHODS: ff8e2"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-02-17 15:07] smashah opened #1364 "BROKEN METHODS: ff8e2"
Broken methods detected. Details below.

<details>
<summary>data</summary>

[code]

</details>

[2021-02-17 15:47] #1362 closed

[2021-02-17 15:47] #1363 closed

[2021-02-17 15:47] #1364 closed

[2021-02-17 15:49] smashah commented on #1361
@Sp0derDev you haven't filled in the template entirely. What version of the library are you running?

Also, run this and try again:

[code]

[2021-02-17 20:53] MarcosDLR opened #1365 "UnhandledPromiseRejectionWarning: state: TIMEOUT"
Hello good.

I have a problem with the latest version.

Timeout is being printed and connected every time I send a message and I have the following error.

https://user-images.githubusercontent.com/47016656/108266540-9c5b3200-7140-11eb-9df3-ed870e0237b2.png
![image](https://user-images.githubusercontent.com/47016656/108266593-aaa94e00-7140-11eb-8ebe-fe687edbe9a1.png)

[2021-02-18 01:30] Baguettou opened #1366 "Question: How to change the image preview."
Hi :D
While chatting on WhatsApp, I recognized that there are some trending pictures where the preview of the picture is mostly one but when you open it, a different one appears. Here it's an example:

I read that this could be done using ExifTool:
`exiftool "-thumbnailimage<=thumb.jpg" image.jpg`
But obviously you need to bypass WhatsApp compression for avoiding the overwrite the of exif data.

I

[2021-02-18 07:15] NitinNR opened #1367 "where all data get stored like images and files?"
It is possible to view the base64 string to view the image but not possible with file type  because it only provides the mime type in there body field(json format) so want to know where all these files get stored on api side(means on server)?

[2021-02-18 09:56] smashah commented on #1366
You couldn't show any other example? Cmon man

[2021-02-18 09:59] smashah commented on #1365
There's zero way to help you with the information you've provided.

The system usually wait's until a connection is established to continue sending a message. If you're getting a lot of timeouts it is usually due to your connection or your app going to sleep.

If there's something else and you think it's because of the library/code then I will need a lot more context.

[2021-02-18 09:59] smashah commented on #1365
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-02-18 09:59] smashah commented on #1365
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-02-18 09:59] #1365 closed

[2021-02-18 10:36] smashah commented on #1366
A more SFW example:

https://user-images.githubusercontent.com/5903821/108344561-310f6f80-71d5-11eb-92c1-f8e58628b03c.mp4

[2021-02-18 10:41] smashah commented on #1367
I'm sorry I do not understand what you mean.

[2021-02-18 11:23] smashah commented on #1355
@github-actions run

<details>
<summary>Template!</summary>

[code]
</details>

[2021-02-18 11:23] smashah commented on #1355
⚠️⚠️⚠️[Please follow this issue template](https://github.com/smashah/sulla/issues/new?assignees=&labels=&template=bug_report.md&title=)⚠️⚠️⚠️

[2021-02-18 11:25] smashah commented on #1355
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-18 11:25] Sp0derDev commented on #1361
I am running the latest version of both the library and @open-wa/wa-decrypt

This is the deprecatedMms3Url:
https://mmg.whatsapp.net/d/f/AtTW85WXOGpTBs_q43YGu3sm1SruXLuquBgz_3NIhBqh.enc

[2021-02-18 11:32] Sp0derDev commented on #1361
I am running the latest version of both the library and @open-wa/wa-decrypt

This is the deprecatedMms3Url:
https://mmg.whatsapp.net/d/f/AtTW85WXOGpTBs_q43YGu3sm1SruXLuquBgz_3NIhBqh.enc

Edit:

And this is my code:

[code]

It Logs This:

[code]

`Error: message is missing critical data needed to download the file.`

[2021-02-18 11:33] Sp0derDev commented on #1361
This only throws the error when the message is a reply.

[2021-02-18 11:36] smashah commented on #1361
@Sp0derDev based on your code you are trying to decrypt the main message, not the quotedMsg.

![image](https://user-images.githubusercontent.com/5903821/108351378-5902d100-71dd-11eb-8499-76af3ec1baef.png)

I think you mean to write:

[code]

If for some reason,`encryptedMedia` is still not working then you can try this:

[code]

[2021-02-18 11:40] Sp0derDev commented on #1361
oh nooo, I feel so stupid.
Thank you sir. My apologies for wasting your time.

[2021-02-18 11:40] #1361 closed

[2021-02-18 11:42] smashah commented on #1355
# Changelog

## 🚀 Release [3.5.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.5.0...3.5.1) (2021-02-18)

- build(deps): bump puppeteer-extra-plugin-stealth from 2.7.4 to 2.7.5 [`#1356`](https://github.com/open-wa/wa-automate-nodejs/pull/1356)
- build(deps): bump puppeteer-extra-plugin-devtools from 2.2.15 to 2.2.16 [`#1357`](https://github.com/open-wa/wa-automate-nodejs/pull/1357)
- bu

[2021-02-18 11:45] smashah commented on #1355
@MFarelS

[`sendLinkWithAutoPreview`](https://docs.openwa.dev/classes/client.html#sendlinkwithautopreview) now can take a fourth optional parameter where you should submit the base64 (not data URL) of the thumbnail you want to use.

[2021-02-18 11:45] #1355 closed

[2021-02-18 12:59] smashah commented on #865
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-18 13:02] smashah commented on #865
# Changelog

## 🚀 Release [3.6.0](https://github.com/open-wa/wa-automate-nodejs/compare/3.5.1...3.6.0) (2021-02-18)

- Release 3.6.0 [`951d87e`](https://github.com/open-wa/wa-automate-nodejs/commit/951d87ede2068f5fd96e27c10709828bdc2400e8)
- feature [CLI]: use `--stats` to view API statistics, added robots handler #865 [`55aa2cc`](https://github.com/open-wa/wa-automate-nodejs/commit/55aa2ccdaaab98

[2021-02-18 13:08] smashah commented on #865
You can now use the `--stats` flag on the CLI command to expose a statistics dashboard, specifically swagger-stats.

[2021-02-18 13:08] smashah commented on #865
@github-actions run

<details>
<summary>⚡ Release!  ⚡</summary>

[code]
</details>

[2021-02-18 13:11] smashah commented on #865
# Changelog

## 🚀 Release [3.6.1](https://github.com/open-wa/wa-automate-nodejs/compare/3.6.0...3.6.1) (2021-02-18)

- Release 3.6.1 [`55e895b`](https://github.com/open-wa/wa-automate-nodejs/commit/55e895b1d7907cc690de1892234f6df1b8116dac)
- fix: added `patch-package` to fix `swagger-stats` memory leak issue on CLI when using `--stats` #865 [`80d8658`](https://github.com/open-wa/wa-automate-nodejs

[2021-02-18 13:15] #865 closed

[2021-02-18 13:18] NitinNR commented on #1367
i mean all media files like images and files which are received by api where all these data get stored?

[2021-02-18 14:54] MFarelS commented on #1355
THX 🙏

[2021-02-18 19:12] Baguettou commented on #1366
I'm sorry about the NSFW example 😞.  About the the usage it's just for fun, or in the case that u can add a gif for the preview or maybe add directly animated pngs I though that it would be interesting for projects.

[2021-02-18 19:18] Baguettou commented on #1366
Also could you explain me how does the insider version works in open-wa?